workflows/CS_-_HMAC_[Template]__9dHFAZqAbAj42xR3.json
{
  "updatedAt": "2026-05-13T20:13:28.728Z",
  "createdAt": "2026-05-12T19:16:50.906Z",
  "id": "9dHFAZqAbAj42xR3",
  "name": "CS - HMAC [Template]",
  "description": "Template version of CS - HMAC. Signs payments microservice requests with HMAC-SHA256. keyID and payments URL templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a64b4788-9e34-4a51-91d3-bed506aca50a",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        1584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "lovestyle_dev",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6cf0040c-dcf0-465e-b012-151fde207eb0",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        1584
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "563adaec-76f4-4d29-8cc3-b54a08c7417b",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        192,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Switch, the four Set *_data nodes) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.hmac_key_id\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
      },
      "id": "57b9afa2-0d46-4f34-84a3-e44a73665049",
      "name": "Restore trigger data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1584
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "cancellation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76981cbd-bebf-4390-b14b-c7f186d323dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e36ea972-46b6-49e1-b023-696a6117b06a",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "immediateCancellation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "immediate cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ace41aaa-388e-460e-8c51-c4a1d5d59414",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "refund",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refund"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d868d79-876b-4427-879a-a2769eee4d3d",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            }
          ]
        },
        "options": {}
      },
      "id": "74f24486-aea3-4f95-89a5-68bdc1ab44a0",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        592,
        1552
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n    \"subscriptionId\":\"{{ $json.subscriptionId }}\"\n  }\n}\n",
        "options": {}
      },
      "id": "1692d170-1648-43cb-a294-709f5b59a082",
      "name": "Set cancellation data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1040
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n  \"subscriptionId\":\"{{ $json.subscriptionId }}\",\n  \"cancelImmediately\":true\n  }\n} ",
        "options": {}
      },
      "id": "7ca66343-e5a5-4efb-9a7f-0dee86ff2069",
      "name": "Set immediate cancellation data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1328
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/transactions/refund\",\n\"body\": \n  {\"transactionId\": \"{{ $json.transactionId }}\"\n  }\n} ",
        "options": {}
      },
      "id": "b4eee75a-d02b-4aa7-bcb1-60d1a1aa814d",
      "name": "Set refund data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1744
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/search\",\n\"body\": \n  { \n  \"email\":\"{{ $json.email }}\",\n  \"includeTransactionsLast30Days\": true\n  }\n    }\n",
        "options": {}
      },
      "id": "75ee4a0a-cd52-405d-a921-b09ed2998ead",
      "name": "Set search data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        2048
      ]
    },
    {
      "parameters": {
        "jsCode": "function sortKeys(obj) {\n  const sorted = {};\n  for (const key of Object.keys(obj).sort()) {\n    const val = obj[key];\n    if (val && typeof val === 'object' && !Array.isArray(val)) {\n      sorted[key] = sortKeys(val);\n    } else {\n      sorted[key] = val;\n    }\n  }\n  return sorted;\n}\n\nconst sortedBody = JSON.stringify(sortKeys($input.first().json.body));\n\nreturn {sortedBody};\n"
      },
      "id": "2497311a-4506-4d9e-818b-630ebd84de21",
      "name": "Sort keys2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        1392
      ]
    },
    {
      "parameters": {
        "value": "={{ $json.sortedBody }}",
        "dataPropertyName": "hashedBody"
      },
      "id": "ae3df750-dbfb-4e8d-baca-eb930e89c14a",
      "name": "Hash request body",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1600,
        1392
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a513b34-df55-4638-b3df-edffb17dd440",
              "name": "timestamp",
              "value": "={{Math.floor($now.toSeconds())}}",
              "type": "string"
            },
            {
              "id": "3b80b288-502d-4914-818d-f337597e9322",
              "name": "keyID",
              "value": "={{ $(\"Get Project Config\").first().json.hmac_key_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0661d3c9-9609-4b64-8b21-429cf0ea65a3",
      "name": "Set timestamp and keyID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        1584
      ]
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "nonce",
        "encodingType": "hex",
        "stringLength": 16
      },
      "id": "92887a5f-f618-481f-9178-38e5fca6df7d",
      "name": "Generate nonce",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1376,
        1776
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "0b3f04ea-85e1-4841-b33b-40d2b4110aa1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1824,
        1568
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.method }}\n{{ $json.endpoint }}\n{{ $json.timestamp }}\n{{ $json.nonce }}\n{{ $json.hashedBody }}",
        "dataPropertyName": "signedString"
      },
      "id": "bbdd6216-86d1-4601-aa57-ae45343c5f50",
      "name": "Sign payload",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        2048,
        1584
      ],
      "credentials": {
        "crypto": {
          "id": "FMGHFCSEYMcJfBhG",
          "name": "LS dev n8n key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a736b62d-eb5a-4a56-a67c-e7ebbbfe192b",
              "name": "body",
              "value": "={ \"email\":\"{{ $json.userEmail }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "d19d9218-e4c3-4823-b12c-d77340357d8e",
      "name": "Set body data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        2448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "41961275-3cf1-4f8c-973f-a1cb48a29820",
      "name": "DEV bot/search6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        2672
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded key for this deployment.\n2. **Get Project Config** fetches the row from the `cs_project_config` data table.\n3. **Restore trigger data** re-emits the trigger payload so `Switch` and the four `Set *_data` nodes see `$json.requestType`, `$json.subscriptionId`, etc. as the trigger gave them.\n4. `keyID` references the table column `hmac_key_id` via `$('Get Project Config').first().json.hmac_key_id`.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Ensure the table row for the new key has `hmac_key_id` set.\n- Re-bind the Sign payload crypto credential (HMAC secret) for the new project.",
        "height": 260,
        "width": 540,
        "color": 5
      },
      "id": "d936bd77-966b-4dae-9ce5-56b320c757cf",
      "name": "Sticky Note 93a3da4a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        2736
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Restore trigger data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore trigger data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set cancellation data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set immediate cancellation data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set refund data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set search data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set cancellation data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set immediate cancellation data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set refund data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set search data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort keys2": {
      "main": [
        [
          {
            "node": "Hash request body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash request body": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set timestamp and keyID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate nonce": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sign payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d31bd442-fce2-4770-8d90-97d5c3338cce",
  "activeVersionId": "d31bd442-fce2-4770-8d90-97d5c3338cce",
  "versionCounter": 16,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-12T19:16:50.911Z",
      "createdAt": "2026-05-12T19:16:50.911Z",
      "role": "workflow:owner",
      "workflowId": "9dHFAZqAbAj42xR3",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-13T20:13:13.000Z",
    "createdAt": "2026-05-13T10:45:06.725Z",
    "versionId": "d31bd442-fce2-4770-8d90-97d5c3338cce",
    "workflowId": "9dHFAZqAbAj42xR3",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "a64b4788-9e34-4a51-91d3-bed506aca50a",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -224,
          1584
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "lovestyle_dev",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "6cf0040c-dcf0-465e-b012-151fde207eb0",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -16,
          1584
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "563adaec-76f4-4d29-8cc3-b54a08c7417b",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          192,
          1584
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Switch, the four Set *_data nodes) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.hmac_key_id\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
        },
        "id": "57b9afa2-0d46-4f34-84a3-e44a73665049",
        "name": "Restore trigger data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          1584
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "cancellation",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "76981cbd-bebf-4390-b14b-c7f186d323dc"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancellation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "e36ea972-46b6-49e1-b023-696a6117b06a",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "immediateCancellation",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "immediate cancellation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ace41aaa-388e-460e-8c51-c4a1d5d59414",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "refund",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "refund"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4d868d79-876b-4427-879a-a2769eee4d3d",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "search",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "search"
              }
            ]
          },
          "options": {}
        },
        "id": "74f24486-aea3-4f95-89a5-68bdc1ab44a0",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          592,
          1552
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n    \"subscriptionId\":\"{{ $json.subscriptionId }}\"\n  }\n}\n",
          "options": {}
        },
        "id": "1692d170-1648-43cb-a294-709f5b59a082",
        "name": "Set cancellation data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          1040
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n  \"subscriptionId\":\"{{ $json.subscriptionId }}\",\n  \"cancelImmediately\":true\n  }\n} ",
          "options": {}
        },
        "id": "7ca66343-e5a5-4efb-9a7f-0dee86ff2069",
        "name": "Set immediate cancellation data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          1328
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/transactions/refund\",\n\"body\": \n  {\"transactionId\": \"{{ $json.transactionId }}\"\n  }\n} ",
          "options": {}
        },
        "id": "b4eee75a-d02b-4aa7-bcb1-60d1a1aa814d",
        "name": "Set refund data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          1744
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/search\",\n\"body\": \n  { \n  \"email\":\"{{ $json.email }}\",\n  \"includeTransactionsLast30Days\": true\n  }\n    }\n",
          "options": {}
        },
        "id": "75ee4a0a-cd52-405d-a921-b09ed2998ead",
        "name": "Set search data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          2048
        ]
      },
      {
        "parameters": {
          "jsCode": "function sortKeys(obj) {\n  const sorted = {};\n  for (const key of Object.keys(obj).sort()) {\n    const val = obj[key];\n    if (val && typeof val === 'object' && !Array.isArray(val)) {\n      sorted[key] = sortKeys(val);\n    } else {\n      sorted[key] = val;\n    }\n  }\n  return sorted;\n}\n\nconst sortedBody = JSON.stringify(sortKeys($input.first().json.body));\n\nreturn {sortedBody};\n"
        },
        "id": "2497311a-4506-4d9e-818b-630ebd84de21",
        "name": "Sort keys2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1376,
          1392
        ]
      },
      {
        "parameters": {
          "value": "={{ $json.sortedBody }}",
          "dataPropertyName": "hashedBody"
        },
        "id": "ae3df750-dbfb-4e8d-baca-eb930e89c14a",
        "name": "Hash request body",
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          1600,
          1392
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0a513b34-df55-4638-b3df-edffb17dd440",
                "name": "timestamp",
                "value": "={{Math.floor($now.toSeconds())}}",
                "type": "string"
              },
              {
                "id": "3b80b288-502d-4914-818d-f337597e9322",
                "name": "keyID",
                "value": "={{ $(\"Get Project Config\").first().json.hmac_key_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "0661d3c9-9609-4b64-8b21-429cf0ea65a3",
        "name": "Set timestamp and keyID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1376,
          1584
        ]
      },
      {
        "parameters": {
          "action": "generate",
          "dataPropertyName": "nonce",
          "encodingType": "hex",
          "stringLength": 16
        },
        "id": "92887a5f-f618-481f-9178-38e5fca6df7d",
        "name": "Generate nonce",
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          1376,
          1776
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 3,
          "options": {}
        },
        "id": "0b3f04ea-85e1-4841-b33b-40d2b4110aa1",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1824,
          1568
        ]
      },
      {
        "parameters": {
          "action": "hmac",
          "value": "={{ $json.method }}\n{{ $json.endpoint }}\n{{ $json.timestamp }}\n{{ $json.nonce }}\n{{ $json.hashedBody }}",
          "dataPropertyName": "signedString"
        },
        "id": "bbdd6216-86d1-4601-aa57-ae45343c5f50",
        "name": "Sign payload",
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          2048,
          1584
        ],
        "credentials": {
          "crypto": {
            "id": "FMGHFCSEYMcJfBhG",
            "name": "LS dev n8n key"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a736b62d-eb5a-4a56-a67c-e7ebbbfe192b",
                "name": "body",
                "value": "={ \"email\":\"{{ $json.userEmail }}\" }",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "d19d9218-e4c3-4823-b12c-d77340357d8e",
        "name": "Set body data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          2448
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "41961275-3cf1-4f8c-973f-a1cb48a29820",
        "name": "DEV bot/search6",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          624,
          2672
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded key for this deployment.\n2. **Get Project Config** fetches the row from the `cs_project_config` data table.\n3. **Restore trigger data** re-emits the trigger payload so `Switch` and the four `Set *_data` nodes see `$json.requestType`, `$json.subscriptionId`, etc. as the trigger gave them.\n4. `keyID` references the table column `hmac_key_id` via `$('Get Project Config').first().json.hmac_key_id`.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Ensure the table row for the new key has `hmac_key_id` set.\n- Re-bind the Sign payload crypto credential (HMAC secret) for the new project.",
          "height": 260,
          "width": 540,
          "color": 5
        },
        "id": "d936bd77-966b-4dae-9ce5-56b320c757cf",
        "name": "Sticky Note 93a3da4a",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1344,
          2736
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Restore trigger data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore trigger data": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Set cancellation data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set immediate cancellation data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set refund data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set search data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set cancellation data": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set immediate cancellation data": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set refund data": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set search data": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort keys2": {
        "main": [
          [
            {
              "node": "Hash request body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hash request body": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set timestamp and keyID": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Generate nonce": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Sign payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version d31bd442",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-13T20:13:13.458Z",
        "id": 638,
        "workflowId": "9dHFAZqAbAj42xR3",
        "versionId": "d31bd442-fce2-4770-8d90-97d5c3338cce",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-13T20:13:28.888Z",
        "id": 640,
        "workflowId": "9dHFAZqAbAj42xR3",
        "versionId": "d31bd442-fce2-4770-8d90-97d5c3338cce",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-13T20:13:28.801Z",
        "id": 639,
        "workflowId": "9dHFAZqAbAj42xR3",
        "versionId": "d31bd442-fce2-4770-8d90-97d5c3338cce",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}