workflows/CS_-_HMAC_[Template]__9dHFAZqAbAj42xR3.json
{
  "updatedAt": "2026-05-12T19:16:50.000Z",
  "createdAt": "2026-05-12T19:16:50.906Z",
  "id": "9dHFAZqAbAj42xR3",
  "name": "CS - HMAC [Template]",
  "description": "Template version of CS - HMAC. Signs payments microservice requests with HMAC-SHA256. keyID and payments URL templated from cs_project_config.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "dba3077b-533b-4512-8dfb-f7e8da103d97",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        864
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "5bd7c4bf-4054-4cf1-9aa5-4360a0fef95b",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "lovestyle_dev",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "ff40dfce-21a9-4e5e-8edd-011f841a13e7",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        1200
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "condition": "eq",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      }
    },
    {
      "id": "f2258730-3a53-4c48-8a2c-f9b1aa52de43",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        544
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "cancellation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76981cbd-bebf-4390-b14b-c7f186d323dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e36ea972-46b6-49e1-b023-696a6117b06a",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "immediateCancellation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "immediate cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ace41aaa-388e-460e-8c51-c4a1d5d59414",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "refund",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refund"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d868d79-876b-4427-879a-a2769eee4d3d",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "6820906e-da68-46f5-9ed1-31806d354e15",
      "name": "Set cancellation data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n    \"subscriptionId\":\"{{ $json.subscriptionId }}\"\n  }\n}\n",
        "options": {}
      }
    },
    {
      "id": "f2a7c8bb-1549-4d2c-87bd-c53a75a77099",
      "name": "Sort keys2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        272
      ],
      "parameters": {
        "jsCode": "function sortKeys(obj) {\n  const sorted = {};\n  for (const key of Object.keys(obj).sort()) {\n    const val = obj[key];\n    if (val && typeof val === 'object' && !Array.isArray(val)) {\n      sorted[key] = sortKeys(val);\n    } else {\n      sorted[key] = val;\n    }\n  }\n  return sorted;\n}\n\nconst sortedBody = JSON.stringify(sortKeys($input.first().json.body));\n\nreturn {sortedBody};\n"
      }
    },
    {
      "id": "9954a5fa-3360-4a37-8c6e-7023c31b907c",
      "name": "Hash request body",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        896,
        272
      ],
      "parameters": {
        "value": "={{ $json.sortedBody }}",
        "dataPropertyName": "hashedBody"
      }
    },
    {
      "id": "843b990f-2b4a-481a-ac01-cb900d5be69b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        448
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3
      }
    },
    {
      "id": "773df306-6caf-4b7c-baae-6de8812af942",
      "name": "Sign payload",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1344,
        464
      ],
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.method }}\n{{ $json.endpoint }}\n{{ $json.timestamp }}\n{{ $json.nonce }}\n{{ $json.hashedBody }}",
        "dataPropertyName": "signedString"
      },
      "credentials": {
        "crypto": {
          "id": "FMGHFCSEYMcJfBhG",
          "name": "LS dev n8n key"
        }
      }
    },
    {
      "id": "9191e802-4159-4158-8ea0-3ed8448ce049",
      "name": "Set timestamp and keyID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        464
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a513b34-df55-4638-b3df-edffb17dd440",
              "name": "timestamp",
              "value": "={{Math.floor($now.toSeconds())}}",
              "type": "string"
            },
            {
              "id": "3b80b288-502d-4914-818d-f337597e9322",
              "name": "keyID",
              "value": "={{ $(\"Get Project Config\").first().json.hmac_key_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d594f636-fcaf-40ec-b5d2-370ee611e5f8",
      "name": "Generate nonce",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        672,
        656
      ],
      "parameters": {
        "action": "generate",
        "dataPropertyName": "nonce",
        "encodingType": "hex",
        "stringLength": 16
      }
    },
    {
      "id": "055d3ddd-3cc5-4e26-9b62-d2104593f355",
      "name": "Set immediate cancellation data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        288
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n  \"subscriptionId\":\"{{ $json.subscriptionId }}\",\n  \"cancelImmediately\":true\n  }\n} ",
        "options": {}
      }
    },
    {
      "id": "68d254c5-b6de-4244-bcdc-538477329268",
      "name": "Set refund data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        704
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/transactions/refund\",\n\"body\": \n  {\"transactionId\": \"{{ $json.transactionId }}\"\n  }\n} ",
        "options": {}
      }
    },
    {
      "id": "73000009-8894-424e-a90a-5be1e3546c6e",
      "name": "Set search data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        1008
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/search\",\n\"body\": \n  { \n  \"email\":\"{{ $json.email }}\",\n  \"includeTransactionsLast30Days\": true\n  }\n    }\n",
        "options": {}
      }
    },
    {
      "id": "2636f1ce-02eb-4fd6-9542-a8cd21356274",
      "name": "Set body data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        1424
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a736b62d-eb5a-4a56-a67c-e7ebbbfe192b",
              "name": "body",
              "value": "={ \"email\":\"{{ $json.userEmail }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "50199c73-309a-4ca9-a0a3-801661b3d4f0",
      "name": "DEV bot/search6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        1648
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "9a1a37d0-c4ba-487b-acc1-c6dde0650881",
      "name": "Sticky Note 93a3da4a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        1712
      ],
      "parameters": {
        "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded key for this deployment.\n2. **Get Project Config** fetches the row from the `cs_project_config` data table.\n3. `keyID` references the table column `hmac_key_id`.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Ensure the table row for the new key has `hmac_key_id` set.\n- Re-bind the Sign payload crypto credential (HMAC secret) for the new project.",
        "color": 5,
        "width": 540,
        "height": 220
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set cancellation data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set immediate cancellation data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set refund data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set search data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set cancellation data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort keys2": {
      "main": [
        [
          {
            "node": "Hash request body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash request body": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sign payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set timestamp and keyID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate nonce": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Set immediate cancellation data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set refund data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set search data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": null,
  "versionId": "19644f45-5506-4731-a185-d4f60c512a3f",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-12T19:16:50.911Z",
      "createdAt": "2026-05-12T19:16:50.911Z",
      "role": "workflow:owner",
      "workflowId": "9dHFAZqAbAj42xR3",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}