workflows/CS_-_2nd_message_trigger__fNpYWulog5Suxiqo.json
{
  "updatedAt": "2026-05-27T06:20:39.220Z",
  "createdAt": "2026-04-28T08:25:57.025Z",
  "id": "fNpYWulog5Suxiqo",
  "name": "CS - 2nd message trigger",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "fields": [
            "ticket.title",
            "ticket.description",
            "ticket.url",
            "ticket.id",
            "ticket.requester.email",
            "ticket.ticket_field_33838126178205",
            "ticket.ticket_field_35908529462429"
          ]
        },
        "conditions": {
          "any": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        -2224,
        336
      ],
      "id": "2637c572-afec-4354-9f38-daf6b2f0bb64",
      "name": "Zendesk Trigger",
      "webhookId": "f1400bec-8c61-435e-a94f-8048b0341751",
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $item(\"0\").$node[\"Ticket classification2\"].json[\"output\"][\"0\"][\"content\"][\"0\"][\"text\"][\"category\"] }}",
                    "rightValue": "thanks",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "129877a8-c787-445c-ba26-d1fd81664588"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thanks"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "064435ec-baa6-4a68-a8af-abca8d3f25f2",
                    "leftValue": "={{ $item(\"0\").$node[\"Ticket classification2\"].json[\"output\"][\"0\"][\"content\"][\"0\"][\"text\"][\"category\"] }}",
                    "rightValue": "confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "913cdf83-e0f6-4211-9719-a2a9faf22a98",
                    "leftValue": "={{ $item(\"0\").$node[\"Ticket classification2\"].json[\"output\"][\"0\"][\"content\"][\"0\"][\"text\"][\"category\"] }}",
                    "rightValue": "complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complaint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d679f1fd-c440-42e6-8651-56bcfd071132",
                    "leftValue": "={{ $item(\"0\").$node[\"Ticket classification2\"].json[\"output\"][\"0\"][\"content\"][\"0\"][\"text\"][\"category\"] }}",
                    "rightValue": "other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1040,
        2464
      ],
      "id": "8e3a21ba-7784-4914-9679-65b77180eedc",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $json[\"ticket.id\"] }}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2032,
        336
      ],
      "id": "16e15311-d616-4371-8e81-f81002ad514f",
      "name": "Get ticket comments",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst comments = data.comments;\n\nif (!comments || comments.length === 0) {\n  return [{ json: { error: \"No comments found\" } }];\n}\n\n// A comment is from the customer if via.source.to has no address\nconst isFromCustomer = (comment) => {\n  const to = comment?.via?.source?.to;\n  return !to?.address;\n};\n\n// Filter to customer comments only, then sort by created_at descending\nconst customerComments = comments\n  .filter(isFromCustomer)\n  .sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\n\nif (customerComments.length === 0) {\n  return [{ json: { error: \"No customer comments found\" } }];\n}\n\nconst lastCustomerComment = customerComments[0];\n\nreturn [\n  {\n    json: {\n      id: lastCustomerComment.id,\n      author_id: lastCustomerComment.author_id,\n      body: lastCustomerComment.plain_body,\n      public: lastCustomerComment.public,\n      created_at: lastCustomerComment.created_at,\n      channel: lastCustomerComment.via?.channel ?? null,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -80
      ],
      "id": "acc1b3d9-3a30-4eb0-9644-d57f85313c56",
      "name": "Return last customer message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 35699845108765,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 33825964522269,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        656
      ],
      "id": "a9b989a2-d322-49a8-be6a-0ac8d4d3144c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bH7O8AaqR6d7D9vM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2576,
        656
      ],
      "id": "c46edb3a-e271-430c-8cad-20239f50131f",
      "name": "Update zendesk ticket1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -896,
        528
      ],
      "id": "0dacc7a6-eaea-404a-a4d3-dbbfa9a9bb24",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.body }}",
        "categories": {
          "categories": [
            {
              "category": "Text is not in English"
            },
            {
              "category": "Text is in English"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -992,
        352
      ],
      "id": "2201a8c5-990d-4f87-9330-ea85a307eb2b",
      "name": "Check ticket language1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=Description: {{ $json.body }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -656,
        192
      ],
      "id": "eee11917-d0f2-4a4a-9304-bd84b674d08f",
      "name": "Translate ticket to english1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Zendesk Trigger').item.json[\"ticket.id\"] }},\n    \"title\" : \"{{ $('Zendesk Trigger').item.json[\"ticket.title\"] }}\",\n    \"user_email\" : \"{{ $('Zendesk Trigger').item.json[\"ticket.requester.email\"] }}\",\n    \"description\": \"{{ $('Zendesk Trigger').item.json[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $('Zendesk Trigger').item.json[\"ticket.url\"] }}\",\n    \"ticket_category\":\"{{ $('Zendesk Trigger').item.json[\"ticket.ticket_field_33838126178205\"] }}\",\n    \"automation_classification\":\"{{ $('Zendesk Trigger').item.json['ticket.ticket_field_35908529462429'] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage || \"en\"}}\",\n    \"is_translated\":{{(()=>{\n  let originalLanguage = $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage;\n  return originalLanguage?true:false;\n})()}},\n    \"translations\": {\n\"title\" : \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.title || \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.description || \"\"}}\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        192
      ],
      "id": "34cece54-4f18-4db8-b34e-38dd01ed912b",
      "name": "Set translated request data test1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Zendesk Trigger').item.json[\"ticket.id\"] }},\n    \"title\" : \"{{ $('Zendesk Trigger').item.json[\"ticket.title\"] }}\",\n    \"user_email\" : \"{{ $('Zendesk Trigger').item.json[\"ticket.requester.email\"] }}\",\n    \"description\": \"{{ $('Zendesk Trigger').item.json[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $('Zendesk Trigger').item.json[\"ticket.url\"] }}\",\n    \"ticket_category\":\"{{ $('Zendesk Trigger').item.json[\"ticket.ticket_field_33838126178205\"] }}\",\n    \"automation_classification\":\"{{ $('Zendesk Trigger').item.json['ticket.ticket_field_35908529462429'] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\":false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        368
      ],
      "id": "eaf218bb-0224-4b8c-a75d-95a37765fd7b",
      "name": "Set request data test2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -96,
        368
      ],
      "id": "1a0b2505-bb99-4a78-ad11-b3d23d1ebc9f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "# Simple thanks",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2288,
        512
      ],
      "id": "984c7436-dbfc-4b15-9a79-7250013c10f0",
      "name": "Sticky Note41",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: Thanks reply",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2784,
        800
      ],
      "id": "d82c28cd-067b-4fbd-9c5c-771a79f7dde8",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e285dcc2-00bc-4fe3-9a10-844d74b4192e",
              "leftValue": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_category }}",
              "rightValue": "password_and_account_info",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        368
      ],
      "id": "638b1668-6a08-450c-99bb-93ab318b1174",
      "name": "Is account and password"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an information extraction system for customer support messages.\n\nAnalyze the customer support message and extract the customer's email address if one is explicitly provided.\n\nReturn only a JSON object that matches the provided schema.\n\nRules:\n- The output must contain exactly one key: customer_email.\n- If the customer message contains a valid email address, set customer_email to that email address as a string.\n- If the customer message does not contain a valid email address, set customer_email to false.\n- Do not include markdown, explanations, comments, or extra text.\n- Do not guess, infer, reconstruct, or fabricate an email address.\n- If multiple valid email addresses are present return false\n"
            },
            {
              "content": "=Customer message: {{ $('Return last comment').item.json.body }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_email\": {\n      \"anyOf\": [\n        {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        {\n          \"type\": \"string\",\n          \"const\": \"none\"\n        }\n      ]\n    }\n  },\n  \"required\": [\"customer_email\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1200,
        -320
      ],
      "id": "1620e075-35b5-4bc0-9510-7ec4cf4b4628",
      "name": "Email extraction",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qxTEejN1ZY0EHjVD",
          "mode": "list",
          "cachedResultUrl": "/workflow/qxTEejN1ZY0EHjVD",
          "cachedResultName": "Operations Department — CS - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2160,
        -448
      ],
      "id": "81ff1438-8ffa-4427-bbac-2915da8d83e4",
      "name": "Call 'CS - HMAC'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "search",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "email",
              "value": "={{ $json.output[0].content[0].text.customer_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        -448
      ],
      "id": "1110dc57-a725-453e-9568-ec761b142d23",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.lovestyle.co/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2384,
        -448
      ],
      "id": "1441cbc8-1189-4652-b50a-5ce34cb7a16f",
      "name": "DEV bot/search2",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad764505-ca67-496d-a35c-6e072f88f530",
              "leftValue": "={{ $json.output[0].content[0].text.customer_email }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1536,
        -320
      ],
      "id": "b29e7cb9-fa6f-46a8-9d1a-23b67c3cf98e",
      "name": "is email provided"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad764505-ca67-496d-a35c-6e072f88f530",
              "leftValue": "={{ $json.body.subscriptionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2592,
        -448
      ],
      "id": "6edd27a7-747e-4c21-bf1b-1d9b73d98226",
      "name": "is email provided1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst comments = data.comments;\n\nif (!comments || comments.length === 0) {\n  return [{ json: { error: \"No comments found\" } }];\n}\n\n// Sort by created_at descending and take the first (most recent)\nconst lastComment = [...comments].sort(\n  (a, b) => new Date(b.created_at) - new Date(a.created_at)\n)[0];\n\nreturn [\n  {\n    json: {\n      id: lastComment.id,\n      author_id: lastComment.author_id,\n      body: lastComment.plain_body,\n      public: lastComment.public,\n      created_at: lastComment.created_at,\n      channel: lastComment.via?.channel ?? null\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        192
      ],
      "id": "a89deeb5-7882-4729-9fa1-d7271d73015a",
      "name": "Return last comment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "afc92008-33cc-46b5-bd1c-83aeae43863f",
              "leftValue": "={{ $('Return last comment').item.json.channel }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1408,
        352
      ],
      "id": "b18a4be2-4f8b-42fc-934f-341835a7eef5",
      "name": "Discard CS updates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "926279a0-598a-48c6-9073-efde28b9d573",
              "leftValue": "={{ $('Zendesk Trigger').item.json[\"ticket.ticket_field_35908529462429\"] }}",
              "rightValue": "other_auto",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1200,
        352
      ],
      "id": "794c06a4-f5f1-4dc9-b385-393dd99b590a",
      "name": "Discard \"other\" requests"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vMK4tkEhVM7Pn43V",
          "mode": "list",
          "cachedResultUrl": "/workflow/vMK4tkEhVM7Pn43V",
          "cachedResultName": "Operations Department — CS - Refund requests flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3616,
        -560
      ],
      "id": "0033d2ac-fddf-4a7d-b64b-679afc401927",
      "name": "Call 'CS - Refund flow'"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}\",\n     \"payment_provider_account_ID\": \"123456789\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\":{{ $('Aggregate').item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        -560
      ],
      "id": "f2337e45-6a58-4570-96a1-8b18ff51f9c6",
      "name": "Set request data test"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Aggregate').item.json.data[0].original_ticket_content.automation_classification }}",
                    "rightValue": "=cancellation_auto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cea6b447-61a9-4810-94a4-e9dcbce653b8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d2d8328-1eef-47d1-85bb-11d66f080b1a",
                    "leftValue": "={{ $('Aggregate').item.json.data[0].original_ticket_content.automation_classification }}",
                    "rightValue": "refund_auto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Refund"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3136,
        -672
      ],
      "id": "2b51a0c4-11f0-43f7-9298-9ecd2fcff8ea",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3424,
        -752
      ],
      "id": "b5566092-8e35-49dd-a236-1085b9eb43bd",
      "name": "Set request data test1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a customer support ticket classifier.\n\nClassify the customer message into exactly one category:\n\n1. \"thanks\"\nUse this only when the customer is simply expressing gratitude and is not asking for anything else.\nExamples:\n- “Thanks for your help.”\n- “Many thanks for your prompt response.”\n- “Thank you for processing the refund. I appreciate it.”\n\n2. \"confirmation\"\nUse this when the customer is asking support to verify, confirm, or check the status of something already expected or completed, such as a cancellation, refund, transaction reversal, account closure, subscription status, or payment status.\nExamples:\n- “I’m reaching out to confirm my subscription has been canceled.”\n- “Can you confirm my refund was processed?”\n- “Just checking that my transaction has been refunded.”\n- “Please confirm my account is closed.”\n\n3. \"complaint\"\nUse this when the customer expresses dissatisfaction, frustration, anger, disappointment, distrust, or negative sentiment about the service, support, billing, refund, cancellation, charges, delays, product, company, or experience.\nExamples:\n- “This is unacceptable.”\n- “I was charged again after canceling.”\n- “Your support has been terrible.”\n- “I’m frustrated that my refund still hasn’t arrived.”\n\n4. \"other\"\nUse this as the fallback when the ticket does not clearly fit thanks, confirmation, or complaint.\nExamples:\n- New cancellation request\n- New refund request\n- Account update request\n- Technical question\n- General inquiry\n- Unclear or incomplete message\n\nDecision rules:\n- Use only the customer’s title and description.\n- Choose \"thanks\" only if the message contains gratitude and no request, complaint, question, escalation, or unresolved issue.\n- If the message contains both gratitude and a confirmation/check request, choose \"confirmation\".\n- If the message contains any meaningful negative sentiment or complaint, choose \"complaint\", even if it also includes thanks or asks for confirmation.\n- If the customer asks support to verify whether something happened, choose \"confirmation\".\n- If the customer is making a new request rather than confirming an existing action, choose \"other\".\n- If the message is unclear, incomplete, or does not fit the first three categories, choose \"other\".\n\nOutput requirements:\nReturn only a valid JSON object with exactly one key:\n{\n  \"category\": \"thanks\" | \"confirmation\" | \"complaint\" | \"other\"\n}\n\nDo not include explanations, evidence, markdown, or extra keys."
            },
            {
              "content": "=Customer message: {{ $json.data.first().translated_data.is_translated?$('Aggregate').item.json.data.first().translated_data.translations.description:$('Aggregate').item.json.data.first().original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"thanks\", \"confirmation\", \"complaint\", \"other\"]\n    }\n  },\n  \"required\": [\"category\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        128,
        368
      ],
      "id": "cf7dfee5-f0d8-449c-b7b8-e0147e1ea191",
      "name": "Ticket classification2",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Ev7hSxE5tHBMsP3P",
          "name": "Perso prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.lovestyle.co/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2720,
        1872
      ],
      "id": "d619b412-203d-42d4-9d53-41d0abc24e91",
      "name": "DEV bot/search",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qxTEejN1ZY0EHjVD",
          "mode": "list",
          "cachedResultUrl": "/workflow/qxTEejN1ZY0EHjVD",
          "cachedResultName": "Operations Department — CS - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2496,
        1872
      ],
      "id": "cf2d4d81-01da-45b2-90e8-5f06d0e5c539",
      "name": "Call 'CS - HMAC'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "search",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "email",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        1872
      ],
      "id": "dc6ffed1-d62d-48e8-b036-ddd496dd5526",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5eb4945-ffd8-4b87-b4ce-847bc205f892",
              "leftValue": "={{ $json.body.refundedTransactions }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2960,
        1872
      ],
      "id": "45ebf9b8-c0a8-4917-90df-62fbe2ba7ffc",
      "name": "Has refunded transations"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 35699845108765,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 33825964522269,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        1152
      ],
      "id": "198b5e22-9c5d-43a1-a564-3a5a2bd4445f",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bH7O8AaqR6d7D9vM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4256,
        1152
      ],
      "id": "dedea669-281c-41a9-88b9-898fbd5bc087",
      "name": "Update zendesk ticket3"
    },
    {
      "parameters": {
        "content": "# Refund confirmation",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3968,
        1008
      ],
      "id": "ce3ac927-72ec-43c5-85f3-5c42442d15e0",
      "name": "Sticky Note42",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: Thanks reply",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4464,
        1296
      ],
      "id": "8e88d2f8-66b9-44fd-bce9-e61a720d762d",
      "name": "Sticky Note56"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 35699845108765,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 33825964522269,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        1728
      ],
      "id": "6b873310-e85e-4edb-b32c-a3d79d1e0490",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bH7O8AaqR6d7D9vM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4256,
        1728
      ],
      "id": "54858052-1387-48a1-a6f6-09e63b953b8d",
      "name": "Update zendesk ticket4"
    },
    {
      "parameters": {
        "content": "# Cancellation confirmation",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3968,
        1584
      ],
      "id": "ea2effcf-3b37-4742-987c-00afe1c28d72",
      "name": "Sticky Note43",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: Thanks reply",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4464,
        1872
      ],
      "id": "760581e3-3c55-4d77-a373-a95d0d0b13c0",
      "name": "Sticky Note57"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7fadc4eb-12fd-40fa-9659-732b4b169e80",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3424,
        1888
      ],
      "id": "73272a66-446e-4088-b137-2accd44c286b",
      "name": "Subscription is cancelled"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This customer has reached our to confirm a refund or cancellation but the automation wasn't able to detect either of those. Please handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "33825964519453"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4032,
        2320
      ],
      "id": "7db30102-aec9-46da-8347-5974f78715f0",
      "name": "Reply to internally and set status to open",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Requested confirmation but subs is active\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3968,
        2160
      ],
      "id": "ab47eaf3-1da7-4280-b9e3-8f5cd5f2b366",
      "name": "Sticky Note44",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4272,
        2464
      ],
      "id": "1dd7f440-8fc8-4a5d-900a-bb6b56715b3b",
      "name": "Sticky Note45"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and did not fit into any of the predefined categories \n- Thanks\n- Cancel/refund confirmation\n- Complaint\n- Acc/pass info\n\nIf the ticket DOES fit into any of the category above please reach out to the Operations Dept. \n\nPlease handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "33825964519453"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2992,
        4848
      ],
      "id": "13a83666-9b68-41ee-aa9d-e25237d93b91",
      "name": "Reply to internally and set status to open2",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Other, do nothing\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2928,
        4688
      ],
      "id": "bcfb5596-d42c-46dd-ad8b-8c0da4e46eb6",
      "name": "Sticky Note48",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 144,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3296,
        5056
      ],
      "id": "3ccd0f0b-f40e-49f7-ae1f-cf3ca7cc77b0",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: The email customer provided does not exist as a user in the app. Please handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "33825964519453"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3232,
        -16
      ],
      "id": "fab9daf1-7328-4a2a-bc3d-d41c1b9eebd9",
      "name": "Reply to internally and set status to open3",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Wrong email\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3168,
        -176
      ],
      "id": "3235c97a-1788-47ed-90fa-b95255ae60c0",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3472,
        128
      ],
      "id": "9887c8e6-e55c-45b0-aaa5-150f22813047",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: The customer did not provide a new email address in their follow up. Please handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "33825964519453"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2096,
        -16
      ],
      "id": "d52bf9f0-565c-4309-9126-09a3c476b3c2",
      "name": "Reply to internally and set status to open4",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Email not provided \n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        -176
      ],
      "id": "6cbcee95-58ca-4425-b313-5f4114a15f58",
      "name": "Sticky Note51",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        128
      ],
      "id": "494207f1-60b7-4a08-98fd-e2d8bda7b9f2",
      "name": "Sticky Note52"
    },
    {
      "parameters": {
        "content": "## Payments team check status",
        "height": 368,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        1792
      ],
      "id": "8004e6f4-791f-4179-b4fa-f8f878befdc3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Upon 2nd message completion  add a tag/category/something to indicate automation flow is done? check for it after trigger?",
        "height": 496,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5296,
        64
      ],
      "id": "2498ab20-0c45-4811-9446-8cb105cd91a2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5eb4945-ffd8-4b87-b4ce-847bc205f892",
              "leftValue": "={{ $json.body.refundedTransactions }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2512,
        2672
      ],
      "id": "69473588-3ce1-4337-925c-7a71633e684c",
      "name": "Has refunded transactions"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and did not fit into any of the predefined categories \n- Thanks\n- Cancel/refund confirmation\n- Complaint\n- Acc/pass info\n\nIf the ticket DOES fit into any of the category above please reach out to the Operations Dept. \n\nPlease handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "33825964519453"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3232,
        3088
      ],
      "id": "63697f0b-8f67-41c2-824d-da4a3127face",
      "name": "Reply to internally and set status to open5",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# No refunded transactions\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3168,
        2928
      ],
      "id": "3ebdbb2d-499e-438c-a1ef-aa4070b58868",
      "name": "Sticky Note53",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3472,
        3232
      ],
      "id": "18e8c76c-35c9-48d7-b0c2-1f8cecb35ff9",
      "name": "Sticky Note55"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5eb4945-ffd8-4b87-b4ce-847bc205f892",
              "leftValue": "={{ $json.body.refundedTransactions }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4048,
        2832
      ],
      "id": "5d349919-3ca4-4afa-b9e5-2ffe36d3dc8b",
      "name": "Has 1 refunded transaction"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 35699845108765,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 33825964522269,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4880,
        2912
      ],
      "id": "62205ff5-97b0-40b9-95fa-446a8a7ae486",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bH7O8AaqR6d7D9vM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5104,
        2912
      ],
      "id": "978b99e1-9d5c-4d18-8f66-419a6a0dc14b",
      "name": "Update zendesk ticket"
    },
    {
      "parameters": {
        "content": "# Single refund complaint",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4816,
        2768
      ],
      "id": "48832a12-ddbb-4fc2-a3a2-3050dc757974",
      "name": "Sticky Note46",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: Thanks reply",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5312,
        3056
      ],
      "id": "63adf1a3-7a5e-484b-8c31-6fec65979932",
      "name": "Sticky Note58"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 35699845108765,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 33825964522269,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4880,
        3488
      ],
      "id": "810d1cc8-e6d0-441b-88c5-76e90f95533b",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bH7O8AaqR6d7D9vM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5104,
        3488
      ],
      "id": "2d97436f-a8df-4658-a618-87f573aa4ea5",
      "name": "Update zendesk ticket5"
    },
    {
      "parameters": {
        "content": "# Double refund complaint",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4816,
        3344
      ],
      "id": "26d3047c-d628-4fd1-842d-00ba7584c0a2",
      "name": "Sticky Note47",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: Thanks reply",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5312,
        3632
      ],
      "id": "c3c2b127-e8cb-45a7-b639-8e58fd162369",
      "name": "Sticky Note59"
    },
    {
      "parameters": {
        "content": "## did they request another refund or cancel"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2880,
        4176
      ],
      "id": "25ed00ce-d388-4a36-b960-804be80ecbc9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a customer support ticket classifier. You analyze customer support messages and identify if they are refund requests or not based only on the user’s written message\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, or mentions being charged and wanting the charge undone.  \n\nOther  (o)\nUse this category for all other messages like:\naccount deletion requests\nproduct questions\nfeature requests\naccount access issues\ncomplaints \nunclear or ambiguous messages\nharassment or threatening\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \nIf the message contains forwarded content (often labelled with \"Forwarded message\") disregard everything that comes after that and only consider the content before it in the classification\n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\no = Other\n\nReturn only a valid JSON object with exactly one key:\n{\n  \"request_category\": \"o\" | \"r\" \n}\n\nDo not include explanations, evidence, markdown, or extra keys. Output only the letter."
            },
            {
              "content": "=Customer message: {{ $json.data.first().translated_data.is_translated?$('Aggregate').item.json.data.first().translated_data.translations.description:$('Aggregate').item.json.data.first().original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"thanks\", \"confirmation\", \"complaint\", \"other\"]\n    }\n  },\n  \"required\": [\"category\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1920,
        3744
      ],
      "id": "b429d3c8-befa-4a5a-8699-667013e32f3f",
      "name": "Identify refund requests",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Ev7hSxE5tHBMsP3P",
          "name": "Perso prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e285dcc2-00bc-4fe3-9a10-844d74b4192e",
              "leftValue": "={{ $('Identify refund requests').item.json.data[0].original_ticket_content.request_category }}",
              "rightValue": "r",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2288,
        3744
      ],
      "id": "5b8f6387-895a-4d04-ad54-807747af4388",
      "name": "Is refund request"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tdv4R9Y7iJVHy02Y",
          "mode": "list",
          "cachedResultUrl": "/workflow/tdv4R9Y7iJVHy02Y",
          "cachedResultName": "Operations Department — CS - Cancellation request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3616,
        -752
      ],
      "id": "340d669b-042d-4f54-bfe2-0910a1f5e2e7",
      "name": "Call 'CS - Cancellation request'"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1600,
        352
      ],
      "id": "6a3bf1e0-18a5-4e3d-8de1-0b756760cffc",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        3632
      ],
      "id": "025ddad2-a382-4f16-8bc1-af8f4a048e8a",
      "name": "Set request data test3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tdv4R9Y7iJVHy02Y",
          "mode": "list",
          "cachedResultUrl": "/workflow/tdv4R9Y7iJVHy02Y",
          "cachedResultName": "Operations Department — CS - Cancellation request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2800,
        3632
      ],
      "id": "c7fd0116-6710-41dc-99a3-2d635c732608",
      "name": "Call 'CS - Cancellation request'1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4fdd72c3-b416-4c57-9f61-2f9cc85da331",
              "leftValue": "={{ $json.comments.length }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1824,
        496
      ],
      "id": "29fafce5-c26f-4a44-a81d-4688279a5acc",
      "name": "Is under message limit"
    }
  ],
  "connections": {
    "Zendesk Trigger": {
      "main": [
        [
          {
            "node": "Get ticket comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ticket comments": {
      "main": [
        [
          {
            "node": "Return last comment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is under message limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return last customer message": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update zendesk ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has refunded transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identify refund requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check ticket language1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check ticket language1": {
      "main": [
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Ticket classification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is account and password": {
      "main": [
        [
          {
            "node": "Email extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email extraction": {
      "main": [
        [
          {
            "node": "is email provided",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'1": {
      "main": [
        [
          {
            "node": "DEV bot/search2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is email provided": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search2": {
      "main": [
        [
          {
            "node": "is email provided1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is email provided1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return last comment": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discard CS updates": {
      "main": [
        [
          {
            "node": "Discard \"other\" requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discard \"other\" requests": {
      "main": [
        [
          {
            "node": "Check ticket language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test": {
      "main": [
        [
          {
            "node": "Call 'CS - Refund flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set request data test1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test1": {
      "main": [
        [
          {
            "node": "Call 'CS - Cancellation request'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket classification2": {
      "main": [
        [
          {
            "node": "Is account and password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'": {
      "main": [
        [
          {
            "node": "DEV bot/search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search": {
      "main": [
        [
          {
            "node": "Has refunded transations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Update zendesk ticket3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Update zendesk ticket4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has refunded transations": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Subscription is cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subscription is cancelled": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has refunded transactions": {
      "main": [
        [
          {
            "node": "Has 1 refunded transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Update zendesk ticket5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has 1 refunded transaction": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify refund requests": {
      "main": [
        [
          {
            "node": "Is refund request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discard CS updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test3": {
      "main": [
        [
          {
            "node": "Call 'CS - Cancellation request'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is refund request": {
      "main": [
        [
          {
            "node": "Set request data test3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is under message limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Zendesk Trigger": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Zendesk Trigger": [
      {
        "json": {
          "ticket.title": "Chatbot: refund request from antonioefuturemedia@gmail.com",
          "ticket.description": "----------------------------------------------\n\nAntonio Marusic, May 8, 2026, 15:52\n\nSummary: User requested a refund. The assistant provided a confirmation button for the request. The user confirmed the refund by clicking the button.\n\nRequest: refund\n\nChat transcript:\nUser: I want a refund\nAssistant: To confirm your Refund request, click the button below. [CONFIRM_CANCEL_REFUND] [INTENT:refund] [EMAIL:antonioefuturemedia@gmail.com]\nUser: __confirm_cancel_refund__\n\nCreated via support chatbot.",
          "ticket.url": "efuturechatbot.zendesk.com/agent/tickets/320",
          "ticket.id": "320",
          "ticket.requester.email": "antonioefuturemedia@gmail.com",
          "ticket.ticket_field_33838126178205": "other",
          "ticket.ticket_field_35908529462429": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "63f0f232-aeb8-4299-bdfa-045ac15c32a8",
  "activeVersionId": null,
  "versionCounter": 739,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-28T08:25:57.029Z",
      "createdAt": "2026-04-28T08:25:57.029Z",
      "role": "workflow:owner",
      "workflowId": "fNpYWulog5Suxiqo",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}