workflows/CS_-_Chatbot_refunds_handling__R6q3Vv3P90vuKuwV.json
{
  "updatedAt": "2026-04-23T08:58:23.457Z",
  "createdAt": "2026-02-25T22:04:31.401Z",
  "id": "R6q3Vv3P90vuKuwV",
  "name": "CS - Chatbot refunds handling",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "fields": [
            "ticket.title",
            "ticket.description",
            "ticket.url",
            "ticket.id",
            "ticket.status",
            "ticket.requester.email",
            "ticket.ticket_field_33841769865629",
            "ticket.ticket_field_34358154126749",
            "ticket.ticket_field_33825960843421",
            "ticket.ticket_field_26136966521244"
          ]
        },
        "conditions": {
          "all": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ],
      "id": "2cc4cd5a-dc8c-4374-a487-db06fb799418",
      "name": "Zendesk Trigger",
      "webhookId": "b50759a6-d5e9-47d0-a2fd-21b7cd3fa115",
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json[\"ticket.id\"] }}"
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        -48,
        -144
      ],
      "id": "ef1f11cb-d58f-4d63-95d7-066d28ab5536",
      "name": "Get a ticket",
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vMK4tkEhVM7Pn43V",
          "mode": "list",
          "cachedResultUrl": "/workflow/vMK4tkEhVM7Pn43V",
          "cachedResultName": "Operations Department — CS - Refund flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1888,
        -64
      ],
      "id": "5b05c472-2e91-4948-93be-63d3dfed54f3",
      "name": "Call 'CS - Refund flow'"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        -48
      ],
      "id": "db721a25-6792-40e5-ab5c-fcb52376ce01",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Zendesk Trigger').item.json[\"ticket.id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation could not be handled automatically. Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "33825964519453"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        400
      ],
      "id": "5c733a90-e785-458c-a8fe-a0f447742e7f",
      "name": "Reply to internally and set status to open",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af4dbe40-673c-484f-a26b-6f8c1d224bf8",
              "leftValue": "={{ $json.custom_status_id }}",
              "rightValue": 33841743978781,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -144
      ],
      "id": "de98c20e-3b23-4740-8374-82c2514bc51b",
      "name": "Is status automated"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38f8b03a-a7be-4778-9553-3f567b373ffd",
              "leftValue": "={{ $json[\"ticket.ticket_field_33841769865629\"] }}",
              "rightValue": "refunds",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        128
      ],
      "id": "b0747f84-b642-4fda-ba99-399bc3a283e7",
      "name": "Is chatbot classification == refunds"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1056,
        528
      ],
      "id": "a3f25315-b902-45e6-86c4-d1a90a8d167a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.user_only }}",
        "categories": {
          "categories": [
            {
              "category": "Text is not in English"
            },
            {
              "category": "Text is in English"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        960,
        352
      ],
      "id": "10270eaf-9f16-4940-8c59-cf91fac4c293",
      "name": "Check ticket language1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=Description: {{ $json.user_only }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1280,
        96
      ],
      "id": "15180e26-07ef-4e36-9b91-6b5fa3292bb0",
      "name": "Translate ticket to english1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Zendesk Trigger').item.json[\"ticket.id\"] }},\n    \"title\": \"{{ $('Zendesk Trigger').item.json[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Extract').item.json.user_only }}\",\n    \"ticket_url\": \"{{ $('Zendesk Trigger').item.json[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $('Zendesk Trigger').item.json[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage : \"en\" }}\",\n    \"is_translated\":{{$('Translate ticket to english1').isExecuted ? true:false}}\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.title : \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.description : \"\"}}\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -64
      ],
      "id": "0edcaadf-a276-40d4-82f1-d8c8253b2b25",
      "name": "Set translated request data test1"
    },
    {
      "parameters": {
        "jsCode": "const INPUT_PATH = 'description';\n\nfunction getByPath(obj, path) {\n  return path.split('.').reduce((acc, key) => {\n    if (acc && Object.prototype.hasOwnProperty.call(acc, key)) {\n      return acc[key];\n    }\n    return undefined;\n  }, obj);\n}\n\nconst inputText = getByPath($json, INPUT_PATH);\n\nif (typeof inputText !== 'string') {\n  throw new Error(`Input at path \"${INPUT_PATH}\" is not a string or does not exist.`);\n}\n\n// Match all lines starting with \"User:\"\nconst userLines = inputText.match(/^User:.*$/gm) || [];\n\n// Return as single newline-separated string\nreturn [\n  {\n    json: {\n      user_only: userLines.join('\\n'),\n      user_lines: userLines, // optional array\n      count: userLines.length,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -48
      ],
      "id": "e4dfbbea-0642-4064-be02-90799870a757",
      "name": "Extract"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b5364df-96ee-40d2-b018-363299d58adb",
              "leftValue": "={{ $('Zendesk Trigger').item.json[\"ticket.ticket_field_33825960843421\"] }}",
              "rightValue": "=language__en",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        -48
      ],
      "id": "d2d958bb-7e28-4f8c-aa32-b1597cb09748",
      "name": "Language isn't English"
    }
  ],
  "connections": {
    "Zendesk Trigger": {
      "main": [
        [
          {
            "node": "Get a ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is chatbot classification == refunds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a ticket": {
      "main": [
        [
          {
            "node": "Is status automated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is status automated": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is chatbot classification == refunds": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check ticket language1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check ticket language1": {
      "main": [
        [],
        []
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Call 'CS - Refund flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Language isn't English",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language isn't English": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Zendesk Trigger": {
      "webhookSecret": "TCJSPxGpGDrt93x7aMFkX2Ih8hGv4_hQF8TbCYERz60=",
      "webhookId": 35722626997533,
      "targetId": "01KQC9HSJ6HYWQXAPADP1JW351"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Zendesk Trigger": [
      {
        "json": {
          "ticket.title": "Aemailefuturechatbot.zendesk.comAemailbt",
          "ticket.description": "----------------------------------------------\n\n!*** Aemailefuturechatbot.zendesk.comAemailnr was not signed in when this comment was submitted. Learn more ***!\n\nAemailefuturechatbot.zendesk.comAemailnr, Mar 31, 2026, 08:26\n\nAemailefuturechatbot.zendesk.comAemailnr",
          "ticket.url": "efuturechatbot.zendesk.com/agent/tickets/273",
          "ticket.id": "273",
          "ticket.status": "Open",
          "ticket.requester.email": "sb3dhooz61lt@rfa8.com",
          "ticket.ticket_field_33744829813533": "",
          "ticket.ticket_field_33841769865629": "",
          "ticket.ticket_field_34358154126749": "",
          "ticket.ticket_field_21550748797725": "",
          "ticket.ticket_field_33825960843421": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "4d1aa9c0-1c34-4c03-a0e4-8661faab7502",
  "activeVersionId": "4d1aa9c0-1c34-4c03-a0e4-8661faab7502",
  "versionCounter": 238,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-25T22:04:31.410Z",
      "createdAt": "2026-02-25T22:04:31.410Z",
      "role": "workflow:owner",
      "workflowId": "R6q3Vv3P90vuKuwV",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-21T11:11:53.000Z",
    "createdAt": "2026-04-21T11:11:42.731Z",
    "versionId": "4d1aa9c0-1c34-4c03-a0e4-8661faab7502",
    "workflowId": "R6q3Vv3P90vuKuwV",
    "nodes": [
      {
        "parameters": {
          "options": {
            "fields": [
              "ticket.title",
              "ticket.description",
              "ticket.url",
              "ticket.id",
              "ticket.status",
              "ticket.requester.email",
              "ticket.ticket_field_33841769865629",
              "ticket.ticket_field_34358154126749",
              "ticket.ticket_field_33825960843421",
              "ticket.ticket_field_26136966521244"
            ]
          },
          "conditions": {
            "all": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.zendeskTrigger",
        "typeVersion": 1,
        "position": [
          -336,
          0
        ],
        "id": "2cc4cd5a-dc8c-4374-a487-db06fb799418",
        "name": "Zendesk Trigger",
        "webhookId": "b50759a6-d5e9-47d0-a2fd-21b7cd3fa115",
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "id": "={{ $json[\"ticket.id\"] }}"
        },
        "type": "n8n-nodes-base.zendesk",
        "typeVersion": 1,
        "position": [
          -48,
          -144
        ],
        "id": "ef1f11cb-d58f-4d63-95d7-066d28ab5536",
        "name": "Get a ticket",
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "vMK4tkEhVM7Pn43V",
            "mode": "list",
            "cachedResultUrl": "/workflow/vMK4tkEhVM7Pn43V",
            "cachedResultName": "Operations Department — CS - Refund flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1888,
          -64
        ],
        "id": "5b05c472-2e91-4948-93be-63d3dfed54f3",
        "name": "Call 'CS - Refund flow'"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          512,
          -48
        ],
        "id": "db721a25-6792-40e5-ab5c-fcb52376ce01",
        "name": "Merge"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Zendesk Trigger').item.json[\"ticket.id\"] }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation could not be handled automatically. Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "33825964519453"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          400,
          400
        ],
        "id": "5c733a90-e785-458c-a8fe-a0f447742e7f",
        "name": "Reply to internally and set status to open",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "af4dbe40-673c-484f-a26b-6f8c1d224bf8",
                "leftValue": "={{ $json.custom_status_id }}",
                "rightValue": 33841743978781,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          160,
          -144
        ],
        "id": "de98c20e-3b23-4740-8374-82c2514bc51b",
        "name": "Is status automated"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "38f8b03a-a7be-4778-9553-3f567b373ffd",
                "leftValue": "={{ $json[\"ticket.ticket_field_33841769865629\"] }}",
                "rightValue": "refunds",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -48,
          128
        ],
        "id": "b0747f84-b642-4fda-ba99-399bc3a283e7",
        "name": "Is chatbot classification == refunds"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1056,
          528
        ],
        "id": "a3f25315-b902-45e6-86c4-d1a90a8d167a",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "dJlA3NdNIjPMEw9F",
            "name": "CS automations project"
          }
        }
      },
      {
        "parameters": {
          "inputText": "={{ $json.user_only }}",
          "categories": {
            "categories": [
              {
                "category": "Text is not in English"
              },
              {
                "category": "Text is in English"
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          960,
          352
        ],
        "id": "10270eaf-9f16-4940-8c59-cf91fac4c293",
        "name": "Check ticket language1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.1",
            "mode": "list",
            "cachedResultName": "GPT-5.1"
          },
          "responses": {
            "values": [
              {
                "content": "=Description: {{ $json.user_only }}"
              },
              {
                "role": "system",
                "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object",
                "verbosity": "high"
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1280,
          96
        ],
        "id": "15180e26-07ef-4e36-9b91-6b5fa3292bb0",
        "name": "Translate ticket to english1",
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "dJlA3NdNIjPMEw9F",
            "name": "CS automations project"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Zendesk Trigger').item.json[\"ticket.id\"] }},\n    \"title\": \"{{ $('Zendesk Trigger').item.json[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Extract').item.json.user_only }}\",\n    \"ticket_url\": \"{{ $('Zendesk Trigger').item.json[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $('Zendesk Trigger').item.json[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage : \"en\" }}\",\n    \"is_translated\":{{$('Translate ticket to english1').isExecuted ? true:false}}\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.title : \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.description : \"\"}}\"\n    }\n  }\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1664,
          -64
        ],
        "id": "0edcaadf-a276-40d4-82f1-d8c8253b2b25",
        "name": "Set translated request data test1"
      },
      {
        "parameters": {
          "jsCode": "const INPUT_PATH = 'description';\n\nfunction getByPath(obj, path) {\n  return path.split('.').reduce((acc, key) => {\n    if (acc && Object.prototype.hasOwnProperty.call(acc, key)) {\n      return acc[key];\n    }\n    return undefined;\n  }, obj);\n}\n\nconst inputText = getByPath($json, INPUT_PATH);\n\nif (typeof inputText !== 'string') {\n  throw new Error(`Input at path \"${INPUT_PATH}\" is not a string or does not exist.`);\n}\n\n// Match all lines starting with \"User:\"\nconst userLines = inputText.match(/^User:.*$/gm) || [];\n\n// Return as single newline-separated string\nreturn [\n  {\n    json: {\n      user_only: userLines.join('\\n'),\n      user_lines: userLines, // optional array\n      count: userLines.length,\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          -48
        ],
        "id": "e4dfbbea-0642-4064-be02-90799870a757",
        "name": "Extract"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "5b5364df-96ee-40d2-b018-363299d58adb",
                "leftValue": "={{ $('Zendesk Trigger').item.json[\"ticket.ticket_field_33825960843421\"] }}",
                "rightValue": "=language__en",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1024,
          -48
        ],
        "id": "d2d958bb-7e28-4f8c-aa32-b1597cb09748",
        "name": "Language isn't English"
      }
    ],
    "connections": {
      "Zendesk Trigger": {
        "main": [
          [
            {
              "node": "Get a ticket",
              "type": "main",
              "index": 0
            },
            {
              "node": "Is chatbot classification == refunds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a ticket": {
        "main": [
          [
            {
              "node": "Is status automated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is status automated": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Is chatbot classification == refunds": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          []
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Check ticket language1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Check ticket language1": {
        "main": [
          [],
          []
        ]
      },
      "Translate ticket to english1": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set translated request data test1": {
        "main": [
          [
            {
              "node": "Call 'CS - Refund flow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Extract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract": {
        "main": [
          [
            {
              "node": "Language isn't English",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Language isn't English": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Translate ticket to english1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 4d1aa9c0",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-21T11:11:53.407Z",
        "id": 475,
        "workflowId": "R6q3Vv3P90vuKuwV",
        "versionId": "4d1aa9c0-1c34-4c03-a0e4-8661faab7502",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-04-23T08:58:25.549Z",
        "id": 496,
        "workflowId": "R6q3Vv3P90vuKuwV",
        "versionId": "4d1aa9c0-1c34-4c03-a0e4-8661faab7502",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-04-23T08:58:23.947Z",
        "id": 495,
        "workflowId": "R6q3Vv3P90vuKuwV",
        "versionId": "4d1aa9c0-1c34-4c03-a0e4-8661faab7502",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}