workflows/CS_-_Refund_and_cancellation_request_[Template]__7LOTBpIs2AT0k6MA.json
{
  "updatedAt": "2026-06-04T14:26:01.586Z",
  "createdAt": "2026-05-12T19:20:41.624Z",
  "id": "7LOTBpIs2AT0k6MA",
  "name": "CS - Refund and cancellation request [Template]",
  "description": "Template version of CS - Refund and cancellation request. Issues both refund and cancellation in parallel from a single ticket. URLs and Slack channel templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ebecc24f-a372-4824-bd5e-2e6896715c3f",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Edit Fields1, Split Out, etc.) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.foo\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
      },
      "id": "f65ade53-0350-4c84-aa48-1246ec5891e5",
      "name": "Restore trigger data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        1280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "lovestyle_dev",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "248a79e5-7077-43bf-a6f3-501d62fbf7f6",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "b1669d22-677b-48f0-944d-fe40a73906a0",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1136,
        1280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "transactionToRefund",
        "options": {}
      },
      "id": "3c5f4b68-b360-4349-9939-e92aa8a22759",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -624,
        768
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "refund",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "transactionId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f421144e-a3a3-425e-9893-8ac75f0785a7",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        768
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/transactions/refund",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "087d9c25-6517-49ec-891b-4affca24221f",
      "name": "DEV bot/transactions/refund",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        768
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "3c1de607-3ed1-4f4f-8a2b-acc85c3cc098",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3184,
        1232
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $node[\"DEV bot/transactions/refund\"].json[\"error\"][\"message\"] }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f856f4c6-cfbe-4df3-9f21-a7d455bc012e",
      "name": "Reply internally and set status to open",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        1360
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUABW5ZPZ",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors-dev"
        },
        "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $node[\"DEV bot/transactions/refund\"].json[\"body\"][\"transactionId\"] }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "4b5e111f-6aaf-4d98-b64c-3b260ae605b3",
      "name": "Send a message1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1680,
        1360
      ],
      "webhookId": "5d80082f-6279-45e0-940b-6928032c98a5",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "immediateCancellation",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ce3e5eb6-b83d-4a6d-9958-91b2e7db745f",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        2032
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9dHFAZqAbAj42xR3",
          "mode": "list",
          "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
          "cachedResultName": "Operations Department — CS - HMAC [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "80661536-3ed3-4a75-8f4c-b015ca174dfd",
      "name": "Call 'CS - HMAC'1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1360,
        2032
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/subscriptions/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7870f62c-12d0-40b5-aabe-73528b0c293d",
      "name": "DEV bot/subscription/cancel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        2032
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2dec1f3-01ea-4b41-8e6e-91439bd9e396",
      "name": "Reply internally and set status to open1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1840,
        2192
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUABW5ZPZ",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors-dev"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "58b772c9-ac18-4146-b565-4a32ca924e0e",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2064,
        2192
      ],
      "webhookId": "3e33fccc-5430-4afd-a0c1-f6889232e9b5",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Template configuration\n\n**Set project_key** holds the hardcoded deployment key.\n**Get Project Config** provides `payments_api_base_url` and `slack_automation_errors_channel_id`.\n\nOther values (zendeskDomain, ticketID, ticketCustomStatusID, subscriptionID) come from the caller.\n\n## To duplicate\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Re-bind credentials and subworkflow IDs.",
        "height": 220,
        "width": 700,
        "color": 5
      },
      "id": "034fe375-eb4a-45a2-a328-ff9153fcbe44",
      "name": "Sticky Note af6f63d0",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        1616
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9dHFAZqAbAj42xR3",
          "mode": "list",
          "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
          "cachedResultName": "Operations Department — CS - HMAC [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "e1c7deb8-be7b-486f-9297-4d30a8468165",
      "name": "Call 'CS - HMAC [Template]'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        768
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Project Config').first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        1872
      ],
      "id": "87d3e9ed-363e-4015-a035-2e06b5329b6d",
      "name": "DEV bot/search",
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={  \n\"requestType\": \"search\",\n\"email\":\"{{ $('When Executed by Another Workflow').item.json.customerEmail }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        1872
      ],
      "id": "72565811-9b40-4436-bda3-875b4aa8d1e2",
      "name": "Set request data test4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9dHFAZqAbAj42xR3",
          "mode": "list",
          "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
          "cachedResultName": "Operations Department — CS - HMAC [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -288,
        1872
      ],
      "id": "ba33be2f-8b95-40b5-a68f-ccdb4084fe0a",
      "name": "Call 'CS - HMAC'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d00a760b-af9a-4975-8525-925805433804",
              "leftValue": "={{ $json.body.subscriptionStatus }}",
              "rightValue": "cancelled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e5d7597b-2568-430c-810d-00094bcf56dd",
              "leftValue": "={{ $json.body.subscriptionStatus }}",
              "rightValue": "cancelling",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        1872
      ],
      "id": "cbdb2137-892c-4872-a048-d149db247700",
      "name": "Is cancelled or cancelling"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a508cca8-6ec7-44dd-b9bb-77dffc4cf18d",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "transactionAlreadyRefunded",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        1200
      ],
      "id": "b127519c-8aef-4034-9fa1-b54da6d905c9",
      "name": "Is already refunded"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        1344
      ],
      "id": "0406ba0d-e9f4-4402-b817-1b17b16ed10d",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// === Check if a transaction ID is in the refundedTransactions array ===\n// Mode: \"Run Once for All Items\".\n\nconst body = ($input.first()?.json ?? {}).body ?? {};\n\n// 1) The ID to look for.\nconst targetId = String(body.transactionId ?? '').trim().toLowerCase();\n\n// 2) The array to search.\nconst refunded = body.refundedTransactions ?? [];\nconst list = Array.isArray(refunded) ? refunded : [];\n\n// 3) First element whose top-level id matches (provider.id is ignored).\nconst match = targetId\n  ? list.find((el) => String(el?.id ?? '').trim().toLowerCase() === targetId)\n  : undefined;\n\n// 4) Output the decision (+ the matched element, for logging/branching).\nreturn [{\n  json: {\n    targetId,\n    found: !!match,\n    matchedTransaction: match ?? null,\n  },\n}];\n"
      },
      "id": "cd096175-3772-46c9-8a2f-8e9b505a3283",
      "name": "Check Refunded Transaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        1344
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "69c9a36b-a09c-40e2-a5a0-51722675eebf",
      "name": "Refund Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        1344
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad65ba9f-9af4-4e88-a265-a659ca59d86a",
              "name": "alreadyRefunded",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        1200
      ],
      "id": "93245f8d-9ef0-42ff-a2e7-733e11af5ff0",
      "name": "Set alreadyRefunded"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2928,
        1232
      ],
      "id": "2dc32bda-004c-43c8-b0da-5f1b8fc6a48b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -656,
        1872
      ],
      "id": "fe34f91b-93ef-431c-b1ee-9b5e7e4a8a5b",
      "name": "Wait",
      "webhookId": "f90e6605-3011-49ee-aaed-55e13ae72e18"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Restore trigger data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore trigger data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC [Template]'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/transactions/refund": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is already refunded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'1": {
      "main": [
        [
          {
            "node": "DEV bot/subscription/cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/subscription/cancel": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC [Template]'": {
      "main": [
        [
          {
            "node": "DEV bot/transactions/refund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test4": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'": {
      "main": [
        [
          {
            "node": "DEV bot/search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search": {
      "main": [
        [
          {
            "node": "Is cancelled or cancelling",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Is cancelled or cancelling": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is already refunded": {
      "main": [
        [
          {
            "node": "Set alreadyRefunded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Check Refunded Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Refunded Transaction": {
      "main": [
        [
          {
            "node": "Refund Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refund Found?": {
      "main": [
        [
          {
            "node": "Set alreadyRefunded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set alreadyRefunded": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set request data test4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "02824c7c-13c1-470d-9f1f-5d2605284a77",
  "activeVersionId": "02824c7c-13c1-470d-9f1f-5d2605284a77",
  "versionCounter": 153,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-12T19:20:41.627Z",
      "createdAt": "2026-05-12T19:20:41.627Z",
      "role": "workflow:owner",
      "workflowId": "7LOTBpIs2AT0k6MA",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-04T16:05:43.000Z",
    "createdAt": "2026-06-04T14:26:01.587Z",
    "versionId": "02824c7c-13c1-470d-9f1f-5d2605284a77",
    "workflowId": "7LOTBpIs2AT0k6MA",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "ebecc24f-a372-4824-bd5e-2e6896715c3f",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1536,
          1280
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Edit Fields1, Split Out, etc.) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.foo\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
        },
        "id": "f65ade53-0350-4c84-aa48-1246ec5891e5",
        "name": "Restore trigger data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -960,
          1280
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "lovestyle_dev",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "248a79e5-7077-43bf-a6f3-501d62fbf7f6",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1328,
          1280
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "b1669d22-677b-48f0-944d-fe40a73906a0",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -1136,
          1280
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "transactionToRefund",
          "options": {}
        },
        "id": "3c5f4b68-b360-4349-9939-e92aa8a22759",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -624,
          768
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "refund",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "transactionId",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "f421144e-a3a3-425e-9893-8ac75f0785a7",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -400,
          768
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/transactions/refund",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "087d9c25-6517-49ec-891b-4affca24221f",
        "name": "DEV bot/transactions/refund",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          48,
          768
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "3c1de607-3ed1-4f4f-8a2b-acc85c3cc098",
        "name": "Aggregate1",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          3184,
          1232
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $node[\"DEV bot/transactions/refund\"].json[\"error\"][\"message\"] }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "f856f4c6-cfbe-4df3-9f21-a7d455bc012e",
        "name": "Reply internally and set status to open",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1456,
          1360
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AUABW5ZPZ",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors-dev"
          },
          "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $node[\"DEV bot/transactions/refund\"].json[\"body\"][\"transactionId\"] }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "4b5e111f-6aaf-4d98-b64c-3b260ae605b3",
        "name": "Send a message1",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          1680,
          1360
        ],
        "webhookId": "5d80082f-6279-45e0-940b-6928032c98a5",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "immediateCancellation",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "subscriptionId",
                "value": "={{ $json.body.subscriptionId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ce3e5eb6-b83d-4a6d-9958-91b2e7db745f",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1136,
          2032
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9dHFAZqAbAj42xR3",
            "mode": "list",
            "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
            "cachedResultName": "Operations Department — CS - HMAC [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "80661536-3ed3-4a75-8f4c-b015ca174dfd",
        "name": "Call 'CS - HMAC'1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1360,
          2032
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/subscriptions/cancel",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "7870f62c-12d0-40b5-aabe-73528b0c293d",
        "name": "DEV bot/subscription/cancel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1584,
          2032
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "a2dec1f3-01ea-4b41-8e6e-91439bd9e396",
        "name": "Reply internally and set status to open1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1840,
          2192
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AUABW5ZPZ",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors-dev"
          },
          "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "58b772c9-ac18-4146-b565-4a32ca924e0e",
        "name": "Send a message",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          2064,
          2192
        ],
        "webhookId": "3e33fccc-5430-4afd-a0c1-f6889232e9b5",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Template configuration\n\n**Set project_key** holds the hardcoded deployment key.\n**Get Project Config** provides `payments_api_base_url` and `slack_automation_errors_channel_id`.\n\nOther values (zendeskDomain, ticketID, ticketCustomStatusID, subscriptionID) come from the caller.\n\n## To duplicate\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Re-bind credentials and subworkflow IDs.",
          "height": 220,
          "width": 700,
          "color": 5
        },
        "id": "034fe375-eb4a-45a2-a328-ff9153fcbe44",
        "name": "Sticky Note af6f63d0",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1584,
          1616
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9dHFAZqAbAj42xR3",
            "mode": "list",
            "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
            "cachedResultName": "Operations Department — CS - HMAC [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "e1c7deb8-be7b-486f-9297-4d30a8468165",
        "name": "Call 'CS - HMAC [Template]'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -176,
          768
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Get Project Config').first().json.payments_api_base_url }}/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -96,
          1872
        ],
        "id": "87d3e9ed-363e-4015-a035-2e06b5329b6d",
        "name": "DEV bot/search",
        "retryOnFail": false
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={  \n\"requestType\": \"search\",\n\"email\":\"{{ $('When Executed by Another Workflow').item.json.customerEmail }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -496,
          1872
        ],
        "id": "72565811-9b40-4436-bda3-875b4aa8d1e2",
        "name": "Set request data test4"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9dHFAZqAbAj42xR3",
            "mode": "list",
            "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
            "cachedResultName": "Operations Department — CS - HMAC [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -288,
          1872
        ],
        "id": "ba33be2f-8b95-40b5-a68f-ccdb4084fe0a",
        "name": "Call 'CS - HMAC'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d00a760b-af9a-4975-8525-925805433804",
                "leftValue": "={{ $json.body.subscriptionStatus }}",
                "rightValue": "cancelled",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "e5d7597b-2568-430c-810d-00094bcf56dd",
                "leftValue": "={{ $json.body.subscriptionStatus }}",
                "rightValue": "cancelling",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          896,
          1872
        ],
        "id": "cbdb2137-892c-4872-a048-d149db247700",
        "name": "Is cancelled or cancelling"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a508cca8-6ec7-44dd-b9bb-77dffc4cf18d",
                "leftValue": "={{ $json.error.message }}",
                "rightValue": "transactionAlreadyRefunded",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          1200
        ],
        "id": "b127519c-8aef-4034-9fa1-b54da6d905c9",
        "name": "Is already refunded"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          704,
          1344
        ],
        "id": "0406ba0d-e9f4-4402-b817-1b17b16ed10d",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "// === Check if a transaction ID is in the refundedTransactions array ===\n// Mode: \"Run Once for All Items\".\n\nconst body = ($input.first()?.json ?? {}).body ?? {};\n\n// 1) The ID to look for.\nconst targetId = String(body.transactionId ?? '').trim().toLowerCase();\n\n// 2) The array to search.\nconst refunded = body.refundedTransactions ?? [];\nconst list = Array.isArray(refunded) ? refunded : [];\n\n// 3) First element whose top-level id matches (provider.id is ignored).\nconst match = targetId\n  ? list.find((el) => String(el?.id ?? '').trim().toLowerCase() === targetId)\n  : undefined;\n\n// 4) Output the decision (+ the matched element, for logging/branching).\nreturn [{\n  json: {\n    targetId,\n    found: !!match,\n    matchedTransaction: match ?? null,\n  },\n}];\n"
        },
        "id": "cd096175-3772-46c9-8a2f-8e9b505a3283",
        "name": "Check Refunded Transaction",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          944,
          1344
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d0000000-0000-4000-8000-000000000001",
                "leftValue": "={{ $json.found }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "69c9a36b-a09c-40e2-a5a0-51722675eebf",
        "name": "Refund Found?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1168,
          1344
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ad65ba9f-9af4-4e88-a265-a659ca59d86a",
                "name": "alreadyRefunded",
                "value": true,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1456,
          1200
        ],
        "id": "93245f8d-9ef0-42ff-a2e7-733e11af5ff0",
        "name": "Set alreadyRefunded"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2928,
          1232
        ],
        "id": "2dc32bda-004c-43c8-b0da-5f1b8fc6a48b",
        "name": "Merge1"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -656,
          1872
        ],
        "id": "fe34f91b-93ef-431c-b1ee-9b5e7e4a8a5b",
        "name": "Wait",
        "webhookId": "f90e6605-3011-49ee-aaed-55e13ae72e18"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Restore trigger data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore trigger data": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            },
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC [Template]'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/transactions/refund": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is already refunded",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'1": {
        "main": [
          [
            {
              "node": "DEV bot/subscription/cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/subscription/cancel": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC [Template]'": {
        "main": [
          [
            {
              "node": "DEV bot/transactions/refund",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test4": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'": {
        "main": [
          [
            {
              "node": "DEV bot/search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/search": {
        "main": [
          [
            {
              "node": "Is cancelled or cancelling",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Is cancelled or cancelling": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is already refunded": {
        "main": [
          [
            {
              "node": "Set alreadyRefunded",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Check Refunded Transaction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Refunded Transaction": {
        "main": [
          [
            {
              "node": "Refund Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Refund Found?": {
        "main": [
          [
            {
              "node": "Set alreadyRefunded",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set alreadyRefunded": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Send a message1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Set request data test4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 02824c7c",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-04T16:05:43.861Z",
        "id": 911,
        "workflowId": "7LOTBpIs2AT0k6MA",
        "versionId": "02824c7c-13c1-470d-9f1f-5d2605284a77",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}