workflows/CS_-_Cancellation_request__tdv4R9Y7iJVHy02Y.json
{
  "updatedAt": "2026-05-12T19:09:30.576Z",
  "createdAt": "2026-05-07T13:48:59.730Z",
  "id": "tdv4R9Y7iJVHy02Y",
  "name": "CS - Cancellation request",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 33859110196637,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 33825964522269,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 33838126178205,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "cancellation___subscription",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -80
      ],
      "id": "1f049ddb-d6f3-47c3-9fc0-b1fd655958e9",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bH7O8AaqR6d7D9vM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -96,
        -80
      ],
      "id": "acc3128e-7a0b-420c-ba84-227ee7102d6a",
      "name": "Update zendesk ticket"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 33859128356125,
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 33825964522269,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 33838126178205,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "cancellation___subscription",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -304
      ],
      "id": "ba6f6e4c-537f-4dd4-a7cf-2d0f25df2f2b",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bH7O8AaqR6d7D9vM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -96,
        -304
      ],
      "id": "a9bf2ab1-afb5-481b-8538-b9f76b03125f",
      "name": "Update zendesk ticket4"
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
        "height": 224,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -128
      ],
      "id": "f6e3affb-efcf-4daa-baef-53e0b1e615d7",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -368
      ],
      "id": "ba040e86-1478-440f-8456-0a2606346a6f",
      "name": "Sticky Note51"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "subscriptionAlreadyCancelled",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -592,
        -64
      ],
      "id": "429631b5-32ae-4c17-bc16-16ca08cd4b55",
      "name": "Is already cancelled1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.lovestyle.co/api/payments/v1/bot/subscriptions/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -944,
        -288
      ],
      "id": "8bb93495-5779-4c0b-8296-66d1c6efe708",
      "name": "DEV bot/subscription/cancel2",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qxTEejN1ZY0EHjVD",
          "mode": "list",
          "cachedResultUrl": "/workflow/qxTEejN1ZY0EHjVD",
          "cachedResultName": "Operations Department — CS - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1152,
        -288
      ],
      "id": "d53a545b-1872-4332-a896-e3c2648b989f",
      "name": "Call 'CS - HMAC'2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "cancellation",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "subscriptionId",
              "value": "={{ $json.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "4a784303-6f90-4bcc-b000-f089cb649d20",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "7df9eeea-8dff-4e69-a686-b760d4199f6a",
              "name": "ticketID",
              "value": "={{ $json.ticketID }}",
              "type": "string"
            },
            {
              "id": "5b462efb-eaf1-48fc-9e35-48f6e4e185c3",
              "name": "ticketCustomStatusID",
              "value": "33825964519453",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        -288
      ],
      "id": "f5e1c82e-ff01-4235-9953-231690f2cd98",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel2').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('Edit Fields3').item.json.subscriptionID }}\n- Ticket ID: {{ $('Edit Fields3').item.json.ticketID }}\n- URL: https://{{ $('Edit Fields3').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('Edit Fields3').item.json.ticketID }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -96,
        160
      ],
      "id": "12cb5dcd-cea2-4ac0-8a72-332a0eb01d60",
      "name": "Send a message4",
      "webhookId": "a577490b-7658-4f5f-ab6c-8b146b5d864d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Edit Fields3').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('Edit Fields3').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('Edit Fields3').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        160
      ],
      "id": "32303f96-52ab-46fd-aad5-605d4446c3c6",
      "name": "Reply internally and set status to open1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1648,
        -288
      ],
      "id": "66495b2b-79c8-49d4-b6ad-1ee5fdef3fa4",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Update zendesk ticket4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is already cancelled1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/subscription/cancel2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is already cancelled1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'2": {
      "main": [
        [
          {
            "node": "DEV bot/subscription/cancel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "subscriptionId": "3397b16d-120f-4c4b-a47c-90241faf2268",
          "ticketID": 308,
          "isTranslated": false,
          "originalLanguage": "en"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "dcd7ea75-dd5d-4c4f-b325-40ff78fa60f8",
  "activeVersionId": "dcd7ea75-dd5d-4c4f-b325-40ff78fa60f8",
  "versionCounter": 41,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-07T13:48:59.733Z",
      "createdAt": "2026-05-07T13:48:59.733Z",
      "role": "workflow:owner",
      "workflowId": "tdv4R9Y7iJVHy02Y",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-07T13:59:59.000Z",
    "createdAt": "2026-05-07T13:58:10.550Z",
    "versionId": "dcd7ea75-dd5d-4c4f-b325-40ff78fa60f8",
    "workflowId": "tdv4R9Y7iJVHy02Y",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "efuturechatbot",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": 33859110196637,
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": 33825964522269,
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": 33838126178205,
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "cancellation___subscription",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -320,
          -80
        ],
        "id": "1f049ddb-d6f3-47c3-9fc0-b1fd655958e9",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "bH7O8AaqR6d7D9vM",
            "mode": "list",
            "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
            "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -96,
          -80
        ],
        "id": "acc3128e-7a0b-420c-ba84-227ee7102d6a",
        "name": "Update zendesk ticket"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "efuturechatbot",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": 33859128356125,
                "type": "number"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": 33825964522269,
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": 33838126178205,
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "cancellation___subscription",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -320,
          -304
        ],
        "id": "ba6f6e4c-537f-4dd4-a7cf-2d0f25df2f2b",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "bH7O8AaqR6d7D9vM",
            "mode": "list",
            "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
            "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -96,
          -304
        ],
        "id": "a9bf2ab1-afb5-481b-8538-b9f76b03125f",
        "name": "Update zendesk ticket4"
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
          "height": 224,
          "width": 352,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          -128
        ],
        "id": "f6e3affb-efcf-4daa-baef-53e0b1e615d7",
        "name": "Sticky Note50"
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          160,
          -368
        ],
        "id": "ba040e86-1478-440f-8456-0a2606346a6f",
        "name": "Sticky Note51"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
                "leftValue": "={{ $json.error.message }}",
                "rightValue": "subscriptionAlreadyCancelled",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -592,
          -64
        ],
        "id": "429631b5-32ae-4c17-bc16-16ca08cd4b55",
        "name": "Is already cancelled1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://dev.lovestyle.co/api/payments/v1/bot/subscriptions/cancel",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -944,
          -288
        ],
        "id": "8bb93495-5779-4c0b-8296-66d1c6efe708",
        "name": "DEV bot/subscription/cancel2",
        "retryOnFail": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "qxTEejN1ZY0EHjVD",
            "mode": "list",
            "cachedResultUrl": "/workflow/qxTEejN1ZY0EHjVD",
            "cachedResultName": "Operations Department — CS - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1152,
          -288
        ],
        "id": "d53a545b-1872-4332-a896-e3c2648b989f",
        "name": "Call 'CS - HMAC'2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "cancellation",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "subscriptionId",
                "value": "={{ $json.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "4a784303-6f90-4bcc-b000-f089cb649d20",
                "name": "zendeskDomain",
                "value": "efuturechatbot",
                "type": "string"
              },
              {
                "id": "7df9eeea-8dff-4e69-a686-b760d4199f6a",
                "name": "ticketID",
                "value": "={{ $json.ticketID }}",
                "type": "string"
              },
              {
                "id": "5b462efb-eaf1-48fc-9e35-48f6e4e185c3",
                "name": "ticketCustomStatusID",
                "value": "33825964519453",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1360,
          -288
        ],
        "id": "f5e1c82e-ff01-4235-9953-231690f2cd98",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel2').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('Edit Fields3').item.json.subscriptionID }}\n- Ticket ID: {{ $('Edit Fields3').item.json.ticketID }}\n- URL: https://{{ $('Edit Fields3').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('Edit Fields3').item.json.ticketID }}",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          -96,
          160
        ],
        "id": "12cb5dcd-cea2-4ac0-8a72-332a0eb01d60",
        "name": "Send a message4",
        "webhookId": "a577490b-7658-4f5f-ab6c-8b146b5d864d",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('Edit Fields3').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('Edit Fields3').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $('Edit Fields3').item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -320,
          160
        ],
        "id": "32303f96-52ab-46fd-aad5-605d4446c3c6",
        "name": "Reply internally and set status to open1",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1648,
          -288
        ],
        "id": "66495b2b-79c8-49d4-b6ad-1ee5fdef3fa4",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Update zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Update zendesk ticket4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is already cancelled1": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/subscription/cancel2": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is already cancelled1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'2": {
        "main": [
          [
            {
              "node": "DEV bot/subscription/cancel2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open1": {
        "main": [
          [
            {
              "node": "Send a message4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version dcd7ea75",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-07T13:59:59.528Z",
        "id": 593,
        "workflowId": "tdv4R9Y7iJVHy02Y",
        "versionId": "dcd7ea75-dd5d-4c4f-b325-40ff78fa60f8",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-07T14:00:10.822Z",
        "id": 595,
        "workflowId": "tdv4R9Y7iJVHy02Y",
        "versionId": "dcd7ea75-dd5d-4c4f-b325-40ff78fa60f8",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-12T19:09:30.731Z",
        "id": 619,
        "workflowId": "tdv4R9Y7iJVHy02Y",
        "versionId": "dcd7ea75-dd5d-4c4f-b325-40ff78fa60f8",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-07T14:00:10.698Z",
        "id": 594,
        "workflowId": "tdv4R9Y7iJVHy02Y",
        "versionId": "dcd7ea75-dd5d-4c4f-b325-40ff78fa60f8",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-12T19:09:30.649Z",
        "id": 618,
        "workflowId": "tdv4R9Y7iJVHy02Y",
        "versionId": "dcd7ea75-dd5d-4c4f-b325-40ff78fa60f8",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}