workflows/CS_-_Refund_and_cancellation_request__gkKOGacZOiXZBG80.json
{
  "updatedAt": "2026-04-23T08:58:40.196Z",
  "createdAt": "2026-01-27T18:55:07.463Z",
  "id": "gkKOGacZOiXZBG80",
  "name": "CS - Refund and cancellation request",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -928,
        -272
      ],
      "id": "309434fa-73b9-4b27-a4fc-73314aacf7c9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.lovestyle.co/api/payments/v1/bot/transactions/refund",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transactionId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -432,
        720
      ],
      "id": "c30b14c0-8755-438f-93e7-a396e81d84c2",
      "name": "DEV bot/transactions/refund2",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "HaES6bposurOYHPn",
          "name": "Lovestyle bot dev token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.lovestyle.co/api/payments/v1/bot/subscriptions/cancel",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"subscriptionId\":\"{{ $json.subscriptionID }}\",\n\"cancelImmediately\":true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        720
      ],
      "id": "48279046-9773-4869-982c-c4cb4b28fff7",
      "name": "DEV bot/subscription/cancel2",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "HaES6bposurOYHPn",
          "name": "Lovestyle bot dev token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1008,
        192
      ],
      "id": "c0128af9-6366-4357-8379-3ee486f75148",
      "name": "Send a message",
      "webhookId": "a577490b-7658-4f5f-ab6c-8b146b5d864d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "fLzlZoosiZzuozE1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        192
      ],
      "id": "3e12dd1c-7d54-4338-9a8b-23882d426d8e",
      "name": "Reply internally and set status to open1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "transactionToRefund",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -560,
        -528
      ],
      "id": "db336ade-51a1-49b2-821f-74660f257b62",
      "name": "Split Out"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $('DEV bot/transactions/refund').item.json.id }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        624,
        -320
      ],
      "id": "d0d8d3fd-3a83-45e9-a965-58ae9c94f16d",
      "name": "Send a message1",
      "webhookId": "a577490b-7658-4f5f-ab6c-8b146b5d864d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "fLzlZoosiZzuozE1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -320
      ],
      "id": "95579a57-de56-4956-b75d-1de38ab36c69",
      "name": "Reply internally and set status to open",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        -544
      ],
      "id": "cfc87894-b4a6-4945-9400-fd61575cbf9f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "Case where the subscription is already cancelled but the user requests a refund is a valid one!\nIf subscriptionID == null then the subscription is already cancelled and we should proceed with the refund, for all other errors the regular error handling is active",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        688
      ],
      "id": "ae03562b-c93c-4311-8e18-8a08654ae570",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1216,
        -240
      ],
      "id": "9409fea6-9b95-4a9a-9af4-f20025dbc8e1",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "subscriptionAlreadyCancelled",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        96
      ],
      "id": "3349fdee-f3da-41bb-ac95-029bbe0d6733",
      "name": "Is already cancelled"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qxTEejN1ZY0EHjVD",
          "mode": "list",
          "cachedResultUrl": "/workflow/qxTEejN1ZY0EHjVD",
          "cachedResultName": "Operations Department — CS - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -160,
        -528
      ],
      "id": "5bc5c1a3-5c99-41a8-ad13-c5a7bee0562a",
      "name": "Call 'CS - HMAC'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "refund",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "transactionId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -528
      ],
      "id": "1c3296dd-2da8-44dc-a9f0-195e74b353dd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.lovestyle.co/api/payments/v1/bot/transactions/refund",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        -528
      ],
      "id": "8379f1df-4bda-4fcb-a30b-5545e8fc58c1",
      "name": "DEV bot/transactions/refund",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.lovestyle.co/api/payments/v1/bot/subscriptions/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        -32
      ],
      "id": "7e57ae5a-2cb6-405f-9d64-a0d32b10ab11",
      "name": "DEV bot/subscription/cancel",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qxTEejN1ZY0EHjVD",
          "mode": "list",
          "cachedResultUrl": "/workflow/qxTEejN1ZY0EHjVD",
          "cachedResultName": "Operations Department — CS - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -144,
        -32
      ],
      "id": "e0b9e56c-977f-4945-bd01-aa59279bcd82",
      "name": "Call 'CS - HMAC'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "cancellation",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "subscriptionId",
              "value": "={{ $json.subscriptionID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -32
      ],
      "id": "7773eb67-f701-4ee6-82c7-01674469e58c",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/transactions/refund2": {
      "main": [
        [],
        []
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/subscription/cancel2": {
      "main": [
        [],
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Is already cancelled": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'": {
      "main": [
        [
          {
            "node": "DEV bot/transactions/refund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/transactions/refund": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/subscription/cancel": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is already cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'1": {
      "main": [
        [
          {
            "node": "DEV bot/subscription/cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8de488a8-67ef-41ae-af56-2828ec67acbf",
  "activeVersionId": "8de488a8-67ef-41ae-af56-2828ec67acbf",
  "versionCounter": 295,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-27T18:55:07.468Z",
      "createdAt": "2026-01-27T18:55:07.468Z",
      "role": "workflow:owner",
      "workflowId": "gkKOGacZOiXZBG80",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-16T08:52:38.000Z",
    "createdAt": "2026-04-16T08:49:08.378Z",
    "versionId": "8de488a8-67ef-41ae-af56-2828ec67acbf",
    "workflowId": "gkKOGacZOiXZBG80",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -928,
          -272
        ],
        "id": "309434fa-73b9-4b27-a4fc-73314aacf7c9",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://dev.lovestyle.co/api/payments/v1/bot/transactions/refund",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "transactionId",
                "value": "={{ $json.id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -432,
          720
        ],
        "id": "c30b14c0-8755-438f-93e7-a396e81d84c2",
        "name": "DEV bot/transactions/refund2",
        "retryOnFail": false,
        "credentials": {
          "httpBearerAuth": {
            "id": "HaES6bposurOYHPn",
            "name": "Lovestyle bot dev token"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://dev.lovestyle.co/api/payments/v1/bot/subscriptions/cancel",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n\"subscriptionId\":\"{{ $json.subscriptionID }}\",\n\"cancelImmediately\":true\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -688,
          720
        ],
        "id": "48279046-9773-4869-982c-c4cb4b28fff7",
        "name": "DEV bot/subscription/cancel2",
        "retryOnFail": false,
        "credentials": {
          "httpBearerAuth": {
            "id": "HaES6bposurOYHPn",
            "name": "Lovestyle bot dev token"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          1008,
          192
        ],
        "id": "c0128af9-6366-4357-8379-3ee486f75148",
        "name": "Send a message",
        "webhookId": "a577490b-7658-4f5f-ab6c-8b146b5d864d",
        "credentials": {
          "slackOAuth2Api": {
            "id": "fLzlZoosiZzuozE1",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $('When Executed by Another Workflow').item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          784,
          192
        ],
        "id": "3e12dd1c-7d54-4338-9a8b-23882d426d8e",
        "name": "Reply internally and set status to open1",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "transactionToRefund",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -560,
          -528
        ],
        "id": "db336ade-51a1-49b2-821f-74660f257b62",
        "name": "Split Out"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $('DEV bot/transactions/refund').item.json.id }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          624,
          -320
        ],
        "id": "d0d8d3fd-3a83-45e9-a965-58ae9c94f16d",
        "name": "Send a message1",
        "webhookId": "a577490b-7658-4f5f-ab6c-8b146b5d864d",
        "credentials": {
          "slackOAuth2Api": {
            "id": "fLzlZoosiZzuozE1",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $('When Executed by Another Workflow').item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          400,
          -320
        ],
        "id": "95579a57-de56-4956-b75d-1de38ab36c69",
        "name": "Reply internally and set status to open",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "message"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          624,
          -544
        ],
        "id": "cfc87894-b4a6-4945-9400-fd61575cbf9f",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "content": "Case where the subscription is already cancelled but the user requests a refund is a valid one!\nIf subscriptionID == null then the subscription is already cancelled and we should proceed with the refund, for all other errors the regular error handling is active",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -192,
          688
        ],
        "id": "ae03562b-c93c-4311-8e18-8a08654ae570",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1216,
          -240
        ],
        "id": "9409fea6-9b95-4a9a-9af4-f20025dbc8e1",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
                "leftValue": "={{ $json.error.message }}",
                "rightValue": "subscriptionAlreadyCancelled",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          384,
          96
        ],
        "id": "3349fdee-f3da-41bb-ac95-029bbe0d6733",
        "name": "Is already cancelled"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "qxTEejN1ZY0EHjVD",
            "mode": "list",
            "cachedResultUrl": "/workflow/qxTEejN1ZY0EHjVD",
            "cachedResultName": "Operations Department — CS - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -160,
          -528
        ],
        "id": "5bc5c1a3-5c99-41a8-ad13-c5a7bee0562a",
        "name": "Call 'CS - HMAC'"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "refund",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "transactionId",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -368,
          -528
        ],
        "id": "1c3296dd-2da8-44dc-a9f0-195e74b353dd",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://dev.lovestyle.co/api/payments/v1/bot/transactions/refund",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          48,
          -528
        ],
        "id": "8379f1df-4bda-4fcb-a30b-5545e8fc58c1",
        "name": "DEV bot/transactions/refund",
        "retryOnFail": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://dev.lovestyle.co/api/payments/v1/bot/subscriptions/cancel",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          48,
          -32
        ],
        "id": "7e57ae5a-2cb6-405f-9d64-a0d32b10ab11",
        "name": "DEV bot/subscription/cancel",
        "retryOnFail": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "qxTEejN1ZY0EHjVD",
            "mode": "list",
            "cachedResultUrl": "/workflow/qxTEejN1ZY0EHjVD",
            "cachedResultName": "Operations Department — CS - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -144,
          -32
        ],
        "id": "e0b9e56c-977f-4945-bd01-aa59279bcd82",
        "name": "Call 'CS - HMAC'1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "cancellation",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "subscriptionId",
                "value": "={{ $json.subscriptionID }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -352,
          -32
        ],
        "id": "7773eb67-f701-4ee6-82c7-01674469e58c",
        "name": "Edit Fields1"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/transactions/refund2": {
        "main": [
          [],
          []
        ]
      },
      "Reply internally and set status to open1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/subscription/cancel2": {
        "main": [
          [],
          []
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          []
        ]
      },
      "Send a message1": {
        "main": [
          []
        ]
      },
      "Is already cancelled": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'": {
        "main": [
          [
            {
              "node": "DEV bot/transactions/refund",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/transactions/refund": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/subscription/cancel": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is already cancelled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'1": {
        "main": [
          [
            {
              "node": "DEV bot/subscription/cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 8de488a8",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-16T08:52:38.010Z",
        "id": 456,
        "workflowId": "gkKOGacZOiXZBG80",
        "versionId": "8de488a8-67ef-41ae-af56-2828ec67acbf",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-04-23T08:58:40.401Z",
        "id": 500,
        "workflowId": "gkKOGacZOiXZBG80",
        "versionId": "8de488a8-67ef-41ae-af56-2828ec67acbf",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-04-23T08:58:40.294Z",
        "id": 499,
        "workflowId": "gkKOGacZOiXZBG80",
        "versionId": "8de488a8-67ef-41ae-af56-2828ec67acbf",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}