workflows/CS_-_New_policy_refund_cycle__zsskplcSGizXdB9R.json
{
  "updatedAt": "2026-04-28T11:51:21.792Z",
  "createdAt": "2026-02-25T22:32:47.855Z",
  "id": "zsskplcSGizXdB9R",
  "name": "CS - New policy refund cycle",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38f8b03a-a7be-4778-9553-3f567b373ffd",
              "leftValue": "={{ $('Zendesk Trigger').item.json[\"ticket.ticket_field_33841769865629\"] }}",
              "rightValue": "in_automation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        208
      ],
      "id": "a5f50a8b-170c-4f3d-b761-2b3faba4e3b2",
      "name": "Is chatbot classification == in automation"
    },
    {
      "parameters": {
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        192
      ],
      "id": "3d319f37-bc97-4026-b2cd-0db6273547a7",
      "name": "Get ticket comments",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d667f59-15ca-4630-a999-073a5715ea7b",
              "leftValue": "={{ $json.comments.length }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        192
      ],
      "id": "4e14d3fb-5a37-4b76-b068-37ee85fb22fe",
      "name": "More than 6 messages"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket exceeded the maximum automated exchanges between the AI and the customer. Please take over this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "33825964519453"
            },
            {
              "name": "ticketCustomFieldID",
              "value": "33841769865629"
            },
            {
              "name": "ticketCustomFieldValue",
              "value": "none"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        -112
      ],
      "id": "a7f2a1b1-61d0-4e5a-ba7f-bef97fe98691",
      "name": "Reply to internally and set status to open2",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -160
      ],
      "id": "1cf9358b-1f26-4a67-835f-01df09c48f26",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2000,
        368
      ],
      "id": "8d976b41-47bb-4667-8bde-495df4b0674a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json[\"ticket.description\"] }}",
        "categories": {
          "categories": [
            {
              "category": "Text is not in English"
            },
            {
              "category": "Text is in English"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -2096,
        192
      ],
      "id": "dc40fda3-9711-43c1-a154-a57ad123b23e",
      "name": "Check ticket language1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=Title: {{ $json[\"ticket.title\"] }}\nDescription: {{ $json[\"ticket.description\"] }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1760,
        32
      ],
      "id": "ee2a6a05-1a2d-4871-a32d-d09ef967ebb7",
      "name": "Translate ticket to english1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Zendesk Trigger').item.json[\"ticket.id\"] }},\n    \"title\": \"{{ $('Zendesk Trigger').item.json[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Zendesk Trigger').item.json[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $('Zendesk Trigger').item.json[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $('Zendesk Trigger').item.json[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage || \"en\"}}\",\n    \"is_translated\":{{(()=>{\n  let originalLanguage = $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage;\n  return originalLanguage?true:false;\n})()}},\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.title || \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.description || \"\"}}\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        32
      ],
      "id": "a925cb0c-b653-4443-8b1f-935544563e15",
      "name": "Set translated request data test1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $json['ticket.id'] }},\n    \"title\": \"{{ $json['ticket.title'] }}\",\n    \"description\": \"{{ $json['ticket.description'] }}\",\n    \"ticket_url\": \"{{ $json['ticket.url'] }}\",\n    \"user_email\": \"{{ $json['ticket.requester.email'] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\":false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        208
      ],
      "id": "c4638705-003a-457b-9319-f1cca996863a",
      "name": "Set request data test2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1200,
        208
      ],
      "id": "c61139c1-531e-4bf0-8550-8e978d8d4f4c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## Check for extreme dissatisfaction ",
        "height": 144,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        416
      ],
      "id": "5bf3bc06-2528-4886-a406-f66adbb1ae8b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=Customer's messages: {{ $json.customer_messages }}"
            },
            {
              "role": "system",
              "content": "You are a risk-triage classifier for customer support tickets.\n\nGoal:\nClassify whether a customer ticket is EXTREMELY_HIGH_RISK, based strictly on the content of the ticket’s title + description.\n\nEXTREMELY_HIGH_RISK definition (any of these is sufficient):\n1) Legal escalation threats or intent:\n   - Threatens to sue, take legal action, file a lawsuit, go to court, contact an attorney, pursue “class action” or “small claims.”\n2) Regulatory / government / watchdog complaints:\n   - Threatens or claims they will file complaints with regulators, consumer protection agencies, attorney general, FTC, data protection authority (e.g., GDPR/ICO), ombudsman, or similar.\n3) Payment reversal / fraud dispute escalation:\n   - Mentions chargeback, disputing with bank/card/PayPal, unauthorized transaction, fraud report, reversing payment.\n4) Public exposure / reputational threats:\n   - Threatens to go public, contact media/journalists, post widely on social media, “expose” the company, coordinated negative reviews.\n5) Safety / harm allegations:\n   - Claims product/service caused injury, danger, medical harm, serious safety hazard, or a serious data breach involving personal data exposure.\n\nImportant classification rules:\n- Use the ticket content only. Do not assume facts not stated.\n- Distinguish THREATS/INTENT (“I will sue”, “I’m filing a complaint”) from mild frustration.\n- Handle negation and hypotheticals carefully (“I’m not going to sue” is NOT a legal threat).\n- If the customer is asking a question about legality without threat (“Is this legal?”) it is NOT EXTREMELY_HIGH_RISK unless they express intent to escalate.\n- If uncertain, err on the side of NOT labeling extremely high risk unless there is clear evidence.\n\nOutput requirements:\nReturn a JSON object with:\n- \"risk_level\": one of [\"EXTREMELY_HIGH_RISK\",\"NOT_EXTREMELY_HIGH_RISK\"]\n- \"risk_signals\": array of short strings naming the triggers detected (e.g., [\"legal_threat\",\"chargeback_threat\"])\n\n\nDo not include any other keys. Do not add commentary."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        464,
        208
      ],
      "id": "6cbc1c0a-0ac9-420b-8394-56693caca2ac",
      "name": "Extreme dissatisfaction check",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "plain_body",
              "renameField": true,
              "outputFieldName": "customer_messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        192,
        208
      ],
      "id": "76a34c12-7578-47dd-97d3-183758669f6f",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "comments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -288,
        208
      ],
      "id": "bf28c3cc-67b8-45c4-a86f-6e389258cb1f",
      "name": "Split Out all comments"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "66593e74-e120-4b7b-aeba-d4746ea0d5fe",
              "leftValue": "={{ $json.via.channel }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -48,
        208
      ],
      "id": "c359db83-8913-435c-af8d-2e98f561de37",
      "name": "Filter out customer comments"
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Chatbot class: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        -144
      ],
      "id": "1a955bfa-b139-455e-bd92-faf261097bdf",
      "name": "Sticky Note47"
    },
    {
      "parameters": {
        "content": "## Check number of exchanged messages",
        "height": 144,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        416
      ],
      "id": "1108c795-3404-4aa8-aa73-bec645dff3e6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 34331096075421,
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 33825964522269,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 33838126178205,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "refund___rejection",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        144
      ],
      "id": "669e8bd3-d06b-446c-a2ae-cc8faca9b6bd",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bH7O8AaqR6d7D9vM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1824,
        144
      ],
      "id": "355bd93d-4943-4da7-ac1a-12a2c8abcc00",
      "name": "Update zendesk ticket4"
    },
    {
      "parameters": {
        "content": "## Continue rejection flow\n## Category: Refund rejection\n## Status: Solved\n## Macro?",
        "height": 320,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2928,
        592
      ],
      "id": "8ffef9e5-25b9-44c0-bc3d-3e7ff873b8ab",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://efuturechatbot.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been classified as \"high risk\" by the AI. Please take over this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "33825964519453"
            },
            {
              "name": "ticketCustomFieldID",
              "value": "33841769865629"
            },
            {
              "name": "ticketCustomFieldValue",
              "value": "none"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        -96
      ],
      "id": "29aaa7db-2d93-4bcc-848f-627dea84b8c0",
      "name": "Reply to internally and set status to open3",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38f8b03a-a7be-4778-9553-3f567b373ffd",
              "leftValue": "={{ $item(\"0\").$node[\"Extreme dissatisfaction check\"].json[\"output\"][\"0\"][\"content\"][\"0\"][\"text\"][\"risk_level\"] }}",
              "rightValue": "EXTREMELY_HIGH_RISK",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        208
      ],
      "id": "0658c91a-a0cc-4db5-b777-1b988a74200c",
      "name": "Is high risk"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d667f59-15ca-4630-a999-073a5715ea7b",
              "leftValue": "={{ $('Get ticket comments').item.json.comments.length }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        368
      ],
      "id": "96d5a21f-fb2b-45a2-b6fc-5a22f50a5578",
      "name": "Is first complaint"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 34331128963869,
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 33825964522269,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 33838126178205,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "refund___rejection",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        512
      ],
      "id": "77810271-96ed-4a0f-841b-dfb01e7d1b70",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bH7O8AaqR6d7D9vM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bH7O8AaqR6d7D9vM",
          "cachedResultName": "Operations Department — Dev - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1824,
        512
      ],
      "id": "ff7ea32f-08dc-4639-af77-8dd2958efbd7",
      "name": "Update zendesk ticket"
    },
    {
      "parameters": {
        "content": "## FIrst complaint\n## Status: solved\n## Category: refund rejection\n## Chatbot class: unchanged\n\n",
        "height": 208,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        128
      ],
      "id": "dd5dc22f-66b2-4551-847d-871c4f04eac2",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "## FIrst complaint\n## Status: solved\n## Category: refund rejection\n## Chatbot class: unchanged\n\n",
        "height": 208,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        464
      ],
      "id": "7553756e-e17d-46b6-8277-f655c6d4b742",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "options": {
          "fields": [
            "ticket.title",
            "ticket.description",
            "ticket.url",
            "ticket.id",
            "ticket.status",
            "ticket.requester.email",
            "ticket.ticket_field_33744829813533",
            "ticket.ticket_field_33841769865629"
          ]
        },
        "conditions": {
          "all": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        -2272,
        192
      ],
      "id": "904637bc-a021-420d-934d-216c776b089c",
      "name": "Zendesk Trigger",
      "webhookId": "745aa86b-ff88-42d6-a8f9-c9cb8b96292f",
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "## filtering by email isn't correct!\n",
        "height": 192,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        352
      ],
      "id": "c134d944-5bbc-495e-b6c3-5c77077774eb",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Is chatbot classification == in automation": {
      "main": [
        [
          {
            "node": "Get ticket comments",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get ticket comments": {
      "main": [
        [
          {
            "node": "More than 6 messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More than 6 messages": {
      "main": [
        [
          {
            "node": "Reply to internally and set status to open2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out all comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check ticket language1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check ticket language1": {
      "main": [
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Is chatbot classification == in automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extreme dissatisfaction check": {
      "main": [
        [
          {
            "node": "Is high risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Extreme dissatisfaction check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out all comments": {
      "main": [
        [
          {
            "node": "Filter out customer comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out customer comments": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Update zendesk ticket4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is high risk": {
      "main": [
        [
          {
            "node": "Reply to internally and set status to open3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is first complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is first complaint": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk Trigger": {
      "main": [
        [
          {
            "node": "Check ticket language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Zendesk Trigger": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "914d4855-80e3-4eaf-8f0a-feb921728944",
  "activeVersionId": null,
  "versionCounter": 373,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-25T22:32:47.860Z",
      "createdAt": "2026-02-25T22:32:47.860Z",
      "role": "workflow:owner",
      "workflowId": "zsskplcSGizXdB9R",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}