workflows/CS_-_Zendesk_tickets_main_automation_flow_[Template]__iTJEhEALQKVsVRXY.json
{
  "updatedAt": "2026-05-25T14:45:41.695Z",
  "createdAt": "2026-05-12T18:25:29.451Z",
  "id": "iTJEhEALQKVsVRXY",
  "name": "CS - Zendesk tickets main automation flow [Template]",
  "description": "Template version of the main CS automation flow. Reads project-specific config from the cs_project_config data table via project_key; all hardcoded values replaced with table references. Duplicate this workflow for new projects.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "fields": [
            "ticket.title",
            "ticket.description",
            "ticket.url",
            "ticket.id",
            "ticket.requester.email",
            "ticket.ticket_field_34358154126749"
          ]
        },
        "conditions": {
          "all": [
            {
              "value": "new"
            }
          ]
        }
      },
      "id": "88657e05-af74-4ead-802f-1829917dc443",
      "name": "Zendesk Trigger",
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        464
      ],
      "webhookId": "70917267-6b79-4b48-bb09-d3532d6aa641",
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "lovestyle_dev",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8d750f96-10ed-4e3a-95b6-81ee460a6368",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        704
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "ce45a9d3-f0a3-4e3c-ba8a-1c509801aa5d",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        272,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "58b2185f-f027-4fa9-aa8a-7cecefff6bd5",
              "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_contact_form_classification_id] }}",
              "rightValue": "cancellation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87b3a555-017c-443f-bd3e-6a0df3d4bf8b",
      "name": "Is contact form cancellation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        704
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $(\"Webhook\").item.json.body[\"ticket.description\"] }}",
        "categories": {
          "categories": [
            {
              "category": "Text is not in English"
            },
            {
              "category": "Text is in English"
            }
          ]
        },
        "options": {}
      },
      "id": "29616ae6-bb48-420b-8fd8-637c4b450e27",
      "name": "Check ticket language1",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        720,
        704
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "944ed60b-4211-491d-8073-86b9bbb306f3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        800,
        928
      ],
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=Title: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.title\"] }}\nDescription: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.description\"] }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "id": "1c501352-cb88-422f-87c8-9997b654dcde",
      "name": "Translate ticket to english1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1072,
        608
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": \"{{ $(\"Webhook\").item.json.body[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.originalTicketLanguage || \"en\" }}\",\n    \"is_translated\": {{ (() => { let originalLanguage = $(\"Translate ticket to english1\").item.json.output.first().content.first().text.originalTicketLanguage; return originalLanguage ? true : false; })() }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.title || \"\" }}\",\n      \"description\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.description || \"\" }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "3bc24464-b2bc-4a1f-bcfa-7cc7b6aa6066",
      "name": "Set translated request data test1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        608
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "224e56a2-a6be-4068-a2b7-0ff61ea5f840",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1696,
        704
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n\"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": \"{{ $(\"Webhook\").item.json.body[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\": false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "54161160-ad52-4dd2-92f3-0ee829933be7",
      "name": "Set request data test2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        800
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You analyze customer support messages and classify them into exactly one of the following categories based only on the user’s written message\n\nCATEGORIES:\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, payment withdrawal, or mentions being charged and wanting the charge undone, or asking to remove this payment.  \nThis includes refund requests even if the customer also requests cancelling or closing their account in addition to the refund.\n\nCancellations  (c)\nUse this category if the customer is asking to unsubscribe, cancel, stop, pause, or end a subscription or account AND does NOT request money back. This category does NOT include account deletion requests\n\nOther  (o)\nUse this category for all other messages, including:\naccount deletion requests\nproduct questions\nfeature requests\naccount access issues\ncomplaints without a refund or cancellation request\nunclear or ambiguous messages\nharassment or threatening, in this case the “other” category is considered as refusing to classify the ticket\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \nIf the message contains forwarded content (often labelled with \"Forwarded message\") disregard everything that comes after that and only consider the content before it in the classification\n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\nc = Cancellations\no = Other\n\nDo not explain your reasoning. Output only the letter.\n"
            },
            {
              "content": "=Customer support ticket title:  {{ $json.data[0].original_ticket_content.title }}\nmessage: {{ $json.data[0].original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "include": [
            "message.output_text.logprobs"
          ],
          "parallelToolCalls": true,
          "topLogprobs": 20
        }
      },
      "id": "7e7bf202-d119-4078-9a6c-4b7ea8718832",
      "name": "Ticket classification1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1920,
        704
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function softmax(logits) {\n  const max = Math.max(...logits);\n  const exps = logits.map(v => Math.exp(v - max));\n  const sum = exps.reduce((a, b) => a + b, 0);\n  return exps.map(v => v / sum);\n}\n\nfunction computeProbabilitiesFromMessages(messagesArray, labels = [\"r\", \"c\", \"o\"]) {\n  if (!Array.isArray(messagesArray) || messagesArray.length === 0) {\n    throw new Error(\"Input must be an array of message objects.\");\n  }\n\n  const msg0 = messagesArray[0];\n  const chunk = msg0?.content?.find(c => c.type === \"output_text\");\n  if (!chunk) throw new Error(\"No output_text chunk found.\");\n\n  const lpEntry = chunk?.logprobs?.[0];\n  if (!lpEntry) throw new Error(\"No logprobs found.\");\n\n  const predicted = String(chunk.text).trim();\n  const logprobPred = lpEntry.logprob;\n\n  const p_token = Math.exp(logprobPred);\n\n  const top = lpEntry.top_logprobs || [];\n  const labelToLogprob = new Map();\n\n  for (const t of top) {\n    const tok = String(t.token).trim();\n    if (labels.includes(tok)) labelToLogprob.set(tok, t.logprob);\n  }\n\n  if (labels.includes(predicted) && !labelToLogprob.has(predicted)) {\n    labelToLogprob.set(predicted, logprobPred);\n  }\n\n  const available = labels.filter(l => labelToLogprob.has(l));\n\n  let p_class_normalized = null;\n  let class_probs = Object.fromEntries(labels.map(l => [l, null]));\n\n  if (available.length === labels.length) {\n    const logits = labels.map(l => labelToLogprob.get(l));\n    const probs = softmax(logits);\n    labels.forEach((l, i) => (class_probs[l] = probs[i]));\n    p_class_normalized = class_probs[predicted];\n  }\n\n  return {\n    predicted,\n    logprob: logprobPred,\n    p_token,\n    p_class_normalized,\n    class_probs\n  };\n}\n\nconst messagesArray = $json.output;\n\nconst result = computeProbabilitiesFromMessages(messagesArray);\n\nreturn {\n  json: result\n};\n"
      },
      "id": "c2cda773-8e9a-41c5-95af-1ae5a0871b2a",
      "name": "Code in JavaScript1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
              "leftValue": "={{ $json.p_token }}",
              "rightValue": "={{ $(\"Get Project Config\").first().json.classification_confidence_threshold }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c0137211-68ac-467c-8a55-e124dd6b9aac",
      "name": "Confidence level above defined level1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2368,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "function returnAutomationLabel() {\n  const input = $input.first().json.predicted\n  if (input == \"r\") {\n    return \"refund_auto\"\n  } else if (input == \"c\"){\n    return \"cancellation_auto\"\n  } else if (input == \"o\") {\n    return \"other_auto\"\n  } else {\n    return Error\n  }\n}\n\nreturn {\n  json:{automationLabel:returnAutomationLabel()}\n}"
      },
      "id": "851a4c21-e025-4179-8ff0-3781ed19f604",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        560
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_automation_label_id }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $json.automationLabel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5825125-c5f6-470e-a29d-968c0a2a89b6",
      "name": "Set automation classification1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2816,
        560
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": "2"
      },
      "id": "c6c43534-e2a4-4050-800b-556e265b9e94",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3040,
        672
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the confidence level was below the defined threshold in order to proceed. Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec42f18d-d3c8-4985-a8c8-7899e309a9c8",
      "name": "Reply to internally and set status to open",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2704,
        976
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "search",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "email",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.user_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "597d2672-662d-4c8e-ae32-b6fe44dca139",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3264,
        672
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9dHFAZqAbAj42xR3",
          "mode": "list",
          "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
          "cachedResultName": "Operations Department — CS - HMAC [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "314888f8-e66e-461d-8fd2-cf2a50f5622e",
      "name": "Call 'CS - HMAC'1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3488,
        672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "0ef9b30f-5a9a-4fd5-a91b-f7e060c10608",
      "name": "DEV bot/search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3712,
        672
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "178cdfe5-8d8d-432a-b369-ebf5e0948a9d",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 404,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "d278fca3-f6ab-4b72-b249-442fc776835e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doesn't exist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "45037a2b-cfc3-47b2-b04a-e531fda3d967",
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 400,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Provider not supported "
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a0a63e01-b39d-4cd7-8a8c-22cce5b80c30",
      "name": "Response code switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3936,
        640
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0e7950e0-065c-4639-9536-ade0c311d4f8",
                    "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "r",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Refunds"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "327f161d-a756-4264-b443-bde173322d43"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancellations"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3bf783b-e6cf-49ec-8f20-1e45d278421d",
                    "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "o",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {
          "fallbackOutput": "2"
        }
      },
      "id": "c6547922-f0ce-4f52-a35f-6e17e377ff94",
      "name": "Split requests by type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4560,
        128
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.user_email }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\": {{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "7ff7fc35-22cf-435c-84b4-2359f1e67b80",
      "name": "Set request data test",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5408,
        -544
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
              "name": "ticketID",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
              "name": "isTranslated",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
              "name": "originalLanguage",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edaaed2b-2b39-44e7-b5a8-55775f6f6648",
      "name": "Set request data test1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5408,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "79a2c4f7-8e89-4fd2-be5c-76faeb87ab1b",
      "name": "Is deletion request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5776,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_account_deletion_id }}",
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_account_removal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "711f4bac-d59f-4d1f-b3cd-707742dcf7d0",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6096,
        304
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the request category has been defined as \"other\". Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55b11ead-9cef-4ad4-8ad6-b7692257af19",
      "name": "Reply to internally and set status to open1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6400,
        1456
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_password_account_info_id }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_pending_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_password_account_info }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "19b8463c-8418-46e1-af08-6f357bd7607e",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4624,
        1232
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6VBYrrSTrlJxBkA1",
          "mode": "list",
          "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "7c2bf7dd-e112-4566-a283-2779eb7f7dd6",
      "name": "Update zendesk ticket1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4848,
        1232
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the customer in question uses a payment provider that is not automated at this point. Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c6ee8c2-ed3e-49f8-8c18-b6c6508c1f1c",
      "name": "Reply to internally and set status to open2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4624,
        1808
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4d31be47-5015-4a25-8ead-fe2d12850ad0",
      "name": "Reply internally and set status to open1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4624,
        2368
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUABW5ZPZ",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors-dev"
        },
        "text": "=Search user request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $(\"DEV bot/search\").first().json.error.message }}\n\nTicket information\n- Ticket ID: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}\n- URL: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "16b19d67-cd70-4672-84ad-4428319228b0",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        4848,
        2368
      ],
      "webhookId": "78c623d6-1f4b-4b5b-8686-62c28a858d81",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded key for this deployment.\n2. **Get Project Config** fetches the row from the `cs_project_config` data table.\n3. All downstream nodes reference values via `$('Get Project Config').first().json.column_name`.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Add a new row in `cs_project_config` for that key.\n- Update the Zendesk Trigger credentials and webhook ID.\n- Note: the `ticket.ticket_field_*` in the Zendesk Trigger fields list is hardcoded (trigger params don't allow expressions). Update it to the correct field ID for the new project.",
        "height": 384,
        "width": 800,
        "color": 5
      },
      "id": "a2b772cf-3edc-4c16-b6bb-f7ad73b8a769",
      "name": "Sticky Note 8cb1f435",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        -112
      ]
    },
    {
      "parameters": {
        "content": "# Confidence level too low\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "id": "2bae367e-29c4-41ce-8793-c2f986772d55",
      "name": "Sticky Note 857254e5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        864
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "0e1eb495-2787-4f7e-905c-5bca3d7c6f11",
      "name": "Sticky Note e172d81f",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6752,
        1680
      ]
    },
    {
      "parameters": {
        "content": "# User doesn't exist\n\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "id": "85cf34c6-a739-43be-9089-6aa447595784",
      "name": "Sticky Note b4e65ed9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        1104
      ]
    },
    {
      "parameters": {
        "content": "## Status: pending\n## Category: pass and acc info\n## Macro: acc details",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "1afd8af7-5d80-4220-90af-2f27af112506",
      "name": "Sticky Note 0ef2a223",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5072,
        1424
      ]
    },
    {
      "parameters": {
        "content": "# Payment provider not supported \n\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "id": "4959aadd-549c-43a1-9ab0-ffc312ee1d24",
      "name": "Sticky Note 0304fa75",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        1664
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "c7bd6190-b0e0-4c4f-b76b-02bfba0a16f0",
      "name": "Sticky Note b0126780",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5056,
        1984
      ]
    },
    {
      "parameters": {
        "content": "# Fallback error catcher\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "id": "c8b3c3c9-b74c-4392-a1c1-b4d765e849b4",
      "name": "Sticky Note 7dfecb88",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4576,
        2240
      ]
    },
    {
      "parameters": {
        "content": "# Other requests\n",
        "height": 544,
        "width": 752,
        "color": 7
      },
      "id": "f7d0053e-80ec-4f49-9636-dad1e68aeb9e",
      "name": "Sticky Note 092d6f24",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6304,
        1376
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "c3ea738c-764d-4d0e-a3e8-5a2c728d0184",
      "name": "Sticky Note 5917ba53",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2960,
        1168
      ]
    },
    {
      "parameters": {
        "content": "# Deletion request\n\n",
        "height": 544,
        "width": 752,
        "color": 7
      },
      "id": "ed9f9dab-77dd-46e3-b345-9739acadaafc",
      "name": "Sticky Note 9083a99a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6048,
        208
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > account removal\n## Macro: account deletion",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "1a84d92c-2328-4129-8fcf-357447510a20",
      "name": "Sticky Note 6d510d4f",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6432,
        496
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dJfhIiG72BwXX2Is",
          "mode": "list",
          "cachedResultUrl": "/workflow/dJfhIiG72BwXX2Is",
          "cachedResultName": "Operations Department — CS - Refund requests flow [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "e39ebea3-7592-4ea0-b92d-44bcc613c9f5",
      "name": "Call 'CS - Refund requests flow [Template]'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5632,
        -544
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LSK2uSi3QypQa9ls",
          "mode": "list",
          "cachedResultUrl": "/workflow/LSK2uSi3QypQa9ls",
          "cachedResultName": "Operations Department — CS - Cancellation flow [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "b31ab2c8-3e82-4e9a-b218-b6fb7bccbc02",
      "name": "Call 'CS - Cancellation request [Template]'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5632,
        -208
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6VBYrrSTrlJxBkA1",
          "mode": "list",
          "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "b7e4636a-b365-4e45-996f-3e65746f1ca7",
      "name": "Call 'CS - Zendesk ticket update request [Template]'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6320,
        304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "908bb9e9-d7dd-408d-a32e-7b7c649b5771",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        704
      ],
      "id": "5a4f799b-c0a3-4ea2-ae76-5ed634d6967b",
      "name": "Webhook",
      "webhookId": "908bb9e9-d7dd-408d-a32e-7b7c649b5771"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "302f9490-728a-4ba6-aa58-182c4d6bca39",
      "name": "Is complaint",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6640,
        1024
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You classify customer support messages to determine whether the message contains an explicit account deletion request.\n\nPOSITIVE CASE — output true:\nThe customer must use clear, direct language requesting account deletion. Examples of qualifying phrases (similar phrases still apply):\n\"delete my account\"\n\"I want my account deleted\"\n\"please delete my account\"\n\"delete my data and account\"\n\"I'd like you to delete my account\"\n\nNEGATIVE CASE — output false — for ALL of the following:\nCancellation requests (\"cancel my account\", \"cancel my subscription\")\nGeneral frustration or complaints without explicit deletion language\nRefund requests\n\nSTRICT RULES:\n\nThe word \"delete\" must appear explicitly in reference to the account\nCancellation alone does NOT qualify\nDo NOT infer deletion intent from context, tone, or frustration\nIf the message is ambiguous or deletion is only implied, output false\n\nOUTPUT FORMAT:\nRespond only with valid JSON. No explanation.\n{\"is_delete_request\": true}\nor\n{\"is_delete_request\": false}"
            },
            {
              "content": "=Customer support ticket title:  {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\nmessage: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "39c9c581-0ef5-4b7a-98d9-c74d0d57db45",
      "name": "Detect deletion requests",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        5408,
        640
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "yra2iG8pnmCKhZIc",
          "name": "Futuremedia - n8n project"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You classify customer support messages to determine whether the message contains a complaint.\n\nPOSITIVE CASE — output true:\nThe customer must express clear dissatisfaction, frustration, unhappiness, or a negative experience with the product, service, company, support, billing, delivery, account, or any related issue. Examples of qualifying phrases (similar phrases still apply):\n\"this is unacceptable\"\n\"I'm very disappointed\"\n\"your service is terrible\"\n\"this has been a frustrating experience\"\n\"I'm unhappy with the support I received\"\n\"you charged me incorrectly and I'm upset\"\n\"the product doesn't work and no one is helping me\"\n\"I've been waiting for days and this is ridiculous\"\n\nNEGATIVE CASE — output false — for ALL of the following:\nNeutral questions or requests for help\nAccount management requests without dissatisfaction\nRefund requests without dissatisfaction or negative sentiment\nCancellation requests without dissatisfaction or negative sentiment\nBug reports stated neutrally\nFeature requests or suggestions\nGeneral informational messages\nPolite follow-ups without complaint language\n\nSTRICT RULES:\n\nThe message must contain explicit dissatisfaction, frustration, criticism, or negative sentiment\nDo NOT infer a complaint from the existence of a problem alone\nA support request, bug report, refund request, cancellation request, or account issue does NOT qualify unless the customer expresses dissatisfaction or criticism\nIf the message is ambiguous, neutral, or only describes an issue without complaint language, output false\nDo NOT classify as a complaint based only on urgency, length, or repeated contact unless dissatisfaction is explicitly stated\n\nOUTPUT FORMAT:\nRespond only with valid JSON. No explanation.\n{\"is_complaint\": true}\nor\n{\"is_complaint\": false}\n"
            },
            {
              "content": "=Customer support ticket title:  {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\nmessage: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "cc604406-d30a-4232-ac54-138125fa5495",
      "name": "Detect complaints",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        6272,
        1024
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "yra2iG8pnmCKhZIc",
          "name": "Futuremedia - n8n project"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "l1DNc4uapOnkS4Dt",
          "mode": "list",
          "cachedResultUrl": "/workflow/l1DNc4uapOnkS4Dt",
          "cachedResultName": "Operations Department — CS - Cancellation request [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7104,
        1024
      ],
      "id": "e31f97dd-f242-498f-a64f-9d6ea272e078",
      "name": "Call 'CS - Cancellation request [Template]'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
              "name": "ticketID",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
              "name": "isTranslated",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
              "name": "originalLanguage",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fa284e49-e5a6-4d75-8fdf-8cf1a3a80f55",
      "name": "Set request data test3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6912,
        1024
      ]
    }
  ],
  "connections": {
    "Zendesk Trigger": {
      "main": [
        []
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Is contact form cancellation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is contact form cancellation": {
      "main": [
        [],
        [
          {
            "node": "Check ticket language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ticket language1": {
      "main": [
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check ticket language1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Ticket classification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket classification1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Confidence level above defined level1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence level above defined level1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Set automation classification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set automation classification1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'1": {
      "main": [
        [
          {
            "node": "DEV bot/search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search": {
      "main": [
        [
          {
            "node": "Response code switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response code switch": {
      "main": [
        [
          {
            "node": "Split requests by type1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split requests by type1": {
      "main": [
        [
          {
            "node": "Set request data test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect deletion requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test": {
      "main": [
        [
          {
            "node": "Call 'CS - Refund requests flow [Template]'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test1": {
      "main": [
        [
          {
            "node": "Call 'CS - Cancellation request [Template]'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is deletion request": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Call 'CS - Zendesk ticket update request [Template]'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update zendesk ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is complaint": {
      "main": [
        [
          {
            "node": "Set request data test3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Detect deletion requests": {
      "main": [
        [
          {
            "node": "Is deletion request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect complaints": {
      "main": [
        [
          {
            "node": "Is complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test3": {
      "main": [
        [
          {
            "node": "Call 'CS - Cancellation request [Template]'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Zendesk Trigger": {}
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {
    "Zendesk Trigger": [
      {
        "json": {
          "ticket.title": "cancellation",
          "ticket.description": "----------------------------------------------\n\nAntonio Marusic, May 13, 2026, 23:27\n\nI want to cancel my subscription",
          "ticket.url": "efuturechatbot.zendesk.com/agent/tickets/323",
          "ticket.id": "323",
          "ticket.requester.email": "antonioefuturemedia@gmail.com",
          "ticket.ticket_field_34358154126749": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "efuturemedia.app.n8n.cloud",
            "user-agent": "Zendesk Webhook",
            "content-length": "346",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "216.198.17.124",
            "cf-ew-via": "15",
            "cf-ipcountry": "IE",
            "cf-ray": "9fe9a41d23d08568-DUB",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json; charset=utf-8",
            "traceparent": "00-6a0d6347000000000805d58e11f05b97-0805d58e11f05b97-00",
            "tracestate": "dd=s:-1;p:0805d58e11f05b97",
            "x-forwarded-for": "216.198.17.124, 162.158.6.155",
            "x-forwarded-host": "efuturemedia.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-34-68577659cb-t2q4f",
            "x-is-trusted": "yes",
            "x-real-ip": "216.198.17.124",
            "x-request-id": "cbe740b3-e0c7-4a66-8881-aca594f8e62f",
            "x-zendesk-account-id": "26147041",
            "x-zendesk-webhook-id": "01KS219405AT0KCR569ZE7Y6J3",
            "x-zendesk-webhook-invocation-id": "01KS24QKE410QXC48MHJS4Z05K",
            "x-zendesk-webhook-signature": "FJTC6/RGi6fcc2xEbpqC4iIqPTbatYoGb+W29yynISM=",
            "x-zendesk-webhook-signature-timestamp": "2026-05-20T07:31:19Z"
          },
          "params": {},
          "query": {},
          "body": {
            "ticket.title": "cancel",
            "ticket.description": "----------------------------------------------\n\nAntonio Marusic, May 20, 2026, 10:31\n\nI want to cancel my subscription",
            "ticket.url": "efuturechatbot.zendesk.com/agent/tickets/328",
            "ticket.id": "328",
            "ticket.requester.email": "antonioefuturemedia@gmail.com",
            "ticket.ticket_field_34358154126749": ""
          },
          "webhookUrl": "https://efuturemedia.app.n8n.cloud/webhook/908bb9e9-d7dd-408d-a32e-7b7c649b5771",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "e1125148-f12a-4063-a0ee-8a0dcb705e50",
  "activeVersionId": "e1125148-f12a-4063-a0ee-8a0dcb705e50",
  "versionCounter": 208,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-12T18:25:29.459Z",
      "createdAt": "2026-05-12T18:25:29.459Z",
      "role": "workflow:owner",
      "workflowId": "iTJEhEALQKVsVRXY",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-25T14:45:43.000Z",
    "createdAt": "2026-05-25T14:45:41.699Z",
    "versionId": "e1125148-f12a-4063-a0ee-8a0dcb705e50",
    "workflowId": "iTJEhEALQKVsVRXY",
    "nodes": [
      {
        "parameters": {
          "options": {
            "fields": [
              "ticket.title",
              "ticket.description",
              "ticket.url",
              "ticket.id",
              "ticket.requester.email",
              "ticket.ticket_field_34358154126749"
            ]
          },
          "conditions": {
            "all": [
              {
                "value": "new"
              }
            ]
          }
        },
        "id": "88657e05-af74-4ead-802f-1829917dc443",
        "name": "Zendesk Trigger",
        "type": "n8n-nodes-base.zendeskTrigger",
        "typeVersion": 1,
        "position": [
          -224,
          464
        ],
        "webhookId": "70917267-6b79-4b48-bb09-d3532d6aa641",
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "lovestyle_dev",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "8d750f96-10ed-4e3a-95b6-81ee460a6368",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          32,
          704
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "ce45a9d3-f0a3-4e3c-ba8a-1c509801aa5d",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          272,
          704
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "58b2185f-f027-4fa9-aa8a-7cecefff6bd5",
                "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_contact_form_classification_id] }}",
                "rightValue": "cancellation",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "87b3a555-017c-443f-bd3e-6a0df3d4bf8b",
        "name": "Is contact form cancellation",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          496,
          704
        ]
      },
      {
        "parameters": {
          "inputText": "={{ $(\"Webhook\").item.json.body[\"ticket.description\"] }}",
          "categories": {
            "categories": [
              {
                "category": "Text is not in English"
              },
              {
                "category": "Text is in English"
              }
            ]
          },
          "options": {}
        },
        "id": "29616ae6-bb48-420b-8fd8-637c4b450e27",
        "name": "Check ticket language1",
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          720,
          704
        ],
        "retryOnFail": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.1",
            "mode": "id"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "id": "944ed60b-4211-491d-8073-86b9bbb306f3",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          800,
          928
        ],
        "credentials": {
          "openAiApi": {
            "id": "dJlA3NdNIjPMEw9F",
            "name": "CS automations project"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.1",
            "mode": "id"
          },
          "responses": {
            "values": [
              {
                "content": "=Title: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.title\"] }}\nDescription: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.description\"] }}"
              },
              {
                "role": "system",
                "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object",
                "verbosity": "high"
              }
            }
          }
        },
        "id": "1c501352-cb88-422f-87c8-9997b654dcde",
        "name": "Translate ticket to english1",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1072,
          608
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "dJlA3NdNIjPMEw9F",
            "name": "CS automations project"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": \"{{ $(\"Webhook\").item.json.body[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.originalTicketLanguage || \"en\" }}\",\n    \"is_translated\": {{ (() => { let originalLanguage = $(\"Translate ticket to english1\").item.json.output.first().content.first().text.originalTicketLanguage; return originalLanguage ? true : false; })() }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.title || \"\" }}\",\n      \"description\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.description || \"\" }}\"\n    }\n  }\n}",
          "options": {}
        },
        "id": "3bc24464-b2bc-4a1f-bcfa-7cc7b6aa6066",
        "name": "Set translated request data test1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1472,
          608
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "224e56a2-a6be-4068-a2b7-0ff61ea5f840",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1696,
          704
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n\"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": \"{{ $(\"Webhook\").item.json.body[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\": false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n}",
          "options": {}
        },
        "id": "54161160-ad52-4dd2-92f3-0ee829933be7",
        "name": "Set request data test2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1472,
          800
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.1",
            "mode": "id"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You analyze customer support messages and classify them into exactly one of the following categories based only on the user’s written message\n\nCATEGORIES:\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, payment withdrawal, or mentions being charged and wanting the charge undone, or asking to remove this payment.  \nThis includes refund requests even if the customer also requests cancelling or closing their account in addition to the refund.\n\nCancellations  (c)\nUse this category if the customer is asking to unsubscribe, cancel, stop, pause, or end a subscription or account AND does NOT request money back. This category does NOT include account deletion requests\n\nOther  (o)\nUse this category for all other messages, including:\naccount deletion requests\nproduct questions\nfeature requests\naccount access issues\ncomplaints without a refund or cancellation request\nunclear or ambiguous messages\nharassment or threatening, in this case the “other” category is considered as refusing to classify the ticket\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \nIf the message contains forwarded content (often labelled with \"Forwarded message\") disregard everything that comes after that and only consider the content before it in the classification\n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\nc = Cancellations\no = Other\n\nDo not explain your reasoning. Output only the letter.\n"
              },
              {
                "content": "=Customer support ticket title:  {{ $json.data[0].original_ticket_content.title }}\nmessage: {{ $json.data[0].original_ticket_content.description }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "include": [
              "message.output_text.logprobs"
            ],
            "parallelToolCalls": true,
            "topLogprobs": 20
          }
        },
        "id": "7e7bf202-d119-4078-9a6c-4b7ea8718832",
        "name": "Ticket classification1",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1920,
          704
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "dJlA3NdNIjPMEw9F",
            "name": "CS automations project"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "function softmax(logits) {\n  const max = Math.max(...logits);\n  const exps = logits.map(v => Math.exp(v - max));\n  const sum = exps.reduce((a, b) => a + b, 0);\n  return exps.map(v => v / sum);\n}\n\nfunction computeProbabilitiesFromMessages(messagesArray, labels = [\"r\", \"c\", \"o\"]) {\n  if (!Array.isArray(messagesArray) || messagesArray.length === 0) {\n    throw new Error(\"Input must be an array of message objects.\");\n  }\n\n  const msg0 = messagesArray[0];\n  const chunk = msg0?.content?.find(c => c.type === \"output_text\");\n  if (!chunk) throw new Error(\"No output_text chunk found.\");\n\n  const lpEntry = chunk?.logprobs?.[0];\n  if (!lpEntry) throw new Error(\"No logprobs found.\");\n\n  const predicted = String(chunk.text).trim();\n  const logprobPred = lpEntry.logprob;\n\n  const p_token = Math.exp(logprobPred);\n\n  const top = lpEntry.top_logprobs || [];\n  const labelToLogprob = new Map();\n\n  for (const t of top) {\n    const tok = String(t.token).trim();\n    if (labels.includes(tok)) labelToLogprob.set(tok, t.logprob);\n  }\n\n  if (labels.includes(predicted) && !labelToLogprob.has(predicted)) {\n    labelToLogprob.set(predicted, logprobPred);\n  }\n\n  const available = labels.filter(l => labelToLogprob.has(l));\n\n  let p_class_normalized = null;\n  let class_probs = Object.fromEntries(labels.map(l => [l, null]));\n\n  if (available.length === labels.length) {\n    const logits = labels.map(l => labelToLogprob.get(l));\n    const probs = softmax(logits);\n    labels.forEach((l, i) => (class_probs[l] = probs[i]));\n    p_class_normalized = class_probs[predicted];\n  }\n\n  return {\n    predicted,\n    logprob: logprobPred,\n    p_token,\n    p_class_normalized,\n    class_probs\n  };\n}\n\nconst messagesArray = $json.output;\n\nconst result = computeProbabilitiesFromMessages(messagesArray);\n\nreturn {\n  json: result\n};\n"
        },
        "id": "c2cda773-8e9a-41c5-95af-1ae5a0871b2a",
        "name": "Code in JavaScript1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2208,
          704
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
                "leftValue": "={{ $json.p_token }}",
                "rightValue": "={{ $(\"Get Project Config\").first().json.classification_confidence_threshold }}",
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "c0137211-68ac-467c-8a55-e124dd6b9aac",
        "name": "Confidence level above defined level1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2368,
          704
        ]
      },
      {
        "parameters": {
          "jsCode": "function returnAutomationLabel() {\n  const input = $input.first().json.predicted\n  if (input == \"r\") {\n    return \"refund_auto\"\n  } else if (input == \"c\"){\n    return \"cancellation_auto\"\n  } else if (input == \"o\") {\n    return \"other_auto\"\n  } else {\n    return Error\n  }\n}\n\nreturn {\n  json:{automationLabel:returnAutomationLabel()}\n}"
        },
        "id": "851a4c21-e025-4179-8ff0-3781ed19f604",
        "name": "Code in JavaScript",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2592,
          560
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_automation_label_id }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $json.automationLabel }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b5825125-c5f6-470e-a29d-968c0a2a89b6",
        "name": "Set automation classification1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2816,
          560
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": "2"
        },
        "id": "c6c43534-e2a4-4050-800b-556e265b9e94",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          3040,
          672
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and the confidence level was below the defined threshold in order to proceed. Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ec42f18d-d3c8-4985-a8c8-7899e309a9c8",
        "name": "Reply to internally and set status to open",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2704,
          976
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "search",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "email",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.user_email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "597d2672-662d-4c8e-ae32-b6fe44dca139",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3264,
          672
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9dHFAZqAbAj42xR3",
            "mode": "list",
            "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
            "cachedResultName": "Operations Department — CS - HMAC [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "314888f8-e66e-461d-8fd2-cf2a50f5622e",
        "name": "Call 'CS - HMAC'1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3488,
          672
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "0ef9b30f-5a9a-4fd5-a91b-f7e060c10608",
        "name": "DEV bot/search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3712,
          672
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "178cdfe5-8d8d-432a-b369-ebf5e0948a9d",
                      "leftValue": "={{ $json.statusCode }}",
                      "rightValue": 200,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "User exists"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.error.status }}",
                      "rightValue": 404,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      },
                      "id": "d278fca3-f6ab-4b72-b249-442fc776835e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Doesn't exist"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "45037a2b-cfc3-47b2-b04a-e531fda3d967",
                      "leftValue": "={{ $json.error.status }}",
                      "rightValue": 400,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Provider not supported "
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "a0a63e01-b39d-4cd7-8a8c-22cce5b80c30",
        "name": "Response code switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          3936,
          640
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0e7950e0-065c-4639-9536-ade0c311d4f8",
                      "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "r",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Refunds"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "c",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "327f161d-a756-4264-b443-bde173322d43"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cancellations"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c3bf783b-e6cf-49ec-8f20-1e45d278421d",
                      "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "o",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Other"
              }
            ]
          },
          "options": {
            "fallbackOutput": "2"
          }
        },
        "id": "c6547922-f0ce-4f52-a35f-6e17e377ff94",
        "name": "Split requests by type1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          4560,
          128
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.user_email }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\": {{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n}",
          "options": {}
        },
        "id": "7ff7fc35-22cf-435c-84b4-2359f1e67b80",
        "name": "Set request data test",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5408,
          -544
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
                "name": "subscriptionId",
                "value": "={{ $json.body.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
                "name": "ticketID",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
                "name": "isTranslated",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
                "name": "originalLanguage",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "edaaed2b-2b39-44e7-b5a8-55775f6f6648",
        "name": "Set request data test1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5408,
          -208
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
                "leftValue": "={{ $json.output[0].content[0].text }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "79a2c4f7-8e89-4fd2-be5c-76faeb87ab1b",
        "name": "Is deletion request",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          5776,
          640
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_account_deletion_id }}",
                "type": "number"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_account_removal }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "711f4bac-d59f-4d1f-b3cd-707742dcf7d0",
        "name": "Edit Fields8",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          6096,
          304
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and the request category has been defined as \"other\". Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "55b11ead-9cef-4ad4-8ad6-b7692257af19",
        "name": "Reply to internally and set status to open1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6400,
          1456
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_password_account_info_id }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_pending_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_password_account_info }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "19b8463c-8418-46e1-af08-6f357bd7607e",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4624,
          1232
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6VBYrrSTrlJxBkA1",
            "mode": "list",
            "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
            "cachedResultName": "Operations Department — CS - Zendesk ticket update request [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "7c2bf7dd-e112-4566-a283-2779eb7f7dd6",
        "name": "Update zendesk ticket1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4848,
          1232
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and the customer in question uses a payment provider that is not automated at this point. Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "0c6ee8c2-ed3e-49f8-8c18-b6c6508c1f1c",
        "name": "Reply to internally and set status to open2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4624,
          1808
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "4d31be47-5015-4a25-8ead-fe2d12850ad0",
        "name": "Reply internally and set status to open1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4624,
          2368
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AUABW5ZPZ",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors-dev"
          },
          "text": "=Search user request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $(\"DEV bot/search\").first().json.error.message }}\n\nTicket information\n- Ticket ID: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}\n- URL: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "16b19d67-cd70-4672-84ad-4428319228b0",
        "name": "Send a message",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          4848,
          2368
        ],
        "webhookId": "78c623d6-1f4b-4b5b-8686-62c28a858d81",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded key for this deployment.\n2. **Get Project Config** fetches the row from the `cs_project_config` data table.\n3. All downstream nodes reference values via `$('Get Project Config').first().json.column_name`.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Add a new row in `cs_project_config` for that key.\n- Update the Zendesk Trigger credentials and webhook ID.\n- Note: the `ticket.ticket_field_*` in the Zendesk Trigger fields list is hardcoded (trigger params don't allow expressions). Update it to the correct field ID for the new project.",
          "height": 384,
          "width": 800,
          "color": 5
        },
        "id": "a2b772cf-3edc-4c16-b6bb-f7ad73b8a769",
        "name": "Sticky Note 8cb1f435",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -224,
          -112
        ]
      },
      {
        "parameters": {
          "content": "# Confidence level too low\n",
          "height": 544,
          "width": 640,
          "color": 7
        },
        "id": "2bae367e-29c4-41ce-8793-c2f986772d55",
        "name": "Sticky Note 857254e5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2640,
          864
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "0e1eb495-2787-4f7e-905c-5bca3d7c6f11",
        "name": "Sticky Note e172d81f",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          6752,
          1680
        ]
      },
      {
        "parameters": {
          "content": "# User doesn't exist\n\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "id": "85cf34c6-a739-43be-9089-6aa447595784",
        "name": "Sticky Note b4e65ed9",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4560,
          1104
        ]
      },
      {
        "parameters": {
          "content": "## Status: pending\n## Category: pass and acc info\n## Macro: acc details",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "1afd8af7-5d80-4220-90af-2f27af112506",
        "name": "Sticky Note 0ef2a223",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          5072,
          1424
        ]
      },
      {
        "parameters": {
          "content": "# Payment provider not supported \n\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "id": "4959aadd-549c-43a1-9ab0-ffc312ee1d24",
        "name": "Sticky Note 0304fa75",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4560,
          1664
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "c7bd6190-b0e0-4c4f-b76b-02bfba0a16f0",
        "name": "Sticky Note b0126780",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          5056,
          1984
        ]
      },
      {
        "parameters": {
          "content": "# Fallback error catcher\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "id": "c8b3c3c9-b74c-4392-a1c1-b4d765e849b4",
        "name": "Sticky Note 7dfecb88",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4576,
          2240
        ]
      },
      {
        "parameters": {
          "content": "# Other requests\n",
          "height": 544,
          "width": 752,
          "color": 7
        },
        "id": "f7d0053e-80ec-4f49-9636-dad1e68aeb9e",
        "name": "Sticky Note 092d6f24",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          6304,
          1376
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "c3ea738c-764d-4d0e-a3e8-5a2c728d0184",
        "name": "Sticky Note 5917ba53",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2960,
          1168
        ]
      },
      {
        "parameters": {
          "content": "# Deletion request\n\n",
          "height": 544,
          "width": 752,
          "color": 7
        },
        "id": "ed9f9dab-77dd-46e3-b345-9739acadaafc",
        "name": "Sticky Note 9083a99a",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          6048,
          208
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > account removal\n## Macro: account deletion",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "id": "1a84d92c-2328-4129-8fcf-357447510a20",
        "name": "Sticky Note 6d510d4f",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          6432,
          496
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "dJfhIiG72BwXX2Is",
            "mode": "list",
            "cachedResultUrl": "/workflow/dJfhIiG72BwXX2Is",
            "cachedResultName": "Operations Department — CS - Refund requests flow [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "e39ebea3-7592-4ea0-b92d-44bcc613c9f5",
        "name": "Call 'CS - Refund requests flow [Template]'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          5632,
          -544
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "LSK2uSi3QypQa9ls",
            "mode": "list",
            "cachedResultUrl": "/workflow/LSK2uSi3QypQa9ls",
            "cachedResultName": "Operations Department — CS - Cancellation flow [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "b31ab2c8-3e82-4e9a-b218-b6fb7bccbc02",
        "name": "Call 'CS - Cancellation request [Template]'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          5632,
          -208
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6VBYrrSTrlJxBkA1",
            "mode": "list",
            "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
            "cachedResultName": "Operations Department — CS - Zendesk ticket update request [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "b7e4636a-b365-4e45-996f-3e65746f1ca7",
        "name": "Call 'CS - Zendesk ticket update request [Template]'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          6320,
          304
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "908bb9e9-d7dd-408d-a32e-7b7c649b5771",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -208,
          704
        ],
        "id": "5a4f799b-c0a3-4ea2-ae76-5ed634d6967b",
        "name": "Webhook",
        "webhookId": "908bb9e9-d7dd-408d-a32e-7b7c649b5771"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
                "leftValue": "={{ $json.output[0].content[0].text }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "302f9490-728a-4ba6-aa58-182c4d6bca39",
        "name": "Is complaint",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          6640,
          1024
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "GPT-4.1"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You classify customer support messages to determine whether the message contains an explicit account deletion request.\n\nPOSITIVE CASE — output true:\nThe customer must use clear, direct language requesting account deletion. Examples of qualifying phrases (similar phrases still apply):\n\"delete my account\"\n\"I want my account deleted\"\n\"please delete my account\"\n\"delete my data and account\"\n\"I'd like you to delete my account\"\n\nNEGATIVE CASE — output false — for ALL of the following:\nCancellation requests (\"cancel my account\", \"cancel my subscription\")\nGeneral frustration or complaints without explicit deletion language\nRefund requests\n\nSTRICT RULES:\n\nThe word \"delete\" must appear explicitly in reference to the account\nCancellation alone does NOT qualify\nDo NOT infer deletion intent from context, tone, or frustration\nIf the message is ambiguous or deletion is only implied, output false\n\nOUTPUT FORMAT:\nRespond only with valid JSON. No explanation.\n{\"is_delete_request\": true}\nor\n{\"is_delete_request\": false}"
              },
              {
                "content": "=Customer support ticket title:  {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\nmessage: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "39c9c581-0ef5-4b7a-98d9-c74d0d57db45",
        "name": "Detect deletion requests",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          5408,
          640
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "yra2iG8pnmCKhZIc",
            "name": "Futuremedia - n8n project"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "GPT-4.1"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You classify customer support messages to determine whether the message contains a complaint.\n\nPOSITIVE CASE — output true:\nThe customer must express clear dissatisfaction, frustration, unhappiness, or a negative experience with the product, service, company, support, billing, delivery, account, or any related issue. Examples of qualifying phrases (similar phrases still apply):\n\"this is unacceptable\"\n\"I'm very disappointed\"\n\"your service is terrible\"\n\"this has been a frustrating experience\"\n\"I'm unhappy with the support I received\"\n\"you charged me incorrectly and I'm upset\"\n\"the product doesn't work and no one is helping me\"\n\"I've been waiting for days and this is ridiculous\"\n\nNEGATIVE CASE — output false — for ALL of the following:\nNeutral questions or requests for help\nAccount management requests without dissatisfaction\nRefund requests without dissatisfaction or negative sentiment\nCancellation requests without dissatisfaction or negative sentiment\nBug reports stated neutrally\nFeature requests or suggestions\nGeneral informational messages\nPolite follow-ups without complaint language\n\nSTRICT RULES:\n\nThe message must contain explicit dissatisfaction, frustration, criticism, or negative sentiment\nDo NOT infer a complaint from the existence of a problem alone\nA support request, bug report, refund request, cancellation request, or account issue does NOT qualify unless the customer expresses dissatisfaction or criticism\nIf the message is ambiguous, neutral, or only describes an issue without complaint language, output false\nDo NOT classify as a complaint based only on urgency, length, or repeated contact unless dissatisfaction is explicitly stated\n\nOUTPUT FORMAT:\nRespond only with valid JSON. No explanation.\n{\"is_complaint\": true}\nor\n{\"is_complaint\": false}\n"
              },
              {
                "content": "=Customer support ticket title:  {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\nmessage: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "cc604406-d30a-4232-ac54-138125fa5495",
        "name": "Detect complaints",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          6272,
          1024
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "yra2iG8pnmCKhZIc",
            "name": "Futuremedia - n8n project"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "l1DNc4uapOnkS4Dt",
            "mode": "list",
            "cachedResultUrl": "/workflow/l1DNc4uapOnkS4Dt",
            "cachedResultName": "Operations Department — CS - Cancellation request [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          7104,
          1024
        ],
        "id": "e31f97dd-f242-498f-a64f-9d6ea272e078",
        "name": "Call 'CS - Cancellation request [Template]'1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
                "name": "subscriptionId",
                "value": "={{ $json.body.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
                "name": "ticketID",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
                "name": "isTranslated",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
                "name": "originalLanguage",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "fa284e49-e5a6-4d75-8fdf-8cf1a3a80f55",
        "name": "Set request data test3",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          6912,
          1024
        ]
      }
    ],
    "connections": {
      "Zendesk Trigger": {
        "main": [
          []
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Is contact form cancellation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is contact form cancellation": {
        "main": [
          [],
          [
            {
              "node": "Check ticket language1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check ticket language1": {
        "main": [
          [
            {
              "node": "Translate ticket to english1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set request data test2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Check ticket language1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Translate ticket to english1": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set translated request data test1": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Ticket classification1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test2": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ticket classification1": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Confidence level above defined level1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confidence level above defined level1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Set automation classification1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set automation classification1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'1": {
        "main": [
          [
            {
              "node": "DEV bot/search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/search": {
        "main": [
          [
            {
              "node": "Response code switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Response code switch": {
        "main": [
          [
            {
              "node": "Split requests by type1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split requests by type1": {
        "main": [
          [
            {
              "node": "Set request data test",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set request data test1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Detect deletion requests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test": {
        "main": [
          [
            {
              "node": "Call 'CS - Refund requests flow [Template]'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test1": {
        "main": [
          [
            {
              "node": "Call 'CS - Cancellation request [Template]'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is deletion request": {
        "main": [
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields8": {
        "main": [
          [
            {
              "node": "Call 'CS - Zendesk ticket update request [Template]'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Update zendesk ticket1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is complaint": {
        "main": [
          [
            {
              "node": "Set request data test3",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Detect deletion requests": {
        "main": [
          [
            {
              "node": "Is deletion request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect complaints": {
        "main": [
          [
            {
              "node": "Is complaint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test3": {
        "main": [
          [
            {
              "node": "Call 'CS - Cancellation request [Template]'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version e1125148",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-25T14:45:43.337Z",
        "id": 752,
        "workflowId": "iTJEhEALQKVsVRXY",
        "versionId": "e1125148-f12a-4063-a0ee-8a0dcb705e50",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}