workflows/CS_-_Chatbot_refunds_handling_[Template]__BiGuMvAAo4ot1Bea.json
{
  "updatedAt": "2026-05-20T09:38:52.115Z",
  "createdAt": "2026-05-12T19:24:34.766Z",
  "id": "BiGuMvAAo4ot1Bea",
  "name": "CS - Chatbot refunds handling [Template]",
  "description": "Template version of CS - Chatbot refunds handling. Parent workflow with Zendesk trigger that routes chatbot-classified refund tickets to the refund flow subworkflow. Field IDs, status IDs, and zendesk domain templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "fields": [
            "ticket.title",
            "ticket.description",
            "ticket.url",
            "ticket.id",
            "ticket.status",
            "ticket.requester.email",
            "ticket.ticket_field_26136966521244"
          ]
        },
        "conditions": {
          "all": [
            {}
          ]
        }
      },
      "id": "ddfa3d1b-37e5-4d5e-8c51-0a054b36bb9e",
      "name": "Zendesk Trigger",
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -160
      ],
      "webhookId": "04a00837-251d-4792-ba1d-dc281ad6be76",
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "lovestyle_dev",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6cce4da6-75bd-40bb-8e37-6e8085a11317",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IRxwFN8iBhHLFQxQ",
          "mode": "list",
          "cachedResultName": "cs_project_config",
          "cachedResultUrl": "/projects/CH8lyrRTH2IOvQOj/datatables/IRxwFN8iBhHLFQxQ"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "a9f6010a-87ff-49cf-8c73-b2e296e51c97",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38f8b03a-a7be-4778-9553-3f567b373ffd",
              "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_chatbot_classification_id] }}",
              "rightValue": "refunds",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6086536-dcd1-4c00-b19f-4e2f046a8666",
      "name": "Is chatbot classification == refunds",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "edc46055-476a-46aa-b8a3-aa88bc0add0e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const INPUT_PATH = 'description';\n\nfunction getByPath(obj, path) {\n  return path.split('.').reduce((acc, key) => {\n    if (acc && Object.prototype.hasOwnProperty.call(acc, key)) {\n      return acc[key];\n    }\n    return undefined;\n  }, obj);\n}\n\nconst inputText = getByPath($json, INPUT_PATH);\n\nif (typeof inputText !== 'string') {\n  throw new Error(`Input at path \"${INPUT_PATH}\" is not a string or does not exist.`);\n}\n\n// Match all lines starting with \"User:\"\nconst userLines = inputText.match(/^User:.*$/gm) || [];\n\n// Return as single newline-separated string\nreturn [\n  {\n    json: {\n      user_only: userLines.join('\\n'),\n      user_lines: userLines, // optional array\n      count: userLines.length,\n    },\n  },\n];"
      },
      "id": "1b9acaeb-0894-4d5d-8879-a999cb4999c5",
      "name": "Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b5364df-96ee-40d2-b018-363299d58adb",
              "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_language_id] }}",
              "rightValue": "=language__en",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc8592f9-aa2d-4249-aae2-5dce23038ad8",
      "name": "Language isn't English",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        96
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Extract').item.json.user_only }}\",\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage : \"en\" }}\",\n    \"is_translated\":{{$('Translate ticket to english1').isExecuted ? true:false}}\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.title : \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.description : \"\"}}\"\n    }\n  }\n} ",
        "options": {}
      },
      "id": "87bd4820-f54d-4e35-9549-4146dff80835",
      "name": "Set translated request data test1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        80
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=Description: {{ $json.user_only }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "id": "c9e262cc-1de4-4b26-9c07-479325ded30d",
      "name": "Translate ticket to english1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1808,
        240
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dJlA3NdNIjPMEw9F",
          "name": "CS automations project"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $(\"Webhook\").item.json.body[\"ticket.id\"] }}"
      },
      "id": "2378569f-391f-4b11-8ff2-9d0b5000be04",
      "name": "Get a ticket",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af4dbe40-673c-484f-a26b-6f8c1d224bf8",
              "leftValue": "={{ $json.custom_status_id }}",
              "rightValue": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_chatbot_automated_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "347c441e-b99a-4485-b1ee-0eaf8319ed70",
      "name": "Is status automated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded deployment key.\n2. **Get Project Config** fetches the row from `cs_project_config`.\n3. Downstream nodes read column values via `$('Get Project Config').first().json.*`.\n\n## Trigger fields are hardcoded\nThe Zendesk Trigger \"fields\" list cannot use expressions, so these field IDs are baked in:\n- 33841769865629 = chatbot classification (`ticket_field_chatbot_classification_id`)\n- 34358154126749 = contact form classification (`ticket_field_contact_form_classification_id`)\n- 33825960843421 = language (`ticket_field_language_id`)\n- 26136966521244 = legacy / phone (not used in flow)\n\nUpdate these per project when duplicating.\n\n## Convention values kept hardcoded\n- `refunds` chatbot classification value\n- `language__en` language code\n\n## To duplicate\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Update the Zendesk Trigger field IDs in the trigger node `options.fields`.\n- Re-bind Zendesk and OpenAI credentials.\n- Rewire the `Call 'CS - Refund flow'` to the project's refund subworkflow.",
        "height": 380,
        "width": 880,
        "color": 5
      },
      "id": "6da200b2-3fdb-40c6-946d-3054510a2f8f",
      "name": "Sticky Note 7282d015",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        720
      ]
    },
    {
      "parameters": {
        "content": "## Convention values\n- `refunds` (chatbot classification value)\n- `language__en` (English code)\n\nThese strings are conventions shared across the CS automation and are kept hardcoded.",
        "height": 180,
        "width": 400,
        "color": 4
      },
      "id": "e5d581df-e364-449e-96dd-859e9d6d2d42",
      "name": "Sticky Note bca10a79",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        512
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dJfhIiG72BwXX2Is",
          "mode": "list",
          "cachedResultUrl": "/workflow/dJfhIiG72BwXX2Is",
          "cachedResultName": "Operations Department — CS - Refund requests flow [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "09e7c1be-90fb-4668-96ab-4fe0eb2c8d63",
      "name": "Call 'CS - Refund requests flow [Template]'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2352,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e7b71648-2a09-4b98-9a3c-bcd51cf09067",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        96
      ],
      "id": "8ca728d0-c4fd-49de-a0f9-149ed3c55834",
      "name": "Webhook",
      "webhookId": "e7b71648-2a09-4b98-9a3c-bcd51cf09067"
    }
  ],
  "connections": {
    "Zendesk Trigger": {
      "main": [
        []
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Get a ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is chatbot classification == refunds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is chatbot classification == refunds": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Language isn't English",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language isn't English": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Call 'CS - Refund requests flow [Template]'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a ticket": {
      "main": [
        [
          {
            "node": "Is status automated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is status automated": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Zendesk Trigger": {}
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "efuturemedia.app.n8n.cloud",
            "user-agent": "Zendesk Webhook",
            "content-length": "1333",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "216.198.17.124",
            "cf-ew-via": "15",
            "cf-ipcountry": "IE",
            "cf-ray": "9fea2e5e4b9cbe40-DUB",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json; charset=utf-8",
            "traceparent": "00-6a0d7966000000008d85ac2543d78822-8d85ac2543d78822-00",
            "tracestate": "dd=s:-1;p:8d85ac2543d78822",
            "x-forwarded-for": "216.198.17.124, 162.158.49.126",
            "x-forwarded-host": "efuturemedia.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-34-68577659cb-p26wb",
            "x-is-trusted": "yes",
            "x-real-ip": "216.198.17.124",
            "x-request-id": "afa85761-ef2f-438d-a797-cd28a97e0a77",
            "x-zendesk-account-id": "26147041",
            "x-zendesk-webhook-id": "01KS21JYKWYSJ5T4ZBB0AQH533",
            "x-zendesk-webhook-invocation-id": "01KS2A4DKP9WS1QCVHY1CN0H5D",
            "x-zendesk-webhook-signature": "2xeivafaQRFxm73L95gnN3beIXB6XnZXFFU9Ldy6zwk=",
            "x-zendesk-webhook-signature-timestamp": "2026-05-20T09:05:42Z"
          },
          "params": {},
          "query": {},
          "body": {
            "ticket.title": "Chatbot: refund request from antonioefuturemedia@gmail.com",
            "ticket.description": "----------------------------------------------\n\nAntonio Marusic, May 20, 2026, 12:05\n\nSummary: User requested a refund and confirmed the request through the provided button. The refund request has been submitted successfully with Ticket ID 330, and the support team will follow up via email. User reiterated the request for a refund and confirmed it again.\n\nRequest: refund\n\nChat transcript:\nUser: I want a refund\nAssistant: To confirm your Refund request, click the button below. [CONFIRM_CANCEL_REFUND] [INTENT:refund] [EMAIL:antonioefuturemedia@gmail.com]\nUser: __confirm_cancel_refund__\nAssistant: Your refund request has been successfully submitted (Ticket id 330). Our team will follow up with you at antonioefuturemedia@gmail.com as soon as possible. [TICKET_CANCEL_REFUND_CREATED]\nUser: I want a refund\nAssistant: To confirm your Refund request, click the button below. [CONFIRM_CANCEL_REFUND] [INTENT:refund] [EMAIL:antonioefuturemedia@gmail.com]\nUser: __confirm_cancel_refund__\n\nCreated via support chatbot.",
            "ticket.url": "efuturechatbot.zendesk.com/agent/tickets/331",
            "ticket.id": "331",
            "ticket.status": "Open",
            "ticket.requester.email": "antonioefuturemedia@gmail.com",
            "ticket.ticket_field_26136966521244": ""
          },
          "webhookUrl": "https://efuturemedia.app.n8n.cloud/webhook/e7b71648-2a09-4b98-9a3c-bcd51cf09067",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "493529be-0aa9-4352-8c74-8e1f31bd3e94",
  "activeVersionId": "493529be-0aa9-4352-8c74-8e1f31bd3e94",
  "versionCounter": 80,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-12T19:24:34.771Z",
      "createdAt": "2026-05-12T19:24:34.771Z",
      "role": "workflow:owner",
      "workflowId": "BiGuMvAAo4ot1Bea",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-20T09:38:58.000Z",
    "createdAt": "2026-05-20T09:38:52.119Z",
    "versionId": "493529be-0aa9-4352-8c74-8e1f31bd3e94",
    "workflowId": "BiGuMvAAo4ot1Bea",
    "nodes": [
      {
        "parameters": {
          "options": {
            "fields": [
              "ticket.title",
              "ticket.description",
              "ticket.url",
              "ticket.id",
              "ticket.status",
              "ticket.requester.email",
              "ticket.ticket_field_26136966521244"
            ]
          },
          "conditions": {
            "all": [
              {}
            ]
          }
        },
        "id": "ddfa3d1b-37e5-4d5e-8c51-0a054b36bb9e",
        "name": "Zendesk Trigger",
        "type": "n8n-nodes-base.zendeskTrigger",
        "typeVersion": 1,
        "position": [
          -16,
          -160
        ],
        "webhookId": "04a00837-251d-4792-ba1d-dc281ad6be76",
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "lovestyle_dev",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "6cce4da6-75bd-40bb-8e37-6e8085a11317",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          96
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "IRxwFN8iBhHLFQxQ",
            "mode": "list",
            "cachedResultName": "cs_project_config",
            "cachedResultUrl": "/projects/CH8lyrRTH2IOvQOj/datatables/IRxwFN8iBhHLFQxQ"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "a9f6010a-87ff-49cf-8c73-b2e296e51c97",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          448,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "38f8b03a-a7be-4778-9553-3f567b373ffd",
                "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_chatbot_classification_id] }}",
                "rightValue": "refunds",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f6086536-dcd1-4c00-b19f-4e2f046a8666",
        "name": "Is chatbot classification == refunds",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          896,
          192
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "edc46055-476a-46aa-b8a3-aa88bc0add0e",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1120,
          96
        ]
      },
      {
        "parameters": {
          "jsCode": "const INPUT_PATH = 'description';\n\nfunction getByPath(obj, path) {\n  return path.split('.').reduce((acc, key) => {\n    if (acc && Object.prototype.hasOwnProperty.call(acc, key)) {\n      return acc[key];\n    }\n    return undefined;\n  }, obj);\n}\n\nconst inputText = getByPath($json, INPUT_PATH);\n\nif (typeof inputText !== 'string') {\n  throw new Error(`Input at path \"${INPUT_PATH}\" is not a string or does not exist.`);\n}\n\n// Match all lines starting with \"User:\"\nconst userLines = inputText.match(/^User:.*$/gm) || [];\n\n// Return as single newline-separated string\nreturn [\n  {\n    json: {\n      user_only: userLines.join('\\n'),\n      user_lines: userLines, // optional array\n      count: userLines.length,\n    },\n  },\n];"
        },
        "id": "1b9acaeb-0894-4d5d-8879-a999cb4999c5",
        "name": "Extract",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "5b5364df-96ee-40d2-b018-363299d58adb",
                "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_language_id] }}",
                "rightValue": "=language__en",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "fc8592f9-aa2d-4249-aae2-5dce23038ad8",
        "name": "Language isn't English",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1568,
          96
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Extract').item.json.user_only }}\",\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage : \"en\" }}\",\n    \"is_translated\":{{$('Translate ticket to english1').isExecuted ? true:false}}\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.title : \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.description : \"\"}}\"\n    }\n  }\n} ",
          "options": {}
        },
        "id": "87bd4820-f54d-4e35-9549-4146dff80835",
        "name": "Set translated request data test1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2128,
          80
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.1",
            "mode": "id"
          },
          "responses": {
            "values": [
              {
                "content": "=Description: {{ $json.user_only }}"
              },
              {
                "role": "system",
                "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object",
                "verbosity": "high"
              }
            }
          }
        },
        "id": "c9e262cc-1de4-4b26-9c07-479325ded30d",
        "name": "Translate ticket to english1",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1808,
          240
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "dJlA3NdNIjPMEw9F",
            "name": "CS automations project"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "id": "={{ $(\"Webhook\").item.json.body[\"ticket.id\"] }}"
        },
        "id": "2378569f-391f-4b11-8ff2-9d0b5000be04",
        "name": "Get a ticket",
        "type": "n8n-nodes-base.zendesk",
        "typeVersion": 1,
        "position": [
          672,
          0
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "af4dbe40-673c-484f-a26b-6f8c1d224bf8",
                "leftValue": "={{ $json.custom_status_id }}",
                "rightValue": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_chatbot_automated_id }}",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "347c441e-b99a-4485-b1ee-0eaf8319ed70",
        "name": "Is status automated",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          896,
          0
        ]
      },
      {
        "parameters": {
          "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded deployment key.\n2. **Get Project Config** fetches the row from `cs_project_config`.\n3. Downstream nodes read column values via `$('Get Project Config').first().json.*`.\n\n## Trigger fields are hardcoded\nThe Zendesk Trigger \"fields\" list cannot use expressions, so these field IDs are baked in:\n- 33841769865629 = chatbot classification (`ticket_field_chatbot_classification_id`)\n- 34358154126749 = contact form classification (`ticket_field_contact_form_classification_id`)\n- 33825960843421 = language (`ticket_field_language_id`)\n- 26136966521244 = legacy / phone (not used in flow)\n\nUpdate these per project when duplicating.\n\n## Convention values kept hardcoded\n- `refunds` chatbot classification value\n- `language__en` language code\n\n## To duplicate\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Update the Zendesk Trigger field IDs in the trigger node `options.fields`.\n- Re-bind Zendesk and OpenAI credentials.\n- Rewire the `Call 'CS - Refund flow'` to the project's refund subworkflow.",
          "height": 380,
          "width": 880,
          "color": 5
        },
        "id": "6da200b2-3fdb-40c6-946d-3054510a2f8f",
        "name": "Sticky Note 7282d015",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1056,
          720
        ]
      },
      {
        "parameters": {
          "content": "## Convention values\n- `refunds` (chatbot classification value)\n- `language__en` (English code)\n\nThese strings are conventions shared across the CS automation and are kept hardcoded.",
          "height": 180,
          "width": 400,
          "color": 4
        },
        "id": "e5d581df-e364-449e-96dd-859e9d6d2d42",
        "name": "Sticky Note bca10a79",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1056,
          512
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "dJfhIiG72BwXX2Is",
            "mode": "list",
            "cachedResultUrl": "/workflow/dJfhIiG72BwXX2Is",
            "cachedResultName": "Operations Department — CS - Refund requests flow [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "09e7c1be-90fb-4668-96ab-4fe0eb2c8d63",
        "name": "Call 'CS - Refund requests flow [Template]'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2352,
          80
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "e7b71648-2a09-4b98-9a3c-bcd51cf09067",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          16,
          96
        ],
        "id": "8ca728d0-c4fd-49de-a0f9-149ed3c55834",
        "name": "Webhook",
        "webhookId": "e7b71648-2a09-4b98-9a3c-bcd51cf09067"
      }
    ],
    "connections": {
      "Zendesk Trigger": {
        "main": [
          []
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Get a ticket",
              "type": "main",
              "index": 0
            },
            {
              "node": "Is chatbot classification == refunds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is chatbot classification == refunds": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Extract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract": {
        "main": [
          [
            {
              "node": "Language isn't English",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Language isn't English": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Translate ticket to english1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set translated request data test1": {
        "main": [
          [
            {
              "node": "Call 'CS - Refund requests flow [Template]'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Translate ticket to english1": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a ticket": {
        "main": [
          [
            {
              "node": "Is status automated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is status automated": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 493529be",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-20T09:38:58.499Z",
        "id": 718,
        "workflowId": "BiGuMvAAo4ot1Bea",
        "versionId": "493529be-0aa9-4352-8c74-8e1f31bd3e94",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}