workflows/CS_-_HMAC__qxTEejN1ZY0EHjVD.json
{
  "updatedAt": "2026-04-23T08:57:12.891Z",
  "createdAt": "2026-04-09T08:48:23.771Z",
  "id": "qxTEejN1ZY0EHjVD",
  "name": "CS - HMAC",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        656
      ],
      "id": "b9f5bdde-df32-4f56-b73e-609cf503e6ea",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dev.lovestyle.co/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        1264
      ],
      "id": "ad9e0dd6-aefa-4b4c-bc11-2449ae08a164",
      "name": "DEV bot/search6",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function sortKeys(obj) {\n  const sorted = {};\n  for (const key of Object.keys(obj).sort()) {\n    const val = obj[key];\n    if (val && typeof val === 'object' && !Array.isArray(val)) {\n      sorted[key] = sortKeys(val);\n    } else {\n      sorted[key] = val;\n    }\n  }\n  return sorted;\n}\n\nconst sortedBody = JSON.stringify(sortKeys($input.first().json.body));\n\nreturn {sortedBody};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        480
      ],
      "id": "0f0da0d5-c65a-4b4f-99b1-c6d60472f0b2",
      "name": "Sort keys2"
    },
    {
      "parameters": {
        "value": "={{ $json.sortedBody }}",
        "dataPropertyName": "hashedBody"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1216,
        480
      ],
      "id": "2d05c504-37b3-4bb5-8a2e-7f3e3137057f",
      "name": "Hash request body"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a736b62d-eb5a-4a56-a67c-e7ebbbfe192b",
              "name": "body",
              "value": "={ \"email\":\"{{ $json.userEmail }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        1264
      ],
      "id": "f2067090-fb97-43db-a0b2-bc847b0053fa",
      "name": "Set body data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a513b34-df55-4638-b3df-edffb17dd440",
              "name": "timestamp",
              "value": "={{Math.floor($now.toSeconds())}}",
              "type": "string"
            },
            {
              "id": "3b80b288-502d-4914-818d-f337597e9322",
              "name": "keyID",
              "value": "n8n-dev",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        656
      ],
      "id": "9ccc4e53-3863-4989-8e05-b104446fa326",
      "name": "Set timestamp and keyID"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "nonce",
        "encodingType": "hex",
        "stringLength": 16
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        992,
        832
      ],
      "id": "3f1c1a51-cd28-4287-b4cd-278e91abd4be",
      "name": "Generate nonce"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        640
      ],
      "id": "d9acea48-dac7-4012-89b2-3f08a2938c37",
      "name": "Merge"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.method }}\n{{ $json.endpoint }}\n{{ $json.timestamp }}\n{{ $json.nonce }}\n{{ $json.hashedBody }}",
        "dataPropertyName": "signedString"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1792,
        656
      ],
      "id": "c76f66aa-5726-41fd-8f04-534ab8a763c2",
      "name": "Sign payload",
      "credentials": {
        "crypto": {
          "id": "FMGHFCSEYMcJfBhG",
          "name": "LS dev n8n key"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/transactions/refund\",\n\"body\": \n  {\"transactionId\": \"{{ $json.transactionId }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        656
      ],
      "id": "f558e392-b619-44d0-813d-c19bec21ed7f",
      "name": "Set body data1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "cancellation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76981cbd-bebf-4390-b14b-c7f186d323dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ace41aaa-388e-460e-8c51-c4a1d5d59414",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "refund",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refund"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d868d79-876b-4427-879a-a2769eee4d3d",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        640
      ],
      "id": "cd6a9481-ff70-4213-8d6c-e0870d6457af",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n\"subscriptionId\":\"{{ $json.subscriptionId }}\",\n\"cancelImmediately\":true\n}\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        480
      ],
      "id": "ffecfcbf-8142-41df-862d-9505c27c4ec6",
      "name": "Set body data2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/search\",\n\"body\": \n  { \"email\":\"{{ $json.email }}\",\n\"includeTransactionsLast30Days\": true\n}\n    }\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        832
      ],
      "id": "ff4e277e-6318-4ad6-a093-1d5049dfcb09",
      "name": "Set body data3"
    }
  ],
  "connections": {
    "Sort keys2": {
      "main": [
        [
          {
            "node": "Hash request body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash request body": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set body data": {
      "main": [
        []
      ]
    },
    "Set timestamp and keyID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate nonce": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sign payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign payload": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set body data2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set body data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set body data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set body data1": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set body data2": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set body data3": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "adbdf933-c0a4-4a4b-ac5b-488ce518adca",
  "activeVersionId": "adbdf933-c0a4-4a4b-ac5b-488ce518adca",
  "versionCounter": 147,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-09T08:48:23.775Z",
      "createdAt": "2026-04-09T08:48:23.775Z",
      "role": "workflow:owner",
      "workflowId": "qxTEejN1ZY0EHjVD",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-16T08:52:27.000Z",
    "createdAt": "2026-04-16T08:51:31.584Z",
    "versionId": "adbdf933-c0a4-4a4b-ac5b-488ce518adca",
    "workflowId": "qxTEejN1ZY0EHjVD",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          48,
          656
        ],
        "id": "b9f5bdde-df32-4f56-b73e-609cf503e6ea",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://dev.lovestyle.co/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1904,
          1264
        ],
        "id": "ad9e0dd6-aefa-4b4c-bc11-2449ae08a164",
        "name": "DEV bot/search6",
        "retryOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "function sortKeys(obj) {\n  const sorted = {};\n  for (const key of Object.keys(obj).sort()) {\n    const val = obj[key];\n    if (val && typeof val === 'object' && !Array.isArray(val)) {\n      sorted[key] = sortKeys(val);\n    } else {\n      sorted[key] = val;\n    }\n  }\n  return sorted;\n}\n\nconst sortedBody = JSON.stringify(sortKeys($input.first().json.body));\n\nreturn {sortedBody};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          480
        ],
        "id": "0f0da0d5-c65a-4b4f-99b1-c6d60472f0b2",
        "name": "Sort keys2"
      },
      {
        "parameters": {
          "value": "={{ $json.sortedBody }}",
          "dataPropertyName": "hashedBody"
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          1216,
          480
        ],
        "id": "2d05c504-37b3-4bb5-8a2e-7f3e3137057f",
        "name": "Hash request body"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a736b62d-eb5a-4a56-a67c-e7ebbbfe192b",
                "name": "body",
                "value": "={ \"email\":\"{{ $json.userEmail }}\" }",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1712,
          1264
        ],
        "id": "f2067090-fb97-43db-a0b2-bc847b0053fa",
        "name": "Set body data"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0a513b34-df55-4638-b3df-edffb17dd440",
                "name": "timestamp",
                "value": "={{Math.floor($now.toSeconds())}}",
                "type": "string"
              },
              {
                "id": "3b80b288-502d-4914-818d-f337597e9322",
                "name": "keyID",
                "value": "n8n-dev",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          992,
          656
        ],
        "id": "9ccc4e53-3863-4989-8e05-b104446fa326",
        "name": "Set timestamp and keyID"
      },
      {
        "parameters": {
          "action": "generate",
          "dataPropertyName": "nonce",
          "encodingType": "hex",
          "stringLength": 16
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          992,
          832
        ],
        "id": "3f1c1a51-cd28-4287-b4cd-278e91abd4be",
        "name": "Generate nonce"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 3,
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1568,
          640
        ],
        "id": "d9acea48-dac7-4012-89b2-3f08a2938c37",
        "name": "Merge"
      },
      {
        "parameters": {
          "action": "hmac",
          "value": "={{ $json.method }}\n{{ $json.endpoint }}\n{{ $json.timestamp }}\n{{ $json.nonce }}\n{{ $json.hashedBody }}",
          "dataPropertyName": "signedString"
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          1792,
          656
        ],
        "id": "c76f66aa-5726-41fd-8f04-534ab8a763c2",
        "name": "Sign payload",
        "credentials": {
          "crypto": {
            "id": "FMGHFCSEYMcJfBhG",
            "name": "LS dev n8n key"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/transactions/refund\",\n\"body\": \n  {\"transactionId\": \"{{ $json.transactionId }}\"\n  }\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          656
        ],
        "id": "f558e392-b619-44d0-813d-c19bec21ed7f",
        "name": "Set body data1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "cancellation",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "76981cbd-bebf-4390-b14b-c7f186d323dc"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancellation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ace41aaa-388e-460e-8c51-c4a1d5d59414",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "refund",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "refund"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4d868d79-876b-4427-879a-a2769eee4d3d",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "search",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "search"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          256,
          640
        ],
        "id": "cd6a9481-ff70-4213-8d6c-e0870d6457af",
        "name": "Switch"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n\"subscriptionId\":\"{{ $json.subscriptionId }}\",\n\"cancelImmediately\":true\n}\n  }\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          480
        ],
        "id": "ffecfcbf-8142-41df-862d-9505c27c4ec6",
        "name": "Set body data2"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/search\",\n\"body\": \n  { \"email\":\"{{ $json.email }}\",\n\"includeTransactionsLast30Days\": true\n}\n    }\n  }\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          832
        ],
        "id": "ff4e277e-6318-4ad6-a093-1d5049dfcb09",
        "name": "Set body data3"
      }
    ],
    "connections": {
      "Sort keys2": {
        "main": [
          [
            {
              "node": "Hash request body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hash request body": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set body data": {
        "main": [
          []
        ]
      },
      "Set timestamp and keyID": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Generate nonce": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Sign payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sign payload": {
        "main": [
          []
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Set body data2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set body data1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set body data3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set body data1": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set body data2": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set body data3": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version adbdf933",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-16T08:52:27.813Z",
        "id": 452,
        "workflowId": "qxTEejN1ZY0EHjVD",
        "versionId": "adbdf933-c0a4-4a4b-ac5b-488ce518adca",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-04-16T08:52:33.521Z",
        "id": 454,
        "workflowId": "qxTEejN1ZY0EHjVD",
        "versionId": "adbdf933-c0a4-4a4b-ac5b-488ce518adca",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-04-23T08:57:13.107Z",
        "id": 490,
        "workflowId": "qxTEejN1ZY0EHjVD",
        "versionId": "adbdf933-c0a4-4a4b-ac5b-488ce518adca",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-04-16T08:52:33.435Z",
        "id": 453,
        "workflowId": "qxTEejN1ZY0EHjVD",
        "versionId": "adbdf933-c0a4-4a4b-ac5b-488ce518adca",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-04-23T08:57:12.961Z",
        "id": 489,
        "workflowId": "qxTEejN1ZY0EHjVD",
        "versionId": "adbdf933-c0a4-4a4b-ac5b-488ce518adca",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}