workflows/CS_-_Cancellation_request_[Template]__LSK2uSi3QypQa9ls.json
{
  "updatedAt": "2026-05-20T07:30:07.898Z",
  "createdAt": "2026-05-12T19:19:43.453Z",
  "id": "LSK2uSi3QypQa9ls",
  "name": "CS - Cancellation request [Template]",
  "description": "Template version of CS - Cancellation request. Calls payments microservice to cancel subscription, handles success and 'already cancelled' edge case. All project-specific values templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "423b9507-4442-4219-be6a-da2cc9c38b53",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "lovestyle_dev",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8216ef6a-10a3-4b53-918b-d976f238cbc7",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "2b1a3546-a542-40d6-b1e8-815fb29b8ca9",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "cancellation",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "subscriptionId",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "4a784303-6f90-4bcc-b000-f089cb649d20",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "7df9eeea-8dff-4e69-a686-b760d4199f6a",
              "name": "ticketID",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketID }}",
              "type": "string"
            },
            {
              "id": "5b462efb-eaf1-48fc-9e35-48f6e4e185c3",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22bcd9ff-8e00-4742-8923-4eecd7142f48",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9dHFAZqAbAj42xR3",
          "mode": "list",
          "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
          "cachedResultName": "Operations Department — CS - HMAC [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "279bdcb3-fdf3-456a-9849-b9dda4903bca",
      "name": "Call 'CS - HMAC'2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/subscriptions/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9584042d-9b6d-4523-b28a-b677d9a9a59a",
      "name": "DEV bot/subscription/cancel2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        192
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_cancel_subs_id }}",
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "94787578-305d-4553-96b6-5c0ba016b238",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6VBYrrSTrlJxBkA1",
          "mode": "list",
          "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "6540120a-b2e6-4f15-ae53-5ff4fc85120c",
      "name": "Update zendesk ticket4",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1568,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "subscriptionAlreadyCancelled",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e51260f4-b4e5-41ff-9c3f-4dd15f44a4bc",
      "name": "Is already cancelled1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_customer_claims_id }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9dfd4be2-599c-4d7b-b777-9d3f04090f66",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6VBYrrSTrlJxBkA1",
          "mode": "list",
          "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
          "cachedResultName": "Operations Department — CS - Zendesk ticket update request [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "ebc86462-fd7b-4b69-966e-7efabe2e408d",
      "name": "Update zendesk ticket",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1792,
        192
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Edit Fields3\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"Edit Fields3\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('Edit Fields3').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c735aaa1-a3ba-4701-8e50-a10161f4a3f7",
      "name": "Reply internally and set status to open1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        384
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AUABW5ZPZ",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors-dev"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel2').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('Edit Fields3').item.json.subscriptionID }}\n- Ticket ID: {{ $('Edit Fields3').item.json.ticketID }}\n- URL: https://{{ $('Edit Fields3').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('Edit Fields3').item.json.ticketID }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "560d4803-bc8f-414d-a467-5357192e970e",
      "name": "Send a message4",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1792,
        384
      ],
      "webhookId": "e7f734e4-907f-49b2-8cc7-dfed9b33cc0e",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
        "height": 224,
        "width": 352,
        "color": 7
      },
      "id": "898f158a-a920-4e16-9958-f4d374983565",
      "name": "Sticky Note 6095b2a0",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        144
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "f5aaf8f7-4c93-4360-a4cd-5cdde64aa985",
      "name": "Sticky Note 9445970a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        -96
      ]
    },
    {
      "parameters": {
        "content": "# Template configuration\n\n**Set project_key** holds the hardcoded deployment key.\n**Get Project Config** provides project values (zendesk_domain, payments_api_base_url, status IDs, macros, slack channel).\n\nSubworkflow refs (HMAC, Update Zendesk) remain inline; rewire to template versions per project.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Re-bind Zendesk/Slack credentials and subworkflow IDs.",
        "height": 220,
        "width": 700,
        "color": 5
      },
      "id": "594f17fe-5ae3-46d8-8f1f-dd9e699cfbed",
      "name": "Sticky Note 4f77e08b",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        896
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'2": {
      "main": [
        [
          {
            "node": "DEV bot/subscription/cancel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/subscription/cancel2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is already cancelled1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Update zendesk ticket4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is already cancelled1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "subscriptionId": "1375ad52-c0d4-45a6-b72d-25f42c57c9fc",
          "ticketID": 327,
          "isTranslated": false,
          "originalLanguage": "en"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "a0f886fc-c43f-48fa-b3f4-4ecfd0bdba25",
  "activeVersionId": "a0f886fc-c43f-48fa-b3f4-4ecfd0bdba25",
  "versionCounter": 26,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-12T19:19:43.459Z",
      "createdAt": "2026-05-12T19:19:43.459Z",
      "role": "workflow:owner",
      "workflowId": "LSK2uSi3QypQa9ls",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-20T07:30:15.000Z",
    "createdAt": "2026-05-20T07:30:07.899Z",
    "versionId": "a0f886fc-c43f-48fa-b3f4-4ecfd0bdba25",
    "workflowId": "LSK2uSi3QypQa9ls",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "423b9507-4442-4219-be6a-da2cc9c38b53",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          192
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "lovestyle_dev",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "8216ef6a-10a3-4b53-918b-d976f238cbc7",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          192
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "2b1a3546-a542-40d6-b1e8-815fb29b8ca9",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          448,
          192
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "cancellation",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "subscriptionId",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "4a784303-6f90-4bcc-b000-f089cb649d20",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "7df9eeea-8dff-4e69-a686-b760d4199f6a",
                "name": "ticketID",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketID }}",
                "type": "string"
              },
              {
                "id": "5b462efb-eaf1-48fc-9e35-48f6e4e185c3",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "22bcd9ff-8e00-4742-8923-4eecd7142f48",
        "name": "Edit Fields3",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          192
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9dHFAZqAbAj42xR3",
            "mode": "list",
            "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
            "cachedResultName": "Operations Department — CS - HMAC [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "279bdcb3-fdf3-456a-9849-b9dda4903bca",
        "name": "Call 'CS - HMAC'2",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          896,
          192
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/subscriptions/cancel",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "9584042d-9b6d-4523-b28a-b677d9a9a59a",
        "name": "DEV bot/subscription/cancel2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1120,
          192
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_cancel_subs_id }}",
                "type": "number"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "94787578-305d-4553-96b6-5c0ba016b238",
        "name": "Edit Fields5",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1344,
          0
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6VBYrrSTrlJxBkA1",
            "mode": "list",
            "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
            "cachedResultName": "Operations Department — CS - Zendesk ticket update request [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "6540120a-b2e6-4f15-ae53-5ff4fc85120c",
        "name": "Update zendesk ticket4",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1568,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
                "leftValue": "={{ $json.error.message }}",
                "rightValue": "subscriptionAlreadyCancelled",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "e51260f4-b4e5-41ff-9c3f-4dd15f44a4bc",
        "name": "Is already cancelled1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1344,
          288
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_customer_claims_id }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "9dfd4be2-599c-4d7b-b777-9d3f04090f66",
        "name": "Edit Fields4",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          192
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6VBYrrSTrlJxBkA1",
            "mode": "list",
            "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
            "cachedResultName": "Operations Department — CS - Zendesk ticket update request [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "ebc86462-fd7b-4b69-966e-7efabe2e408d",
        "name": "Update zendesk ticket",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1792,
          192
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Edit Fields3\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"Edit Fields3\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $('Edit Fields3').item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c735aaa1-a3ba-4701-8e50-a10161f4a3f7",
        "name": "Reply internally and set status to open1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1568,
          384
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AUABW5ZPZ",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors-dev"
          },
          "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel2').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('Edit Fields3').item.json.subscriptionID }}\n- Ticket ID: {{ $('Edit Fields3').item.json.ticketID }}\n- URL: https://{{ $('Edit Fields3').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('Edit Fields3').item.json.ticketID }}",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "560d4803-bc8f-414d-a467-5357192e970e",
        "name": "Send a message4",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          1792,
          384
        ],
        "webhookId": "e7f734e4-907f-49b2-8cc7-dfed9b33cc0e",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
          "height": 224,
          "width": 352,
          "color": 7
        },
        "id": "898f158a-a920-4e16-9958-f4d374983565",
        "name": "Sticky Note 6095b2a0",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2032,
          144
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "id": "f5aaf8f7-4c93-4360-a4cd-5cdde64aa985",
        "name": "Sticky Note 9445970a",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2032,
          -96
        ]
      },
      {
        "parameters": {
          "content": "# Template configuration\n\n**Set project_key** holds the hardcoded deployment key.\n**Get Project Config** provides project values (zendesk_domain, payments_api_base_url, status IDs, macros, slack channel).\n\nSubworkflow refs (HMAC, Update Zendesk) remain inline; rewire to template versions per project.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Re-bind Zendesk/Slack credentials and subworkflow IDs.",
          "height": 220,
          "width": 700,
          "color": 5
        },
        "id": "594f17fe-5ae3-46d8-8f1f-dd9e699cfbed",
        "name": "Sticky Note 4f77e08b",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          800,
          896
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'2": {
        "main": [
          [
            {
              "node": "DEV bot/subscription/cancel2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/subscription/cancel2": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is already cancelled1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Update zendesk ticket4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is already cancelled1": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Update zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open1": {
        "main": [
          [
            {
              "node": "Send a message4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version a0f886fc",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-20T07:30:15.840Z",
        "id": 696,
        "workflowId": "LSK2uSi3QypQa9ls",
        "versionId": "a0f886fc-c43f-48fa-b3f4-4ecfd0bdba25",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}