workflows/HR_-_Peopleforce_newcomers_Slack_notification,_new_employee__Ku8V8cmvExTVqd5f.json
{
  "updatedAt": "2026-07-23T08:22:39.456Z",
  "createdAt": "2026-06-25T14:36:19.990Z",
  "id": "Ku8V8cmvExTVqd5f",
  "name": "HR - Peopleforce newcomers Slack notification, new employee",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "78c40e7e-e4c7-4e20-be5e-c22149151112",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        208
      ],
      "id": "08eaef45-664c-4f2b-b356-7cb1e4320507",
      "name": "Webhook",
      "webhookId": "78c40e7e-e4c7-4e20-be5e-c22149151112"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BD2G9KQJ1",
          "mode": "list",
          "cachedResultName": "pf-test-channel"
        },
        "text": "=Event: {{$json.body.action.replaceAll(\"employee\",\"contractor\")}} \nPerson: {{$json.body.data.attributes.first_name}} {{$json.body.data.attributes.last_name}}\nEmail: {{$json.body.data.attributes.email}}\nStart date: {{$json.body.data.attributes.hired_on}}\nRole: {{$json.body.data.position.name}}\nDepartment: {{$json.body.data.department.name}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        48,
        320
      ],
      "id": "e53c53f2-4bda-45bd-8a07-016daf1e09db",
      "name": "Send a message",
      "webhookId": "2e5811b6-59b8-43c7-b7e9-03cbddad82e1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BDX16SLG0",
          "mode": "list",
          "cachedResultName": "chapter-leads"
        },
        "text": "=Event: {{$json.body.action.replaceAll(\"employee\",\"contractor\")}} \nPerson: {{$json.body.data.attributes.first_name}} {{$json.body.data.attributes.last_name}}\nEmail: {{$json.body.data.attributes.email}}\nStart date: {{$json.body.data.attributes.hired_on}}\nRole: {{$json.body.data.position.name}}\nDepartment: {{$json.body.data.department.name}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        352,
        64
      ],
      "id": "24abd22e-c9ff-49f1-be69-af551d8842f6",
      "name": "Send a message1",
      "webhookId": "2e5811b6-59b8-43c7-b7e9-03cbddad82e1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88dfeccb-5f8b-490d-94da-256b791f2f63",
              "leftValue": "={{ $json.body.data.department.name }}",
              "rightValue": "Engineering",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        80
      ],
      "id": "16235343-cb8f-4de0-969c-d02b112bbb18",
      "name": "Is engineering dept"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "employee_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76a378b0-193f-49f0-b8cd-443fda1a2bfe"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a6be6522-9e2e-4981-9062-b9f806c65062",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "employee_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        -432
      ],
      "id": "fa25c9d8-e8c8-44cf-95f2-8e134244f316",
      "name": "Switch"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is engineering dept",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is engineering dept": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Is engineering dept": [
      {
        "json": {
          "headers": {
            "host": "efuturemedia.app.n8n.cloud",
            "user-agent": "Ruby",
            "content-length": "4789",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-trace_id=e279aae6b5b5404fb0b1f653923589c4,sentry-sample_rand=0.153141,sentry-environment=prod-eu,sentry-public_key=94dee93b72eb43a78242b5f7323df50f,sentry-org_id=437710",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.1.235.117",
            "cf-ew-via": "15",
            "cf-ipcountry": "NL",
            "cf-ray": "a1f89f39091dfb9e-AMS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sentry-trace": "e279aae6b5b5404fb0b1f653923589c4-c9301c6526db4a68",
            "traceparent": "00-1ff7cf594ebef667e01d2cfadada2611-8c725fb0cdad0aba-00",
            "x-forwarded-for": "34.1.235.117, 141.101.76.159",
            "x-forwarded-host": "efuturemedia.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-34-68577659cb-vlllp",
            "x-is-trusted": "yes",
            "x-peopleforce-delivery": "763f6408-086a-4554-b814-9d5b27203b15",
            "x-peopleforce-endpoint": "66635c17-202d-45d5-a216-c314ed5da59b",
            "x-real-ip": "34.1.235.117"
          },
          "params": {},
          "query": {},
          "body": {
            "action": "employee_create",
            "data": {
              "id": 768307,
              "attributes": {
                "employee_number": "id136",
                "hired_on": "2026-08-03",
                "probation_ends_on": null,
                "first_name": "Dmytro",
                "middle_name": null,
                "last_name": "Muliak",
                "email": "dmytro.muliak@efuturemedia.com",
                "personal_email": "dmitriymuliak@gmail.com",
                "gender": "male",
                "gender_id": 18820,
                "mobile_number": "+380634169909",
                "work_phone_number": null,
                "date_of_birth": "1994-11-07",
                "termination_effective_date": null,
                "termination_eligible_for_rehire": null,
                "termination_reason": null,
                "termination_type": null,
                "termination_last_day_office_on": null,
                "termination_comment": null,
                "avatar_url": null
              },
              "reporting_to": null,
              "employment_type": null,
              "position": {
                "id": 331570,
                "name": "Frontend developer"
              },
              "job_level": {
                "id": 33186,
                "name": "Senior"
              },
              "department": {
                "id": 136439,
                "name": "Engineering"
              },
              "division": null,
              "location": null,
              "custom_fields": {
                "4a2392e8-f289-404a-95f6-262c513ed06f": {
                  "name": "Nationality country",
                  "value": "Ukraine",
                  "group": "Personal data"
                },
                "fbd8d24a-7ba8-4a20-8612-6507dfbabb41": {
                  "name": "VAT number",
                  "value": null,
                  "group": "Your company data"
                },
                "31d5ce55-b514-43bd-8c93-6e3ed9b5ceb9": {
                  "name": "Company Name",
                  "value": null,
                  "group": "Your company data"
                },
                "8068c1c4-9d30-4090-af2c-642f73cf3af3": {
                  "name": "Company Address",
                  "value": null,
                  "group": "Your company data"
                },
                "8f040dfe-7aa9-4e89-acf5-16760dcbcad0": {
                  "name": "Company Identification Numbers",
                  "value": null,
                  "group": "Your company data"
                },
                "cd306651-8932-4ecb-8aa1-8c64f13c6100": {
                  "name": "Residence country",
                  "value": "Ukraine",
                  "group": "Personal data"
                },
                "a9b4d63b-8ad3-4275-82b7-3929f369d0db": {
                  "name": "Residence address",
                  "value": "106 Stryiska St., apt. 121",
                  "group": "Personal data"
                },
                "45889fa4-50db-470c-87a0-8499cc658676": {
                  "name": "Residence city",
                  "value": "Lviv",
                  "group": "Personal data"
                },
                "988fca2f-7385-4308-aac6-b5567f6b1526": {
                  "name": "Native language",
                  "value": "Ukrainian",
                  "group": "Personal data"
                },
                "3b951583-fc8b-4d1d-adbe-a6d38e59d892": {
                  "name": "Second language",
                  "value": "English",
                  "group": "Personal data"
                },
                "56d9cd39-703a-4cce-966d-36e1575e4994": {
                  "name": "Third language",
                  "value": null,
                  "group": "Personal data"
                },
                "39c8c7c0-18a9-4038-b90e-f2f986768016": {
                  "name": "Calendar",
                  "value": null,
                  "group": "Contact data"
                },
                "aa2ce5ca-2e2b-4ce7-93b6-0a96c19a4a46": {
                  "name": "% MyQRCode",
                  "value": null,
                  "group": "Invoice data"
                },
                "7bbb71a5-7ba7-4457-80f2-b44839c1cb33": {
                  "name": "% Personality",
                  "value": null,
                  "group": "Invoice data"
                },
                "71f4d984-3d9d-4c17-a88f-11979c644c33": {
                  "name": "% ResumeWise",
                  "value": null,
                  "group": "Invoice data"
                },
                "d104bcf7-321f-42b0-95f5-cb7762f0c2cb": {
                  "name": "% LoveStyle",
                  "value": null,
                  "group": "Invoice data"
                },
                "0e6eaf05-19d5-430c-876e-920c99e56777": {
                  "name": "% Mobitrace",
                  "value": null,
                  "group": "Invoice data"
                },
                "72c97bde-7316-40b3-8083-9e731c7c86fb": {
                  "name": "% PDFHelp",
                  "value": null,
                  "group": "Invoice data"
                },
                "c1792b6c-7f94-4eb0-9249-83cec88439c4": {
                  "name": "% WAAP",
                  "value": null,
                  "group": "Invoice data"
                },
                "bc5f5652-5941-4761-b5f8-65555a250c5f": {
                  "name": "% AI Checker",
                  "value": null,
                  "group": "Invoice data"
                },
                "01cc844a-3ca9-4f6a-b409-696cefce5acd": {
                  "name": "% MyImage",
                  "value": null,
                  "group": "Invoice data"
                },
                "82bbf0d3-5f50-496d-83f5-d4672378c202": {
                  "name": "% BrainIQTest",
                  "value": null,
                  "group": "Invoice data"
                },
                "e0d86c6c-31f1-4381-9709-e3494468ff40": {
                  "name": "% Payment Microservice",
                  "value": null,
                  "group": "Invoice data"
                },
                "c7c12759-94bb-42d7-bb88-dc0b53962f18": {
                  "name": "% Scannerly",
                  "value": null,
                  "group": "Invoice data"
                },
                "8b860f55-2ad4-44e0-9c65-0ba464fc04ca": {
                  "name": "% VINChecker",
                  "value": null,
                  "group": "Invoice data"
                },
                "a5089c3d-ef73-4358-acb9-419a9276092d": {
                  "name": "% Mindspree",
                  "value": null,
                  "group": "Invoice data"
                },
                "9a9dfac1-d016-4b6d-86d2-f6e39c6aeced": {
                  "name": "Invoice value",
                  "value": null,
                  "group": "Invoice data"
                },
                "43170d7f-d27f-4390-8498-18b079ddfe59": {
                  "name": "Comment (invoice value)",
                  "value": null,
                  "group": "Invoice data"
                },
                "6d0f81db-9455-46ad-97aa-bfb4e3302ab8": {
                  "name": "Tempo reported hours",
                  "value": null,
                  "group": "Invoice data"
                },
                "7fbce372-783f-4309-91f2-429205bfdc78": {
                  "name": "Comment (tempo report)",
                  "value": null,
                  "group": "Invoice data"
                },
                "8218ecc7-e90d-475a-966f-40a28edf7928": {
                  "name": "% QRCreate",
                  "value": null,
                  "group": "Invoice data"
                },
                "78290644-2a6d-40a6-b622-9fa90abe8bfe": {
                  "name": "% other projects",
                  "value": null,
                  "group": "Invoice data"
                },
                "6754afb2-9939-40ec-a166-6dea8d48ad56": {
                  "name": "Comment (% project allocation)",
                  "value": null,
                  "group": "Invoice data"
                },
                "0945bb80-a077-41fc-a553-168d7e619df0": {
                  "name": "% Unicopy",
                  "value": null,
                  "group": "Invoice data"
                },
                "77b1581a-2fd3-4112-87f2-147e1f6fab09": {
                  "name": "Regular Tempo Time Report",
                  "value": null,
                  "group": "Tempo Time Report"
                },
                "eb6d6094-75bb-49f9-b760-c78ac1c9b776": {
                  "name": "% Chat AI",
                  "value": null,
                  "group": "Invoice data"
                },
                "753dcfcd-0396-4b52-b2dd-8402ccfd5820": {
                  "name": "Period of notice",
                  "value": null,
                  "group": "Period of notice"
                }
              },
              "meta": {
                "created_at": "2026-07-23T08:27:53.852+02:00",
                "updated_at": "2026-07-23T08:27:54.112+02:00"
              }
            }
          },
          "webhookUrl": "https://efuturemedia.app.n8n.cloud/webhook/78c40e7e-e4c7-4e20-be5e-c22149151112",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "69c46d79-3039-4bd4-bc46-b2e2c6253ec4",
  "activeVersionId": "69c46d79-3039-4bd4-bc46-b2e2c6253ec4",
  "versionCounter": 67,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-25T14:36:19.995Z",
      "createdAt": "2026-06-25T14:36:19.995Z",
      "role": "workflow:owner",
      "workflowId": "Ku8V8cmvExTVqd5f",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-23T08:20:52.000Z",
    "createdAt": "2026-07-23T08:20:25.067Z",
    "versionId": "69c46d79-3039-4bd4-bc46-b2e2c6253ec4",
    "workflowId": "Ku8V8cmvExTVqd5f",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "78c40e7e-e4c7-4e20-be5e-c22149151112",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -464,
          208
        ],
        "id": "08eaef45-664c-4f2b-b356-7cb1e4320507",
        "name": "Webhook",
        "webhookId": "78c40e7e-e4c7-4e20-be5e-c22149151112"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0BD2G9KQJ1",
            "mode": "list",
            "cachedResultName": "pf-test-channel"
          },
          "text": "=Event: {{$json.body.action.replaceAll(\"employee\",\"contractor\")}} \nPerson: {{$json.body.data.attributes.first_name}} {{$json.body.data.attributes.last_name}}\nEmail: {{$json.body.data.attributes.email}}\nStart date: {{$json.body.data.attributes.hired_on}}\nRole: {{$json.body.data.position.name}}\nDepartment: {{$json.body.data.department.name}}",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.5,
        "position": [
          48,
          320
        ],
        "id": "e53c53f2-4bda-45bd-8a07-016daf1e09db",
        "name": "Send a message",
        "webhookId": "2e5811b6-59b8-43c7-b7e9-03cbddad82e1",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0BDX16SLG0",
            "mode": "list",
            "cachedResultName": "chapter-leads"
          },
          "text": "=Event: {{$json.body.action.replaceAll(\"employee\",\"contractor\")}} \nPerson: {{$json.body.data.attributes.first_name}} {{$json.body.data.attributes.last_name}}\nEmail: {{$json.body.data.attributes.email}}\nStart date: {{$json.body.data.attributes.hired_on}}\nRole: {{$json.body.data.position.name}}\nDepartment: {{$json.body.data.department.name}}",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.5,
        "position": [
          352,
          64
        ],
        "id": "24abd22e-c9ff-49f1-be69-af551d8842f6",
        "name": "Send a message1",
        "webhookId": "2e5811b6-59b8-43c7-b7e9-03cbddad82e1",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "88dfeccb-5f8b-490d-94da-256b791f2f63",
                "leftValue": "={{ $json.body.data.department.name }}",
                "rightValue": "Engineering",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          48,
          80
        ],
        "id": "16235343-cb8f-4de0-969c-d02b112bbb18",
        "name": "Is engineering dept"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "employee_create",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "76a378b0-193f-49f0-b8cd-443fda1a2bfe"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "a6be6522-9e2e-4981-9062-b9f806c65062",
                      "leftValue": "={{ $json.body.action }}",
                      "rightValue": "employee_create",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -336,
          -432
        ],
        "id": "fa25c9d8-e8c8-44cf-95f2-8e134244f316",
        "name": "Switch"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Is engineering dept",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is engineering dept": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 69c46d79",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-23T08:20:52.502Z",
        "id": 1237,
        "workflowId": "Ku8V8cmvExTVqd5f",
        "versionId": "69c46d79-3039-4bd4-bc46-b2e2c6253ec4",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}