workflows/HR_-_data_cleanup_subworkflow_v2__kcdeZGGJm1R0JbVy.json
{
  "updatedAt": "2026-01-11T09:01:31.904Z",
  "createdAt": "2026-01-07T13:05:09.195Z",
  "id": "kcdeZGGJm1R0JbVy",
  "name": "HR - data cleanup subworkflow v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.tempo.io/4/worklogs?from={{ $json.start }}&to={{ $json.end}}&limit=3000&offset=0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        -576
      ],
      "id": "bf415590-be2d-4fbb-bdf4-5c0f4e2ba669",
      "name": "HTTP Request3",
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e379b0f9-7a57-476c-8f2a-42bf75d7865b",
              "name": "userName",
              "value": "={{ $('Get author name3').item.json.displayName }}",
              "type": "string"
            },
            {
              "id": "57a81e33-d95a-4d83-9b34-481e5c2dcc02",
              "name": "trackedTime",
              "value": "={{ $('Edit Fields10').item.json.billableTime }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -576
      ],
      "id": "bc0a76b3-3d73-4ccc-bd84-71ec14fc7202",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -896,
        -576
      ],
      "id": "44a5a1eb-e69f-45a5-b3de-81273454b783",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "url": "=https://futuremedia.atlassian.net/rest/api/3/user?accountId={{ $json.authorAccountID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -576
      ],
      "id": "3d9acccf-69b7-4b26-a292-9ec9321a541b",
      "name": "Get author name3",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "C9vZX5ia4sY9xHfI",
          "name": "Jira API Antonio token"
        },
        "jiraSoftwareCloudApi": {
          "id": "vXyadK9bOxpEt9lU",
          "name": "Jira API Antonio token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f0bbb11-a685-45ea-89ae-35d43a9f9e0d",
              "name": "billableTime",
              "value": "={{ $json.billableSeconds/3600 }}",
              "type": "string"
            },
            {
              "id": "f61b7b7b-83b2-405e-893b-460c1cf413e1",
              "name": "authorAccountID",
              "value": "={{ $json.author.accountId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        -576
      ],
      "id": "b9c1d1c4-7a08-4093-9e61-230736bba5c5",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        -576
      ],
      "id": "904e8611-bc36-4c56-b62e-1c15e5d497b3",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1344,
        -576
      ],
      "id": "e7ba0c1b-13f0-42d5-ab87-1557fd32a72a",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get author name3": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Get author name3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "start": "2025-12-20",
          "end": "2025-12-21"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "d30f2307-8e01-4939-8461-1b74a1382d63",
  "activeVersionId": "d30f2307-8e01-4939-8461-1b74a1382d63",
  "versionCounter": 25,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-07T13:05:09.197Z",
      "createdAt": "2026-01-07T13:05:09.197Z",
      "role": "workflow:owner",
      "workflowId": "kcdeZGGJm1R0JbVy",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T13:58:19.000Z",
    "createdAt": "2026-01-07T13:55:56.410Z",
    "versionId": "d30f2307-8e01-4939-8461-1b74a1382d63",
    "workflowId": "kcdeZGGJm1R0JbVy",
    "nodes": [
      {
        "parameters": {
          "url": "=https://api.tempo.io/4/worklogs?from={{ $json.start }}&to={{ $json.end}}&limit=3000&offset=0",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1120,
          -576
        ],
        "id": "bf415590-be2d-4fbb-bdf4-5c0f4e2ba669",
        "name": "HTTP Request3",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e379b0f9-7a57-476c-8f2a-42bf75d7865b",
                "name": "userName",
                "value": "={{ $('Get author name3').item.json.displayName }}",
                "type": "string"
              },
              {
                "id": "57a81e33-d95a-4d83-9b34-481e5c2dcc02",
                "name": "trackedTime",
                "value": "={{ $('Edit Fields10').item.json.billableTime }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -224,
          -576
        ],
        "id": "bc0a76b3-3d73-4ccc-bd84-71ec14fc7202",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -896,
          -576
        ],
        "id": "44a5a1eb-e69f-45a5-b3de-81273454b783",
        "name": "Split Out3"
      },
      {
        "parameters": {
          "url": "=https://futuremedia.atlassian.net/rest/api/3/user?accountId={{ $json.authorAccountID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "jiraSoftwareCloudApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -448,
          -576
        ],
        "id": "3d9acccf-69b7-4b26-a292-9ec9321a541b",
        "name": "Get author name3",
        "retryOnFail": false,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "C9vZX5ia4sY9xHfI",
            "name": "Jira API Antonio token"
          },
          "jiraSoftwareCloudApi": {
            "id": "vXyadK9bOxpEt9lU",
            "name": "Jira API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2f0bbb11-a685-45ea-89ae-35d43a9f9e0d",
                "name": "billableTime",
                "value": "={{ $json.billableSeconds/3600 }}",
                "type": "string"
              },
              {
                "id": "f61b7b7b-83b2-405e-893b-460c1cf413e1",
                "name": "authorAccountID",
                "value": "={{ $json.author.accountId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -672,
          -576
        ],
        "id": "b9c1d1c4-7a08-4093-9e61-230736bba5c5",
        "name": "Edit Fields10"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          0,
          -576
        ],
        "id": "904e8611-bc36-4c56-b62e-1c15e5d497b3",
        "name": "Aggregate3"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1344,
          -576
        ],
        "id": "e7ba0c1b-13f0-42d5-ab87-1557fd32a72a",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Split Out3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "Aggregate3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out3": {
        "main": [
          [
            {
              "node": "Edit Fields10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get author name3": {
        "main": [
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields10": {
        "main": [
          [
            {
              "node": "Get author name3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version d30f2307",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-07T13:58:19.715Z",
        "id": 21,
        "workflowId": "kcdeZGGJm1R0JbVy",
        "versionId": "d30f2307-8e01-4939-8461-1b74a1382d63",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}