workflows/HR_-_data_cleanup_subworkflow__zSwNxC5eZvQGgYhS.json
{
  "updatedAt": "2026-01-11T09:01:30.679Z",
  "createdAt": "2025-12-23T16:04:56.607Z",
  "id": "zSwNxC5eZvQGgYhS",
  "name": "HR - data cleanup subworkflow",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.tempo.io/4/worklogs?from={{ $json.start }}&to={{ $json.end}}&limit=3000&offset=0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        -576
      ],
      "id": "448e56b6-29cf-430a-8b48-841b02c72647",
      "name": "HTTP Request3",
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e379b0f9-7a57-476c-8f2a-42bf75d7865b",
              "name": "userName",
              "value": "={{ $('Get author name3').item.json.displayName }}",
              "type": "string"
            },
            {
              "id": "57a81e33-d95a-4d83-9b34-481e5c2dcc02",
              "name": "trackedTime",
              "value": "={{ $('Edit Fields11').item.json.billableTime }}",
              "type": "number"
            },
            {
              "id": "2e674f09-3085-4b64-8cd5-d4f93b68955c",
              "name": "projectName",
              "value": "={{ $('Edit Fields11').item.json.projectName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -576
      ],
      "id": "45457c38-7b61-43de-b1a3-1f518f26e07c",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -864,
        -576
      ],
      "id": "1e6f2058-2264-4224-8c83-4c1507530f21",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "url": "=https://futuremedia.atlassian.net/rest/api/3/user?accountId={{ $json.authorAccountID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -576
      ],
      "id": "36480695-bf31-4e44-8936-75b6cc1c1b34",
      "name": "Get author name3",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "C9vZX5ia4sY9xHfI",
          "name": "Jira API Antonio token"
        },
        "jiraSoftwareCloudApi": {
          "id": "vXyadK9bOxpEt9lU",
          "name": "Jira API Antonio token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://futuremedia.atlassian.net/rest/api/3/issue/{{ $json.issueID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -576
      ],
      "id": "8ec365fa-ca82-4b9e-9b7f-53d068c15871",
      "name": "Get issue details3",
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "C9vZX5ia4sY9xHfI",
          "name": "Jira API Antonio token"
        },
        "jiraSoftwareCloudApi": {
          "id": "vXyadK9bOxpEt9lU",
          "name": "Jira API Antonio token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9f5579c-6c2a-41da-89a2-57fea7817d22",
              "name": "issueID",
              "value": "={{ $json.issue.id }}",
              "type": "string"
            },
            {
              "id": "2f0bbb11-a685-45ea-89ae-35d43a9f9e0d",
              "name": "billableTime",
              "value": "={{ $json.billableSeconds/3600 }}",
              "type": "string"
            },
            {
              "id": "f61b7b7b-83b2-405e-893b-460c1cf413e1",
              "name": "authorAccountID",
              "value": "={{ $json.author.accountId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -576
      ],
      "id": "61fd4bf7-650b-4619-b62e-c0224ce96bd4",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41fa2659-21bf-4194-a4c7-fd74c3e5134c",
              "name": "projectName",
              "value": "={{ $('Get issue details3').item.json.fields.project.name }}",
              "type": "string"
            },
            {
              "id": "9be860ef-be39-4619-8dd3-01f61e19cc32",
              "name": "billableTime",
              "value": "={{ $('Edit Fields10').item.json.billableTime }}",
              "type": "number"
            },
            {
              "id": "8e7d0565-932a-4252-a42d-ba9caaecafe3",
              "name": "authorAccountID",
              "value": "={{ $('Edit Fields10').item.json.authorAccountID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -576
      ],
      "id": "9da28e4a-68d7-4d92-afa9-183ff89d688d",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        480,
        -576
      ],
      "id": "95406161-9873-4b09-99db-7e4747085e08",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1344,
        -576
      ],
      "id": "9995d5c6-d9dc-4335-b019-a575a15b7023",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get author name3": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get issue details3": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Get issue details3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Get author name3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "93b3bdf3-1bb9-410b-8e52-30d23984e6d7",
  "activeVersionId": "93b3bdf3-1bb9-410b-8e52-30d23984e6d7",
  "versionCounter": 20,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-23T16:04:56.615Z",
      "createdAt": "2025-12-23T16:04:56.615Z",
      "role": "workflow:owner",
      "workflowId": "zSwNxC5eZvQGgYhS",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-25T10:44:38.120Z",
    "createdAt": "2025-12-25T10:44:38.120Z",
    "versionId": "93b3bdf3-1bb9-410b-8e52-30d23984e6d7",
    "workflowId": "zSwNxC5eZvQGgYhS",
    "nodes": [
      {
        "parameters": {
          "url": "=https://api.tempo.io/4/worklogs?from={{ $json.start }}&to={{ $json.end}}&limit=3000&offset=0",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1088,
          -576
        ],
        "id": "448e56b6-29cf-430a-8b48-841b02c72647",
        "name": "HTTP Request3",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e379b0f9-7a57-476c-8f2a-42bf75d7865b",
                "name": "userName",
                "value": "={{ $('Get author name3').item.json.displayName }}",
                "type": "string"
              },
              {
                "id": "57a81e33-d95a-4d83-9b34-481e5c2dcc02",
                "name": "trackedTime",
                "value": "={{ $('Edit Fields11').item.json.billableTime }}",
                "type": "number"
              },
              {
                "id": "2e674f09-3085-4b64-8cd5-d4f93b68955c",
                "name": "projectName",
                "value": "={{ $('Edit Fields11').item.json.projectName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          256,
          -576
        ],
        "id": "45457c38-7b61-43de-b1a3-1f518f26e07c",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -864,
          -576
        ],
        "id": "1e6f2058-2264-4224-8c83-4c1507530f21",
        "name": "Split Out3"
      },
      {
        "parameters": {
          "url": "=https://futuremedia.atlassian.net/rest/api/3/user?accountId={{ $json.authorAccountID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "jiraSoftwareCloudApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          32,
          -576
        ],
        "id": "36480695-bf31-4e44-8936-75b6cc1c1b34",
        "name": "Get author name3",
        "retryOnFail": false,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "C9vZX5ia4sY9xHfI",
            "name": "Jira API Antonio token"
          },
          "jiraSoftwareCloudApi": {
            "id": "vXyadK9bOxpEt9lU",
            "name": "Jira API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://futuremedia.atlassian.net/rest/api/3/issue/{{ $json.issueID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "jiraSoftwareCloudApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -416,
          -576
        ],
        "id": "8ec365fa-ca82-4b9e-9b7f-53d068c15871",
        "name": "Get issue details3",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "C9vZX5ia4sY9xHfI",
            "name": "Jira API Antonio token"
          },
          "jiraSoftwareCloudApi": {
            "id": "vXyadK9bOxpEt9lU",
            "name": "Jira API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c9f5579c-6c2a-41da-89a2-57fea7817d22",
                "name": "issueID",
                "value": "={{ $json.issue.id }}",
                "type": "string"
              },
              {
                "id": "2f0bbb11-a685-45ea-89ae-35d43a9f9e0d",
                "name": "billableTime",
                "value": "={{ $json.billableSeconds/3600 }}",
                "type": "string"
              },
              {
                "id": "f61b7b7b-83b2-405e-893b-460c1cf413e1",
                "name": "authorAccountID",
                "value": "={{ $json.author.accountId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -640,
          -576
        ],
        "id": "61fd4bf7-650b-4619-b62e-c0224ce96bd4",
        "name": "Edit Fields10"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "41fa2659-21bf-4194-a4c7-fd74c3e5134c",
                "name": "projectName",
                "value": "={{ $('Get issue details3').item.json.fields.project.name }}",
                "type": "string"
              },
              {
                "id": "9be860ef-be39-4619-8dd3-01f61e19cc32",
                "name": "billableTime",
                "value": "={{ $('Edit Fields10').item.json.billableTime }}",
                "type": "number"
              },
              {
                "id": "8e7d0565-932a-4252-a42d-ba9caaecafe3",
                "name": "authorAccountID",
                "value": "={{ $('Edit Fields10').item.json.authorAccountID }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -192,
          -576
        ],
        "id": "9da28e4a-68d7-4d92-afa9-183ff89d688d",
        "name": "Edit Fields11"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          480,
          -576
        ],
        "id": "95406161-9873-4b09-99db-7e4747085e08",
        "name": "Aggregate3"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1344,
          -576
        ],
        "id": "9995d5c6-d9dc-4335-b019-a575a15b7023",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Split Out3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "Aggregate3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out3": {
        "main": [
          [
            {
              "node": "Edit Fields10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get author name3": {
        "main": [
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get issue details3": {
        "main": [
          [
            {
              "node": "Edit Fields11",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields10": {
        "main": [
          [
            {
              "node": "Get issue details3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields11": {
        "main": [
          [
            {
              "node": "Get author name3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio Marusic",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-25T10:44:38.000Z",
        "id": 10,
        "workflowId": "zSwNxC5eZvQGgYhS",
        "versionId": "93b3bdf3-1bb9-410b-8e52-30d23984e6d7",
        "event": "activated",
        "userId": null
      }
    ]
  }
}