workflows/HR_-_Cost_breakdown_per_project__RKjFEagBCrukUw8b.json
{
  "updatedAt": "2026-01-16T13:25:38.741Z",
  "createdAt": "2025-10-08T19:36:50.056Z",
  "id": "RKjFEagBCrukUw8b",
  "name": "HR - Cost breakdown per project",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Cost report per project",
        "formDescription": "Choose the start and end dates for the period you want to generate a cost report for. Once submitted, you will receive the report by email within 2–5 minutes.\nOnly users who track time in Tempo (Jira) are included in the cost calculation.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Start date",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "End date",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Who should we send the report to?",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -432,
        3040
      ],
      "id": "5aa8fdc9-376f-45cb-921b-9f32597896db",
      "name": "On form submission",
      "webhookId": "4db10ac6-262c-45be-ad81-d9c331645e52"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        2784
      ],
      "id": "88b5aa62-cf7b-45aa-a9fd-70a25cb2a51b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        240,
        2640
      ],
      "id": "f32efaca-8a7f-4746-b4ac-14ca652edff7",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10yEe9j7tiWRiSHX0iEktO-Khq5WJCrPZvxuctLUITTY",
          "mode": "list",
          "cachedResultName": "Automation n8n mock salary data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10yEe9j7tiWRiSHX0iEktO-Khq5WJCrPZvxuctLUITTY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 412826818,
          "mode": "list",
          "cachedResultName": "Salaries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10yEe9j7tiWRiSHX0iEktO-Khq5WJCrPZvxuctLUITTY/edit#gid=412826818"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ $json.salaryName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        2576
      ],
      "id": "79e6f0d7-a58b-4bc1-8f89-acebcf08b1bd",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n0gdwz2VyxdNsRf8",
          "name": "Antonio Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "users",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        688,
        2640
      ],
      "id": "e9ce896d-9606-45a6-9c1f-cc5b2ea10558",
      "name": "Split Out5"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Name",
              "field2": "salaryName"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1584,
        2640
      ],
      "id": "9f74b8ca-8eb8-4e1b-9b79-c9ea3577adbf",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "662890a3-c7d6-4819-8853-a2680d69b242",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "b8845487-4b77-4088-98af-30bca8a11a4e",
              "name": "MonthlySalary",
              "value": "={{ $json.MonthlySalary }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        2576
      ],
      "id": "4eff35bc-4562-45ff-b8d4-af529afea469",
      "name": "Edit Fields15"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json[\"Who should we send the report to?\"] }}",
        "subject": "=Project cost report from {{ $json[\"Start date\"] }} to {{ $json[\"End date\"] }}",
        "bodyContent": "=This is the cost report for the period from {{ $json[\"Start date\"] }} to {{ $json[\"End date\"] }}.\n\n{{ $json.emailBody }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2720,
        3008
      ],
      "id": "2105fb89-71a0-4d32-a3d1-079c7ae84dfc",
      "name": "Send a message1",
      "webhookId": "c398835b-6be9-4fe9-8326-449a0ae75b2d",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "1ZHIbKAClQa9w6np",
          "name": "Microsoft Outlook account Antonio"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2496,
        3008
      ],
      "id": "d0402c90-419e-4f7d-82ec-06e5137f1742",
      "name": "Merge3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zSwNxC5eZvQGgYhS",
          "mode": "list",
          "cachedResultUrl": "/workflow/zSwNxC5eZvQGgYhS",
          "cachedResultName": "Operations Department — HR automation - data cleanup subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        240,
        2832
      ],
      "id": "80d1b8bb-7fa8-402f-a1da-d0775cff0a1e",
      "name": "Data cleanup subworkflow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst startDate = new Date(items[0]?.json[\"Start date\"]);\nconst endDate = new Date(items[0]?.json[\"End date\"]);\nconst dateChunks = [];\n\nwhile (startDate < endDate) {\n  const chunkEnd = new Date(startDate);\n  chunkEnd.setDate(chunkEnd.getDate() + 4);\n  if (chunkEnd > endDate) {\n    chunkEnd.setDate(endDate.getDate());\n  }\n\n  dateChunks.push({\n    start: startDate.toISOString().split(\"T\")[0],\n    end: chunkEnd.toISOString().split(\"T\")[0],\n  });\n\n  startDate.setDate(startDate.getDate() + 5);\n}\n\nreturn dateChunks.map((chunk, index) => ({ json: chunk, pairedItem: index }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        2784
      ],
      "id": "908f96fd-834a-4e27-b335-2c9e887b8257",
      "name": "Split date range into 5 day chunks"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: aggregate tracked time by user/project\n// Input options supported:\n//  1) items[0].json.data = [ { userName, trackedTime, projectName }, ... ]\n//  2) items = [ { json: { userName, trackedTime, projectName } }, ... ]\n\nconst round2 = (n) => Math.round((Number(n) + Number.EPSILON) * 100) / 100;\n\n// Normalize input to a flat array of records\nlet records = [];\nif (Array.isArray(items?.[0]?.json?.data)) {\n  records = items[0].json.data;\n} else if (Array.isArray(items) && items.length > 0 && items[0]?.json) {\n  // Treat each incoming item as a record\n  records = items.map(i => i.json);\n}\n\n// Handle empty input gracefully\nif (!Array.isArray(records) || records.length === 0) {\n  return [\n    {\n      json: {\n        generatedAt: new Date().toISOString(),\n        summary: { totalUsers: 0, totalTrackedTime: 0 },\n        users: []\n      }\n    }\n  ];\n}\n\n// Aggregate per user and per project\nconst usersMap = new Map(); // userName -> { total: number, projects: Map(projectName -> time) }\n\nfor (const r of records) {\n  const userName = (r.userName ?? \"\").trim();\n  const projectName = (r.projectName ?? \"\").trim();\n  const tracked = Number(r.trackedTime) || 0;\n  if (!userName) continue;\n\n  if (!usersMap.has(userName)) {\n    usersMap.set(userName, { total: 0, projects: new Map() });\n  }\n  const u = usersMap.get(userName);\n  u.total += tracked;\n\n  if (projectName) {\n    u.projects.set(projectName, (u.projects.get(projectName) || 0) + tracked);\n  }\n}\n\n// Build users array with rounding and fractions\nconst users = [];\nlet grandTotal = 0;\n\nfor (const [userName, data] of usersMap) {\n  const totalTime = round2(data.total);\n  grandTotal += totalTime;\n\n  const projects = Array.from(data.projects.entries())\n    .map(([projectName, time]) => {\n      const t = round2(time);\n      const fraction = totalTime > 0 ? round2(t / totalTime) : 0; // 0–1 fraction\n      return { projectName, time: t, percentOfUserTotal: fraction };\n    })\n    .sort((a, b) => (b.time - a.time) || a.projectName.localeCompare(b.projectName));\n\n  users.push({ userName, totalTime, projects });\n}\n\n// Sort users (predictable output)\nusers.sort((a, b) => a.userName.localeCompare(b.userName));\n\n// Wrap exactly as required by you and n8n\nreturn [\n  {\n    json: {\n      generatedAt: new Date().toISOString(),\n      summary: {\n        totalUsers: users.length,\n        totalTrackedTime: round2(grandTotal)\n      },\n      users\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        2640
      ],
      "id": "5b7a0ef4-91ef-481a-9a25-4cd82103bd67",
      "name": "Aggregate tracked time by user/project"
    },
    {
      "parameters": {
        "jsCode": "const userMap = [\n  {\n    \"timeLogsUser\": \"Aldin\",\n    \"salaryName\": \"Aldin Balic AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Alex Shestmintsev\",\n    \"salaryName\": \"Alex Shestmintsev (Oleksandr Shestmintsev)\"\n  },\n  {\n    \"timeLogsUser\": \"Almira\",\n    \"salaryName\": \"Almira Brekalo AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Andrii Zakhariashchev\",\n    \"salaryName\": \"Andrii Zakhariashchev\"\n  },\n  {\n    \"timeLogsUser\": \"Artem Stratiienko\",\n    \"salaryName\": \"Artem Stratienko\"\n  },\n  {\n    \"timeLogsUser\": \"Elida Mahinić\",\n    \"salaryName\": \"Elida Mahinić AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Giorgi Gugeshashvili\",\n    \"salaryName\": \"Giorgi Gugeshashvili\"\n  },\n  {\n    \"timeLogsUser\": \"Kemal Vejzovic\",\n    \"salaryName\": \"Kemal Vejzovic AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Maciej Mazur\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Marko Slipogor\",\n    \"salaryName\": \"Marko Slipogor DevOps Crux\"\n  },\n  {\n    \"timeLogsUser\": \"Pavlo Hnydyn\",\n    \"salaryName\": \"Pavlo Hnydyn\"\n  },\n  {\n    \"timeLogsUser\": \"Raúl\",\n    \"salaryName\": \"Raul Sanchez Cañadas\"\n  },\n  {\n    \"timeLogsUser\": \"Semira\",\n    \"salaryName\": \"Semira Golos AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Timur Useinudzha\",\n    \"salaryName\": \"Timur Useinudzha\"\n  },\n  {\n    \"timeLogsUser\": \"Tomasz Marciszewski\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Vladyslav Arkavenko\",\n    \"salaryName\": \"Vladyslav Arkavenko\"\n  },\n  {\n    \"timeLogsUser\": \"Zoran Culum\",\n    \"salaryName\": \"Zoran Culum\"\n  },\n  {\n    \"timeLogsUser\": \"Alexandru Matasa\",\n    \"salaryName\": \"Alexandru Ionut Matasa\"\n  },\n  {\n    \"timeLogsUser\": \"Alexandru Negrut\",\n    \"salaryName\": \"Alexandru Negruţ\"\n  },\n  {\n    \"timeLogsUser\": \"Andrei Abdulov\",\n    \"salaryName\": \"Andrei Abdulov\"\n  },\n  {\n    \"timeLogsUser\": \"Anna Chypizhenko\",\n    \"salaryName\": \"Anna Chypizhenko\"\n  },\n  {\n    \"timeLogsUser\": \"Antonio Marusic\",\n    \"salaryName\": \"Antonio Marusic - ActOne\"\n  },\n  {\n    \"timeLogsUser\": \"Apostol Adrian Alin\",\n    \"salaryName\": \"Alin Apostol\"\n  },\n  {\n    \"timeLogsUser\": \"Arkadii Balandin\",\n    \"salaryName\": \"Arkadii Balandin\"\n  },\n  {\n    \"timeLogsUser\": \"Borislav\",\n    \"salaryName\": \"Borislav Mihtiev\"\n  },\n  {\n    \"timeLogsUser\": \"Daniel Cioanca\",\n    \"salaryName\": \"Daniel Cioanca\"\n  },\n  {\n    \"timeLogsUser\": \"Daniel Filat\",\n    \"salaryName\": \"Daniel Filat /Wisent Group SRL (Vitale)\"\n  },\n  {\n    \"timeLogsUser\": \"daviti.shotashvili\",\n    \"salaryName\": \"Daviti Shotashvili\"\n  },\n  {\n    \"timeLogsUser\": \"diamant.isufi\",\n    \"salaryName\": \"Diamant Isufi\"\n  },\n  {\n    \"timeLogsUser\": \"Dmytro Sheptun\",\n    \"salaryName\": \"Dmytro Sheptun\"\n  },\n  {\n    \"timeLogsUser\": \"Filip Kuzmic\",\n    \"salaryName\": \"Filip Kuzmic - MAGNA MEDIA\"\n  },\n  {\n    \"timeLogsUser\": \"Herzio Almeida\",\n    \"salaryName\": \"Herzio Marcos Almeida Pinto Junior\"\n  },\n  {\n    \"timeLogsUser\": \"Ionut Mateius\",\n    \"salaryName\": \"Ionut Mateius\"\n  },\n  {\n    \"timeLogsUser\": \"Kateryna Krolevetska\",\n    \"salaryName\": \"Kateryna Krolevetska\"\n  },\n  {\n    \"timeLogsUser\": \"Mitko Nikolov\",\n    \"salaryName\": \"Mitko Nikolov Software Factory\"\n  },\n  {\n    \"timeLogsUser\": \"Mykola Uchen\",\n    \"salaryName\": \"Mykola Uchen\"\n  },\n  {\n    \"timeLogsUser\": \"Nichita Ialivciuc\",\n    \"salaryName\": \"Nichita Ialivciuc\"\n  },\n  {\n    \"timeLogsUser\": \"Nikoloz Chitashvili\",\n    \"salaryName\": \"Nikoloz Chitashvili\"\n  },\n  {\n    \"timeLogsUser\": \"Oleksandr Khomchenko\",\n    \"salaryName\": \"Oleksandr Khomchenko (Alexander Khomchenko)\"\n  },\n  {\n    \"timeLogsUser\": \"Oleksii Vasylenko\",\n    \"salaryName\": \"Oleksii Vasylenko\"\n  },\n  {\n    \"timeLogsUser\": \"Pavlo Petrina\",\n    \"salaryName\": \"Pavlo Petrina\"\n  },\n  {\n    \"timeLogsUser\": \"Robert Gmyrek\",\n    \"salaryName\": \"Robert Gmyrek/ Unoperate\"\n  },\n  {\n    \"timeLogsUser\": \"Robert Rogge\",\n    \"salaryName\": \"Robert Rogge\"\n  },\n  {\n    \"timeLogsUser\": \"shani.natav\",\n    \"salaryName\": \"Shani Natav\"\n  },\n  {\n    \"timeLogsUser\": \"Stipe Perkovic\",\n    \"salaryName\": \"Stipe Perković - PERCODING\"\n  },\n  {\n    \"timeLogsUser\": \"szabolcs.szekely\",\n    \"salaryName\": \"Szabolcs Székely Technnoid\"\n  },\n  {\n    \"timeLogsUser\": \"Tamas Kovacs\",\n    \"salaryName\": \"Tamas Kovacs/ Tech Throne - DEVNITY\"\n  },\n  {\n    \"timeLogsUser\": \"Vigan Zeqiri\",\n    \"salaryName\": \"Vigan Zeqiri\"\n  },\n  {\n    \"timeLogsUser\": \"viktor.senkiv\",\n    \"salaryName\": \"Viktor Senkiv\"\n  },\n  {\n    \"timeLogsUser\": \"Vinicius Oliveira\",\n    \"salaryName\": \"Vinicius Murilo Cavalcanti de Oliveira (VMCO)\"\n  },\n  {\n    \"timeLogsUser\": \"zeljko.stanojevic\",\n    \"salaryName\": \"Zeljko Stanojevic\"\n  },\n  {\n    \"timeLogsUser\": \"evren\",\n    \"salaryName\": \"Evren Aktolga (Ruul)\"\n  },\n  {\n    \"timeLogsUser\": \"Pavel Copot\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Sava Stankovic\",\n    \"salaryName\": \"MISSING\"\n  }\n]\n\nconst items = $input.all();\nreturn items.map(item => {\n  const userName = item.json.userName;\n  const salaryName =\n    userMap\n      .map(user =>\n        user.timeLogsUser === userName ? user.salaryName : null\n      )\n      .find(Boolean) || \"MISSING\";\n  return {\n    json: {\n      ...item.json,\n      salaryName,\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        2640
      ],
      "id": "d84082a5-0d3c-4c87-8af1-158d6027b9bb",
      "name": "Match Tempo users to Sheets"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(item => {\n  const { userName, salaryName, projects, MonthlySalary } = item.json;\n  const costPerUser = {\n    userName,\n    salaryName,\n    projects: projects.map(project => ({\n      projectName: project.projectName,\n      cost: MonthlySalary * project.percentOfUserTotal,\n    }))\n  };\n  return { json: { costPerUser } };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        2640
      ],
      "id": "00e2b101-0e75-4817-8c9a-4e0ca944e559",
      "name": "Calculate cost per user per project"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst missingUsers = [];\nconst totalsByProject = {};\n\nfor (const item of input) {\n  const cpu = item.json.costPerUser;\n  if (!cpu) continue;\n\n  if (cpu.salaryName === \"MISSING\") {\n    missingUsers.push(cpu.userName);\n    continue;\n  }\n\n  if (Array.isArray(cpu.projects)) {\n    for (const p of cpu.projects) {\n      totalsByProject[p.projectName] = (totalsByProject[p.projectName] || 0) + (p.cost || 0);\n    }\n  }\n}\n\nreturn [\n  {json: {missingUsers}},\n  {json: {totalsByProject}},\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        2640
      ],
      "id": "97e6cc78-55b8-4162-9506-9ce228e0246a",
      "name": "Sum totals per project"
    },
    {
      "parameters": {
        "jsCode": "// In n8n Code node, your input is `items` (each item is usually { json: {...} })\n\nconst missingUsers =\n  ($input.all().find(i => i.json && Array.isArray(i.json.missingUsers))?.json.missingUsers) ?? [];\n\nconst totalsByProject =\n  ($input.all().find(i => i.json && i.json.totalsByProject)?.json.totalsByProject) ?? {};\n\n// Projects block\nconst projectsText = Object.entries(totalsByProject)\n  .map(([projectName, totalCost]) => `Project: ${projectName}\\nCost: ${Number(totalCost).toFixed(2)} €`)\n  .join(\"\\n\\n\");\n\n// Missing users block (bulleted)\nconst missingUsersText = missingUsers.length\n  ? `\\n\\nUsers missing salary mapping:\\n${missingUsers.map(u => `• ${u}`).join(\"\\n\")}`\n  : \"\";\n\n// Final email body\nconst emailBody = `${projectsText}${missingUsersText}`;\n\n// n8n-compatible output\nreturn [{ json: { emailBody} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        2640
      ],
      "id": "68716e35-927e-4216-866a-e9287b370102",
      "name": "Format email data"
    },
    {
      "parameters": {
        "content": "Replace w/ simpler node",
        "height": 288,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2176,
        2528
      ],
      "id": "4863579b-548a-40af-a2b7-b132821a9bae",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Split date range into 5 day chunks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data cleanup subworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Aggregate tracked time by user/project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Match Tempo users to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Calculate cost per user per project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields15": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data cleanup subworkflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split date range into 5 day chunks": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate tracked time by user/project": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Tempo users to Sheets": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calculate cost per user per project": {
      "main": [
        [
          {
            "node": "Sum totals per project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sum totals per project": {
      "main": [
        [
          {
            "node": "Format email data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format email data": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any",
    "availableInMCP": false,
    "errorWorkflow": "QzwinCVQAJOMqjh2"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eb2fc1a0-aea0-4d87-bd78-ecab0f136244",
  "activeVersionId": "092ab481-275f-4c4e-882b-c8827808ebfc",
  "versionCounter": 56,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-08T19:36:50.059Z",
      "createdAt": "2025-10-08T19:36:50.059Z",
      "role": "workflow:owner",
      "workflowId": "RKjFEagBCrukUw8b",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-25T21:31:19.684Z",
    "createdAt": "2025-12-25T21:31:19.684Z",
    "versionId": "092ab481-275f-4c4e-882b-c8827808ebfc",
    "workflowId": "RKjFEagBCrukUw8b",
    "nodes": [
      {
        "parameters": {
          "content": "### Data gathering and cleanup\n1. get raw tempo data\n2. get user, issue, project, time data\n3. calculate time spent per user per project, in hours\n\n### Data manipulation\n1. get salary data\n2. user mapping\n3. calculate cost per user per project\n\n### Report creation\n1. calculate cost per project\n2. share in a sheet, email or similar, pvt to Carolina\n",
          "height": 384,
          "width": 608
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -576,
          928
        ],
        "typeVersion": 1,
        "id": "4727dc85-fd6d-4200-adfb-a4af264d9feb",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "jsCode": "[\n  {\n    \"timeLogsUser\": \"Aldin\",\n    \"salaryName\": \"Aldin Balic AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Alex Shestmintsev\",\n    \"salaryName\": \"Alex Shestmintsev (Oleksandr Shestmintsev)\"\n  },\n  {\n    \"timeLogsUser\": \"Almira\",\n    \"salaryName\": \"Almira Brekalo AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Andrii Zakhariashchev\",\n    \"salaryName\": \"Andrii Zakhariashchev\"\n  },\n  {\n    \"timeLogsUser\": \"Artem Stratiienko\",\n    \"salaryName\": \"Artem Stratienko\"\n  },\n  {\n    \"timeLogsUser\": \"Elida Mahinić\",\n    \"salaryName\": \"Elida Mahinić AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Giorgi Gugeshashvili\",\n    \"salaryName\": \"Giorgi Gugeshashvili\"\n  },\n  {\n    \"timeLogsUser\": \"Kemal Vejzovic\",\n    \"salaryName\": \"Kemal Vejzovic AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Maciej Mazur\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Marko Slipogor\",\n    \"salaryName\": \"Marko Slipogor DevOps Crux\"\n  },\n  {\n    \"timeLogsUser\": \"Pavlo Hnydyn\",\n    \"salaryName\": \"Pavlo Hnydyn\"\n  },\n  {\n    \"timeLogsUser\": \"Raúl\",\n    \"salaryName\": \"Raul Sanchez Cañadas\"\n  },\n  {\n    \"timeLogsUser\": \"Semira\",\n    \"salaryName\": \"Semira Golos AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Timur Useinudzha\",\n    \"salaryName\": \"Timur Useinudzha\"\n  },\n  {\n    \"timeLogsUser\": \"Tomasz Marciszewski\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Vladyslav Arkavenko\",\n    \"salaryName\": \"Vladyslav Arkavenko\"\n  },\n  {\n    \"timeLogsUser\": \"Zoran Culum\",\n    \"salaryName\": \"Zoran Culum\"\n  },\n  {\n    \"timeLogsUser\": \"Alexandru Matasa\",\n    \"salaryName\": \"Alexandru Ionut Matasa\"\n  },\n  {\n    \"timeLogsUser\": \"Alexandru Negrut\",\n    \"salaryName\": \"Alexandru Negruţ\"\n  },\n  {\n    \"timeLogsUser\": \"Andrei Abdulov\",\n    \"salaryName\": \"Andrei Abdulov\"\n  },\n  {\n    \"timeLogsUser\": \"Anna Chypizhenko\",\n    \"salaryName\": \"Anna Chypizhenko\"\n  },\n  {\n    \"timeLogsUser\": \"Antonio Marusic\",\n    \"salaryName\": \"Antonio Marusic - ActOne\"\n  },\n  {\n    \"timeLogsUser\": \"Apostol Adrian Alin\",\n    \"salaryName\": \"Alin Apostol\"\n  },\n  {\n    \"timeLogsUser\": \"Arkadii Balandin\",\n    \"salaryName\": \"Arkadii Balandin\"\n  },\n  {\n    \"timeLogsUser\": \"Borislav\",\n    \"salaryName\": \"Borislav Mihtiev\"\n  },\n  {\n    \"timeLogsUser\": \"Daniel Cioanca\",\n    \"salaryName\": \"Daniel Cioanca\"\n  },\n  {\n    \"timeLogsUser\": \"Daniel Filat\",\n    \"salaryName\": \"Daniel Filat /Wisent Group SRL (Vitale)\"\n  },\n  {\n    \"timeLogsUser\": \"daviti.shotashvili\",\n    \"salaryName\": \"Daviti Shotashvili\"\n  },\n  {\n    \"timeLogsUser\": \"diamant.isufi\",\n    \"salaryName\": \"Diamant Isufi\"\n  },\n  {\n    \"timeLogsUser\": \"Dmytro Sheptun\",\n    \"salaryName\": \"Dmytro Sheptun\"\n  },\n  {\n    \"timeLogsUser\": \"Filip Kuzmic\",\n    \"salaryName\": \"Filip Kuzmic - MAGNA MEDIA\"\n  },\n  {\n    \"timeLogsUser\": \"Herzio Almeida\",\n    \"salaryName\": \"Herzio Marcos Almeida Pinto Junior\"\n  },\n  {\n    \"timeLogsUser\": \"Ionut Mateius\",\n    \"salaryName\": \"Ionut Mateius\"\n  },\n  {\n    \"timeLogsUser\": \"Kateryna Krolevetska\",\n    \"salaryName\": \"Kateryna Krolevetska\"\n  },\n  {\n    \"timeLogsUser\": \"Mitko Nikolov\",\n    \"salaryName\": \"Mitko Nikolov Software Factory\"\n  },\n  {\n    \"timeLogsUser\": \"Mykola Uchen\",\n    \"salaryName\": \"Mykola Uchen\"\n  },\n  {\n    \"timeLogsUser\": \"Nichita Ialivciuc\",\n    \"salaryName\": \"Nichita Ialivciuc\"\n  },\n  {\n    \"timeLogsUser\": \"Nikoloz Chitashvili\",\n    \"salaryName\": \"Nikoloz Chitashvili\"\n  },\n  {\n    \"timeLogsUser\": \"Oleksandr Khomchenko\",\n    \"salaryName\": \"Oleksandr Khomchenko (Alexander Khomchenko)\"\n  },\n  {\n    \"timeLogsUser\": \"Oleksii Vasylenko\",\n    \"salaryName\": \"Oleksii Vasylenko\"\n  },\n  {\n    \"timeLogsUser\": \"Pavlo Petrina\",\n    \"salaryName\": \"Pavlo Petrina\"\n  },\n  {\n    \"timeLogsUser\": \"Robert Gmyrek\",\n    \"salaryName\": \"Robert Gmyrek/ Unoperate\"\n  },\n  {\n    \"timeLogsUser\": \"Robert Rogge\",\n    \"salaryName\": \"Robert Rogge\"\n  },\n  {\n    \"timeLogsUser\": \"shani.natav\",\n    \"salaryName\": \"Shani Natav\"\n  },\n  {\n    \"timeLogsUser\": \"Stipe Perkovic\",\n    \"salaryName\": \"Stipe Perković - PERCODING\"\n  },\n  {\n    \"timeLogsUser\": \"szabolcs.szekely\",\n    \"salaryName\": \"Szabolcs Székely Technnoid\"\n  },\n  {\n    \"timeLogsUser\": \"Tamas Kovacs\",\n    \"salaryName\": \"Tamas Kovacs/ Tech Throne - DEVNITY\"\n  },\n  {\n    \"timeLogsUser\": \"Vigan Zeqiri\",\n    \"salaryName\": \"Vigan Zeqiri\"\n  },\n  {\n    \"timeLogsUser\": \"viktor.senkiv\",\n    \"salaryName\": \"Viktor Senkiv\"\n  },\n  {\n    \"timeLogsUser\": \"Vinicius Oliveira\",\n    \"salaryName\": \"Vinicius Murilo Cavalcanti de Oliveira (VMCO)\"\n  },\n  {\n    \"timeLogsUser\": \"zeljko.stanojevic\",\n    \"salaryName\": \"Zeljko Stanojevic\"\n  },\n  {\n    \"timeLogsUser\": \"evren\",\n    \"salaryName\": \"Evren Aktolga (Ruul)\"\n  },\n  {\n    \"timeLogsUser\": \"Pavel Copot\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Sava Stankovic\",\n    \"salaryName\": \"MISSING\"\n  }\n]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -320,
          1136
        ],
        "id": "edb31808-836d-4359-83e6-b51b558c24d7",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "content": "[X] save data in table \n[Y] sum all time per person and add to person, total, time entry \n[Y] sum project time to get total per project \ntake salary info\ncalculate cost per project per person, salary*(project time/total time)\ncalculate cost per project, sum all cost per project per person values",
          "height": 384,
          "width": 752
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          96,
          912
        ],
        "id": "9ab17d85-5ccd-491a-8e2d-b9d9429fb398",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "formTitle": "Cost report per project",
          "formDescription": "Choose the start and end dates for the period you want to generate a cost report for. Once submitted, you will receive the report by email within 2–5 minutes.\nOnly users who track time in Tempo (Jira) are included in the cost calculation.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Start date",
                "fieldType": "date",
                "requiredField": true
              },
              {
                "fieldLabel": "End date",
                "fieldType": "date",
                "requiredField": true
              },
              {
                "fieldLabel": "Who should we send the report to?",
                "fieldType": "email",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -320,
          1936
        ],
        "id": "84103f54-7b21-4561-90bc-d4f9d53449a6",
        "name": "On form submission3",
        "webhookId": "b9c9452d-2d0d-4a4b-b2ae-ef3d03517154",
        "disabled": true
      },
      {
        "parameters": {
          "url": "=https://api.tempo.io/4/worklogs?from={{ $json.start }}&to={{ $json.end}}&limit=3000&offset=0",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          352,
          1680
        ],
        "id": "beaeecf2-580e-4945-a539-88b38eacb093",
        "name": "HTTP Request3",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e379b0f9-7a57-476c-8f2a-42bf75d7865b",
                "name": "userName",
                "value": "={{ $('Get author name3').item.json.displayName }}",
                "type": "string"
              },
              {
                "id": "57a81e33-d95a-4d83-9b34-481e5c2dcc02",
                "name": "trackedTime",
                "value": "={{ $('Edit Fields11').item.json.billableTime }}",
                "type": "number"
              },
              {
                "id": "2e674f09-3085-4b64-8cd5-d4f93b68955c",
                "name": "projectName",
                "value": "={{ $('Edit Fields11').item.json.projectName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1696,
          1680
        ],
        "id": "563dd616-ff55-4138-9e61-242ebb91123d",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          576,
          1680
        ],
        "id": "e70bb36f-124b-40de-a1c1-452715db369d",
        "name": "Split Out3"
      },
      {
        "parameters": {
          "url": "=https://futuremedia.atlassian.net/rest/api/3/user?accountId={{ $json.authorAccountID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "jiraSoftwareCloudApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1472,
          1680
        ],
        "id": "377f5c6e-466f-4757-963a-a5639a18d984",
        "name": "Get author name3",
        "retryOnFail": false,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "C9vZX5ia4sY9xHfI",
            "name": "Jira API Antonio token"
          },
          "jiraSoftwareCloudApi": {
            "id": "vXyadK9bOxpEt9lU",
            "name": "Jira API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://futuremedia.atlassian.net/rest/api/3/issue/{{ $json.issueID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "jiraSoftwareCloudApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1024,
          1680
        ],
        "id": "e199605d-c533-4417-9c46-e81d6d7f5e29",
        "name": "Get issue details3",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "C9vZX5ia4sY9xHfI",
            "name": "Jira API Antonio token"
          },
          "jiraSoftwareCloudApi": {
            "id": "vXyadK9bOxpEt9lU",
            "name": "Jira API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c9f5579c-6c2a-41da-89a2-57fea7817d22",
                "name": "issueID",
                "value": "={{ $json.issue.id }}",
                "type": "string"
              },
              {
                "id": "2f0bbb11-a685-45ea-89ae-35d43a9f9e0d",
                "name": "billableTime",
                "value": "={{ $json.billableSeconds/3600 }}",
                "type": "string"
              },
              {
                "id": "f61b7b7b-83b2-405e-893b-460c1cf413e1",
                "name": "authorAccountID",
                "value": "={{ $json.author.accountId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          800,
          1680
        ],
        "id": "85a7eb46-4d7a-49d7-a2c5-87dcc378154c",
        "name": "Edit Fields10"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "41fa2659-21bf-4194-a4c7-fd74c3e5134c",
                "name": "projectName",
                "value": "={{ $('Get issue details3').item.json.fields.project.name }}",
                "type": "string"
              },
              {
                "id": "9be860ef-be39-4619-8dd3-01f61e19cc32",
                "name": "billableTime",
                "value": "={{ $('Edit Fields10').item.json.billableTime }}",
                "type": "number"
              },
              {
                "id": "8e7d0565-932a-4252-a42d-ba9caaecafe3",
                "name": "authorAccountID",
                "value": "={{ $('Edit Fields10').item.json.authorAccountID }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1248,
          1680
        ],
        "id": "4f55e44c-82b9-4c44-99f6-ac22ff8f6c50",
        "name": "Edit Fields11"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1920,
          1744
        ],
        "id": "4150dd33-6810-4eee-a91e-713f60ea924f",
        "name": "Aggregate3"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst startDate = new Date(items[0]?.json[\"Start date\"]);\nconst endDate = new Date(items[0]?.json[\"End date\"]);\nconst dateChunks = [];\n\nwhile (startDate < endDate) {\n  const chunkEnd = new Date(startDate);\n  chunkEnd.setDate(chunkEnd.getDate() + 4);\n  if (chunkEnd > endDate) {\n    chunkEnd.setDate(endDate.getDate());\n  }\n\n  dateChunks.push({\n    start: startDate.toISOString().split(\"T\")[0],\n    end: chunkEnd.toISOString().split(\"T\")[0],\n  });\n\n  startDate.setDate(startDate.getDate() + 5);\n}\n\nreturn dateChunks.map((chunk, index) => ({ json: chunk, pairedItem: index }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -96,
          1680
        ],
        "id": "c5cab824-d699-436b-bc90-b05040a1dad9",
        "name": "Code in JavaScript6"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          128,
          1680
        ],
        "id": "db2ed4dc-3cf9-43e0-a8a0-0ad7ab819c04",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "data"
              }
            ]
          },
          "options": {
            "mergeLists": true
          }
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          352,
          1440
        ],
        "id": "b4e0c365-f5b4-48e5-a476-daab31f6861d",
        "name": "Aggregate4"
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node: aggregate tracked time by user/project\n// Input options supported:\n//  1) items[0].json.data = [ { userName, trackedTime, projectName }, ... ]\n//  2) items = [ { json: { userName, trackedTime, projectName } }, ... ]\n\nconst round2 = (n) => Math.round((Number(n) + Number.EPSILON) * 100) / 100;\n\n// Normalize input to a flat array of records\nlet records = [];\nif (Array.isArray(items?.[0]?.json?.data)) {\n  records = items[0].json.data;\n} else if (Array.isArray(items) && items.length > 0 && items[0]?.json) {\n  // Treat each incoming item as a record\n  records = items.map(i => i.json);\n}\n\n// Handle empty input gracefully\nif (!Array.isArray(records) || records.length === 0) {\n  return [\n    {\n      json: {\n        generatedAt: new Date().toISOString(),\n        summary: { totalUsers: 0, totalTrackedTime: 0 },\n        users: []\n      }\n    }\n  ];\n}\n\n// Aggregate per user and per project\nconst usersMap = new Map(); // userName -> { total: number, projects: Map(projectName -> time) }\n\nfor (const r of records) {\n  const userName = (r.userName ?? \"\").trim();\n  const projectName = (r.projectName ?? \"\").trim();\n  const tracked = Number(r.trackedTime) || 0;\n  if (!userName) continue;\n\n  if (!usersMap.has(userName)) {\n    usersMap.set(userName, { total: 0, projects: new Map() });\n  }\n  const u = usersMap.get(userName);\n  u.total += tracked;\n\n  if (projectName) {\n    u.projects.set(projectName, (u.projects.get(projectName) || 0) + tracked);\n  }\n}\n\n// Build users array with rounding and fractions\nconst users = [];\nlet grandTotal = 0;\n\nfor (const [userName, data] of usersMap) {\n  const totalTime = round2(data.total);\n  grandTotal += totalTime;\n\n  const projects = Array.from(data.projects.entries())\n    .map(([projectName, time]) => {\n      const t = round2(time);\n      const fraction = totalTime > 0 ? round2(t / totalTime) : 0; // 0–1 fraction\n      return { projectName, time: t, percentOfUserTotal: fraction };\n    })\n    .sort((a, b) => (b.time - a.time) || a.projectName.localeCompare(b.projectName));\n\n  users.push({ userName, totalTime, projects });\n}\n\n// Sort users (predictable output)\nusers.sort((a, b) => a.userName.localeCompare(b.userName));\n\n// Wrap exactly as required by you and n8n\nreturn [\n  {\n    json: {\n      generatedAt: new Date().toISOString(),\n      summary: {\n        totalUsers: users.length,\n        totalTrackedTime: round2(grandTotal)\n      },\n      users\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          1440
        ],
        "id": "13eef990-72d0-4d92-81c6-55a682491ff2",
        "name": "Code in JavaScript7"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "10yEe9j7tiWRiSHX0iEktO-Khq5WJCrPZvxuctLUITTY",
            "mode": "list",
            "cachedResultName": "Automation n8n mock salary data",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10yEe9j7tiWRiSHX0iEktO-Khq5WJCrPZvxuctLUITTY/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 412826818,
            "mode": "list",
            "cachedResultName": "Salaries",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10yEe9j7tiWRiSHX0iEktO-Khq5WJCrPZvxuctLUITTY/edit#gid=412826818"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Name",
                "lookupValue": "={{ $json.salaryName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1248,
          1360
        ],
        "id": "efe8fd3e-9603-4578-9b02-f0a40cfd0b92",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n0gdwz2VyxdNsRf8",
            "name": "Antonio Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "Replace w/ code node?",
          "height": 208,
          "width": 368
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          560,
          1632
        ],
        "id": "9f0223c6-1ca3-4e85-9ad0-581ca2d89248",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "fieldToSplitOut": "users",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          800,
          1440
        ],
        "id": "675dbdc9-975c-49d6-8e6c-6f72ef38a570",
        "name": "Split Out4"
      },
      {
        "parameters": {
          "jsCode": "const userMap = [\n  {\n    \"timeLogsUser\": \"Aldin\",\n    \"salaryName\": \"Aldin Balic AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Alex Shestmintsev\",\n    \"salaryName\": \"Alex Shestmintsev (Oleksandr Shestmintsev)\"\n  },\n  {\n    \"timeLogsUser\": \"Almira\",\n    \"salaryName\": \"Almira Brekalo AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Andrii Zakhariashchev\",\n    \"salaryName\": \"Andrii Zakhariashchev\"\n  },\n  {\n    \"timeLogsUser\": \"Artem Stratiienko\",\n    \"salaryName\": \"Artem Stratienko\"\n  },\n  {\n    \"timeLogsUser\": \"Elida Mahinić\",\n    \"salaryName\": \"Elida Mahinić AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Giorgi Gugeshashvili\",\n    \"salaryName\": \"Giorgi Gugeshashvili\"\n  },\n  {\n    \"timeLogsUser\": \"Kemal Vejzovic\",\n    \"salaryName\": \"Kemal Vejzovic AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Maciej Mazur\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Marko Slipogor\",\n    \"salaryName\": \"Marko Slipogor DevOps Crux\"\n  },\n  {\n    \"timeLogsUser\": \"Pavlo Hnydyn\",\n    \"salaryName\": \"Pavlo Hnydyn\"\n  },\n  {\n    \"timeLogsUser\": \"Raúl\",\n    \"salaryName\": \"Raul Sanchez Cañadas\"\n  },\n  {\n    \"timeLogsUser\": \"Semira\",\n    \"salaryName\": \"Semira Golos AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Timur Useinudzha\",\n    \"salaryName\": \"Timur Useinudzha\"\n  },\n  {\n    \"timeLogsUser\": \"Tomasz Marciszewski\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Vladyslav Arkavenko\",\n    \"salaryName\": \"Vladyslav Arkavenko\"\n  },\n  {\n    \"timeLogsUser\": \"Zoran Culum\",\n    \"salaryName\": \"Zoran Culum\"\n  },\n  {\n    \"timeLogsUser\": \"Alexandru Matasa\",\n    \"salaryName\": \"Alexandru Ionut Matasa\"\n  },\n  {\n    \"timeLogsUser\": \"Alexandru Negrut\",\n    \"salaryName\": \"Alexandru Negruţ\"\n  },\n  {\n    \"timeLogsUser\": \"Andrei Abdulov\",\n    \"salaryName\": \"Andrei Abdulov\"\n  },\n  {\n    \"timeLogsUser\": \"Anna Chypizhenko\",\n    \"salaryName\": \"Anna Chypizhenko\"\n  },\n  {\n    \"timeLogsUser\": \"Antonio Marusic\",\n    \"salaryName\": \"Antonio Marusic - ActOne\"\n  },\n  {\n    \"timeLogsUser\": \"Apostol Adrian Alin\",\n    \"salaryName\": \"Alin Apostol\"\n  },\n  {\n    \"timeLogsUser\": \"Arkadii Balandin\",\n    \"salaryName\": \"Arkadii Balandin\"\n  },\n  {\n    \"timeLogsUser\": \"Borislav\",\n    \"salaryName\": \"Borislav Mihtiev\"\n  },\n  {\n    \"timeLogsUser\": \"Daniel Cioanca\",\n    \"salaryName\": \"Daniel Cioanca\"\n  },\n  {\n    \"timeLogsUser\": \"Daniel Filat\",\n    \"salaryName\": \"Daniel Filat /Wisent Group SRL (Vitale)\"\n  },\n  {\n    \"timeLogsUser\": \"daviti.shotashvili\",\n    \"salaryName\": \"Daviti Shotashvili\"\n  },\n  {\n    \"timeLogsUser\": \"diamant.isufi\",\n    \"salaryName\": \"Diamant Isufi\"\n  },\n  {\n    \"timeLogsUser\": \"Dmytro Sheptun\",\n    \"salaryName\": \"Dmytro Sheptun\"\n  },\n  {\n    \"timeLogsUser\": \"Filip Kuzmic\",\n    \"salaryName\": \"Filip Kuzmic - MAGNA MEDIA\"\n  },\n  {\n    \"timeLogsUser\": \"Herzio Almeida\",\n    \"salaryName\": \"Herzio Marcos Almeida Pinto Junior\"\n  },\n  {\n    \"timeLogsUser\": \"Ionut Mateius\",\n    \"salaryName\": \"Ionut Mateius\"\n  },\n  {\n    \"timeLogsUser\": \"Kateryna Krolevetska\",\n    \"salaryName\": \"Kateryna Krolevetska\"\n  },\n  {\n    \"timeLogsUser\": \"Mitko Nikolov\",\n    \"salaryName\": \"Mitko Nikolov Software Factory\"\n  },\n  {\n    \"timeLogsUser\": \"Mykola Uchen\",\n    \"salaryName\": \"Mykola Uchen\"\n  },\n  {\n    \"timeLogsUser\": \"Nichita Ialivciuc\",\n    \"salaryName\": \"Nichita Ialivciuc\"\n  },\n  {\n    \"timeLogsUser\": \"Nikoloz Chitashvili\",\n    \"salaryName\": \"Nikoloz Chitashvili\"\n  },\n  {\n    \"timeLogsUser\": \"Oleksandr Khomchenko\",\n    \"salaryName\": \"Oleksandr Khomchenko (Alexander Khomchenko)\"\n  },\n  {\n    \"timeLogsUser\": \"Oleksii Vasylenko\",\n    \"salaryName\": \"Oleksii Vasylenko\"\n  },\n  {\n    \"timeLogsUser\": \"Pavlo Petrina\",\n    \"salaryName\": \"Pavlo Petrina\"\n  },\n  {\n    \"timeLogsUser\": \"Robert Gmyrek\",\n    \"salaryName\": \"Robert Gmyrek/ Unoperate\"\n  },\n  {\n    \"timeLogsUser\": \"Robert Rogge\",\n    \"salaryName\": \"Robert Rogge\"\n  },\n  {\n    \"timeLogsUser\": \"shani.natav\",\n    \"salaryName\": \"Shani Natav\"\n  },\n  {\n    \"timeLogsUser\": \"Stipe Perkovic\",\n    \"salaryName\": \"Stipe Perković - PERCODING\"\n  },\n  {\n    \"timeLogsUser\": \"szabolcs.szekely\",\n    \"salaryName\": \"Szabolcs Székely Technnoid\"\n  },\n  {\n    \"timeLogsUser\": \"Tamas Kovacs\",\n    \"salaryName\": \"Tamas Kovacs/ Tech Throne - DEVNITY\"\n  },\n  {\n    \"timeLogsUser\": \"Vigan Zeqiri\",\n    \"salaryName\": \"Vigan Zeqiri\"\n  },\n  {\n    \"timeLogsUser\": \"viktor.senkiv\",\n    \"salaryName\": \"Viktor Senkiv\"\n  },\n  {\n    \"timeLogsUser\": \"Vinicius Oliveira\",\n    \"salaryName\": \"Vinicius Murilo Cavalcanti de Oliveira (VMCO)\"\n  },\n  {\n    \"timeLogsUser\": \"zeljko.stanojevic\",\n    \"salaryName\": \"Zeljko Stanojevic\"\n  },\n  {\n    \"timeLogsUser\": \"evren\",\n    \"salaryName\": \"Evren Aktolga (Ruul)\"\n  },\n  {\n    \"timeLogsUser\": \"Pavel Copot\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Sava Stankovic\",\n    \"salaryName\": \"MISSING\"\n  }\n]\n\nconst items = $input.all();\nreturn items.map(item => {\n  const userName = item.json.userName;\n  const salaryName =\n    userMap\n      .map(user =>\n        user.timeLogsUser === userName ? user.salaryName : null\n      )\n      .find(Boolean) || \"MISSING\";\n  return {\n    json: {\n      ...item.json,\n      salaryName,\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          1440
        ],
        "id": "125f670b-6303-4cab-b0ab-341770653f0c",
        "name": "Code in JavaScript5"
      },
      {
        "parameters": {
          "jsCode": "const results = $input.all().map(item => {\n  const { userName, salaryName, projects, MonthlySalary } = item.json;\n  const costPerUser = {\n    userName,\n    salaryName,\n    projects: projects.map(project => ({\n      projectName: project.projectName,\n      cost: MonthlySalary * project.percentOfUserTotal,\n    }))\n  };\n  return { json: { costPerUser } };\n});\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          1440
        ],
        "id": "d25452b3-c848-4d89-a0c0-1254f8478608",
        "name": "Code in JavaScript8"
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "Name",
                "field2": "salaryName"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1696,
          1440
        ],
        "id": "168119b4-b7bf-41cb-9648-ed8806b01d85",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "662890a3-c7d6-4819-8853-a2680d69b242",
                "name": "Name",
                "value": "={{ $json.Name }}",
                "type": "string"
              },
              {
                "id": "b8845487-4b77-4088-98af-30bca8a11a4e",
                "name": "MonthlySalary",
                "value": "={{ $json.MonthlySalary }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1472,
          1360
        ],
        "id": "ca6ae7b7-6a18-4694-a8db-3c587280e00d",
        "name": "Edit Fields12"
      },
      {
        "parameters": {
          "jsCode": "const totalCostPerProject = {};\n\nconst items = $input.all();\nitems.forEach(entry => {\n  // If your input is wrapped in .json, use entry.json.costPerUser\n  const costPerUser = entry.costPerUser || entry.json?.costPerUser;\n  if (!costPerUser) return;\n  const projects = costPerUser.projects ?? [];\n  projects.forEach(({ projectName, cost }) => {\n    totalCostPerProject[projectName] =\n      (totalCostPerProject[projectName] || 0) + cost;\n  });\n});\n\n// Round to 2 decimals\nObject.keys(totalCostPerProject).forEach(projectName => {\n  totalCostPerProject[projectName] =\n    Number(totalCostPerProject[projectName].toFixed(2));\n});\n\nreturn Object.entries(totalCostPerProject).map(([projectName, totalCost]) => ({\n  json: {\n    projectName,\n    totalCost\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2144,
          1440
        ],
        "id": "c6de2103-7950-47cb-b5ea-d3191852d220",
        "name": "Code in JavaScript9"
      },
      {
        "parameters": {
          "toRecipients": "={{ $json[\"Who should we send the report to?\"] }}",
          "subject": "=Project cost report from {{ $json[\"Start date\"] }} to {{ $json[\"End date\"] }}",
          "bodyContent": "=This is the cost report for the period from {{ $json[\"Start date\"] }} to {{ $json[\"End date\"] }}.\n\n{{ $json.emailText }}\n",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          2832,
          1920
        ],
        "id": "9d3eb3df-17ae-4750-ae98-b0588f43bab9",
        "name": "Send a message",
        "webhookId": "c398835b-6be9-4fe9-8326-449a0ae75b2d",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "1ZHIbKAClQa9w6np",
            "name": "Microsoft Outlook account Antonio"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2608,
          1920
        ],
        "id": "c8154260-d34a-4d5c-a56b-b13c60812cf3",
        "name": "Merge1"
      },
      {
        "parameters": {
          "jsCode": "const emailText = $input.all().map(item =>\n    `Project: ${item.json.projectName}\\nCost: ${item.json.totalCost} €`\n  )\n  .join('\\n\\n');\n\nreturn { json: { emailText } };\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2368,
          1440
        ],
        "id": "6664dad5-6619-4d4c-8086-16acdb1501d8",
        "name": "Code in JavaScript10"
      },
      {
        "parameters": {
          "formTitle": "Cost report per project",
          "formDescription": "Choose the start and end dates for the period you want to generate a cost report for. Once submitted, you will receive the report by email within 2–5 minutes.\nOnly users who track time in Tempo (Jira) are included in the cost calculation.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Start date",
                "fieldType": "date",
                "requiredField": true
              },
              {
                "fieldLabel": "End date",
                "fieldType": "date",
                "requiredField": true
              },
              {
                "fieldLabel": "Who should we send the report to?",
                "fieldType": "email",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          -432,
          3040
        ],
        "id": "5aa8fdc9-376f-45cb-921b-9f32597896db",
        "name": "On form submission",
        "webhookId": "4db10ac6-262c-45be-ad81-d9c331645e52"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          16,
          2784
        ],
        "id": "88b5aa62-cf7b-45aa-a9fd-70a25cb2a51b",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "data"
              }
            ]
          },
          "options": {
            "mergeLists": true
          }
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          240,
          2640
        ],
        "id": "f32efaca-8a7f-4746-b4ac-14ca652edff7",
        "name": "Aggregate5"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "10yEe9j7tiWRiSHX0iEktO-Khq5WJCrPZvxuctLUITTY",
            "mode": "list",
            "cachedResultName": "Automation n8n mock salary data",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10yEe9j7tiWRiSHX0iEktO-Khq5WJCrPZvxuctLUITTY/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 412826818,
            "mode": "list",
            "cachedResultName": "Salaries",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10yEe9j7tiWRiSHX0iEktO-Khq5WJCrPZvxuctLUITTY/edit#gid=412826818"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Name",
                "lookupValue": "={{ $json.salaryName }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1136,
          2576
        ],
        "id": "79e6f0d7-a58b-4bc1-8f89-acebcf08b1bd",
        "name": "Get row(s) in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "n0gdwz2VyxdNsRf8",
            "name": "Antonio Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "users",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          688,
          2640
        ],
        "id": "e9ce896d-9606-45a6-9c1f-cc5b2ea10558",
        "name": "Split Out5"
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "Name",
                "field2": "salaryName"
              }
            ]
          },
          "joinMode": "keepEverything",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1584,
          2640
        ],
        "id": "9f74b8ca-8eb8-4e1b-9b79-c9ea3577adbf",
        "name": "Merge2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "662890a3-c7d6-4819-8853-a2680d69b242",
                "name": "Name",
                "value": "={{ $json.Name }}",
                "type": "string"
              },
              {
                "id": "b8845487-4b77-4088-98af-30bca8a11a4e",
                "name": "MonthlySalary",
                "value": "={{ $json.MonthlySalary }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1360,
          2576
        ],
        "id": "4eff35bc-4562-45ff-b8d4-af529afea469",
        "name": "Edit Fields15"
      },
      {
        "parameters": {
          "toRecipients": "={{ $json[\"Who should we send the report to?\"] }}",
          "subject": "=Project cost report from {{ $json[\"Start date\"] }} to {{ $json[\"End date\"] }}",
          "bodyContent": "=This is the cost report for the period from {{ $json[\"Start date\"] }} to {{ $json[\"End date\"] }}.\n\n{{ $json.emailBody }}\n",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          2720,
          3008
        ],
        "id": "2105fb89-71a0-4d32-a3d1-079c7ae84dfc",
        "name": "Send a message1",
        "webhookId": "c398835b-6be9-4fe9-8326-449a0ae75b2d",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "1ZHIbKAClQa9w6np",
            "name": "Microsoft Outlook account Antonio"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2496,
          3008
        ],
        "id": "d0402c90-419e-4f7d-82ec-06e5137f1742",
        "name": "Merge3"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zSwNxC5eZvQGgYhS",
            "mode": "list",
            "cachedResultUrl": "/workflow/zSwNxC5eZvQGgYhS",
            "cachedResultName": "Operations Department — HR automation - data cleanup subworkflow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          240,
          2832
        ],
        "id": "80d1b8bb-7fa8-402f-a1da-d0775cff0a1e",
        "name": "Data cleanup subworkflow"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst startDate = new Date(items[0]?.json[\"Start date\"]);\nconst endDate = new Date(items[0]?.json[\"End date\"]);\nconst dateChunks = [];\n\nwhile (startDate < endDate) {\n  const chunkEnd = new Date(startDate);\n  chunkEnd.setDate(chunkEnd.getDate() + 4);\n  if (chunkEnd > endDate) {\n    chunkEnd.setDate(endDate.getDate());\n  }\n\n  dateChunks.push({\n    start: startDate.toISOString().split(\"T\")[0],\n    end: chunkEnd.toISOString().split(\"T\")[0],\n  });\n\n  startDate.setDate(startDate.getDate() + 5);\n}\n\nreturn dateChunks.map((chunk, index) => ({ json: chunk, pairedItem: index }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          2784
        ],
        "id": "908f96fd-834a-4e27-b335-2c9e887b8257",
        "name": "Split date range into 5 day chunks"
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node: aggregate tracked time by user/project\n// Input options supported:\n//  1) items[0].json.data = [ { userName, trackedTime, projectName }, ... ]\n//  2) items = [ { json: { userName, trackedTime, projectName } }, ... ]\n\nconst round2 = (n) => Math.round((Number(n) + Number.EPSILON) * 100) / 100;\n\n// Normalize input to a flat array of records\nlet records = [];\nif (Array.isArray(items?.[0]?.json?.data)) {\n  records = items[0].json.data;\n} else if (Array.isArray(items) && items.length > 0 && items[0]?.json) {\n  // Treat each incoming item as a record\n  records = items.map(i => i.json);\n}\n\n// Handle empty input gracefully\nif (!Array.isArray(records) || records.length === 0) {\n  return [\n    {\n      json: {\n        generatedAt: new Date().toISOString(),\n        summary: { totalUsers: 0, totalTrackedTime: 0 },\n        users: []\n      }\n    }\n  ];\n}\n\n// Aggregate per user and per project\nconst usersMap = new Map(); // userName -> { total: number, projects: Map(projectName -> time) }\n\nfor (const r of records) {\n  const userName = (r.userName ?? \"\").trim();\n  const projectName = (r.projectName ?? \"\").trim();\n  const tracked = Number(r.trackedTime) || 0;\n  if (!userName) continue;\n\n  if (!usersMap.has(userName)) {\n    usersMap.set(userName, { total: 0, projects: new Map() });\n  }\n  const u = usersMap.get(userName);\n  u.total += tracked;\n\n  if (projectName) {\n    u.projects.set(projectName, (u.projects.get(projectName) || 0) + tracked);\n  }\n}\n\n// Build users array with rounding and fractions\nconst users = [];\nlet grandTotal = 0;\n\nfor (const [userName, data] of usersMap) {\n  const totalTime = round2(data.total);\n  grandTotal += totalTime;\n\n  const projects = Array.from(data.projects.entries())\n    .map(([projectName, time]) => {\n      const t = round2(time);\n      const fraction = totalTime > 0 ? round2(t / totalTime) : 0; // 0–1 fraction\n      return { projectName, time: t, percentOfUserTotal: fraction };\n    })\n    .sort((a, b) => (b.time - a.time) || a.projectName.localeCompare(b.projectName));\n\n  users.push({ userName, totalTime, projects });\n}\n\n// Sort users (predictable output)\nusers.sort((a, b) => a.userName.localeCompare(b.userName));\n\n// Wrap exactly as required by you and n8n\nreturn [\n  {\n    json: {\n      generatedAt: new Date().toISOString(),\n      summary: {\n        totalUsers: users.length,\n        totalTrackedTime: round2(grandTotal)\n      },\n      users\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          2640
        ],
        "id": "5b7a0ef4-91ef-481a-9a25-4cd82103bd67",
        "name": "Aggregate tracked time by user/project"
      },
      {
        "parameters": {
          "jsCode": "const userMap = [\n  {\n    \"timeLogsUser\": \"Aldin\",\n    \"salaryName\": \"Aldin Balic AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Alex Shestmintsev\",\n    \"salaryName\": \"Alex Shestmintsev (Oleksandr Shestmintsev)\"\n  },\n  {\n    \"timeLogsUser\": \"Almira\",\n    \"salaryName\": \"Almira Brekalo AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Andrii Zakhariashchev\",\n    \"salaryName\": \"Andrii Zakhariashchev\"\n  },\n  {\n    \"timeLogsUser\": \"Artem Stratiienko\",\n    \"salaryName\": \"Artem Stratienko\"\n  },\n  {\n    \"timeLogsUser\": \"Elida Mahinić\",\n    \"salaryName\": \"Elida Mahinić AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Giorgi Gugeshashvili\",\n    \"salaryName\": \"Giorgi Gugeshashvili\"\n  },\n  {\n    \"timeLogsUser\": \"Kemal Vejzovic\",\n    \"salaryName\": \"Kemal Vejzovic AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Maciej Mazur\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Marko Slipogor\",\n    \"salaryName\": \"Marko Slipogor DevOps Crux\"\n  },\n  {\n    \"timeLogsUser\": \"Pavlo Hnydyn\",\n    \"salaryName\": \"Pavlo Hnydyn\"\n  },\n  {\n    \"timeLogsUser\": \"Raúl\",\n    \"salaryName\": \"Raul Sanchez Cañadas\"\n  },\n  {\n    \"timeLogsUser\": \"Semira\",\n    \"salaryName\": \"Semira Golos AMQA\"\n  },\n  {\n    \"timeLogsUser\": \"Timur Useinudzha\",\n    \"salaryName\": \"Timur Useinudzha\"\n  },\n  {\n    \"timeLogsUser\": \"Tomasz Marciszewski\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Vladyslav Arkavenko\",\n    \"salaryName\": \"Vladyslav Arkavenko\"\n  },\n  {\n    \"timeLogsUser\": \"Zoran Culum\",\n    \"salaryName\": \"Zoran Culum\"\n  },\n  {\n    \"timeLogsUser\": \"Alexandru Matasa\",\n    \"salaryName\": \"Alexandru Ionut Matasa\"\n  },\n  {\n    \"timeLogsUser\": \"Alexandru Negrut\",\n    \"salaryName\": \"Alexandru Negruţ\"\n  },\n  {\n    \"timeLogsUser\": \"Andrei Abdulov\",\n    \"salaryName\": \"Andrei Abdulov\"\n  },\n  {\n    \"timeLogsUser\": \"Anna Chypizhenko\",\n    \"salaryName\": \"Anna Chypizhenko\"\n  },\n  {\n    \"timeLogsUser\": \"Antonio Marusic\",\n    \"salaryName\": \"Antonio Marusic - ActOne\"\n  },\n  {\n    \"timeLogsUser\": \"Apostol Adrian Alin\",\n    \"salaryName\": \"Alin Apostol\"\n  },\n  {\n    \"timeLogsUser\": \"Arkadii Balandin\",\n    \"salaryName\": \"Arkadii Balandin\"\n  },\n  {\n    \"timeLogsUser\": \"Borislav\",\n    \"salaryName\": \"Borislav Mihtiev\"\n  },\n  {\n    \"timeLogsUser\": \"Daniel Cioanca\",\n    \"salaryName\": \"Daniel Cioanca\"\n  },\n  {\n    \"timeLogsUser\": \"Daniel Filat\",\n    \"salaryName\": \"Daniel Filat /Wisent Group SRL (Vitale)\"\n  },\n  {\n    \"timeLogsUser\": \"daviti.shotashvili\",\n    \"salaryName\": \"Daviti Shotashvili\"\n  },\n  {\n    \"timeLogsUser\": \"diamant.isufi\",\n    \"salaryName\": \"Diamant Isufi\"\n  },\n  {\n    \"timeLogsUser\": \"Dmytro Sheptun\",\n    \"salaryName\": \"Dmytro Sheptun\"\n  },\n  {\n    \"timeLogsUser\": \"Filip Kuzmic\",\n    \"salaryName\": \"Filip Kuzmic - MAGNA MEDIA\"\n  },\n  {\n    \"timeLogsUser\": \"Herzio Almeida\",\n    \"salaryName\": \"Herzio Marcos Almeida Pinto Junior\"\n  },\n  {\n    \"timeLogsUser\": \"Ionut Mateius\",\n    \"salaryName\": \"Ionut Mateius\"\n  },\n  {\n    \"timeLogsUser\": \"Kateryna Krolevetska\",\n    \"salaryName\": \"Kateryna Krolevetska\"\n  },\n  {\n    \"timeLogsUser\": \"Mitko Nikolov\",\n    \"salaryName\": \"Mitko Nikolov Software Factory\"\n  },\n  {\n    \"timeLogsUser\": \"Mykola Uchen\",\n    \"salaryName\": \"Mykola Uchen\"\n  },\n  {\n    \"timeLogsUser\": \"Nichita Ialivciuc\",\n    \"salaryName\": \"Nichita Ialivciuc\"\n  },\n  {\n    \"timeLogsUser\": \"Nikoloz Chitashvili\",\n    \"salaryName\": \"Nikoloz Chitashvili\"\n  },\n  {\n    \"timeLogsUser\": \"Oleksandr Khomchenko\",\n    \"salaryName\": \"Oleksandr Khomchenko (Alexander Khomchenko)\"\n  },\n  {\n    \"timeLogsUser\": \"Oleksii Vasylenko\",\n    \"salaryName\": \"Oleksii Vasylenko\"\n  },\n  {\n    \"timeLogsUser\": \"Pavlo Petrina\",\n    \"salaryName\": \"Pavlo Petrina\"\n  },\n  {\n    \"timeLogsUser\": \"Robert Gmyrek\",\n    \"salaryName\": \"Robert Gmyrek/ Unoperate\"\n  },\n  {\n    \"timeLogsUser\": \"Robert Rogge\",\n    \"salaryName\": \"Robert Rogge\"\n  },\n  {\n    \"timeLogsUser\": \"shani.natav\",\n    \"salaryName\": \"Shani Natav\"\n  },\n  {\n    \"timeLogsUser\": \"Stipe Perkovic\",\n    \"salaryName\": \"Stipe Perković - PERCODING\"\n  },\n  {\n    \"timeLogsUser\": \"szabolcs.szekely\",\n    \"salaryName\": \"Szabolcs Székely Technnoid\"\n  },\n  {\n    \"timeLogsUser\": \"Tamas Kovacs\",\n    \"salaryName\": \"Tamas Kovacs/ Tech Throne - DEVNITY\"\n  },\n  {\n    \"timeLogsUser\": \"Vigan Zeqiri\",\n    \"salaryName\": \"Vigan Zeqiri\"\n  },\n  {\n    \"timeLogsUser\": \"viktor.senkiv\",\n    \"salaryName\": \"Viktor Senkiv\"\n  },\n  {\n    \"timeLogsUser\": \"Vinicius Oliveira\",\n    \"salaryName\": \"Vinicius Murilo Cavalcanti de Oliveira (VMCO)\"\n  },\n  {\n    \"timeLogsUser\": \"zeljko.stanojevic\",\n    \"salaryName\": \"Zeljko Stanojevic\"\n  },\n  {\n    \"timeLogsUser\": \"evren\",\n    \"salaryName\": \"Evren Aktolga (Ruul)\"\n  },\n  {\n    \"timeLogsUser\": \"Pavel Copot\",\n    \"salaryName\": \"MISSING\"\n  },\n  {\n    \"timeLogsUser\": \"Sava Stankovic\",\n    \"salaryName\": \"MISSING\"\n  }\n]\n\nconst items = $input.all();\nreturn items.map(item => {\n  const userName = item.json.userName;\n  const salaryName =\n    userMap\n      .map(user =>\n        user.timeLogsUser === userName ? user.salaryName : null\n      )\n      .find(Boolean) || \"MISSING\";\n  return {\n    json: {\n      ...item.json,\n      salaryName,\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          2640
        ],
        "id": "d84082a5-0d3c-4c87-8af1-158d6027b9bb",
        "name": "Match Tempo users to Sheets"
      },
      {
        "parameters": {
          "jsCode": "const results = $input.all().map(item => {\n  const { userName, salaryName, projects, MonthlySalary } = item.json;\n  const costPerUser = {\n    userName,\n    salaryName,\n    projects: projects.map(project => ({\n      projectName: project.projectName,\n      cost: MonthlySalary * project.percentOfUserTotal,\n    }))\n  };\n  return { json: { costPerUser } };\n});\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1808,
          2640
        ],
        "id": "00e2b101-0e75-4817-8c9a-4e0ca944e559",
        "name": "Calculate cost per user per project"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.all();\nconst missingUsers = [];\nconst totalsByProject = {};\n\nfor (const item of input) {\n  const cpu = item.json.costPerUser;\n  if (!cpu) continue;\n\n  if (cpu.salaryName === \"MISSING\") {\n    missingUsers.push(cpu.userName);\n    continue;\n  }\n\n  if (Array.isArray(cpu.projects)) {\n    for (const p of cpu.projects) {\n      totalsByProject[p.projectName] = (totalsByProject[p.projectName] || 0) + (p.cost || 0);\n    }\n  }\n}\n\nreturn [\n  {json: {missingUsers}},\n  {json: {totalsByProject}},\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          2640
        ],
        "id": "97e6cc78-55b8-4162-9506-9ce228e0246a",
        "name": "Sum totals per project"
      },
      {
        "parameters": {
          "jsCode": "// In n8n Code node, your input is `items` (each item is usually { json: {...} })\n\nconst missingUsers =\n  ($input.all().find(i => i.json && Array.isArray(i.json.missingUsers))?.json.missingUsers) ?? [];\n\nconst totalsByProject =\n  ($input.all().find(i => i.json && i.json.totalsByProject)?.json.totalsByProject) ?? {};\n\n// Projects block\nconst projectsText = Object.entries(totalsByProject)\n  .map(([projectName, totalCost]) => `Project: ${projectName}\\nCost: ${Number(totalCost).toFixed(2)} €`)\n  .join(\"\\n\\n\");\n\n// Missing users block (bulleted)\nconst missingUsersText = missingUsers.length\n  ? `\\n\\nUsers missing salary mapping:\\n${missingUsers.map(u => `• ${u}`).join(\"\\n\")}`\n  : \"\";\n\n// Final email body\nconst emailBody = `${projectsText}${missingUsersText}`;\n\n// n8n-compatible output\nreturn [{ json: { emailBody} }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2256,
          2640
        ],
        "id": "68716e35-927e-4216-866a-e9287b370102",
        "name": "Format email data"
      },
      {
        "parameters": {
          "content": "Replace w/ simpler node",
          "height": 288,
          "width": 272
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2176,
          2528
        ],
        "id": "4863579b-548a-40af-a2b7-b132821a9bae",
        "name": "Sticky Note4"
      }
    ],
    "connections": {
      "On form submission3": {
        "main": [
          [
            {
              "node": "Code in JavaScript6",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Split Out3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "Aggregate3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out3": {
        "main": [
          [
            {
              "node": "Edit Fields10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get author name3": {
        "main": [
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get issue details3": {
        "main": [
          [
            {
              "node": "Edit Fields11",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields10": {
        "main": [
          [
            {
              "node": "Get issue details3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields11": {
        "main": [
          [
            {
              "node": "Get author name3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate3": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript6": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "Aggregate4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate4": {
        "main": [
          [
            {
              "node": "Code in JavaScript7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript7": {
        "main": [
          [
            {
              "node": "Split Out4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out4": {
        "main": [
          [
            {
              "node": "Code in JavaScript5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript5": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Edit Fields12",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields12": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript8": {
        "main": [
          [
            {
              "node": "Code in JavaScript9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript9": {
        "main": [
          [
            {
              "node": "Code in JavaScript10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript10": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "Split date range into 5 day chunks",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge3",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Aggregate5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Data cleanup subworkflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate5": {
        "main": [
          [
            {
              "node": "Aggregate tracked time by user/project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet1": {
        "main": [
          [
            {
              "node": "Edit Fields15",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out5": {
        "main": [
          [
            {
              "node": "Match Tempo users to Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Calculate cost per user per project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields15": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge3": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data cleanup subworkflow": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split date range into 5 day chunks": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate tracked time by user/project": {
        "main": [
          [
            {
              "node": "Split Out5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Match Tempo users to Sheets": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Calculate cost per user per project": {
        "main": [
          [
            {
              "node": "Sum totals per project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sum totals per project": {
        "main": [
          [
            {
              "node": "Format email data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format email data": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio Marusic",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-25T21:31:19.000Z",
        "id": 3,
        "workflowId": "RKjFEagBCrukUw8b",
        "versionId": "092ab481-275f-4c4e-882b-c8827808ebfc",
        "event": "activated",
        "userId": null
      }
    ]
  }
}