workflows/LS_prod_-_HMAC__Viht0NAoOOlyoSVZ.json
{
  "updatedAt": "2026-05-05T12:29:11.232Z",
  "createdAt": "2026-05-05T08:40:54.195Z",
  "id": "Viht0NAoOOlyoSVZ",
  "name": "LS prod - HMAC",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        656
      ],
      "id": "d74dd8eb-de85-4518-ae27-17e9d3a5dc8c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "function sortKeys(obj) {\n  const sorted = {};\n  for (const key of Object.keys(obj).sort()) {\n    const val = obj[key];\n    if (val && typeof val === 'object' && !Array.isArray(val)) {\n      sorted[key] = sortKeys(val);\n    } else {\n      sorted[key] = val;\n    }\n  }\n  return sorted;\n}\n\nconst sortedBody = JSON.stringify(sortKeys($input.first().json.body));\n\nreturn {sortedBody};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        480
      ],
      "id": "e964cc50-3e2f-48e0-ade0-71331cc02589",
      "name": "Sort keys2"
    },
    {
      "parameters": {
        "value": "={{ $json.sortedBody }}",
        "dataPropertyName": "hashedBody"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1216,
        480
      ],
      "id": "6bc9a1ab-28b6-4ba9-a69e-0626986fc270",
      "name": "Hash request body"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a513b34-df55-4638-b3df-edffb17dd440",
              "name": "timestamp",
              "value": "={{Math.floor($now.toSeconds())}}",
              "type": "string"
            },
            {
              "id": "3b80b288-502d-4914-818d-f337597e9322",
              "name": "keyID",
              "value": "n8n-prod",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        656
      ],
      "id": "537d6c98-bcea-4545-b08c-38602eec76b4",
      "name": "Set timestamp and keyID"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "nonce",
        "encodingType": "hex",
        "stringLength": 16
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        992,
        832
      ],
      "id": "c220f9b5-8c82-425b-b63c-85258228fc75",
      "name": "Generate nonce"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        640
      ],
      "id": "c730faf4-e30e-40e2-a77b-a291d55da949",
      "name": "Merge"
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.method }}\n{{ $json.endpoint }}\n{{ $json.timestamp }}\n{{ $json.nonce }}\n{{ $json.hashedBody }}",
        "dataPropertyName": "signedString"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1792,
        656
      ],
      "id": "e63cd5c4-69e8-4ba9-aec0-f28559433686",
      "name": "Sign payload",
      "credentials": {
        "crypto": {
          "id": "YBsh1OjnT2lxzIKX",
          "name": "LS prod n8n key"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/transactions/refund\",\n\"body\": \n  {\"transactionId\": \"{{ $json.transactionId }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        656
      ],
      "id": "5374f1a7-38b6-49ea-b9cc-1b6ae021a649",
      "name": "Set body data1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "cancellation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76981cbd-bebf-4390-b14b-c7f186d323dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ace41aaa-388e-460e-8c51-c4a1d5d59414",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "refund",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refund"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d868d79-876b-4427-879a-a2769eee4d3d",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        640
      ],
      "id": "d6d9a87a-5ed1-4073-9b64-a42d192579f2",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n\"subscriptionId\":\"{{ $json.subscriptionId }}\",\n\"cancelImmediately\":true\n}\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        480
      ],
      "id": "c72a43a3-8808-4f9e-a4f7-1841d1c694ad",
      "name": "Set body data2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/search\",\n\"body\": \n  { \"email\":\"{{ $json.email }}\",\n\"includeTransactionsLast30Days\": true\n}\n    }\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        832
      ],
      "id": "b94efd39-92f9-459c-b1d8-d101ab3f9011",
      "name": "Set body data3"
    }
  ],
  "connections": {
    "Sort keys2": {
      "main": [
        [
          {
            "node": "Hash request body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash request body": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set timestamp and keyID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate nonce": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sign payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign payload": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set body data2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set body data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set body data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set body data1": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set body data2": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set body data3": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "79bb75fb-bb7e-49f1-882c-f0674b1f9ce7",
  "activeVersionId": "79bb75fb-bb7e-49f1-882c-f0674b1f9ce7",
  "versionCounter": 13,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-05T08:40:54.199Z",
      "createdAt": "2026-05-05T08:40:54.199Z",
      "role": "workflow:owner",
      "workflowId": "Viht0NAoOOlyoSVZ",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:42.514Z",
      "createdAt": "2026-03-20T07:31:42.514Z",
      "id": "7hyr6wbGjTIinFTr",
      "name": "LS prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-05T12:29:05.000Z",
    "createdAt": "2026-05-05T08:58:35.070Z",
    "versionId": "79bb75fb-bb7e-49f1-882c-f0674b1f9ce7",
    "workflowId": "Viht0NAoOOlyoSVZ",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          48,
          656
        ],
        "id": "d74dd8eb-de85-4518-ae27-17e9d3a5dc8c",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "function sortKeys(obj) {\n  const sorted = {};\n  for (const key of Object.keys(obj).sort()) {\n    const val = obj[key];\n    if (val && typeof val === 'object' && !Array.isArray(val)) {\n      sorted[key] = sortKeys(val);\n    } else {\n      sorted[key] = val;\n    }\n  }\n  return sorted;\n}\n\nconst sortedBody = JSON.stringify(sortKeys($input.first().json.body));\n\nreturn {sortedBody};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          480
        ],
        "id": "e964cc50-3e2f-48e0-ade0-71331cc02589",
        "name": "Sort keys2"
      },
      {
        "parameters": {
          "value": "={{ $json.sortedBody }}",
          "dataPropertyName": "hashedBody"
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          1216,
          480
        ],
        "id": "6bc9a1ab-28b6-4ba9-a69e-0626986fc270",
        "name": "Hash request body"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0a513b34-df55-4638-b3df-edffb17dd440",
                "name": "timestamp",
                "value": "={{Math.floor($now.toSeconds())}}",
                "type": "string"
              },
              {
                "id": "3b80b288-502d-4914-818d-f337597e9322",
                "name": "keyID",
                "value": "n8n-prod",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          992,
          656
        ],
        "id": "537d6c98-bcea-4545-b08c-38602eec76b4",
        "name": "Set timestamp and keyID"
      },
      {
        "parameters": {
          "action": "generate",
          "dataPropertyName": "nonce",
          "encodingType": "hex",
          "stringLength": 16
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          992,
          832
        ],
        "id": "c220f9b5-8c82-425b-b63c-85258228fc75",
        "name": "Generate nonce"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 3,
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1568,
          640
        ],
        "id": "c730faf4-e30e-40e2-a77b-a291d55da949",
        "name": "Merge"
      },
      {
        "parameters": {
          "action": "hmac",
          "value": "={{ $json.method }}\n{{ $json.endpoint }}\n{{ $json.timestamp }}\n{{ $json.nonce }}\n{{ $json.hashedBody }}",
          "dataPropertyName": "signedString"
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          1792,
          656
        ],
        "id": "e63cd5c4-69e8-4ba9-aec0-f28559433686",
        "name": "Sign payload",
        "credentials": {
          "crypto": {
            "id": "YBsh1OjnT2lxzIKX",
            "name": "LS prod n8n key"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/transactions/refund\",\n\"body\": \n  {\"transactionId\": \"{{ $json.transactionId }}\"\n  }\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          656
        ],
        "id": "5374f1a7-38b6-49ea-b9cc-1b6ae021a649",
        "name": "Set body data1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "cancellation",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "76981cbd-bebf-4390-b14b-c7f186d323dc"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancellation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ace41aaa-388e-460e-8c51-c4a1d5d59414",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "refund",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "refund"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4d868d79-876b-4427-879a-a2769eee4d3d",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "search",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "search"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          256,
          640
        ],
        "id": "d6d9a87a-5ed1-4073-9b64-a42d192579f2",
        "name": "Switch"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n\"subscriptionId\":\"{{ $json.subscriptionId }}\",\n\"cancelImmediately\":true\n}\n  }\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          480
        ],
        "id": "c72a43a3-8808-4f9e-a4f7-1841d1c694ad",
        "name": "Set body data2"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/search\",\n\"body\": \n  { \"email\":\"{{ $json.email }}\",\n\"includeTransactionsLast30Days\": true\n}\n    }\n  }\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          832
        ],
        "id": "b94efd39-92f9-459c-b1d8-d101ab3f9011",
        "name": "Set body data3"
      }
    ],
    "connections": {
      "Sort keys2": {
        "main": [
          [
            {
              "node": "Hash request body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hash request body": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set timestamp and keyID": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Generate nonce": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Sign payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sign payload": {
        "main": [
          []
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Set body data2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set body data1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set body data3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set body data1": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set body data2": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set body data3": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 79bb75fb",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-05T12:29:05.073Z",
        "id": 544,
        "workflowId": "Viht0NAoOOlyoSVZ",
        "versionId": "79bb75fb-bb7e-49f1-882c-f0674b1f9ce7",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-05T12:29:11.410Z",
        "id": 546,
        "workflowId": "Viht0NAoOOlyoSVZ",
        "versionId": "79bb75fb-bb7e-49f1-882c-f0674b1f9ce7",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-05T12:29:11.307Z",
        "id": 545,
        "workflowId": "Viht0NAoOOlyoSVZ",
        "versionId": "79bb75fb-bb7e-49f1-882c-f0674b1f9ce7",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}