workflows/LS_prod_-_Chatbot_refunds_handling__Le5Qam8jXnQZIzMy.json
{
  "updatedAt": "2026-05-26T12:47:05.566Z",
  "createdAt": "2026-05-26T09:05:19.357Z",
  "id": "Le5Qam8jXnQZIzMy",
  "name": "LS prod - Chatbot refunds handling",
  "description": "Template version of CS - Chatbot refunds handling. Parent workflow with Zendesk trigger that routes chatbot-classified refund tickets to the refund flow subworkflow. Field IDs, status IDs, and zendesk domain templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "lovestyle_prod",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e2b352d7-8038-47d4-b985-d4b6815240c6",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IRxwFN8iBhHLFQxQ",
          "mode": "list",
          "cachedResultName": "cs_project_config",
          "cachedResultUrl": "/projects/CH8lyrRTH2IOvQOj/datatables/IRxwFN8iBhHLFQxQ"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "f9c0350a-e05d-4700-becf-eedc981bbd14",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38f8b03a-a7be-4778-9553-3f567b373ffd",
              "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_chatbot_classification_id] }}",
              "rightValue": "refunds",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "25efca19-6bd8-4dd0-bae9-40631d0f7424",
      "name": "Is chatbot classification == refunds",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "4f2278cd-de7b-414c-bf7b-4e8cafc3678f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const INPUT_PATH = 'description';\n\nfunction getByPath(obj, path) {\n  return path.split('.').reduce((acc, key) => {\n    if (acc && Object.prototype.hasOwnProperty.call(acc, key)) {\n      return acc[key];\n    }\n    return undefined;\n  }, obj);\n}\n\nconst inputText = getByPath($json, INPUT_PATH);\n\nif (typeof inputText !== 'string') {\n  throw new Error(`Input at path \"${INPUT_PATH}\" is not a string or does not exist.`);\n}\n\n// Match all lines starting with \"User:\"\nconst userLines = inputText.match(/^User:.*$/gm) || [];\n\n// Return as single newline-separated string\nreturn [\n  {\n    json: {\n      user_only: userLines.join('\\n'),\n      user_lines: userLines, // optional array\n      count: userLines.length,\n    },\n  },\n];"
      },
      "id": "f8d41f63-2c45-447f-9726-b5e5990dc4d3",
      "name": "Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b5364df-96ee-40d2-b018-363299d58adb",
              "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_language_id] }}",
              "rightValue": "=language__en",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "722423ca-e5d6-4791-9bc5-e899fde1d334",
      "name": "Language isn't English",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        96
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Extract').item.json.user_only }}\",\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage : \"en\" }}\",\n    \"is_translated\":{{$('Translate ticket to english1').isExecuted ? true:false}}\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.title : \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.description : \"\"}}\"\n    }\n  }\n} ",
        "options": {}
      },
      "id": "f1c64b8d-9ada-47a6-9d2b-3b86daaa4448",
      "name": "Set translated request data test1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        80
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=Description: {{ $json.user_only }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "id": "ba31194a-8b0a-4987-a59c-b60d04fa12b3",
      "name": "Translate ticket to english1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1808,
        240
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "CYpFhyyLIOdE4dHO",
          "name": "LS prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $(\"Webhook\").item.json.body[\"ticket.id\"] }}"
      },
      "id": "2211e310-91e1-415a-aaa8-d383561f4803",
      "name": "Get a ticket",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af4dbe40-673c-484f-a26b-6f8c1d224bf8",
              "leftValue": "={{ $json.custom_status_id }}",
              "rightValue": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_chatbot_automated_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a181f3b-ffb5-4e74-83b6-7c768b6c3cf6",
      "name": "Is status automated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wFIeICHpCNrN9IHx",
          "mode": "list",
          "cachedResultUrl": "/workflow/wFIeICHpCNrN9IHx",
          "cachedResultName": "Operations Department — LS prod - Refund requests flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "1805ea8d-8482-4174-a492-60466b6cb6e2",
      "name": "Call 'LS prod - Refund requests flow'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2352,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6e40c763-ba60-4758-bd99-f9b5711e48bb",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        96
      ],
      "id": "eba9d110-fe7a-49e1-ab20-c12d605a078f",
      "name": "Webhook",
      "webhookId": "6e40c763-ba60-4758-bd99-f9b5711e48bb"
    }
  ],
  "connections": {
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Get a ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is chatbot classification == refunds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is chatbot classification == refunds": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Language isn't English",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language isn't English": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Call 'LS prod - Refund requests flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a ticket": {
      "main": [
        [
          {
            "node": "Is status automated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is status automated": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Zendesk Trigger": {}
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1ea459e1-d84d-4c33-bd29-90203b176210",
  "activeVersionId": "1ea459e1-d84d-4c33-bd29-90203b176210",
  "versionCounter": 26,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-26T09:05:19.361Z",
      "createdAt": "2026-05-26T09:05:19.361Z",
      "role": "workflow:owner",
      "workflowId": "Le5Qam8jXnQZIzMy",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:42.514Z",
      "createdAt": "2026-03-20T07:31:42.514Z",
      "id": "7hyr6wbGjTIinFTr",
      "name": "LS prod"
    },
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-26T12:46:59.000Z",
    "createdAt": "2026-05-26T12:39:58.212Z",
    "versionId": "1ea459e1-d84d-4c33-bd29-90203b176210",
    "workflowId": "Le5Qam8jXnQZIzMy",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "lovestyle_prod",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "e2b352d7-8038-47d4-b985-d4b6815240c6",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          96
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "IRxwFN8iBhHLFQxQ",
            "mode": "list",
            "cachedResultName": "cs_project_config",
            "cachedResultUrl": "/projects/CH8lyrRTH2IOvQOj/datatables/IRxwFN8iBhHLFQxQ"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "f9c0350a-e05d-4700-becf-eedc981bbd14",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          448,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "38f8b03a-a7be-4778-9553-3f567b373ffd",
                "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_chatbot_classification_id] }}",
                "rightValue": "refunds",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "25efca19-6bd8-4dd0-bae9-40631d0f7424",
        "name": "Is chatbot classification == refunds",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          896,
          192
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "4f2278cd-de7b-414c-bf7b-4e8cafc3678f",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1120,
          96
        ]
      },
      {
        "parameters": {
          "jsCode": "const INPUT_PATH = 'description';\n\nfunction getByPath(obj, path) {\n  return path.split('.').reduce((acc, key) => {\n    if (acc && Object.prototype.hasOwnProperty.call(acc, key)) {\n      return acc[key];\n    }\n    return undefined;\n  }, obj);\n}\n\nconst inputText = getByPath($json, INPUT_PATH);\n\nif (typeof inputText !== 'string') {\n  throw new Error(`Input at path \"${INPUT_PATH}\" is not a string or does not exist.`);\n}\n\n// Match all lines starting with \"User:\"\nconst userLines = inputText.match(/^User:.*$/gm) || [];\n\n// Return as single newline-separated string\nreturn [\n  {\n    json: {\n      user_only: userLines.join('\\n'),\n      user_lines: userLines, // optional array\n      count: userLines.length,\n    },\n  },\n];"
        },
        "id": "f8d41f63-2c45-447f-9726-b5e5990dc4d3",
        "name": "Extract",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "5b5364df-96ee-40d2-b018-363299d58adb",
                "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_field_language_id] }}",
                "rightValue": "=language__en",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "722423ca-e5d6-4791-9bc5-e899fde1d334",
        "name": "Language isn't English",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1568,
          96
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Extract').item.json.user_only }}\",\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage : \"en\" }}\",\n    \"is_translated\":{{$('Translate ticket to english1').isExecuted ? true:false}}\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.title : \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').isExecuted ? $('Translate ticket to english1').item.json.output.first().content.first().text.description : \"\"}}\"\n    }\n  }\n} ",
          "options": {}
        },
        "id": "f1c64b8d-9ada-47a6-9d2b-3b86daaa4448",
        "name": "Set translated request data test1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2128,
          80
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "content": "=Description: {{ $json.user_only }}"
              },
              {
                "role": "system",
                "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object",
                "verbosity": "high"
              }
            }
          }
        },
        "id": "ba31194a-8b0a-4987-a59c-b60d04fa12b3",
        "name": "Translate ticket to english1",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1808,
          240
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "CYpFhyyLIOdE4dHO",
            "name": "LS prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "id": "={{ $(\"Webhook\").item.json.body[\"ticket.id\"] }}"
        },
        "id": "2211e310-91e1-415a-aaa8-d383561f4803",
        "name": "Get a ticket",
        "type": "n8n-nodes-base.zendesk",
        "typeVersion": 1,
        "position": [
          672,
          0
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "af4dbe40-673c-484f-a26b-6f8c1d224bf8",
                "leftValue": "={{ $json.custom_status_id }}",
                "rightValue": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_chatbot_automated_id }}",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "0a181f3b-ffb5-4e74-83b6-7c768b6c3cf6",
        "name": "Is status automated",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          896,
          0
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "wFIeICHpCNrN9IHx",
            "mode": "list",
            "cachedResultUrl": "/workflow/wFIeICHpCNrN9IHx",
            "cachedResultName": "Operations Department — LS prod - Refund requests flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "1805ea8d-8482-4174-a492-60466b6cb6e2",
        "name": "Call 'LS prod - Refund requests flow'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2352,
          80
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "6e40c763-ba60-4758-bd99-f9b5711e48bb",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -48,
          96
        ],
        "id": "eba9d110-fe7a-49e1-ab20-c12d605a078f",
        "name": "Webhook",
        "webhookId": "6e40c763-ba60-4758-bd99-f9b5711e48bb"
      }
    ],
    "connections": {
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Get a ticket",
              "type": "main",
              "index": 0
            },
            {
              "node": "Is chatbot classification == refunds",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is chatbot classification == refunds": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Extract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract": {
        "main": [
          [
            {
              "node": "Language isn't English",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Language isn't English": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Translate ticket to english1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set translated request data test1": {
        "main": [
          [
            {
              "node": "Call 'LS prod - Refund requests flow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Translate ticket to english1": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a ticket": {
        "main": [
          [
            {
              "node": "Is status automated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is status automated": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 1ea459e1",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-26T12:46:59.227Z",
        "id": 787,
        "workflowId": "Le5Qam8jXnQZIzMy",
        "versionId": "1ea459e1-d84d-4c33-bd29-90203b176210",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-26T12:47:05.984Z",
        "id": 789,
        "workflowId": "Le5Qam8jXnQZIzMy",
        "versionId": "1ea459e1-d84d-4c33-bd29-90203b176210",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-26T12:47:05.756Z",
        "id": 788,
        "workflowId": "Le5Qam8jXnQZIzMy",
        "versionId": "1ea459e1-d84d-4c33-bd29-90203b176210",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}