workflows/LS_prod_-_Zendesk_ticket_update_request__UPh58ZwqHFeZRPBe.json
{
  "updatedAt": "2026-03-20T09:52:57.041Z",
  "createdAt": "2026-03-13T07:37:07.332Z",
  "id": "UPh58ZwqHFeZRPBe",
  "name": "LS prod - Zendesk ticket update request",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        0
      ],
      "id": "b75b8ebc-a24b-454b-babb-877572c32d0a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $json.ticketID }}/macros/{{ $json.macroID }}/apply",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        0
      ],
      "id": "4035bc18-8ae9-4e40-9ead-1e028fb041ab",
      "name": "Generate customer reply with macro8",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      },
      "notes": "Show changes to ticket endpoint, configured with \"Cancel Subscription\" macro"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n    \"comment\": {\n      \"public\": {{ $(\"When Executed by Another Workflow\").item.json.publicComment }},\n      \"html_body\": \"{{ $json.result.ticket.comment.html_body }}\"\n    },\n    \"custom_status_id\": {{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }},\n    \"custom_fields\": [\n      {\n        \"id\": {{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }},\n        \"value\": \"{{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}\" \n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        752,
        1056
      ],
      "id": "b7b46da7-7a7c-41ed-bbb9-ce5e03a8b663",
      "name": "Reply to customer and set status to solved3",
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "455a5b1b-9564-4577-83bd-936d0ec85e58",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "09e48b92-14e6-4ba1-8808-d751808445d4",
      "name": "Is translated"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=Customer Support Agent's comment: {{ $json.result.ticket.comment.html_body }}\n\nOriginal language: {{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine. Your sole task is to translate Customer Support Agent's messages into the customer's language. \n\nInput:\nCustomer Support Agent's comment - this needs to be translated\nOriginal language - this is the language you need to translate into\n\nRules (must be followed strictly):\nTranslate exactly and literally\nDo not add, remove, infer, or reinterpret any information\nDo not explain, summarize, rephrase, or improve wording\nPreserve tone, intent, ambiguity, and emotional content exactly\nPreserve formatting, punctuation, emojis, HTML formatting, and line breaks\nDo not normalize slang, profanity, or errors\nIf a term cannot be translated precisely, transliterate it\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntranslatedComment: string\n\nNeeds to be formatted as JSON\nNo commentary, labels, or notes\nNo markdown or HTML unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        704,
        -16
      ],
      "id": "e2d5a8f7-84df-4540-b693-a0ed0c18018c",
      "name": "Translate macro to local language",
      "credentials": {
        "openAiApi": {
          "id": "CYpFhyyLIOdE4dHO",
          "name": "LS prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n    \"comment\": {\n      \"public\": {{ $(\"When Executed by Another Workflow\").item.json.publicComment }},\n      \"html_body\": \"{{ $json.output[0].content[0].text.translatedComment }}\"\n    },\n    \"custom_status_id\": {{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }},\n    \"custom_fields\": [\n      {\n        \"id\": {{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }},\n        \"value\": \"{{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        752
      ],
      "id": "574f2a11-205a-407a-bdd7-dc8605088343",
      "name": "Reply to customer and set status to solved4",
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n    \"custom_fields\": [\n      {\n        \"id\": {{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\"}},\n        \"value\": \"{{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\"}}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        1056
      ],
      "id": "33fefa2f-cad8-466d-bebd-ea9d1e8c2389",
      "name": "Reply to customer and set status to solved5",
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n    \"custom_fields\": [\n      {\n        \"id\": {{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\"}},\n        \"value\": \"{{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\"}}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1488,
        752
      ],
      "id": "5a125a83-c296-409d-bd83-8b3b8950472b",
      "name": "Reply to customer and set status to solved6",
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "yDBGaacw8ekSNOp4",
          "name": "Development test Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.publicComment }}"
            },
            {
              "name": "ticket.comment.html_body",
              "value": "={{ $('Generate customer reply with macro8').item.json.result.ticket.comment.body }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            },
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        944,
        272
      ],
      "id": "2dc12e14-c54f-4eac-ab85-1d3ccce7bd7c",
      "name": "Reply to customer and set status to solved7",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\"}}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\"}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        272
      ],
      "id": "1ec28df0-a7ec-4252-a61c-b4214e80aae5",
      "name": "Reply to customer and set status to solved8",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.publicComment }}"
            },
            {
              "name": "ticket.comment.html_body",
              "value": "={{ $('Translate macro to local language').item.json.output[0].content[0].text.translatedComment }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            },
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        -16
      ],
      "id": "63c9faea-eb17-46e5-b2f9-b7f7ece68b69",
      "name": "Reply to customer and set status to solved9",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\"}}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\"}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        -16
      ],
      "id": "bba4542f-c4b6-4a9d-964f-13dfb39da956",
      "name": "Reply to customer and set status to solved10",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "=24286144941340"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        272
      ],
      "id": "34e6742d-2e5b-449a-9027-b391bb7cd56d",
      "name": "Reply to customer and set status to solved",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "=24286144941340"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        -16
      ],
      "id": "0a53a491-8877-4c0e-a712-c5d7b6a2de46",
      "name": "Reply to customer and set status to solved1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate customer reply with macro8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate customer reply with macro8": {
      "main": [
        [
          {
            "node": "Is translated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is translated": {
      "main": [
        [
          {
            "node": "Translate macro to local language",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to customer and set status to solved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate macro to local language": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to customer and set status to solved3": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to customer and set status to solved4": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to customer and set status to solved7": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to customer and set status to solved9": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to customer and set status to solved": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to customer and set status to solved1": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "zendeskDomain": "lovestylehelp",
          "ticketID": 457454,
          "macroID": 26043963752220,
          "isTranslated": false,
          "originalLanguage": "en",
          "publicComment": true,
          "ticketCustomStatusID": 24200840157980,
          "ticketCustomFieldID": 24285840352924,
          "ticketCustomFieldValue": "refund__30_day_policy__last_charge_only_"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "043366ee-2ab5-48ff-9b12-bf04c10dda0b",
  "activeVersionId": "043366ee-2ab5-48ff-9b12-bf04c10dda0b",
  "versionCounter": 66,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-13T07:37:07.335Z",
      "createdAt": "2026-03-13T07:37:07.335Z",
      "role": "workflow:owner",
      "workflowId": "UPh58ZwqHFeZRPBe",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:42.514Z",
      "createdAt": "2026-03-20T07:31:42.514Z",
      "id": "7hyr6wbGjTIinFTr",
      "name": "LS prod"
    },
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-23T07:59:48.000Z",
    "createdAt": "2026-03-20T09:52:57.042Z",
    "versionId": "043366ee-2ab5-48ff-9b12-bf04c10dda0b",
    "workflowId": "UPh58ZwqHFeZRPBe",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -96,
          0
        ],
        "id": "b75b8ebc-a24b-454b-babb-877572c32d0a",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "url": "=https://{{ $json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $json.ticketID }}/macros/{{ $json.macroID }}/apply",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          160,
          0
        ],
        "id": "4035bc18-8ae9-4e40-9ead-1e028fb041ab",
        "name": "Generate customer reply with macro8",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        },
        "notes": "Show changes to ticket endpoint, configured with \"Cancel Subscription\" macro"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"ticket\": {\n    \"comment\": {\n      \"public\": {{ $(\"When Executed by Another Workflow\").item.json.publicComment }},\n      \"html_body\": \"{{ $json.result.ticket.comment.html_body }}\"\n    },\n    \"custom_status_id\": {{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }},\n    \"custom_fields\": [\n      {\n        \"id\": {{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }},\n        \"value\": \"{{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}\" \n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          752,
          1056
        ],
        "id": "b7b46da7-7a7c-41ed-bbb9-ce5e03a8b663",
        "name": "Reply to customer and set status to solved3",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "455a5b1b-9564-4577-83bd-936d0ec85e58",
                "leftValue": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          0
        ],
        "id": "09e48b92-14e6-4ba1-8808-d751808445d4",
        "name": "Is translated"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.1",
            "mode": "list",
            "cachedResultName": "GPT-5.1"
          },
          "responses": {
            "values": [
              {
                "content": "=Customer Support Agent's comment: {{ $json.result.ticket.comment.html_body }}\n\nOriginal language: {{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
              },
              {
                "role": "system",
                "content": "You are a translation engine. Your sole task is to translate Customer Support Agent's messages into the customer's language. \n\nInput:\nCustomer Support Agent's comment - this needs to be translated\nOriginal language - this is the language you need to translate into\n\nRules (must be followed strictly):\nTranslate exactly and literally\nDo not add, remove, infer, or reinterpret any information\nDo not explain, summarize, rephrase, or improve wording\nPreserve tone, intent, ambiguity, and emotional content exactly\nPreserve formatting, punctuation, emojis, HTML formatting, and line breaks\nDo not normalize slang, profanity, or errors\nIf a term cannot be translated precisely, transliterate it\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntranslatedComment: string\n\nNeeds to be formatted as JSON\nNo commentary, labels, or notes\nNo markdown or HTML unless it exists in the input"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object",
                "verbosity": "high"
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          704,
          -16
        ],
        "id": "e2d5a8f7-84df-4540-b693-a0ed0c18018c",
        "name": "Translate macro to local language",
        "credentials": {
          "openAiApi": {
            "id": "CYpFhyyLIOdE4dHO",
            "name": "LS prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"ticket\": {\n    \"comment\": {\n      \"public\": {{ $(\"When Executed by Another Workflow\").item.json.publicComment }},\n      \"html_body\": \"{{ $json.output[0].content[0].text.translatedComment }}\"\n    },\n    \"custom_status_id\": {{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }},\n    \"custom_fields\": [\n      {\n        \"id\": {{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }},\n        \"value\": \"{{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}\"\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1280,
          752
        ],
        "id": "574f2a11-205a-407a-bdd7-dc8605088343",
        "name": "Reply to customer and set status to solved4",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"ticket\": {\n    \"custom_fields\": [\n      {\n        \"id\": {{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\"}},\n        \"value\": \"{{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\"}}\"\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          960,
          1056
        ],
        "id": "33fefa2f-cad8-466d-bebd-ea9d1e8c2389",
        "name": "Reply to customer and set status to solved5",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"ticket\": {\n    \"custom_fields\": [\n      {\n        \"id\": {{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\"}},\n        \"value\": \"{{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\"}}\"\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1488,
          752
        ],
        "id": "5a125a83-c296-409d-bd83-8b3b8950472b",
        "name": "Reply to customer and set status to solved6",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "yDBGaacw8ekSNOp4",
            "name": "Development test Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.publicComment }}"
              },
              {
                "name": "ticket.comment.html_body",
                "value": "={{ $('Generate customer reply with macro8').item.json.result.ticket.comment.body }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              },
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          944,
          272
        ],
        "id": "2dc12e14-c54f-4eac-ab85-1d3ccce7bd7c",
        "name": "Reply to customer and set status to solved7",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\"}}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\"}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1152,
          272
        ],
        "id": "1ec28df0-a7ec-4252-a61c-b4214e80aae5",
        "name": "Reply to customer and set status to solved8",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.publicComment }}"
              },
              {
                "name": "ticket.comment.html_body",
                "value": "={{ $('Translate macro to local language').item.json.output[0].content[0].text.translatedComment }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              },
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1232,
          -16
        ],
        "id": "63c9faea-eb17-46e5-b2f9-b7f7ece68b69",
        "name": "Reply to customer and set status to solved9",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\"}}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\"}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1440,
          -16
        ],
        "id": "bba4542f-c4b6-4a9d-964f-13dfb39da956",
        "name": "Reply to customer and set status to solved10",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "=24286144941340"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          736,
          272
        ],
        "id": "34e6742d-2e5b-449a-9027-b391bb7cd56d",
        "name": "Reply to customer and set status to solved",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "=24286144941340"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1024,
          -16
        ],
        "id": "0a53a491-8877-4c0e-a712-c5d7b6a2de46",
        "name": "Reply to customer and set status to solved1",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Generate customer reply with macro8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate customer reply with macro8": {
        "main": [
          [
            {
              "node": "Is translated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is translated": {
        "main": [
          [
            {
              "node": "Translate macro to local language",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to customer and set status to solved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Translate macro to local language": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to customer and set status to solved3": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to customer and set status to solved4": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to customer and set status to solved7": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to customer and set status to solved9": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to customer and set status to solved": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to customer and set status to solved1": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 043366ee",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-23T07:59:47.914Z",
        "id": 378,
        "workflowId": "UPh58ZwqHFeZRPBe",
        "versionId": "043366ee-2ab5-48ff-9b12-bf04c10dda0b",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}