workflows/LS_prod_-_Zendesk_tickets_main_automation_flow_v2__bsBYn9pp5PqzyTvR.json
{
  "updatedAt": "2026-05-05T09:37:42.767Z",
  "createdAt": "2026-03-17T09:34:57.686Z",
  "id": "bsBYn9pp5PqzyTvR",
  "name": "LS prod - Zendesk tickets main automation flow v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1792,
        640
      ],
      "id": "1ecde3f3-7a55-4a6e-9050-92b14e760870",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CYpFhyyLIOdE4dHO",
          "name": "LS prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0e7950e0-065c-4639-9536-ade0c311d4f8",
                    "leftValue": "={{ $('Ticket classification1').item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "r",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Refunds"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Ticket classification1').item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "327f161d-a756-4264-b443-bde173322d43"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancellations"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3bf783b-e6cf-49ec-8f20-1e45d278421d",
                    "leftValue": "={{ $('Ticket classification1').item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "o",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1568,
        288
      ],
      "id": "841443f1-ac09-4f60-b48c-03e1621c0855",
      "name": "Split requests by type1"
    },
    {
      "parameters": {
        "inputText": "={{ $('Zendesk Trigger').item.json[\"ticket.description\"] }}",
        "categories": {
          "categories": [
            {
              "category": "Text is not in English"
            },
            {
              "category": "Text is in English"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1888,
        464
      ],
      "id": "81b19708-4ceb-434e-9faf-7d2844fec6de",
      "name": "Check ticket language1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=ft:gpt-4.1-2025-04-14:futuremedia:fine-tuning-dataset-5:D8ZgqXxP",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You analyze customer support messages and classify them into exactly one of the following categories based only on the user’s written message\n\nCATEGORIES:\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, or mentions being charged and wanting the charge undone.  \nThis includes refund requests even if the customer also requests cancelling or closing their account in addition to the refund.\n\nCancellations  (c)\nUse this category if the customer is asking to cancel, stop, pause, or end a subscription or account AND does NOT request money back.\n\nOther  (o)\nUse this category for all other messages, including:\nproduct questions\nfeature requests\naccount access issues\ncomplaints without a refund or cancellation request\nunclear or ambiguous messages\nharassment or threatening, in this case the “other” category is considered as refusing to classify the ticket\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\nc = Cancellations\no = Other\n\nDo not explain your reasoning. Output only the letter.\n"
            },
            {
              "content": "=Customer support ticket title:  {{ $json.data[0].original_ticket_content.title }}\nmessage: {{ $json.data[0].original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "include": [
            "message.output_text.logprobs"
          ],
          "parallelToolCalls": true,
          "topLogprobs": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -816,
        480
      ],
      "id": "550bda24-c142-49bc-bc00-bd9f29ccb712",
      "name": "Ticket classification1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "CYpFhyyLIOdE4dHO",
          "name": "LS prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=Title: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.title\"] }}\nDescription: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.description\"] }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket, must be one of the following: en,es,de,it,fr,pt,nl,sv,pl,da,no,ro,et,id,lv,lt,ms,th,ko. If the detected language doesn't fit any use other_language as the value\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1552,
        304
      ],
      "id": "b5b521fd-4063-431b-9cfa-f819a6b95d12",
      "name": "Translate ticket to english1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "CYpFhyyLIOdE4dHO",
          "name": "LS prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Zendesk Trigger').item.json[\"ticket.id\"] }},\n    \"title\": \"{{ $('Zendesk Trigger').item.json[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Zendesk Trigger').item.json[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $('Zendesk Trigger').item.json[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $('Zendesk Trigger').item.json[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage || \"en\"}}\",\n    \"is_translated\":{{(()=>{\n  let originalLanguage = $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage;\n  return originalLanguage?true:false;\n})()}},\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.title || \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.description || \"\"}}\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        304
      ],
      "id": "867bc45b-e813-4d89-affb-385e9191f5b6",
      "name": "Set translated request data test1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $json['ticket.id'] }},\n    \"title\": \"{{ $json['ticket.title'] }}\",\n    \"description\": \"{{ $json['ticket.description'].replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\",\n    \"ticket_url\": \"{{ $json['ticket.url'] }}\",\n    \"user_email\": \"{{ $json['ticket.requester.email'] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\":false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        480
      ],
      "id": "1777ba10-be08-4fc9-a91b-dfb22f5f8d18",
      "name": "Set request data test2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -992,
        480
      ],
      "id": "d503ef5d-7837-4ac4-9267-5cce14da9892",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
              "leftValue": "={{ $json.p_token }}",
              "rightValue": 0.995,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        480
      ],
      "id": "ac6e55b2-40f3-4ab4-9f3a-fae387e9092d",
      "name": "Confidence level above defined level1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://lovestylehelp.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the confidence level was below the defined threshold in order to proceed. Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "24200859183260"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        864
      ],
      "id": "c6e4f5e9-3c36-4523-9cd9-b6c5f9fdfd2e",
      "name": "Reply to internally and set status to open",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# User doesn't exist\n\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        768
      ],
      "id": "6c6a56eb-1497-4e56-bb8d-942ad63a2f55",
      "name": "Sticky Note34",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Confidence level too low\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        768
      ],
      "id": "bc5b5e20-705a-4bc8-919c-6e6288e458ba",
      "name": "Sticky Note41",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: pending\n## Category: pass and acc info\n## Macro: acc details",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        1072
      ],
      "id": "bec29f21-ff2c-4f83-bb6c-8c16f38e230d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        1072
      ],
      "id": "d90eca35-2e00-4e3b-aaa3-0ce22b8828cd",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function softmax(logits) {\n  const max = Math.max(...logits);\n  const exps = logits.map(v => Math.exp(v - max));\n  const sum = exps.reduce((a, b) => a + b, 0);\n  return exps.map(v => v / sum);\n}\n\nfunction computeProbabilitiesFromMessages(messagesArray, labels = [\"r\", \"c\", \"o\"]) {\n  if (!Array.isArray(messagesArray) || messagesArray.length === 0) {\n    throw new Error(\"Input must be an array of message objects.\");\n  }\n\n  const msg0 = messagesArray[0];\n  const chunk = msg0?.content?.find(c => c.type === \"output_text\");\n  if (!chunk) throw new Error(\"No output_text chunk found.\");\n\n  const lpEntry = chunk?.logprobs?.[0];\n  if (!lpEntry) throw new Error(\"No logprobs found.\");\n\n  const predicted = String(chunk.text).trim();\n  const logprobPred = lpEntry.logprob;\n\n  // Absolute probability\n  const p_token = Math.exp(logprobPred);\n\n  // Try to compute normalized class probability\n  const top = lpEntry.top_logprobs || [];\n  const labelToLogprob = new Map();\n\n  for (const t of top) {\n    const tok = String(t.token).trim();\n    if (labels.includes(tok)) labelToLogprob.set(tok, t.logprob);\n  }\n\n  if (labels.includes(predicted) && !labelToLogprob.has(predicted)) {\n    labelToLogprob.set(predicted, logprobPred);\n  }\n\n  const available = labels.filter(l => labelToLogprob.has(l));\n\n  let p_class_normalized = null;\n  let class_probs = Object.fromEntries(labels.map(l => [l, null]));\n\n  if (available.length === labels.length) {\n    const logits = labels.map(l => labelToLogprob.get(l));\n    const probs = softmax(logits);\n    labels.forEach((l, i) => (class_probs[l] = probs[i]));\n    p_class_normalized = class_probs[predicted];\n  }\n\n  return {\n    predicted,\n    logprob: logprobPred,\n    p_token,\n    p_class_normalized,\n    class_probs\n  };\n}\n\n// ✅ In \"Run Once for Each Item\" mode:\nconst messagesArray = $json.output;\n\nconst result = computeProbabilitiesFromMessages(messagesArray);\n\n// Return one item\nreturn {\n  json: result\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        480
      ],
      "id": "96bc5c01-6c91-4bf5-8625-407dc9e2dc31",
      "name": "Code in JavaScript1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://lovestylehelp.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the request category has been defined as \"other\". Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "24200859183260"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3808,
        2272
      ],
      "id": "47afaec9-13e3-4360-9e71-428b281cc7be",
      "name": "Reply to internally and set status to open1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Other requests\n",
        "height": 544,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3744,
        2176
      ],
      "id": "1938816c-7b29-48b6-8895-61d26c0208e6",
      "name": "Sticky Note45",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4176,
        2480
      ],
      "id": "a6d5e1d0-9e76-4353-b322-7a5bfa7bdb59",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "content": "# Payment provider not supported \n\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        1344
      ],
      "id": "6a0a7325-29ff-41a1-99e4-fa1e10d3c79c",
      "name": "Sticky Note35",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://lovestylehelp.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the customer in question uses a payment provider that is not automated at this point. Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "24200859183260"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        1440
      ],
      "id": "6ca312c0-d87b-448d-9a69-742c42569fca",
      "name": "Reply to internally and set status to open2",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "178cdfe5-8d8d-432a-b369-ebf5e0948a9d",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 404,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "d278fca3-f6ab-4b72-b249-442fc776835e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doesn't exist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "45037a2b-cfc3-47b2-b04a-e531fda3d967",
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 400,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Provider not supported "
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        304
      ],
      "id": "f74f86c4-d075-432b-8878-02fbe8f30e9d",
      "name": "Response code switch"
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        1648
      ],
      "id": "8a94618a-d14f-4915-833a-4212d642221b",
      "name": "Sticky Note47"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "lovestylehelp",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 24546896701084,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 24200840155164,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 24285840352924,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "password_and_account_info",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        880
      ],
      "id": "40c64f99-5370-4a57-b71e-926c9598a170",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UPh58ZwqHFeZRPBe",
          "mode": "list",
          "cachedResultUrl": "/workflow/UPh58ZwqHFeZRPBe",
          "cachedResultName": "Operations Department — LS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1136,
        880
      ],
      "id": "ba87ebda-1091-4ce6-a5ee-df4dd581f3bf",
      "name": "Update zendesk ticket1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}\",\n    \"payment_provider_account_ID\":\"{{ $json.body.provider.id }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\":{{ $('Aggregate').item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        272
      ],
      "id": "1bcde00e-9c1c-4215-a330-23dfc1355e46",
      "name": "Set request data test"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "58b2185f-f027-4fa9-aa8a-7cecefff6bd5",
              "leftValue": "={{ $json[\"ticket.ticket_field_26136963437340\"] }}",
              "rightValue": "cancellation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e167111f-fe63-402c-a377-5cac1a197ce0",
              "leftValue": "={{ $json[\"ticket.ticket_field_26136963437340\"] }}",
              "rightValue": "technical_issues",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4c9b33f8-aa6f-4c1f-8f77-c998e062f66a",
              "leftValue": "={{ $json[\"ticket.ticket_field_26136963437340\"] }}",
              "rightValue": "other_",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2160,
        448
      ],
      "id": "47f45b19-3120-4ebe-85ab-9c98d36bcf69",
      "name": "Is contact form cancellation"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Search user request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('bot/search2').item.json.error.message }}\n\nTicket information\n- Ticket ID: {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}\n- URL: {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1152,
        2048
      ],
      "id": "63a6d295-2a58-4d31-ba54-740f9a0d2308",
      "name": "Send a message",
      "webhookId": "c495d7b7-8a91-4b78-8185-f6d9f43d2c18",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://lovestylehelp.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "=24200859183260"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        2048
      ],
      "id": "db7dec8d-fab8-47f9-a73a-00df33073b6a",
      "name": "Reply internally and set status to open1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Fallback error catcher\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        1920
      ],
      "id": "8512bf5c-98cc-43f8-9099-deb4d798814a",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        2208
      ],
      "id": "f2a58a0d-b093-4943-8e65-10d201e3e741",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "83O1SZnIMdhf999E",
          "mode": "list",
          "cachedResultUrl": "/workflow/83O1SZnIMdhf999E",
          "cachedResultName": "Operations Department — LS prod - Refund requests flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2352,
        272
      ],
      "id": "027bd687-f085-42b0-b386-937448834589",
      "name": "Call 'LS prod - Refund requests flow'"
    },
    {
      "parameters": {
        "options": {
          "fields": [
            "ticket.title",
            "ticket.description",
            "ticket.url",
            "ticket.id",
            "ticket.requester.email",
            "ticket.ticket_field_26136963437340"
          ]
        },
        "conditions": {
          "all": [
            {
              "value": "new"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        -2400,
        448
      ],
      "id": "3301821d-ebca-4206-8117-75b174c743ef",
      "name": "Zendesk Trigger",
      "webhookId": "aeb0568c-1cfc-4476-a9ad-97b2a928a0e9",
      "credentials": {
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "## IMPORTANT\n\nAfter publishing update Zendesk trigger with \n* Ticket, ticket, is created\n\nWorkflows need to be re-published after updating n8n",
        "height": 224,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2528,
        160
      ],
      "id": "040f861e-75e5-4233-869e-58311400a1bb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "subscriptionAlreadyCancelled",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3792,
        1200
      ],
      "id": "baf04b37-77bd-4b77-8b2f-cef8b71dca09",
      "name": "Is already cancelled"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UPh58ZwqHFeZRPBe",
          "mode": "list",
          "cachedResultUrl": "/workflow/UPh58ZwqHFeZRPBe",
          "cachedResultName": "Operations Department — LS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4256,
        864
      ],
      "id": "981e63c5-13f0-45de-afa1-88382c35950b",
      "name": "Update zendesk ticket4"
    },
    {
      "parameters": {
        "content": "# Cancellations\n\n",
        "height": 832,
        "width": 2064,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2832,
        704
      ],
      "id": "9984fad9-53e5-4a00-85d7-353f388f441e",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
        "height": 224,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4480,
        1040
      ],
      "id": "555fa174-8442-464c-8fec-a1253ce7e45b",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4480,
        800
      ],
      "id": "aafebdf8-6cc2-4125-8e99-fea82154a1a3",
      "name": "Sticky Note51"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "lovestylehelp",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 24546915279260,
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 24200840157980,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 24285840352924,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "cancellation___subscription",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        864
      ],
      "id": "50048e7b-f04f-486c-8af2-d5f3cfdca15f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "lovestylehelp",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 26143378796060,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 24200840157980,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 24285840352924,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "cancellation___subscription",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        1088
      ],
      "id": "d9267fec-1702-499a-b1a7-16f9f60412c7",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('Set refund and cancellation vars').item.json.subscriptionID }}\n- Ticket ID: {{ $('Set refund and cancellation vars').item.json.ticketID }}\n- URL: https://{{ $('Set refund and cancellation vars').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('Set refund and cancellation vars').item.json.ticketID }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        4256,
        1328
      ],
      "id": "cfa801c7-2ba7-44b3-ad28-99ebdccecfcb",
      "name": "Send a message1",
      "webhookId": "8160716c-2ff7-45c3-9fff-f7126db2f9e0",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Set refund and cancellation vars').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('Set refund and cancellation vars').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('Set refund and cancellation vars').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4032,
        1328
      ],
      "id": "9b4c9533-b12a-4420-87d8-1e7c0609ab82",
      "name": "Reply internally and set status to open",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UPh58ZwqHFeZRPBe",
          "mode": "list",
          "cachedResultUrl": "/workflow/UPh58ZwqHFeZRPBe",
          "cachedResultName": "Operations Department — LS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4272,
        1088
      ],
      "id": "8366ba0c-ed6d-4999-a84a-c6fb864c8dd4",
      "name": "Update zendesk ticket"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Viht0NAoOOlyoSVZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/Viht0NAoOOlyoSVZ",
          "cachedResultName": "Operations Department — LS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        16,
        336
      ],
      "id": "83098eb2-eefd-4704-aac5-527d76e36fef",
      "name": "Call 'CS - HMAC'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "search",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "email",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        336
      ],
      "id": "f9eb2eec-404d-48b9-b638-18625ba51087",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lovestyle.co/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        336
      ],
      "id": "1dfdc3a1-4835-4fe6-8dcc-fc78ebcf3281",
      "name": "bot/search2",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Viht0NAoOOlyoSVZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/Viht0NAoOOlyoSVZ",
          "cachedResultName": "Operations Department — LS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3120,
        880
      ],
      "id": "6398ab47-b2e6-4aa8-9f87-517ef99d226c",
      "name": "Call 'CS - HMAC'2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "cancellation",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "subscriptionId",
              "value": "={{ $('bot/search2').item.json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "b47a4413-97f2-40ca-b58b-0ec29d2198bb",
              "name": "subscriptionID",
              "value": "={{ $('bot/search2').item.json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "4a784303-6f90-4bcc-b000-f089cb649d20",
              "name": "zendeskDomain",
              "value": "efuturechatbot",
              "type": "string"
            },
            {
              "id": "7df9eeea-8dff-4e69-a686-b760d4199f6a",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "string"
            },
            {
              "id": "5b462efb-eaf1-48fc-9e35-48f6e4e185c3",
              "name": "ticketCustomStatusID",
              "value": "33825964519453",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2912,
        880
      ],
      "id": "b66cbb2c-21e5-4996-8cc6-29e301ad9147",
      "name": "Set refund and cancellation vars"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lovestyle.co/api/payments/v1/bot/subscriptions/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3312,
        880
      ],
      "id": "fa8adc1b-a5ea-43d7-8521-77391fa3e504",
      "name": "bot/subscription/cancel",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You classify customer support messages to determine whether the message contains an explicit account deletion request.\n\nPOSITIVE CASE — output true:\nThe customer must use clear, direct language requesting account deletion. Examples of qualifying phrases (similar phrases still apply):\n\"delete my account\"\n\"I want my account deleted\"\n\"please delete my account\"\n\"delete my data and account\"\n\"I'd like you to delete my account\"\n\nNEGATIVE CASE — output false — for ALL of the following:\nCancellation requests (\"cancel my account\", \"cancel my subscription\")\nGeneral frustration or complaints without explicit deletion language\nRefund requests\n\nSTRICT RULES:\n\nThe word \"delete\" must appear explicitly in reference to the account\nCancellation alone does NOT qualify\nDo NOT infer deletion intent from context, tone, or frustration\nIf the message is ambiguous or deletion is only implied, output false\n\nOUTPUT FORMAT:\nRespond only with valid JSON. No explanation.\n{\"is_delete_request\": true}\nor\n{\"is_delete_request\": false}"
            },
            {
              "content": "=Customer support ticket title:  {{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\nmessage: {{ $('Aggregate').item.json.data[0].original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2832,
        1600
      ],
      "id": "ad92113b-7ceb-4944-baab-ec6d53f0f2ac",
      "name": "Ticket classification",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "CYpFhyyLIOdE4dHO",
          "name": "LS prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3216,
        1600
      ],
      "id": "435de2dc-1fbc-4a56-b73f-c1284fc2a622",
      "name": "Is deletion request"
    },
    {
      "parameters": {
        "content": "# Deletion request\n\n",
        "height": 544,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3728,
        1600
      ],
      "id": "0b4de7bb-0d47-4fce-97f4-9d1ad15bc88b",
      "name": "Sticky Note36",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "lovestylehelp",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 26505190879516,
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 24200840157980,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 24285840352924,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "cancellation___account_removal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3776,
        1728
      ],
      "id": "96eebeb1-f509-453f-b9d3-13e62d532652",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > account removal\n## Macro: account deletion",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4128,
        1904
      ],
      "id": "2a70baf0-10b8-41bb-94da-62a5398935d5",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UPh58ZwqHFeZRPBe",
          "mode": "list",
          "cachedResultUrl": "/workflow/UPh58ZwqHFeZRPBe",
          "cachedResultName": "Operations Department — LS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3984,
        1728
      ],
      "id": "70dbe7f4-de49-4334-8454-e7b11c9e4b96",
      "name": "Call 'LS prod - Zendesk ticket update request'"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check ticket language1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split requests by type1": {
      "main": [
        [
          {
            "node": "Set request data test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set refund and cancellation vars",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ticket classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ticket language1": {
      "main": [
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket classification1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Ticket classification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence level above defined level1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Confidence level above defined level1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response code switch": {
      "main": [
        [
          {
            "node": "Split requests by type1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update zendesk ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test": {
      "main": [
        [
          {
            "node": "Call 'LS prod - Refund requests flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is contact form cancellation": {
      "main": [
        [],
        [
          {
            "node": "Check ticket language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk Trigger": {
      "main": [
        [
          {
            "node": "Is contact form cancellation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is already cancelled": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update zendesk ticket4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'1": {
      "main": [
        [
          {
            "node": "bot/search2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot/search2": {
      "main": [
        [
          {
            "node": "Response code switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'2": {
      "main": [
        [
          {
            "node": "bot/subscription/cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set refund and cancellation vars": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot/subscription/cancel": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is already cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket classification": {
      "main": [
        [
          {
            "node": "Is deletion request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is deletion request": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Call 'LS prod - Zendesk ticket update request'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Zendesk Trigger": {
      "webhookSecret": "-J-3FxFf_VyyXzECwg-DzEqmZl-eYnCTW-gqCyFSXSg=",
      "webhookId": 27246284753436,
      "targetId": "01KQW1TR90PDEQ5BE1SHTBV2PK"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Zendesk Trigger": [
      {
        "json": {
          "ticket.title": "Cancel immediately",
          "ticket.description": "----------------------------------------------\n\nGerald McGee, Apr 20, 2026, 00:12\n\nName: Gerald Mcgee\nPlan: 7-Day Access\nStart Date: March 14, 2026\nOrder Total: $1.95\n\nIf you have any questions, do not hesitate to reach out to support@lovestyle.co.\n\nBest regards,\nThe Lovestyle.co Team\n\n ![](https://lovestylehelp.zendesk.com/attachments/token/8nKcyivKxrhAWHamgTQcNVHQv/?name=image.png)",
          "ticket.url": "lovestylehelp.zendesk.com/agent/tickets/457806",
          "ticket.id": "457806",
          "ticket.requester.email": "geralddanielmcgee@hotmail.com",
          "ticket.ticket_field_26136963437340": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "5551257c-d300-42ab-80e3-fcc9e98ecaae",
  "activeVersionId": "5551257c-d300-42ab-80e3-fcc9e98ecaae",
  "versionCounter": 294,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-17T09:34:57.688Z",
      "createdAt": "2026-03-17T09:34:57.688Z",
      "role": "workflow:owner",
      "workflowId": "bsBYn9pp5PqzyTvR",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:42.514Z",
      "createdAt": "2026-03-20T07:31:42.514Z",
      "id": "7hyr6wbGjTIinFTr",
      "name": "LS prod"
    },
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-05T12:29:29.000Z",
    "createdAt": "2026-05-05T09:37:42.768Z",
    "versionId": "5551257c-d300-42ab-80e3-fcc9e98ecaae",
    "workflowId": "bsBYn9pp5PqzyTvR",
    "nodes": [
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -1792,
          640
        ],
        "id": "1ecde3f3-7a55-4a6e-9050-92b14e760870",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "CYpFhyyLIOdE4dHO",
            "name": "LS prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0e7950e0-065c-4639-9536-ade0c311d4f8",
                      "leftValue": "={{ $('Ticket classification1').item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "r",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Refunds"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Ticket classification1').item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "c",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "327f161d-a756-4264-b443-bde173322d43"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cancellations"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c3bf783b-e6cf-49ec-8f20-1e45d278421d",
                      "leftValue": "={{ $('Ticket classification1').item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "o",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Other"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1568,
          288
        ],
        "id": "841443f1-ac09-4f60-b48c-03e1621c0855",
        "name": "Split requests by type1"
      },
      {
        "parameters": {
          "inputText": "={{ $('Zendesk Trigger').item.json[\"ticket.description\"] }}",
          "categories": {
            "categories": [
              {
                "category": "Text is not in English"
              },
              {
                "category": "Text is in English"
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          -1888,
          464
        ],
        "id": "81b19708-4ceb-434e-9faf-7d2844fec6de",
        "name": "Check ticket language1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "=ft:gpt-4.1-2025-04-14:futuremedia:fine-tuning-dataset-5:D8ZgqXxP",
            "mode": "id"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You analyze customer support messages and classify them into exactly one of the following categories based only on the user’s written message\n\nCATEGORIES:\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, or mentions being charged and wanting the charge undone.  \nThis includes refund requests even if the customer also requests cancelling or closing their account in addition to the refund.\n\nCancellations  (c)\nUse this category if the customer is asking to cancel, stop, pause, or end a subscription or account AND does NOT request money back.\n\nOther  (o)\nUse this category for all other messages, including:\nproduct questions\nfeature requests\naccount access issues\ncomplaints without a refund or cancellation request\nunclear or ambiguous messages\nharassment or threatening, in this case the “other” category is considered as refusing to classify the ticket\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\nc = Cancellations\no = Other\n\nDo not explain your reasoning. Output only the letter.\n"
              },
              {
                "content": "=Customer support ticket title:  {{ $json.data[0].original_ticket_content.title }}\nmessage: {{ $json.data[0].original_ticket_content.description }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "include": [
              "message.output_text.logprobs"
            ],
            "parallelToolCalls": true,
            "topLogprobs": 20
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -816,
          480
        ],
        "id": "550bda24-c142-49bc-bc00-bd9f29ccb712",
        "name": "Ticket classification1",
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "CYpFhyyLIOdE4dHO",
            "name": "LS prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.1",
            "mode": "list",
            "cachedResultName": "GPT-5.1"
          },
          "responses": {
            "values": [
              {
                "content": "=Title: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.title\"] }}\nDescription: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.description\"] }}"
              },
              {
                "role": "system",
                "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket, must be one of the following: en,es,de,it,fr,pt,nl,sv,pl,da,no,ro,et,id,lv,lt,ms,th,ko. If the detected language doesn't fit any use other_language as the value\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object",
                "verbosity": "high"
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -1552,
          304
        ],
        "id": "b5b521fd-4063-431b-9cfa-f819a6b95d12",
        "name": "Translate ticket to english1",
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "CYpFhyyLIOdE4dHO",
            "name": "LS prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Zendesk Trigger').item.json[\"ticket.id\"] }},\n    \"title\": \"{{ $('Zendesk Trigger').item.json[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Zendesk Trigger').item.json[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $('Zendesk Trigger').item.json[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $('Zendesk Trigger').item.json[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage || \"en\"}}\",\n    \"is_translated\":{{(()=>{\n  let originalLanguage = $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage;\n  return originalLanguage?true:false;\n})()}},\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.title || \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.description || \"\"}}\"\n    }\n  }\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1248,
          304
        ],
        "id": "867bc45b-e813-4d89-affb-385e9191f5b6",
        "name": "Set translated request data test1"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $json['ticket.id'] }},\n    \"title\": \"{{ $json['ticket.title'] }}\",\n    \"description\": \"{{ $json['ticket.description'].replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\",\n    \"ticket_url\": \"{{ $json['ticket.url'] }}\",\n    \"user_email\": \"{{ $json['ticket.requester.email'] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\":false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1248,
          480
        ],
        "id": "1777ba10-be08-4fc9-a91b-dfb22f5f8d18",
        "name": "Set request data test2"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -992,
          480
        ],
        "id": "d503ef5d-7837-4ac4-9267-5cce14da9892",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
                "leftValue": "={{ $json.p_token }}",
                "rightValue": 0.995,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -400,
          480
        ],
        "id": "ac6e55b2-40f3-4ab4-9f3a-fae387e9092d",
        "name": "Confidence level above defined level1"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://lovestylehelp.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and the confidence level was below the defined threshold in order to proceed. Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "24200859183260"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -32,
          864
        ],
        "id": "c6e4f5e9-3c36-4523-9cd9-b6c5f9fdfd2e",
        "name": "Reply to internally and set status to open",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "content": "# User doesn't exist\n\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          864,
          768
        ],
        "id": "6c6a56eb-1497-4e56-bb8d-942ad63a2f55",
        "name": "Sticky Note34",
        "disabled": true
      },
      {
        "parameters": {
          "content": "# Confidence level too low\n",
          "height": 544,
          "width": 640,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -96,
          768
        ],
        "id": "bc5b5e20-705a-4bc8-919c-6e6288e458ba",
        "name": "Sticky Note41",
        "disabled": true
      },
      {
        "parameters": {
          "content": "## Status: pending\n## Category: pass and acc info\n## Macro: acc details",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1360,
          1072
        ],
        "id": "bec29f21-ff2c-4f83-bb6c-8c16f38e230d",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          1072
        ],
        "id": "d90eca35-2e00-4e3b-aaa3-0ce22b8828cd",
        "name": "Sticky Note42"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "function softmax(logits) {\n  const max = Math.max(...logits);\n  const exps = logits.map(v => Math.exp(v - max));\n  const sum = exps.reduce((a, b) => a + b, 0);\n  return exps.map(v => v / sum);\n}\n\nfunction computeProbabilitiesFromMessages(messagesArray, labels = [\"r\", \"c\", \"o\"]) {\n  if (!Array.isArray(messagesArray) || messagesArray.length === 0) {\n    throw new Error(\"Input must be an array of message objects.\");\n  }\n\n  const msg0 = messagesArray[0];\n  const chunk = msg0?.content?.find(c => c.type === \"output_text\");\n  if (!chunk) throw new Error(\"No output_text chunk found.\");\n\n  const lpEntry = chunk?.logprobs?.[0];\n  if (!lpEntry) throw new Error(\"No logprobs found.\");\n\n  const predicted = String(chunk.text).trim();\n  const logprobPred = lpEntry.logprob;\n\n  // Absolute probability\n  const p_token = Math.exp(logprobPred);\n\n  // Try to compute normalized class probability\n  const top = lpEntry.top_logprobs || [];\n  const labelToLogprob = new Map();\n\n  for (const t of top) {\n    const tok = String(t.token).trim();\n    if (labels.includes(tok)) labelToLogprob.set(tok, t.logprob);\n  }\n\n  if (labels.includes(predicted) && !labelToLogprob.has(predicted)) {\n    labelToLogprob.set(predicted, logprobPred);\n  }\n\n  const available = labels.filter(l => labelToLogprob.has(l));\n\n  let p_class_normalized = null;\n  let class_probs = Object.fromEntries(labels.map(l => [l, null]));\n\n  if (available.length === labels.length) {\n    const logits = labels.map(l => labelToLogprob.get(l));\n    const probs = softmax(logits);\n    labels.forEach((l, i) => (class_probs[l] = probs[i]));\n    p_class_normalized = class_probs[predicted];\n  }\n\n  return {\n    predicted,\n    logprob: logprobPred,\n    p_token,\n    p_class_normalized,\n    class_probs\n  };\n}\n\n// ✅ In \"Run Once for Each Item\" mode:\nconst messagesArray = $json.output;\n\nconst result = computeProbabilitiesFromMessages(messagesArray);\n\n// Return one item\nreturn {\n  json: result\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -608,
          480
        ],
        "id": "96bc5c01-6c91-4bf5-8625-407dc9e2dc31",
        "name": "Code in JavaScript1",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://lovestylehelp.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and the request category has been defined as \"other\". Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "24200859183260"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3808,
          2272
        ],
        "id": "47afaec9-13e3-4360-9e71-428b281cc7be",
        "name": "Reply to internally and set status to open1",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Other requests\n",
          "height": 544,
          "width": 752,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3744,
          2176
        ],
        "id": "1938816c-7b29-48b6-8895-61d26c0208e6",
        "name": "Sticky Note45",
        "disabled": true
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4176,
          2480
        ],
        "id": "a6d5e1d0-9e76-4353-b322-7a5bfa7bdb59",
        "name": "Sticky Note46"
      },
      {
        "parameters": {
          "content": "# Payment provider not supported \n\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          864,
          1344
        ],
        "id": "6a0a7325-29ff-41a1-99e4-fa1e10d3c79c",
        "name": "Sticky Note35",
        "disabled": true
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://lovestylehelp.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and the customer in question uses a payment provider that is not automated at this point. Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "24200859183260"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          928,
          1440
        ],
        "id": "6ca312c0-d87b-448d-9a69-742c42569fca",
        "name": "Reply to internally and set status to open2",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "178cdfe5-8d8d-432a-b369-ebf5e0948a9d",
                      "leftValue": "={{ $json.statusCode }}",
                      "rightValue": 200,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "User exists"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.error.status }}",
                      "rightValue": 404,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      },
                      "id": "d278fca3-f6ab-4b72-b249-442fc776835e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Doesn't exist"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "45037a2b-cfc3-47b2-b04a-e531fda3d967",
                      "leftValue": "={{ $json.error.status }}",
                      "rightValue": 400,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Provider not supported "
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          448,
          304
        ],
        "id": "f74f86c4-d075-432b-8878-02fbe8f30e9d",
        "name": "Response code switch"
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1360,
          1648
        ],
        "id": "8a94618a-d14f-4915-833a-4212d642221b",
        "name": "Sticky Note47"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "lovestylehelp",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": 24546896701084,
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": 24200840155164,
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": 24285840352924,
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "password_and_account_info",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          912,
          880
        ],
        "id": "40c64f99-5370-4a57-b71e-926c9598a170",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "UPh58ZwqHFeZRPBe",
            "mode": "list",
            "cachedResultUrl": "/workflow/UPh58ZwqHFeZRPBe",
            "cachedResultName": "Operations Department — LS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1136,
          880
        ],
        "id": "ba87ebda-1091-4ce6-a5ee-df4dd581f3bf",
        "name": "Update zendesk ticket1"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}\",\n    \"payment_provider_account_ID\":\"{{ $json.body.provider.id }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\":{{ $('Aggregate').item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2096,
          272
        ],
        "id": "1bcde00e-9c1c-4215-a330-23dfc1355e46",
        "name": "Set request data test"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "58b2185f-f027-4fa9-aa8a-7cecefff6bd5",
                "leftValue": "={{ $json[\"ticket.ticket_field_26136963437340\"] }}",
                "rightValue": "cancellation",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "e167111f-fe63-402c-a377-5cac1a197ce0",
                "leftValue": "={{ $json[\"ticket.ticket_field_26136963437340\"] }}",
                "rightValue": "technical_issues",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "4c9b33f8-aa6f-4c1f-8f77-c998e062f66a",
                "leftValue": "={{ $json[\"ticket.ticket_field_26136963437340\"] }}",
                "rightValue": "other_",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2160,
          448
        ],
        "id": "47f45b19-3120-4ebe-85ab-9c98d36bcf69",
        "name": "Is contact form cancellation"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Search user request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('bot/search2').item.json.error.message }}\n\nTicket information\n- Ticket ID: {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}\n- URL: {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          1152,
          2048
        ],
        "id": "63a6d295-2a58-4d31-ba54-740f9a0d2308",
        "name": "Send a message",
        "webhookId": "c495d7b7-8a91-4b78-8185-f6d9f43d2c18",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://lovestylehelp.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "=24200859183260"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          928,
          2048
        ],
        "id": "db7dec8d-fab8-47f9-a73a-00df33073b6a",
        "name": "Reply internally and set status to open1",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Fallback error catcher\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          864,
          1920
        ],
        "id": "8512bf5c-98cc-43f8-9099-deb4d798814a",
        "name": "Sticky Note",
        "disabled": true
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1344,
          2208
        ],
        "id": "f2a58a0d-b093-4943-8e65-10d201e3e741",
        "name": "Sticky Note48"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "83O1SZnIMdhf999E",
            "mode": "list",
            "cachedResultUrl": "/workflow/83O1SZnIMdhf999E",
            "cachedResultName": "Operations Department — LS prod - Refund requests flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2352,
          272
        ],
        "id": "027bd687-f085-42b0-b386-937448834589",
        "name": "Call 'LS prod - Refund requests flow'"
      },
      {
        "parameters": {
          "options": {
            "fields": [
              "ticket.title",
              "ticket.description",
              "ticket.url",
              "ticket.id",
              "ticket.requester.email",
              "ticket.ticket_field_26136963437340"
            ]
          },
          "conditions": {
            "all": [
              {
                "value": "new"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.zendeskTrigger",
        "typeVersion": 1,
        "position": [
          -2400,
          448
        ],
        "id": "3301821d-ebca-4206-8117-75b174c743ef",
        "name": "Zendesk Trigger",
        "webhookId": "aeb0568c-1cfc-4476-a9ad-97b2a928a0e9",
        "credentials": {
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "content": "## IMPORTANT\n\nAfter publishing update Zendesk trigger with \n* Ticket, ticket, is created\n\nWorkflows need to be re-published after updating n8n",
          "height": 224,
          "width": 416
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2528,
          160
        ],
        "id": "040f861e-75e5-4233-869e-58311400a1bb",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
                "leftValue": "={{ $json.error.message }}",
                "rightValue": "subscriptionAlreadyCancelled",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3792,
          1200
        ],
        "id": "baf04b37-77bd-4b77-8b2f-cef8b71dca09",
        "name": "Is already cancelled"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "UPh58ZwqHFeZRPBe",
            "mode": "list",
            "cachedResultUrl": "/workflow/UPh58ZwqHFeZRPBe",
            "cachedResultName": "Operations Department — LS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4256,
          864
        ],
        "id": "981e63c5-13f0-45de-afa1-88382c35950b",
        "name": "Update zendesk ticket4"
      },
      {
        "parameters": {
          "content": "# Cancellations\n\n",
          "height": 832,
          "width": 2064,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2832,
          704
        ],
        "id": "9984fad9-53e5-4a00-85d7-353f388f441e",
        "name": "Sticky Note8",
        "disabled": true
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
          "height": 224,
          "width": 352,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4480,
          1040
        ],
        "id": "555fa174-8442-464c-8fec-a1253ce7e45b",
        "name": "Sticky Note50"
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4480,
          800
        ],
        "id": "aafebdf8-6cc2-4125-8e99-fea82154a1a3",
        "name": "Sticky Note51"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "lovestylehelp",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": 24546915279260,
                "type": "number"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": 24200840157980,
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": 24285840352924,
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "cancellation___subscription",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4032,
          864
        ],
        "id": "50048e7b-f04f-486c-8af2-d5f3cfdca15f",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "lovestylehelp",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": 26143378796060,
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": 24200840157980,
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": 24285840352924,
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "cancellation___subscription",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4032,
          1088
        ],
        "id": "d9267fec-1702-499a-b1a7-16f9f60412c7",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('Set refund and cancellation vars').item.json.subscriptionID }}\n- Ticket ID: {{ $('Set refund and cancellation vars').item.json.ticketID }}\n- URL: https://{{ $('Set refund and cancellation vars').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('Set refund and cancellation vars').item.json.ticketID }}",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          4256,
          1328
        ],
        "id": "cfa801c7-2ba7-44b3-ad28-99ebdccecfcb",
        "name": "Send a message1",
        "webhookId": "8160716c-2ff7-45c3-9fff-f7126db2f9e0",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('Set refund and cancellation vars').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('Set refund and cancellation vars').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $('Set refund and cancellation vars').item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4032,
          1328
        ],
        "id": "9b4c9533-b12a-4420-87d8-1e7c0609ab82",
        "name": "Reply internally and set status to open",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "EXFRuE0EpqETjkrz",
            "name": "Personality zendesk antonio"
          },
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "UPh58ZwqHFeZRPBe",
            "mode": "list",
            "cachedResultUrl": "/workflow/UPh58ZwqHFeZRPBe",
            "cachedResultName": "Operations Department — LS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4272,
          1088
        ],
        "id": "8366ba0c-ed6d-4999-a84a-c6fb864c8dd4",
        "name": "Update zendesk ticket"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Viht0NAoOOlyoSVZ",
            "mode": "list",
            "cachedResultUrl": "/workflow/Viht0NAoOOlyoSVZ",
            "cachedResultName": "Operations Department — LS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          16,
          336
        ],
        "id": "83098eb2-eefd-4704-aac5-527d76e36fef",
        "name": "Call 'CS - HMAC'1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "search",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "email",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -192,
          336
        ],
        "id": "f9eb2eec-404d-48b9-b638-18625ba51087",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://lovestyle.co/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          240,
          336
        ],
        "id": "1dfdc3a1-4835-4fe6-8dcc-fc78ebcf3281",
        "name": "bot/search2",
        "retryOnFail": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Viht0NAoOOlyoSVZ",
            "mode": "list",
            "cachedResultUrl": "/workflow/Viht0NAoOOlyoSVZ",
            "cachedResultName": "Operations Department — LS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3120,
          880
        ],
        "id": "6398ab47-b2e6-4aa8-9f87-517ef99d226c",
        "name": "Call 'CS - HMAC'2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "cancellation",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "subscriptionId",
                "value": "={{ $('bot/search2').item.json.body.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "b47a4413-97f2-40ca-b58b-0ec29d2198bb",
                "name": "subscriptionID",
                "value": "={{ $('bot/search2').item.json.body.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "4a784303-6f90-4bcc-b000-f089cb649d20",
                "name": "zendeskDomain",
                "value": "efuturechatbot",
                "type": "string"
              },
              {
                "id": "7df9eeea-8dff-4e69-a686-b760d4199f6a",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "string"
              },
              {
                "id": "5b462efb-eaf1-48fc-9e35-48f6e4e185c3",
                "name": "ticketCustomStatusID",
                "value": "33825964519453",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2912,
          880
        ],
        "id": "b66cbb2c-21e5-4996-8cc6-29e301ad9147",
        "name": "Set refund and cancellation vars"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://lovestyle.co/api/payments/v1/bot/subscriptions/cancel",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3312,
          880
        ],
        "id": "fa8adc1b-a5ea-43d7-8521-77391fa3e504",
        "name": "bot/subscription/cancel",
        "retryOnFail": false,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "GPT-4.1"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You classify customer support messages to determine whether the message contains an explicit account deletion request.\n\nPOSITIVE CASE — output true:\nThe customer must use clear, direct language requesting account deletion. Examples of qualifying phrases (similar phrases still apply):\n\"delete my account\"\n\"I want my account deleted\"\n\"please delete my account\"\n\"delete my data and account\"\n\"I'd like you to delete my account\"\n\nNEGATIVE CASE — output false — for ALL of the following:\nCancellation requests (\"cancel my account\", \"cancel my subscription\")\nGeneral frustration or complaints without explicit deletion language\nRefund requests\n\nSTRICT RULES:\n\nThe word \"delete\" must appear explicitly in reference to the account\nCancellation alone does NOT qualify\nDo NOT infer deletion intent from context, tone, or frustration\nIf the message is ambiguous or deletion is only implied, output false\n\nOUTPUT FORMAT:\nRespond only with valid JSON. No explanation.\n{\"is_delete_request\": true}\nor\n{\"is_delete_request\": false}"
              },
              {
                "content": "=Customer support ticket title:  {{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\nmessage: {{ $('Aggregate').item.json.data[0].original_ticket_content.description }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          2832,
          1600
        ],
        "id": "ad92113b-7ceb-4944-baab-ec6d53f0f2ac",
        "name": "Ticket classification",
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "CYpFhyyLIOdE4dHO",
            "name": "LS prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
                "leftValue": "={{ $json.output[0].content[0].text }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3216,
          1600
        ],
        "id": "435de2dc-1fbc-4a56-b73f-c1284fc2a622",
        "name": "Is deletion request"
      },
      {
        "parameters": {
          "content": "# Deletion request\n\n",
          "height": 544,
          "width": 752,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3728,
          1600
        ],
        "id": "0b4de7bb-0d47-4fce-97f4-9d1ad15bc88b",
        "name": "Sticky Note36",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "lovestylehelp",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": 26505190879516,
                "type": "number"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": 24200840157980,
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": 24285840352924,
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "cancellation___account_removal",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3776,
          1728
        ],
        "id": "96eebeb1-f509-453f-b9d3-13e62d532652",
        "name": "Edit Fields8"
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > account removal\n## Macro: account deletion",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4128,
          1904
        ],
        "id": "2a70baf0-10b8-41bb-94da-62a5398935d5",
        "name": "Sticky Note54"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "UPh58ZwqHFeZRPBe",
            "mode": "list",
            "cachedResultUrl": "/workflow/UPh58ZwqHFeZRPBe",
            "cachedResultName": "Operations Department — LS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3984,
          1728
        ],
        "id": "70dbe7f4-de49-4334-8454-e7b11c9e4b96",
        "name": "Call 'LS prod - Zendesk ticket update request'"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Check ticket language1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Split requests by type1": {
        "main": [
          [
            {
              "node": "Set request data test",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set refund and cancellation vars",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Ticket classification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check ticket language1": {
        "main": [
          [
            {
              "node": "Translate ticket to english1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set request data test2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ticket classification1": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Translate ticket to english1": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set translated request data test1": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test2": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Ticket classification1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confidence level above defined level1": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Confidence level above defined level1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Response code switch": {
        "main": [
          [
            {
              "node": "Split requests by type1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Update zendesk ticket1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test": {
        "main": [
          [
            {
              "node": "Call 'LS prod - Refund requests flow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is contact form cancellation": {
        "main": [
          [],
          [
            {
              "node": "Check ticket language1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Zendesk Trigger": {
        "main": [
          [
            {
              "node": "Is contact form cancellation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is already cancelled": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Update zendesk ticket4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Update zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'1": {
        "main": [
          [
            {
              "node": "bot/search2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "bot/search2": {
        "main": [
          [
            {
              "node": "Response code switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'2": {
        "main": [
          [
            {
              "node": "bot/subscription/cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set refund and cancellation vars": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "bot/subscription/cancel": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is already cancelled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ticket classification": {
        "main": [
          [
            {
              "node": "Is deletion request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is deletion request": {
        "main": [
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields8": {
        "main": [
          [
            {
              "node": "Call 'LS prod - Zendesk ticket update request'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 5551257c",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-05T12:29:29.282Z",
        "id": 550,
        "workflowId": "bsBYn9pp5PqzyTvR",
        "versionId": "5551257c-d300-42ab-80e3-fcc9e98ecaae",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}