workflows/LS_prod_-_Refund_and_cancellation_request__pmjHaxbO1SAnIgLE.json
{
  "updatedAt": "2026-06-15T13:52:40.041Z",
  "createdAt": "2026-05-26T09:05:50.184Z",
  "id": "pmjHaxbO1SAnIgLE",
  "name": "LS prod - Refund and cancellation request",
  "description": "Template version of CS - Refund and cancellation request. Issues both refund and cancellation in parallel from a single ticket. URLs and Slack channel templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "05ce929e-d48a-4045-bfbe-5164c9c589d3",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Edit Fields1, Split Out, etc.) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.foo\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
      },
      "id": "f2ad34e3-f0aa-40ca-bdc5-3733a158eed6",
      "name": "Restore trigger data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        1280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "lovestyle_prod",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5f560fa2-5550-4f4b-84c5-855db3d102ab",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "b0a597b9-796f-4348-8ec7-1b4680eddc2a",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1136,
        1280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "transactionToRefund",
        "options": {}
      },
      "id": "3cf1a023-416f-44ed-8588-d26a4f6c54a2",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -496,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "refund",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "transactionId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8546804c-5832-4537-bcc5-87b54e51f15a",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/transactions/refund",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b6733c0b-773b-4aa3-92cc-c0597346c9b1",
      "name": "DEV bot/transactions/refund",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        704
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $node[\"DEV bot/transactions/refund\"].json[\"error\"][\"message\"] }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb9eff0b-375d-4139-a3f1-30f8fb10ad7e",
      "name": "Reply internally and set status to open",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2080,
        1248
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $node[\"DEV bot/transactions/refund\"].json[\"body\"][\"transactionId\"] }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "15a0ab56-bf5f-4caa-b7a8-4fc5a3759905",
      "name": "Send a message1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2304,
        1248
      ],
      "webhookId": "5d80082f-6279-45e0-940b-6928032c98a5",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "immediateCancellation",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "832cc2c0-6832-4862-8557-a69f1153afad",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        1920
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "B8LB4UbzkV6Iq3JE",
          "mode": "list",
          "cachedResultUrl": "/workflow/B8LB4UbzkV6Iq3JE",
          "cachedResultName": "Operations Department — LS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "72058c86-eff5-48d4-b89d-691bef5d0c0c",
      "name": "Call 'CS - HMAC'1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1984,
        1920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/subscriptions/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b998d80f-cd89-4c57-95e9-e920685654fd",
      "name": "DEV bot/subscription/cancel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2208,
        1920
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5fb3c814-ae7c-4b58-920d-d4395f889c97",
      "name": "Reply internally and set status to open1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2464,
        2080
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "GAJckAtNBWv1L38R",
          "name": "LoveStyle prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "2e8d2007-27ba-4d2f-ae89-51bff6acc0cd",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2688,
        2080
      ],
      "webhookId": "3e33fccc-5430-4afd-a0c1-f6889232e9b5",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Project Config').first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        1808
      ],
      "id": "3ecf7bf5-853c-4dd4-8b8d-a76c44619d35",
      "name": "DEV bot/search",
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={  \n\"requestType\": \"search\",\n\"email\":\"{{ $('When Executed by Another Workflow').item.json.customerEmail }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        1808
      ],
      "id": "eb973d29-2886-47c9-82af-2fe6f5d13819",
      "name": "Set request data test4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d00a760b-af9a-4975-8525-925805433804",
              "leftValue": "={{ $json.body.subscriptionStatus }}",
              "rightValue": "cancelled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e5d7597b-2568-430c-810d-00094bcf56dd",
              "leftValue": "={{ $json.body.subscriptionStatus }}",
              "rightValue": "cancelling",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        1760
      ],
      "id": "c9d0373e-ead1-4972-b3d6-5bf8f6176fce",
      "name": "Is cancelled or cancelling"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a508cca8-6ec7-44dd-b9bb-77dffc4cf18d",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "transactionAlreadyRefunded",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        1072
      ],
      "id": "56697c48-0d7a-40be-81ea-5ed46573f700",
      "name": "Is already refunded"
    },
    {
      "parameters": {
        "jsCode": "// === Check if a transaction ID is in the refundedTransactions array ===\n// Mode: \"Run Once for All Items\".\n\nconst body = ($input.first()?.json ?? {}).body ?? {};\n\n// 1) The ID to look for.\nconst targetId = String(body.transactionId ?? '').trim().toLowerCase();\n\n// 2) The array to search.\nconst refunded = body.refundedTransactions ?? [];\nconst list = Array.isArray(refunded) ? refunded : [];\n\n// 3) First element whose top-level id matches (provider.id is ignored).\nconst match = targetId\n  ? list.find((el) => String(el?.id ?? '').trim().toLowerCase() === targetId)\n  : undefined;\n\n// 4) Output the decision (+ the matched element, for logging/branching).\nreturn [{\n  json: {\n    targetId,\n    found: !!match,\n    matchedTransaction: match ?? null,\n  },\n}];\n"
      },
      "id": "08427cb5-9383-4748-92e9-667d7b19aded",
      "name": "Check Refunded Transaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1232
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "82457935-a57e-4a03-a08b-0db837fb77a7",
      "name": "Refund Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        1232
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad65ba9f-9af4-4e88-a265-a659ca59d86a",
              "name": "alreadyRefunded",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        1056
      ],
      "id": "b21dd336-0666-4ad6-a4b2-b18507bcae77",
      "name": "Set alreadyRefunded"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3536,
        896
      ],
      "id": "9c71b093-e57c-4498-8e97-d81ad9e779f6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get Project Config').first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        1232
      ],
      "id": "5d6833eb-da01-4af5-8f61-8355adbf5789",
      "name": "DEV bot/search1",
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={  \n\"requestType\": \"search\",\n\"email\":\"{{ $('When Executed by Another Workflow').item.json.customerEmail }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        1232
      ],
      "id": "83379420-15e9-467f-8e5e-b14fe36bdeaa",
      "name": "Set request data test"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9dHFAZqAbAj42xR3",
          "mode": "list",
          "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
          "cachedResultName": "Operations Department — CS - HMAC [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1152,
        1232
      ],
      "id": "688afcdf-ddd1-43be-8f88-72fea954577f",
      "name": "Call 'CS - HMAC'2"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        784,
        1232
      ],
      "id": "0daee92a-438a-48eb-89d3-f8dbb4f546a3",
      "name": "Wait1",
      "webhookId": "f90e6605-3011-49ee-aaed-55e13ae72e18"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "B8LB4UbzkV6Iq3JE",
          "mode": "list",
          "cachedResultUrl": "/workflow/B8LB4UbzkV6Iq3JE",
          "cachedResultName": "Operations Department — LS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "85c91c45-a805-4e3d-b494-a6d6d66db989",
      "name": "Call 'LS prod - HMAC'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        704
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "B8LB4UbzkV6Iq3JE",
          "mode": "list",
          "cachedResultUrl": "/workflow/B8LB4UbzkV6Iq3JE",
          "cachedResultName": "Operations Department — LS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -160,
        1808
      ],
      "id": "41ebf8b8-160e-4dc1-809f-f4de9da6a1c7",
      "name": "Call 'LS prod - HMAC'1"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Restore trigger data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore trigger data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set request data test4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'LS prod - HMAC'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/transactions/refund": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is already refunded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'1": {
      "main": [
        [
          {
            "node": "DEV bot/subscription/cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/subscription/cancel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search": {
      "main": [
        [
          {
            "node": "Is cancelled or cancelling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test4": {
      "main": [
        [
          {
            "node": "Call 'LS prod - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is cancelled or cancelling": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is already refunded": {
      "main": [
        [
          {
            "node": "Set alreadyRefunded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Refunded Transaction": {
      "main": [
        [
          {
            "node": "Refund Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refund Found?": {
      "main": [
        [
          {
            "node": "Set alreadyRefunded",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set alreadyRefunded": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search1": {
      "main": [
        [
          {
            "node": "Check Refunded Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'2": {
      "main": [
        [
          {
            "node": "DEV bot/search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Set request data test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'LS prod - HMAC'": {
      "main": [
        [
          {
            "node": "DEV bot/transactions/refund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'LS prod - HMAC'1": {
      "main": [
        [
          {
            "node": "DEV bot/search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "e11bcf9a-1c76-4432-87a6-681721b74dfc",
  "activeVersionId": "e11bcf9a-1c76-4432-87a6-681721b74dfc",
  "versionCounter": 38,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-05-26T09:05:50.187Z",
      "createdAt": "2026-05-26T09:05:50.187Z",
      "role": "workflow:owner",
      "workflowId": "pmjHaxbO1SAnIgLE",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:42.514Z",
      "createdAt": "2026-03-20T07:31:42.514Z",
      "id": "7hyr6wbGjTIinFTr",
      "name": "LS prod"
    },
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-15T13:52:43.000Z",
    "createdAt": "2026-06-15T13:52:40.045Z",
    "versionId": "e11bcf9a-1c76-4432-87a6-681721b74dfc",
    "workflowId": "pmjHaxbO1SAnIgLE",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "05ce929e-d48a-4045-bfbe-5164c9c589d3",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1536,
          1280
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Edit Fields1, Split Out, etc.) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.foo\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
        },
        "id": "f2ad34e3-f0aa-40ca-bdc5-3733a158eed6",
        "name": "Restore trigger data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -960,
          1280
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "lovestyle_prod",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "5f560fa2-5550-4f4b-84c5-855db3d102ab",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1328,
          1280
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "b0a597b9-796f-4348-8ec7-1b4680eddc2a",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -1136,
          1280
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "transactionToRefund",
          "options": {}
        },
        "id": "3cf1a023-416f-44ed-8588-d26a4f6c54a2",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -496,
          704
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "refund",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "transactionId",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8546804c-5832-4537-bcc5-87b54e51f15a",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -272,
          704
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/transactions/refund",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "b6733c0b-773b-4aa3-92cc-c0597346c9b1",
        "name": "DEV bot/transactions/refund",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          176,
          704
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $node[\"DEV bot/transactions/refund\"].json[\"error\"][\"message\"] }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "fb9eff0b-375d-4139-a3f1-30f8fb10ad7e",
        "name": "Reply internally and set status to open",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2080,
          1248
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $node[\"DEV bot/transactions/refund\"].json[\"body\"][\"transactionId\"] }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "15a0ab56-bf5f-4caa-b7a8-4fc5a3759905",
        "name": "Send a message1",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          2304,
          1248
        ],
        "webhookId": "5d80082f-6279-45e0-940b-6928032c98a5",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "immediateCancellation",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "subscriptionId",
                "value": "={{ $json.body.subscriptionId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "832cc2c0-6832-4862-8557-a69f1153afad",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1760,
          1920
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "B8LB4UbzkV6Iq3JE",
            "mode": "list",
            "cachedResultUrl": "/workflow/B8LB4UbzkV6Iq3JE",
            "cachedResultName": "Operations Department — LS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "72058c86-eff5-48d4-b89d-691bef5d0c0c",
        "name": "Call 'CS - HMAC'1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1984,
          1920
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/subscriptions/cancel",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "b998d80f-cd89-4c57-95e9-e920685654fd",
        "name": "DEV bot/subscription/cancel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2208,
          1920
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5fb3c814-ae7c-4b58-920d-d4395f889c97",
        "name": "Reply internally and set status to open1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2464,
          2080
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "GAJckAtNBWv1L38R",
            "name": "LoveStyle prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "2e8d2007-27ba-4d2f-ae89-51bff6acc0cd",
        "name": "Send a message",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          2688,
          2080
        ],
        "webhookId": "3e33fccc-5430-4afd-a0c1-f6889232e9b5",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Get Project Config').first().json.payments_api_base_url }}/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          32,
          1808
        ],
        "id": "3ecf7bf5-853c-4dd4-8b8d-a76c44619d35",
        "name": "DEV bot/search",
        "retryOnFail": false
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={  \n\"requestType\": \"search\",\n\"email\":\"{{ $('When Executed by Another Workflow').item.json.customerEmail }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -368,
          1808
        ],
        "id": "eb973d29-2886-47c9-82af-2fe6f5d13819",
        "name": "Set request data test4"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d00a760b-af9a-4975-8525-925805433804",
                "leftValue": "={{ $json.body.subscriptionStatus }}",
                "rightValue": "cancelled",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "e5d7597b-2568-430c-810d-00094bcf56dd",
                "leftValue": "={{ $json.body.subscriptionStatus }}",
                "rightValue": "cancelling",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1520,
          1760
        ],
        "id": "c9d0373e-ead1-4972-b3d6-5bf8f6176fce",
        "name": "Is cancelled or cancelling"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a508cca8-6ec7-44dd-b9bb-77dffc4cf18d",
                "leftValue": "={{ $json.error.message }}",
                "rightValue": "transactionAlreadyRefunded",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          480,
          1072
        ],
        "id": "56697c48-0d7a-40be-81ea-5ed46573f700",
        "name": "Is already refunded"
      },
      {
        "parameters": {
          "jsCode": "// === Check if a transaction ID is in the refundedTransactions array ===\n// Mode: \"Run Once for All Items\".\n\nconst body = ($input.first()?.json ?? {}).body ?? {};\n\n// 1) The ID to look for.\nconst targetId = String(body.transactionId ?? '').trim().toLowerCase();\n\n// 2) The array to search.\nconst refunded = body.refundedTransactions ?? [];\nconst list = Array.isArray(refunded) ? refunded : [];\n\n// 3) First element whose top-level id matches (provider.id is ignored).\nconst match = targetId\n  ? list.find((el) => String(el?.id ?? '').trim().toLowerCase() === targetId)\n  : undefined;\n\n// 4) Output the decision (+ the matched element, for logging/branching).\nreturn [{\n  json: {\n    targetId,\n    found: !!match,\n    matchedTransaction: match ?? null,\n  },\n}];\n"
        },
        "id": "08427cb5-9383-4748-92e9-667d7b19aded",
        "name": "Check Refunded Transaction",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1568,
          1232
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d0000000-0000-4000-8000-000000000001",
                "leftValue": "={{ $json.found }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "82457935-a57e-4a03-a08b-0db837fb77a7",
        "name": "Refund Found?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1792,
          1232
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ad65ba9f-9af4-4e88-a265-a659ca59d86a",
                "name": "alreadyRefunded",
                "value": true,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2080,
          1056
        ],
        "id": "b21dd336-0666-4ad6-a4b2-b18507bcae77",
        "name": "Set alreadyRefunded"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          3536,
          896
        ],
        "id": "9c71b093-e57c-4498-8e97-d81ad9e779f6",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Get Project Config').first().json.payments_api_base_url }}/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1344,
          1232
        ],
        "id": "5d6833eb-da01-4af5-8f61-8355adbf5789",
        "name": "DEV bot/search1",
        "retryOnFail": false
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={  \n\"requestType\": \"search\",\n\"email\":\"{{ $('When Executed by Another Workflow').item.json.customerEmail }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          1232
        ],
        "id": "83379420-15e9-467f-8e5e-b14fe36bdeaa",
        "name": "Set request data test"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9dHFAZqAbAj42xR3",
            "mode": "list",
            "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
            "cachedResultName": "Operations Department — CS - HMAC [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1152,
          1232
        ],
        "id": "688afcdf-ddd1-43be-8f88-72fea954577f",
        "name": "Call 'CS - HMAC'2"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          784,
          1232
        ],
        "id": "0daee92a-438a-48eb-89d3-f8dbb4f546a3",
        "name": "Wait1",
        "webhookId": "f90e6605-3011-49ee-aaed-55e13ae72e18"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "B8LB4UbzkV6Iq3JE",
            "mode": "list",
            "cachedResultUrl": "/workflow/B8LB4UbzkV6Iq3JE",
            "cachedResultName": "Operations Department — LS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "85c91c45-a805-4e3d-b494-a6d6d66db989",
        "name": "Call 'LS prod - HMAC'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -48,
          704
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "B8LB4UbzkV6Iq3JE",
            "mode": "list",
            "cachedResultUrl": "/workflow/B8LB4UbzkV6Iq3JE",
            "cachedResultName": "Operations Department — LS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -160,
          1808
        ],
        "id": "41ebf8b8-160e-4dc1-809f-f4de9da6a1c7",
        "name": "Call 'LS prod - HMAC'1"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Restore trigger data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore trigger data": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set request data test4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Call 'LS prod - HMAC'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/transactions/refund": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is already refunded",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'1": {
        "main": [
          [
            {
              "node": "DEV bot/subscription/cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/subscription/cancel": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/search": {
        "main": [
          [
            {
              "node": "Is cancelled or cancelling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test4": {
        "main": [
          [
            {
              "node": "Call 'LS prod - HMAC'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is cancelled or cancelling": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is already refunded": {
        "main": [
          [
            {
              "node": "Set alreadyRefunded",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Refunded Transaction": {
        "main": [
          [
            {
              "node": "Refund Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Refund Found?": {
        "main": [
          [
            {
              "node": "Set alreadyRefunded",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set alreadyRefunded": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/search1": {
        "main": [
          [
            {
              "node": "Check Refunded Transaction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'2": {
        "main": [
          [
            {
              "node": "DEV bot/search1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Set request data test",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'LS prod - HMAC'": {
        "main": [
          [
            {
              "node": "DEV bot/transactions/refund",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'LS prod - HMAC'1": {
        "main": [
          [
            {
              "node": "DEV bot/search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version e11bcf9a",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-15T13:52:43.649Z",
        "id": 1004,
        "workflowId": "pmjHaxbO1SAnIgLE",
        "versionId": "e11bcf9a-1c76-4432-87a6-681721b74dfc",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}