workflows/MS_prod_-_User_eligibility_check__NdT2fmf4VH0dIxLc.json
{
  "updatedAt": "2026-07-15T07:31:55.720Z",
  "createdAt": "2026-07-14T14:47:57.762Z",
  "id": "NdT2fmf4VH0dIxLc",
  "name": "MS prod - User eligibility check",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1840,
        672
      ],
      "id": "ebd9317d-8cc9-4dfa-ab88-e82f2e3893e3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "mindspree_prod",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "43bc7095-5de5-4a42-a25f-795e68e73422",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        672
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $('Set project_key').first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "ba9f1a3c-a476-470f-ba1b-022080a7e7a9",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2288,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// Re-emit the original passthrough payload from the execute-workflow trigger.\n// Get Project Config replaces the incoming item with the config row, so we\n// restore the ticket data here for every downstream check to reference via\n// $('Restore trigger data').\nreturn $('When Executed by Another Workflow').all();\n"
      },
      "id": "df38a71a-1df1-46a2-b26f-899060001bd6",
      "name": "Restore trigger data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        672
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "VKJxPTkYWhZaXFqW",
          "mode": "list",
          "cachedResultName": "cs_email_blocklist",
          "cachedResultUrl": "/projects/CH8lyrRTH2IOvQOj/datatables/VKJxPTkYWhZaXFqW"
        },
        "returnAll": true
      },
      "id": "1c14b63c-9665-4259-aa4e-c9fc53679014",
      "name": "Get Email Blocklist",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2736,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Email blocklist filter ===\n// Mode: \"Run Once for All Items\".\n// Input to this node = rows from the \"Get Email Blocklist\" Data Table node.\n\n// 1) Requester email, from the restored trigger payload.\nconst email = String(\n  $('Restore trigger data').first()?.json?.body?.['ticket.requester.email'] ?? ''\n).trim().toLowerCase();\n\n// 2) Blocklist rows (each input item = one row from the data table).\nconst rows = $input.all();\n\n// 3) First active rule whose match_value is contained in the email wins.\nlet matched = null;\nif (email) {\n  for (const r of rows) {\n    const row = r.json || {};\n    const isActive = !(row.active === false || row.active === 0\n      || row.active === 'false' || row.active === '0' || row.active === 'no');\n    if (!isActive) continue;\n    const needle = String(row.match_value ?? '').trim().toLowerCase();\n    if (!needle) continue;\n    if (email.includes(needle)) { matched = row; break; }\n  }\n}\n\n// 4) One decision item out.\nreturn [{\n  json: {\n    email,\n    blocked: matched !== null,\n    matched_value: matched ? matched.match_value : null,\n    matched_reason: (matched && matched.reason != null) ? matched.reason : null,\n  },\n}];\n"
      },
      "id": "24a8852e-99de-44f2-a7b0-937973a2fdd8",
      "name": "Filter Blocked Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4c0cc20-8c15-4297-bdf9-b51546e1508d",
              "leftValue": "={{ $json.blocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15a9e824-28e0-4f7a-940f-447aa19d12a1",
      "name": "Is Blocked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3184,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74965532-52ce-4b5e-8e39-5787b53d7770",
              "name": "fail_reason",
              "value": "blocked_email",
              "type": "string"
            },
            {
              "id": "f3cc563d-c6e1-4a1c-be65-9684ceed39ff",
              "name": "note_body",
              "value": "=Note: The requester {{ $('Restore trigger data').first().json.body['ticket.requester.email'] }} is on the automation blocklist because: {{ $json.matched_reason ? $json.matched_reason : \"no reason provided\" }}. If this requester shouldn't be blocked, please report it to the Operations Department.\n\nAutomation was skipped — please handle this ticket manually.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "06d93452-8a07-4666-ba8e-ae060352b99c",
      "name": "Note: Blocked email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5440,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const currentTicketId = $('Restore trigger data').first().json.body['ticket.id'];\nconst tickets = $input.first().json.tickets || [];\n\n// Any OTHER ticket for this requester, regardless of status.\nconst otherTickets = tickets.filter(t => String(t.id) !== String(currentTicketId));\n\nconst proceed = otherTickets.length === 0;\n\nreturn [{\n  json: {\n    proceed,\n    unhandled_ticket_count: otherTickets.length,        // key kept so the note node still works\n    other_unhandled_ticket_ids: otherTickets.map(t => t.id)\n  }\n}];"
      },
      "id": "052a8e8a-18bf-4bb8-bfe5-787b5c36b3b5",
      "name": "Evaluate Open Ticket Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        1168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ad6f9fa-ea65-4ef9-99c2-f905c15d16a8",
              "leftValue": "={{ $json.proceed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "496d8540-6a0d-4899-a3b2-52ad65edc122",
      "name": "Only Unhandled Ticket?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4848,
        1168
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83dc4787-f011-43f7-ba5f-41199ed3280e",
              "name": "fail_reason",
              "value": "multiple_new_tickets",
              "type": "string"
            },
            {
              "id": "bc263b58-ad19-407e-a09f-9f34ddc11cfc",
              "name": "note_body",
              "value": "=Note: This requester ({{ $('Restore trigger data').first().json.body['ticket.requester.email'] }}) has {{ $json.unhandled_ticket_count }} other unhandled (new) ticket(s) open: {{ $json.other_unhandled_ticket_ids.join(', ') }}. Automation was skipped to avoid duplicate handling.\n\nPlease handle this ticket manually.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "306916c3-215d-4d66-918d-9ca5422f1d71",
      "name": "Note: Multiple new tickets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5440,
        1216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "044aee42-6466-4dca-b7c8-ef99f10b8148",
              "leftValue": "={{ $('Restore trigger data').first().json.body[\"ticket.ticket_field_\" + $('Get Project Config').first().json.ticket_field_contact_form_classification_id] }}",
              "rightValue": "cancellation",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b2572b6-5d01-4468-b64b-e6085bf28e31",
      "name": "Is contact form cancellation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5136,
        1056
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2abe7692-4f7c-4aaf-88e4-0703cd5f3dc5",
              "name": "fail_reason",
              "value": "contact_form_cancellation",
              "type": "string"
            },
            {
              "id": "14b886c2-7beb-4655-a701-932b72e5da21",
              "name": "note_body",
              "value": "=Note: This ticket (#{{ $('Restore trigger data').first().json.body['ticket.id'] }}) was submitted through the contact form as a cancellation request. Automation was skipped.\n\nPlease handle this ticket manually.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4961000c-a28d-493b-a4ce-2e8b7367138e",
      "name": "Note: Contact form cancellation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5440,
        848
      ]
    },
    {
      "parameters": {},
      "id": "48c1c9f2-d92b-46c7-8724-3ffc7bc63916",
      "name": "Do not proceed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5760,
        800
      ]
    },
    {
      "parameters": {},
      "id": "5695c50f-a058-4517-b8ea-64618455f926",
      "name": "Proceed (eligible)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5760,
        1056
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $('When Executed by Another Workflow').item.json.body['ticket.id'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=User eligibility failed:\nFail reason: {{ $json.fail_reason }}\nNote: {{ $json.note_body }}\n\nPlease handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "91908b3b-1ddb-4154-a9c9-ca144511dc01",
      "name": "Reply to internally and set status to open3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6032,
        800
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "PiWnsor2zNuExPMR",
          "name": "Mindspree prod"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1) Check for blocked emails",
        "height": 120,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2720,
        528
      ],
      "id": "5f338bb2-de30-444b-9a8b-96e72920ae9b",
      "name": "Sticky Blocked"
    },
    {
      "parameters": {
        "content": "## 3) Check for contact form cancellations",
        "height": 120,
        "width": 230,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4992,
        912
      ],
      "id": "5c09ac8a-17c6-4c52-86e8-8ece6f3635c9",
      "name": "Sticky Cancel"
    },
    {
      "parameters": {
        "content": "# Do not proceed\nAll three fail notes merge here (note_body + fail_reason). Wire your single fail action after this node.",
        "height": 200,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5760,
        576
      ],
      "id": "72cf68f4-5d41-4e93-87a8-4fdb4ebdaa04",
      "name": "Sticky Fail"
    },
    {
      "parameters": {
        "content": "# Proceed\nAll three checks passed. Wire the main automation after this node.",
        "height": 208,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5760,
        1200
      ],
      "id": "9aef6340-b0be-4d89-9bee-aadd89604b7d",
      "name": "Sticky Proceed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03853d94-c29e-4385-a2b9-eedb5596cb7c",
              "name": "proceedWithAutomation",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6240,
        800
      ],
      "id": "f2a59370-13d4-4446-a62e-5cac4f561edb",
      "name": "Do not proceed1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03853d94-c29e-4385-a2b9-eedb5596cb7c",
              "name": "proceedWithAutomation",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6240,
        1056
      ],
      "id": "386cf201-6345-4f38-80b8-dc709a880c51",
      "name": "Proceed"
    },
    {
      "parameters": {
        "content": "## 2) Check for multiple \"new\" tickets",
        "height": 152,
        "width": 248,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3936,
        992
      ],
      "id": "472728b8-a2ed-4ff4-b1b2-f58b0fec85a7",
      "name": "Sticky Multi"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "248c8943-7d5a-482b-928c-4146fb69a139",
              "leftValue": "={{ ($json.users || []).length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "648da25c-ea7b-43a6-9452-7e3252f30a9b",
      "name": "User found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3904,
        1184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4902baf5-cd4b-4d0e-9127-7c4f39d477e1",
              "leftValue": "={{ $runIndex < 3 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad8500bc-7bb9-4934-9b83-31b71c8a812f",
      "name": "Retries left?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3904,
        1408
      ]
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3456,
        1184
      ],
      "id": "ca72a43e-0d9a-4420-89ab-b3cb8c8c799a",
      "name": "Wait1",
      "webhookId": "f32a521f-6acc-4087-a8aa-f39a50579d6e"
    },
    {
      "parameters": {
        "url": "={{ \"https://\" + $('Get Project Config').first().json.zendesk_domain + \".zendesk.com/api/v2/users/search.json\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=email:{{ $('Restore trigger data').first().json.body['ticket.requester.email'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5f207106-cd89-4b13-99b5-86f0393a4266",
      "name": "Zendesk: Find Requester by Email1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3680,
        1184
      ],
      "credentials": {
        "zendeskApi": {
          "id": "PiWnsor2zNuExPMR",
          "name": "Mindspree prod"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ \"https://\" + $('Get Project Config').first().json.zendesk_domain + \".zendesk.com/api/v2/users/\" + $json.users[0].id + \"/tickets/requested.json\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sort_by",
              "value": "updated_at"
            },
            {
              "name": "sort_order",
              "value": "desc"
            }
          ]
        },
        "options": {}
      },
      "id": "4992b09f-665f-424e-ac39-cd9056ec9bc8",
      "name": "Zendesk: Get Requester Tickets (live)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4112,
        1168
      ],
      "credentials": {
        "zendeskApi": {
          "id": "PiWnsor2zNuExPMR",
          "name": "Mindspree prod"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74965532-52ce-4b5e-8e39-5787b53d7770",
              "name": "fail_reason",
              "value": "not_found",
              "type": "string"
            },
            {
              "id": "f3cc563d-c6e1-4a1c-be65-9684ceed39ff",
              "name": "note_body",
              "value": "=Note: The requester {{ $('Restore trigger data').first().json.body['ticket.requester.email'] }} was not found in Zendesk. \n\nAutomation was skipped — please handle this ticket manually.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0ea84846-7769-40f3-9449-26334291e947",
      "name": "Note: User not found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4144,
        1424
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Restore trigger data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore trigger data": {
      "main": [
        [
          {
            "node": "Get Email Blocklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Blocklist": {
      "main": [
        [
          {
            "node": "Filter Blocked Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Blocked Emails": {
      "main": [
        [
          {
            "node": "Is Blocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Blocked?": {
      "main": [
        [
          {
            "node": "Note: Blocked email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Open Ticket Guard": {
      "main": [
        [
          {
            "node": "Only Unhandled Ticket?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Unhandled Ticket?": {
      "main": [
        [
          {
            "node": "Is contact form cancellation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Note: Multiple new tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is contact form cancellation": {
      "main": [
        [
          {
            "node": "Note: Contact form cancellation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Proceed (eligible)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note: Blocked email": {
      "main": [
        [
          {
            "node": "Do not proceed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note: Multiple new tickets": {
      "main": [
        [
          {
            "node": "Do not proceed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note: Contact form cancellation": {
      "main": [
        [
          {
            "node": "Do not proceed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do not proceed": {
      "main": [
        [
          {
            "node": "Reply to internally and set status to open3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to internally and set status to open3": {
      "main": [
        [
          {
            "node": "Do not proceed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proceed (eligible)": {
      "main": [
        [
          {
            "node": "Proceed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User found?": {
      "main": [
        [
          {
            "node": "Zendesk: Get Requester Tickets (live)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retries left?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retries left?": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Note: User not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Zendesk: Find Requester by Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk: Find Requester by Email1": {
      "main": [
        [
          {
            "node": "User found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk: Get Requester Tickets (live)1": {
      "main": [
        [
          {
            "node": "Evaluate Open Ticket Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note: User not found": {
      "main": [
        [
          {
            "node": "Do not proceed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "headers": {
            "host": "efuturemedia.app.n8n.cloud",
            "user-agent": "Zendesk Webhook",
            "content-length": "322",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "216.198.17.223",
            "cf-ew-via": "15",
            "cf-ipcountry": "IE",
            "cf-ray": "a06f40fef884c1ec-DUB",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json; charset=utf-8",
            "traceparent": "00-6a22c40f00000000036c88d0a159c052-036c88d0a159c052-00",
            "tracestate": "dd=s:-1;p:036c88d0a159c052",
            "x-forwarded-for": "216.198.17.223, 162.158.6.208",
            "x-forwarded-host": "efuturemedia.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-34-68577659cb-5mrk7",
            "x-is-trusted": "yes",
            "x-real-ip": "216.198.17.223",
            "x-request-id": "760ac508-054e-4b05-90c4-28eb39167e6c",
            "x-zendesk-account-id": "26147041",
            "x-zendesk-webhook-id": "01KS219405AT0KCR569ZE7Y6J3",
            "x-zendesk-webhook-invocation-id": "01KTBWVPQ6D0GD43VMHS7RAEV5",
            "x-zendesk-webhook-signature": "jr4RQdD6oe+zCpYoLbtXwDRnUpzEGFnI7UMvseBHwXE=",
            "x-zendesk-webhook-signature-timestamp": "2026-06-05T12:41:51Z"
          },
          "params": {},
          "query": {},
          "body": {
            "ticket.title": "Subscription refund",
            "ticket.description": "----------------------------------------------\n\nIonut, Jun 5, 2026, 15:41\n\nPlease refund",
            "ticket.url": "efuturechatbot.zendesk.com/agent/tickets/382",
            "ticket.id": "382",
            "ticket.requester.email": "ionutqa2@atomicmail.io",
            "ticket.ticket_field_34358154126749": ""
          },
          "webhookUrl": "https://efuturemedia.app.n8n.cloud/webhook/908bb9e9-d7dd-408d-a32e-7b7c649b5771",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "012a5b8d-5808-41c9-95b4-575f0dee7458",
  "activeVersionId": "012a5b8d-5808-41c9-95b4-575f0dee7458",
  "versionCounter": 6,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-14T14:47:57.764Z",
      "createdAt": "2026-07-14T14:47:57.764Z",
      "role": "workflow:owner",
      "workflowId": "NdT2fmf4VH0dIxLc",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-15T07:31:49.000Z",
    "createdAt": "2026-07-14T16:45:49.993Z",
    "versionId": "012a5b8d-5808-41c9-95b4-575f0dee7458",
    "workflowId": "NdT2fmf4VH0dIxLc",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          1840,
          672
        ],
        "id": "ebd9317d-8cc9-4dfa-ab88-e82f2e3893e3",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "mindspree_prod",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "43bc7095-5de5-4a42-a25f-795e68e73422",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2064,
          672
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $('Set project_key').first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "ba9f1a3c-a476-470f-ba1b-022080a7e7a9",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          2288,
          672
        ]
      },
      {
        "parameters": {
          "jsCode": "// Re-emit the original passthrough payload from the execute-workflow trigger.\n// Get Project Config replaces the incoming item with the config row, so we\n// restore the ticket data here for every downstream check to reference via\n// $('Restore trigger data').\nreturn $('When Executed by Another Workflow').all();\n"
        },
        "id": "df38a71a-1df1-46a2-b26f-899060001bd6",
        "name": "Restore trigger data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2512,
          672
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "VKJxPTkYWhZaXFqW",
            "mode": "list",
            "cachedResultName": "cs_email_blocklist",
            "cachedResultUrl": "/projects/CH8lyrRTH2IOvQOj/datatables/VKJxPTkYWhZaXFqW"
          },
          "returnAll": true
        },
        "id": "1c14b63c-9665-4259-aa4e-c9fc53679014",
        "name": "Get Email Blocklist",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1,
        "position": [
          2736,
          672
        ]
      },
      {
        "parameters": {
          "jsCode": "// === Email blocklist filter ===\n// Mode: \"Run Once for All Items\".\n// Input to this node = rows from the \"Get Email Blocklist\" Data Table node.\n\n// 1) Requester email, from the restored trigger payload.\nconst email = String(\n  $('Restore trigger data').first()?.json?.body?.['ticket.requester.email'] ?? ''\n).trim().toLowerCase();\n\n// 2) Blocklist rows (each input item = one row from the data table).\nconst rows = $input.all();\n\n// 3) First active rule whose match_value is contained in the email wins.\nlet matched = null;\nif (email) {\n  for (const r of rows) {\n    const row = r.json || {};\n    const isActive = !(row.active === false || row.active === 0\n      || row.active === 'false' || row.active === '0' || row.active === 'no');\n    if (!isActive) continue;\n    const needle = String(row.match_value ?? '').trim().toLowerCase();\n    if (!needle) continue;\n    if (email.includes(needle)) { matched = row; break; }\n  }\n}\n\n// 4) One decision item out.\nreturn [{\n  json: {\n    email,\n    blocked: matched !== null,\n    matched_value: matched ? matched.match_value : null,\n    matched_reason: (matched && matched.reason != null) ? matched.reason : null,\n  },\n}];\n"
        },
        "id": "24a8852e-99de-44f2-a7b0-937973a2fdd8",
        "name": "Filter Blocked Emails",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2960,
          672
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f4c0cc20-8c15-4297-bdf9-b51546e1508d",
                "leftValue": "={{ $json.blocked }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "15a9e824-28e0-4f7a-940f-447aa19d12a1",
        "name": "Is Blocked?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3184,
          672
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "74965532-52ce-4b5e-8e39-5787b53d7770",
                "name": "fail_reason",
                "value": "blocked_email",
                "type": "string"
              },
              {
                "id": "f3cc563d-c6e1-4a1c-be65-9684ceed39ff",
                "name": "note_body",
                "value": "=Note: The requester {{ $('Restore trigger data').first().json.body['ticket.requester.email'] }} is on the automation blocklist because: {{ $json.matched_reason ? $json.matched_reason : \"no reason provided\" }}. If this requester shouldn't be blocked, please report it to the Operations Department.\n\nAutomation was skipped — please handle this ticket manually.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "06d93452-8a07-4666-ba8e-ae060352b99c",
        "name": "Note: Blocked email",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5440,
          656
        ]
      },
      {
        "parameters": {
          "jsCode": "const currentTicketId = $('Restore trigger data').first().json.body['ticket.id'];\nconst tickets = $input.first().json.tickets || [];\n\n// Any OTHER ticket for this requester, regardless of status.\nconst otherTickets = tickets.filter(t => String(t.id) !== String(currentTicketId));\n\nconst proceed = otherTickets.length === 0;\n\nreturn [{\n  json: {\n    proceed,\n    unhandled_ticket_count: otherTickets.length,        // key kept so the note node still works\n    other_unhandled_ticket_ids: otherTickets.map(t => t.id)\n  }\n}];"
        },
        "id": "052a8e8a-18bf-4bb8-bfe5-787b5c36b3b5",
        "name": "Evaluate Open Ticket Guard",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4624,
          1168
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5ad6f9fa-ea65-4ef9-99c2-f905c15d16a8",
                "leftValue": "={{ $json.proceed }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "496d8540-6a0d-4899-a3b2-52ad65edc122",
        "name": "Only Unhandled Ticket?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4848,
          1168
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "83dc4787-f011-43f7-ba5f-41199ed3280e",
                "name": "fail_reason",
                "value": "multiple_new_tickets",
                "type": "string"
              },
              {
                "id": "bc263b58-ad19-407e-a09f-9f34ddc11cfc",
                "name": "note_body",
                "value": "=Note: This requester ({{ $('Restore trigger data').first().json.body['ticket.requester.email'] }}) has {{ $json.unhandled_ticket_count }} other unhandled (new) ticket(s) open: {{ $json.other_unhandled_ticket_ids.join(', ') }}. Automation was skipped to avoid duplicate handling.\n\nPlease handle this ticket manually.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "306916c3-215d-4d66-918d-9ca5422f1d71",
        "name": "Note: Multiple new tickets",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5440,
          1216
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "044aee42-6466-4dca-b7c8-ef99f10b8148",
                "leftValue": "={{ $('Restore trigger data').first().json.body[\"ticket.ticket_field_\" + $('Get Project Config').first().json.ticket_field_contact_form_classification_id] }}",
                "rightValue": "cancellation",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "5b2572b6-5d01-4468-b64b-e6085bf28e31",
        "name": "Is contact form cancellation",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          5136,
          1056
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2abe7692-4f7c-4aaf-88e4-0703cd5f3dc5",
                "name": "fail_reason",
                "value": "contact_form_cancellation",
                "type": "string"
              },
              {
                "id": "14b886c2-7beb-4655-a701-932b72e5da21",
                "name": "note_body",
                "value": "=Note: This ticket (#{{ $('Restore trigger data').first().json.body['ticket.id'] }}) was submitted through the contact form as a cancellation request. Automation was skipped.\n\nPlease handle this ticket manually.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "4961000c-a28d-493b-a4ce-2e8b7367138e",
        "name": "Note: Contact form cancellation",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5440,
          848
        ]
      },
      {
        "parameters": {},
        "id": "48c1c9f2-d92b-46c7-8724-3ffc7bc63916",
        "name": "Do not proceed",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          5760,
          800
        ]
      },
      {
        "parameters": {},
        "id": "5695c50f-a058-4517-b8ea-64618455f926",
        "name": "Proceed (eligible)",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          5760,
          1056
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $('When Executed by Another Workflow').item.json.body['ticket.id'] }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=User eligibility failed:\nFail reason: {{ $json.fail_reason }}\nNote: {{ $json.note_body }}\n\nPlease handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "91908b3b-1ddb-4154-a9c9-ca144511dc01",
        "name": "Reply to internally and set status to open3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6032,
          800
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "PiWnsor2zNuExPMR",
            "name": "Mindspree prod"
          }
        }
      },
      {
        "parameters": {
          "content": "## 1) Check for blocked emails",
          "height": 120,
          "width": 420,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2720,
          528
        ],
        "id": "5f338bb2-de30-444b-9a8b-96e72920ae9b",
        "name": "Sticky Blocked"
      },
      {
        "parameters": {
          "content": "## 3) Check for contact form cancellations",
          "height": 120,
          "width": 230,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4992,
          912
        ],
        "id": "5c09ac8a-17c6-4c52-86e8-8ece6f3635c9",
        "name": "Sticky Cancel"
      },
      {
        "parameters": {
          "content": "# Do not proceed\nAll three fail notes merge here (note_body + fail_reason). Wire your single fail action after this node.",
          "height": 200,
          "width": 300,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          5760,
          576
        ],
        "id": "72cf68f4-5d41-4e93-87a8-4fdb4ebdaa04",
        "name": "Sticky Fail"
      },
      {
        "parameters": {
          "content": "# Proceed\nAll three checks passed. Wire the main automation after this node.",
          "height": 208,
          "width": 300,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          5760,
          1200
        ],
        "id": "9aef6340-b0be-4d89-9bee-aadd89604b7d",
        "name": "Sticky Proceed"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "03853d94-c29e-4385-a2b9-eedb5596cb7c",
                "name": "proceedWithAutomation",
                "value": false,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          6240,
          800
        ],
        "id": "f2a59370-13d4-4446-a62e-5cac4f561edb",
        "name": "Do not proceed1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "03853d94-c29e-4385-a2b9-eedb5596cb7c",
                "name": "proceedWithAutomation",
                "value": true,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          6240,
          1056
        ],
        "id": "386cf201-6345-4f38-80b8-dc709a880c51",
        "name": "Proceed"
      },
      {
        "parameters": {
          "content": "## 2) Check for multiple \"new\" tickets",
          "height": 152,
          "width": 248,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3936,
          992
        ],
        "id": "472728b8-a2ed-4ff4-b1b2-f58b0fec85a7",
        "name": "Sticky Multi"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "248c8943-7d5a-482b-928c-4146fb69a139",
                "leftValue": "={{ ($json.users || []).length > 0 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "648da25c-ea7b-43a6-9452-7e3252f30a9b",
        "name": "User found?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3904,
          1184
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "4902baf5-cd4b-4d0e-9127-7c4f39d477e1",
                "leftValue": "={{ $runIndex < 3 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ad8500bc-7bb9-4934-9b83-31b71c8a812f",
        "name": "Retries left?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3904,
          1408
        ]
      },
      {
        "parameters": {
          "amount": 4
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3456,
          1184
        ],
        "id": "ca72a43e-0d9a-4420-89ab-b3cb8c8c799a",
        "name": "Wait1",
        "webhookId": "f32a521f-6acc-4087-a8aa-f39a50579d6e"
      },
      {
        "parameters": {
          "url": "={{ \"https://\" + $('Get Project Config').first().json.zendesk_domain + \".zendesk.com/api/v2/users/search.json\" }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "query",
                "value": "=email:{{ $('Restore trigger data').first().json.body['ticket.requester.email'] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5f207106-cd89-4b13-99b5-86f0393a4266",
        "name": "Zendesk: Find Requester by Email1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3680,
          1184
        ],
        "credentials": {
          "zendeskApi": {
            "id": "PiWnsor2zNuExPMR",
            "name": "Mindspree prod"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ \"https://\" + $('Get Project Config').first().json.zendesk_domain + \".zendesk.com/api/v2/users/\" + $json.users[0].id + \"/tickets/requested.json\" }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "sort_by",
                "value": "updated_at"
              },
              {
                "name": "sort_order",
                "value": "desc"
              }
            ]
          },
          "options": {}
        },
        "id": "4992b09f-665f-424e-ac39-cd9056ec9bc8",
        "name": "Zendesk: Get Requester Tickets (live)1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4112,
          1168
        ],
        "credentials": {
          "zendeskApi": {
            "id": "PiWnsor2zNuExPMR",
            "name": "Mindspree prod"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "74965532-52ce-4b5e-8e39-5787b53d7770",
                "name": "fail_reason",
                "value": "not_found",
                "type": "string"
              },
              {
                "id": "f3cc563d-c6e1-4a1c-be65-9684ceed39ff",
                "name": "note_body",
                "value": "=Note: The requester {{ $('Restore trigger data').first().json.body['ticket.requester.email'] }} was not found in Zendesk. \n\nAutomation was skipped — please handle this ticket manually.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "0ea84846-7769-40f3-9449-26334291e947",
        "name": "Note: User not found",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4144,
          1424
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Restore trigger data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore trigger data": {
        "main": [
          [
            {
              "node": "Get Email Blocklist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Email Blocklist": {
        "main": [
          [
            {
              "node": "Filter Blocked Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Blocked Emails": {
        "main": [
          [
            {
              "node": "Is Blocked?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Blocked?": {
        "main": [
          [
            {
              "node": "Note: Blocked email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Open Ticket Guard": {
        "main": [
          [
            {
              "node": "Only Unhandled Ticket?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Only Unhandled Ticket?": {
        "main": [
          [
            {
              "node": "Is contact form cancellation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Note: Multiple new tickets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is contact form cancellation": {
        "main": [
          [
            {
              "node": "Note: Contact form cancellation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Proceed (eligible)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Note: Blocked email": {
        "main": [
          [
            {
              "node": "Do not proceed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Note: Multiple new tickets": {
        "main": [
          [
            {
              "node": "Do not proceed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Note: Contact form cancellation": {
        "main": [
          [
            {
              "node": "Do not proceed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Do not proceed": {
        "main": [
          [
            {
              "node": "Reply to internally and set status to open3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to internally and set status to open3": {
        "main": [
          [
            {
              "node": "Do not proceed1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Proceed (eligible)": {
        "main": [
          [
            {
              "node": "Proceed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "User found?": {
        "main": [
          [
            {
              "node": "Zendesk: Get Requester Tickets (live)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Retries left?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retries left?": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Note: User not found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Zendesk: Find Requester by Email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Zendesk: Find Requester by Email1": {
        "main": [
          [
            {
              "node": "User found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Zendesk: Get Requester Tickets (live)1": {
        "main": [
          [
            {
              "node": "Evaluate Open Ticket Guard",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Note: User not found": {
        "main": [
          [
            {
              "node": "Do not proceed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 012a5b8d",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-15T07:31:49.247Z",
        "id": 1154,
        "workflowId": "NdT2fmf4VH0dIxLc",
        "versionId": "012a5b8d-5808-41c9-95b4-575f0dee7458",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-07-15T07:31:55.984Z",
        "id": 1156,
        "workflowId": "NdT2fmf4VH0dIxLc",
        "versionId": "012a5b8d-5808-41c9-95b4-575f0dee7458",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-07-15T07:31:55.927Z",
        "id": 1155,
        "workflowId": "NdT2fmf4VH0dIxLc",
        "versionId": "012a5b8d-5808-41c9-95b4-575f0dee7458",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}