workflows/MS_prod_-_Cancellation_flow__zdxI6Rly0j2Nt0NI.json
{
  "updatedAt": "2026-07-15T07:34:03.231Z",
  "createdAt": "2026-07-14T14:45:58.025Z",
  "id": "zdxI6Rly0j2Nt0NI",
  "name": "MS prod  - Cancellation flow",
  "description": "Template version of CS - Cancellation request. Calls payments microservice to cancel subscription, handles success and 'already cancelled' edge case. All project-specific values templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "7fcf9e0c-5830-4b48-aa64-e6542fcccb46",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "mindspree_prod",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "32123d58-6b34-423b-9605-ad6b252a015c",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        192
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "e0f05c97-09ef-4f00-a175-18dd69c02464",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -304,
        192
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        96
      ],
      "id": "1e0bab12-1d65-45a9-bd9d-eb684a92cb56",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_cancel_subs_id }}",
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c4d61bf3-09bc-4ce9-9eb9-fc9e4a09092a",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_customer_claims_id }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6ece7430-c7b3-4772-96c6-ea3ccb0b0daf",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        32
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gYJSZER93D0fcRWO",
          "mode": "list",
          "cachedResultUrl": "/workflow/gYJSZER93D0fcRWO",
          "cachedResultName": "Operations Department — MS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "84be1f31-e1e7-4ef1-8ae9-b6c264a3a59d",
      "name": "Update zendesk ticket",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1392,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
        "height": 224,
        "width": 352,
        "color": 7
      },
      "id": "1c9a0694-d910-472c-aa61-9be4ed68df74",
      "name": "Sticky Note 6095b2a0",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        -16
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "73efd5c1-8896-4d14-97b8-f2d5cd8a4f27",
      "name": "Sticky Note 9445970a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        -272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f7626471-1432-4194-87cc-b979731e460e",
                    "leftValue": "={{ $json.cancellationStatus }}",
                    "rightValue": "successful",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.cancellationStatus }}",
                    "rightValue": "subscriptionAlreadyCancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4433cbaa-0bb2-43c4-b97a-8f7d63a4b93a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0228ec0-a4b2-49a5-af2c-06e2d3550686",
                    "leftValue": "={{ $json.cancellationStatus }}",
                    "rightValue": "subscriptionNotCancellable",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not cancellable"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        64
      ],
      "id": "b8aa0716-9804-4630-8c55-ae08339edc66",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_failed_payment_id }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "87352f22-d5a7-4eb9-9307-3365e62d3b29",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        256
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: failed payment",
        "height": 224,
        "width": 352,
        "color": 7
      },
      "id": "48b0cd2f-6b8b-43d6-8a74-8d8b98e92cf1",
      "name": "Sticky Note 6095b2a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        464
      ],
      "id": "4bcc1ecf-a574-4724-8404-2e5cc8bb2a26",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rb6lqlsQxk1FiRDD",
          "mode": "list",
          "cachedResultUrl": "/workflow/rb6lqlsQxk1FiRDD",
          "cachedResultName": "Operations Department — MS prod - Cancellation request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        144,
        96
      ],
      "id": "ef307a21-16e8-4768-b3b4-8cb0b5a91e4b",
      "name": "Call 'MS prod - Cancellation request'"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'MS prod - Cancellation request'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'MS prod - Cancellation request'": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "subscriptionId": "c415b1b8-c341-4a39-a7a0-102f4e31a620",
          "ticketID": 336,
          "isTranslated": false,
          "originalLanguage": "en"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Edit Fields5": [
      {
        "json": {
          "zendeskDomain": "personalitytest",
          "ticketID": 646213,
          "isTranslated": false,
          "originalLanguage": "en",
          "macroID": 36393259331485,
          "publicComment": true,
          "ticketCustomStatusID": 19265589367453,
          "ticketCustomFieldID": 21549590739229,
          "ticketCustomFieldValue": "cancellation___subscription"
        }
      }
    ]
  },
  "versionId": "506e2c2b-8215-46b7-a8bc-05f36ef27c6b",
  "activeVersionId": "506e2c2b-8215-46b7-a8bc-05f36ef27c6b",
  "versionCounter": 7,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-14T14:45:58.027Z",
      "createdAt": "2026-07-14T14:45:58.027Z",
      "role": "workflow:owner",
      "workflowId": "zdxI6Rly0j2Nt0NI",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-15T07:33:56.000Z",
    "createdAt": "2026-07-15T07:33:54.560Z",
    "versionId": "506e2c2b-8215-46b7-a8bc-05f36ef27c6b",
    "workflowId": "zdxI6Rly0j2Nt0NI",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "7fcf9e0c-5830-4b48-aa64-e6542fcccb46",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -736,
          80
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "mindspree_prod",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "32123d58-6b34-423b-9605-ad6b252a015c",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -528,
          192
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "e0f05c97-09ef-4f00-a175-18dd69c02464",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -304,
          192
        ]
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -80,
          96
        ],
        "id": "1e0bab12-1d65-45a9-bd9d-eb684a92cb56",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_cancel_subs_id }}",
                "type": "number"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "c4d61bf3-09bc-4ce9-9eb9-fc9e4a09092a",
        "name": "Edit Fields5",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1168,
          -192
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_customer_claims_id }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "6ece7430-c7b3-4772-96c6-ea3ccb0b0daf",
        "name": "Edit Fields4",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1168,
          32
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "gYJSZER93D0fcRWO",
            "mode": "list",
            "cachedResultUrl": "/workflow/gYJSZER93D0fcRWO",
            "cachedResultName": "Operations Department — MS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "84be1f31-e1e7-4ef1-8ae9-b6c264a3a59d",
        "name": "Update zendesk ticket",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1392,
          32
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
          "height": 224,
          "width": 352,
          "color": 7
        },
        "id": "1c9a0694-d910-472c-aa61-9be4ed68df74",
        "name": "Sticky Note 6095b2a0",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1680,
          -16
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "id": "73efd5c1-8896-4d14-97b8-f2d5cd8a4f27",
        "name": "Sticky Note 9445970a",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1680,
          -272
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "f7626471-1432-4194-87cc-b979731e460e",
                      "leftValue": "={{ $json.cancellationStatus }}",
                      "rightValue": "successful",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Success"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.cancellationStatus }}",
                      "rightValue": "subscriptionAlreadyCancelled",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "4433cbaa-0bb2-43c4-b97a-8f7d63a4b93a"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cancelled"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "f0228ec0-a4b2-49a5-af2c-06e2d3550686",
                      "leftValue": "={{ $json.cancellationStatus }}",
                      "rightValue": "subscriptionNotCancellable",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Not cancellable"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          416,
          64
        ],
        "id": "b8aa0716-9804-4630-8c55-ae08339edc66",
        "name": "Switch"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_failed_payment_id }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "87352f22-d5a7-4eb9-9307-3365e62d3b29",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1168,
          256
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: failed payment",
          "height": 224,
          "width": 352,
          "color": 7
        },
        "id": "48b0cd2f-6b8b-43d6-8a74-8d8b98e92cf1",
        "name": "Sticky Note 6095b2a",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1680,
          240
        ]
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1168,
          464
        ],
        "id": "4bcc1ecf-a574-4724-8404-2e5cc8bb2a26",
        "name": "Merge1",
        "disabled": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "rb6lqlsQxk1FiRDD",
            "mode": "list",
            "cachedResultUrl": "/workflow/rb6lqlsQxk1FiRDD",
            "cachedResultName": "Operations Department — MS prod - Cancellation request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          144,
          96
        ],
        "id": "ef307a21-16e8-4768-b3b4-8cb0b5a91e4b",
        "name": "Call 'MS prod - Cancellation request'"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Call 'MS prod - Cancellation request'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Update zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Update zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Update zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'MS prod - Cancellation request'": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 506e2c2b",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-15T07:33:56.036Z",
        "id": 1170,
        "workflowId": "zdxI6Rly0j2Nt0NI",
        "versionId": "506e2c2b-8215-46b7-a8bc-05f36ef27c6b",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-07-15T07:34:03.369Z",
        "id": 1172,
        "workflowId": "zdxI6Rly0j2Nt0NI",
        "versionId": "506e2c2b-8215-46b7-a8bc-05f36ef27c6b",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-07-15T07:34:03.335Z",
        "id": 1171,
        "workflowId": "zdxI6Rly0j2Nt0NI",
        "versionId": "506e2c2b-8215-46b7-a8bc-05f36ef27c6b",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}