workflows/My_workflow_8__JFXvcGiqHMc82seT.json
{
  "updatedAt": "2026-01-08T16:28:04.267Z",
  "createdAt": "2026-01-08T15:35:57.243Z",
  "id": "JFXvcGiqHMc82seT",
  "name": "My workflow 8",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-reactions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8ac6e564-5886-4c1f-8c59-d99333b4c6f9",
      "name": "Webhook",
      "webhookId": "ba4a3cc0-6123-448f-bbe3-801bf80c7c99"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"challenge\": \"={{ $json.body.challenge }}\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        -144
      ],
      "id": "996daa54-abee-400b-a71f-61ce1f9d4e50",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\n\n// Slack puts the event here:\nconst evt = item.json.body?.event;\n\n// Only handle reaction_added events\nif (!evt || evt.type !== \"reaction_added\") {\n  return [{ json: { ...item.json, skip: true } }];\n}\n\n// Normalize the emoji name (strip skin tones)\nconst reaction = (evt.reaction || \"\").split(\"::\")[0];\n\nreturn [\n  {\n    json: {\n      ...item.json,\n      reaction,\n      channel: evt.item.channel,\n      messageTs: evt.item.ts,\n      reactorUser: evt.user,\n    },\n  },\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "7d929901-5da5-4351-9981-466e3635667a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96d8e9c4-c27d-4dae-9830-11e295f31247",
              "leftValue": "={{$json.reaction}}",
              "rightValue": "assign",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        0
      ],
      "id": "6f96aabd-4f7e-4001-8d15-ca8ed44e6b98",
      "name": "If"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c2b7b65f-58cb-4779-bc2f-c8978613bbbf",
  "activeVersionId": null,
  "versionCounter": 27,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-08T15:35:57.247Z",
      "createdAt": "2026-01-08T15:35:57.247Z",
      "role": "workflow:owner",
      "workflowId": "JFXvcGiqHMc82seT",
      "projectId": "dEuUcqimhxflYu8w",
      "project": {
        "updatedAt": "2025-09-16T09:09:05.000Z",
        "createdAt": "2025-09-16T08:57:53.831Z",
        "id": "dEuUcqimhxflYu8w",
        "name": "Internationalization ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}