workflows/MyImage_prod_-_Zendesk_ticket_update_request__QF0oprwk7fxKD23d.json
{
  "updatedAt": "2026-07-22T10:59:38.983Z",
  "createdAt": "2026-07-21T14:28:35.608Z",
  "id": "QF0oprwk7fxKD23d",
  "name": "MyImage prod - Zendesk ticket update request",
  "description": "Template version of CS - Zendesk ticket update request. Applies macro, translates if needed, then updates ticket. Already project-agnostic via inputs.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "f1c596dd-4f3f-4172-b89c-556fdff1830d",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ \"https://\" + $json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $json.ticketID + \"/macros/\" + $json.macroID + \"/apply\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "options": {}
      },
      "id": "c041e7af-59b2-4859-96e3-bc24304d10ce",
      "name": "Generate customer reply with macro8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        96
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "455a5b1b-9564-4577-83bd-936d0ec85e58",
              "leftValue": "={{ $(\"When Executed by Another Workflow\").item.json.isTranslated }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef1c8e43-0ac6-4663-8921-717a3a2a2868",
      "name": "Is translated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=Customer Support Agent's comment: {{ $json.result.ticket.comment.html_body }}\n\nOriginal language: {{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine. Your sole task is to translate Customer Support Agent's messages into the customer's language. \n\nInput:\nCustomer Support Agent's comment - this needs to be translated\nOriginal language - this is the language you need to translate into\n\nRules (must be followed strictly):\nTranslate exactly and literally\nDo not add, remove, infer, or reinterpret any information\nDo not explain, summarize, rephrase, or improve wording\nPreserve tone, intent, ambiguity, and emotional content exactly\nPreserve formatting, punctuation, emojis, HTML formatting, and line breaks\nDo not normalize slang, profanity, or errors\nIf a term cannot be translated precisely, transliterate it\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntranslatedComment: string\n\nNeeds to be formatted as JSON\nNo commentary, labels, or notes\nNo markdown or HTML unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "id": "7b8d024c-f0e4-466f-86c8-dfb6c04a7385",
      "name": "Translate macro to local language",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        672,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "bQD6zQs1hpwjq71p",
          "name": "myimage-prod-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\" }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6b8c7ab9-0429-4541-aac9-5a0f4be38a8a",
      "name": "Reply to customer and set status to solved11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        176
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.publicComment }}"
            },
            {
              "name": "ticket.comment.html_body",
              "value": "={{ $('Generate customer reply with macro8').item.json.result.ticket.comment.html_body }}"
            },
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cda5a70b-f142-4ddc-8a05-2f3e261946f4",
      "name": "Reply to customer and set status to solved12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        176
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.publicComment }}"
            },
            {
              "name": "ticket.comment.html_body",
              "value": "={{ $('Translate macro to local language').item.json.output[0].content[0].text.translatedComment }}"
            },
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}"
            }
          ]
        },
        "options": {}
      },
      "id": "922277dd-b89d-4cfc-b7cf-0f38f183a321",
      "name": "Reply to customer and set status to solved13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\" }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3ea1b738-d6ef-45a5-805f-5223369a9cc6",
      "name": "Reply to customer and set status to solved15",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_field_language_id }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        0
      ],
      "id": "62e62eb7-67d4-4f57-8fa0-b995876cb987",
      "name": "Set language",
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "myimage_prod",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c856ebe5-03fc-44f8-adce-a0e87990917c",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        192
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "3dd085fc-adae-42b0-89e4-2f26bd82b360",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -208,
        192
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        96
      ],
      "id": "5b097dc5-9e89-4e45-9355-4474ccb409c3",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_field_language_id }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        176
      ],
      "id": "502b7d22-8679-410b-b9bb-be853591fcbc",
      "name": "Set language1",
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f7b748e7-d661-4985-964e-84e6a605c39a",
      "name": "Set status to solved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        176
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8a5a953e-6a82-449e-843b-83ed6ef76662",
      "name": "Set status to solved1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate customer reply with macro8": {
      "main": [
        [
          {
            "node": "Is translated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is translated": {
      "main": [
        [
          {
            "node": "Translate macro to local language",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate macro to local language": {
      "main": [
        [
          {
            "node": "Set language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to customer and set status to solved12": {
      "main": [
        [
          {
            "node": "Set status to solved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to customer and set status to solved13": {
      "main": [
        [
          {
            "node": "Set status to solved1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set language": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Generate customer reply with macro8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set language1": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set status to solved": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set status to solved1": {
      "main": [
        [
          {
            "node": "Reply to customer and set status to solved15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "f24edc68-32a0-41b1-8071-6213e24fbc36",
  "activeVersionId": "f24edc68-32a0-41b1-8071-6213e24fbc36",
  "versionCounter": 5,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-21T14:28:35.610Z",
      "createdAt": "2026-07-21T14:28:35.610Z",
      "role": "workflow:owner",
      "workflowId": "QF0oprwk7fxKD23d",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-22T10:59:33.000Z",
    "createdAt": "2026-07-22T08:49:56.329Z",
    "versionId": "f24edc68-32a0-41b1-8071-6213e24fbc36",
    "workflowId": "QF0oprwk7fxKD23d",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "f1c596dd-4f3f-4172-b89c-556fdff1830d",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -640,
          80
        ]
      },
      {
        "parameters": {
          "url": "={{ \"https://\" + $json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $json.ticketID + \"/macros/\" + $json.macroID + \"/apply\" }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "options": {}
        },
        "id": "c041e7af-59b2-4859-96e3-bc24304d10ce",
        "name": "Generate customer reply with macro8",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          224,
          96
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "455a5b1b-9564-4577-83bd-936d0ec85e58",
                "leftValue": "={{ $(\"When Executed by Another Workflow\").item.json.isTranslated }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ef1c8e43-0ac6-4663-8921-717a3a2a2868",
        "name": "Is translated",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          96
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "content": "=Customer Support Agent's comment: {{ $json.result.ticket.comment.html_body }}\n\nOriginal language: {{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
              },
              {
                "role": "system",
                "content": "You are a translation engine. Your sole task is to translate Customer Support Agent's messages into the customer's language. \n\nInput:\nCustomer Support Agent's comment - this needs to be translated\nOriginal language - this is the language you need to translate into\n\nRules (must be followed strictly):\nTranslate exactly and literally\nDo not add, remove, infer, or reinterpret any information\nDo not explain, summarize, rephrase, or improve wording\nPreserve tone, intent, ambiguity, and emotional content exactly\nPreserve formatting, punctuation, emojis, HTML formatting, and line breaks\nDo not normalize slang, profanity, or errors\nIf a term cannot be translated precisely, transliterate it\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntranslatedComment: string\n\nNeeds to be formatted as JSON\nNo commentary, labels, or notes\nNo markdown or HTML unless it exists in the input"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_object",
                "verbosity": "high"
              }
            }
          }
        },
        "id": "7b8d024c-f0e4-466f-86c8-dfb6c04a7385",
        "name": "Translate macro to local language",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          672,
          0
        ],
        "credentials": {
          "openAiApi": {
            "id": "bQD6zQs1hpwjq71p",
            "name": "myimage-prod-n8n-automation"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\" }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\" }}"
              }
            ]
          },
          "options": {}
        },
        "id": "6b8c7ab9-0429-4541-aac9-5a0f4be38a8a",
        "name": "Reply to customer and set status to solved11",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1424,
          176
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.publicComment }}"
              },
              {
                "name": "ticket.comment.html_body",
                "value": "={{ $('Generate customer reply with macro8').item.json.result.ticket.comment.html_body }}"
              },
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}"
              }
            ]
          },
          "options": {}
        },
        "id": "cda5a70b-f142-4ddc-8a05-2f3e261946f4",
        "name": "Reply to customer and set status to solved12",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1008,
          176
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.publicComment }}"
              },
              {
                "name": "ticket.comment.html_body",
                "value": "={{ $('Translate macro to local language').item.json.output[0].content[0].text.translatedComment }}"
              },
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldID }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomFieldValue }}"
              }
            ]
          },
          "options": {}
        },
        "id": "922277dd-b89d-4cfc-b7cf-0f38f183a321",
        "name": "Reply to customer and set status to solved13",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1216,
          0
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldID || \"null\" }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.automationCustomFieldValue || \"null\" }}"
              }
            ]
          },
          "options": {}
        },
        "id": "3ea1b738-d6ef-45a5-805f-5223369a9cc6",
        "name": "Reply to customer and set status to solved15",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1616,
          0
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_field_language_id }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1008,
          0
        ],
        "id": "62e62eb7-67d4-4f57-8fa0-b995876cb987",
        "name": "Set language",
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "myimage_prod",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "c856ebe5-03fc-44f8-adce-a0e87990917c",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -432,
          192
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "3dd085fc-adae-42b0-89e4-2f26bd82b360",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -208,
          192
        ]
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          16,
          96
        ],
        "id": "5b097dc5-9e89-4e45-9355-4474ccb409c3",
        "name": "Merge"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_field_language_id }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          176
        ],
        "id": "502b7d22-8679-410b-b9bb-be853591fcbc",
        "name": "Set language1",
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "f7b748e7-d661-4985-964e-84e6a605c39a",
        "name": "Set status to solved",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1216,
          176
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "8a5a953e-6a82-449e-843b-83ed6ef76662",
        "name": "Set status to solved1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1424,
          0
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate customer reply with macro8": {
        "main": [
          [
            {
              "node": "Is translated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is translated": {
        "main": [
          [
            {
              "node": "Translate macro to local language",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set language1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Translate macro to local language": {
        "main": [
          [
            {
              "node": "Set language",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to customer and set status to solved12": {
        "main": [
          [
            {
              "node": "Set status to solved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to customer and set status to solved13": {
        "main": [
          [
            {
              "node": "Set status to solved1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set language": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved13",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Generate customer reply with macro8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set language1": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved12",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set status to solved": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved11",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set status to solved1": {
        "main": [
          [
            {
              "node": "Reply to customer and set status to solved15",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version f24edc68",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-22T10:59:33.875Z",
        "id": 1210,
        "workflowId": "QF0oprwk7fxKD23d",
        "versionId": "f24edc68-32a0-41b1-8071-6213e24fbc36",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-07-22T10:59:39.134Z",
        "id": 1212,
        "workflowId": "QF0oprwk7fxKD23d",
        "versionId": "f24edc68-32a0-41b1-8071-6213e24fbc36",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-07-22T10:59:39.096Z",
        "id": 1211,
        "workflowId": "QF0oprwk7fxKD23d",
        "versionId": "f24edc68-32a0-41b1-8071-6213e24fbc36",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}