workflows/MyImage_AI__ujnlfKvHf51Lk90i.json
{
  "updatedAt": "2026-03-08T12:12:53.812Z",
  "createdAt": "2026-02-25T09:29:04.397Z",
  "id": "ujnlfKvHf51Lk90i",
  "name": "MyImage AI",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "lokalise-ai",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        384,
        640
      ],
      "id": "bf51093a-0f43-4f56-af9c-6680c05a0878",
      "name": "Webhook",
      "webhookId": "7b717b52-dbea-4719-94c2-fe7a91bbc466"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9399b7b-c302-4175-b817-ecfd91701e07",
              "name": "=projectId",
              "value": "={{$json.body.project.id}}",
              "type": "string"
            },
            {
              "id": "97ba13a2-603a-4aaa-a799-852125f32231",
              "name": "=keyId",
              "value": "={{$json.body.key.id}}",
              "type": "string"
            },
            {
              "id": "b30c639b-453d-4416-b209-22e3bd32b911",
              "name": "=sourceText",
              "value": "={{$json.body.key.base_value}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        640
      ],
      "id": "12173113-92d2-49cd-ba6e-c850a1a5bf64",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional localization translator.\nReturn ONLY the translated text. No quotes, no explanations, no extra lines or characters. Make sure any placeholder is kept as is.\n\nIf language code is es or de, make sure to translate with informal tone."
            },
            {
              "content": "=Translate the following text into {{$node[\"If\"].json[\"lang_iso\"]}}:\n\n{{$node[\"Edit Fields\"].json[\"sourceText\"]}}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        928,
        640
      ],
      "id": "fa96fb20-7ae6-4e92-ab3e-258fdca21972",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "yra2iG8pnmCKhZIc",
          "name": "Futuremedia - n8n project"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.lokalise.com/api2/projects/{{$json.projectId}}/keys/{{$json.keyId}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"translations\": [\n    {\n      \"language_iso\": \"{{$json.targetLangIso}}\",\n      \"translation\": \"{{$json.translatedText}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        640
      ],
      "id": "8f5a35e3-94ab-4ff0-9256-8a20a95347ba",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4cb6G6nZVVtP4HIO",
          "name": "Lokalise access token read-write"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.lokalise.com/api2/projects/{{$json.projectId}}/languages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        864
      ],
      "id": "80490956-45a4-4b64-b85b-70dc188c714d",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4cb6G6nZVVtP4HIO",
          "name": "Lokalise access token read-write"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "languages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        864
      ],
      "id": "168fe287-832a-4ba8-af29-f9e245923be5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c768e8c1-7f68-4449-b1f6-e7d66dfaeacd",
              "leftValue": "={{$json.lang_iso}}",
              "rightValue": "en",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        864
      ],
      "id": "dea18936-1f2d-4f2d-acb4-5ad0882848c4",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51052ae3-f455-467e-b31c-16d6046f87d7",
              "name": "=projectId",
              "value": "={{$item(0).$node[\"Edit Fields\"].json[\"projectId\"]}}",
              "type": "string"
            },
            {
              "id": "e4caab68-8ef7-48aa-be38-92e0d5961d4c",
              "name": "keyId",
              "value": "={{$item(0).$node[\"Edit Fields\"].json[\"keyId\"]}}",
              "type": "string"
            },
            {
              "id": "caa2dbb8-8a8d-4fda-8147-64a0d2990cdb",
              "name": "targetLangIso",
              "value": "={{$node[\"If\"].json[\"lang_iso\"]}}",
              "type": "string"
            },
            {
              "id": "e88b0c0c-f0f4-4541-92cf-1177171f2e98",
              "name": "translatedText",
              "value": "={{$json.output[0].content[0].text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        640
      ],
      "id": "76ba7975-b03a-486e-87e3-af630b3ad03f",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "efuturemedia.app.n8n.cloud",
            "user-agent": "lokalise/dev",
            "content-length": "372",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.124.254.35",
            "cf-ew-via": "15",
            "cf-ipcountry": "DE",
            "cf-ray": "9d919fe1bbf69b86-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "project-id": "3070657967b5854be32cb1.65162854",
            "traceparent": "00-7e326c266c04ae5827eab33b0a9e8dd1-6804c83618e497b0-01",
            "webhook-id": "f95bda0b6259da101d11e46618e8f38262a9802a",
            "x-event": "project.key.added",
            "x-forwarded-for": "3.124.254.35, 172.70.251.67",
            "x-forwarded-host": "efuturemedia.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-34-7665fc5945-cczmb",
            "x-is-trusted": "yes",
            "x-real-ip": "3.124.254.35",
            "x-secret": "d16ad394131ae0d389471ef2d92dacf00eb07b5f"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "project.key.added",
            "key": {
              "id": 812403002,
              "name": "test_copy",
              "base_value": "hello there",
              "filenames": {
                "ios": null,
                "android": null,
                "web": null,
                "other": null
              },
              "tags": []
            },
            "project": {
              "id": "3070657967b5854be32cb1.65162854",
              "name": "My Image"
            },
            "user": {
              "full_name": "Maria",
              "email": "maria@efuturemedia.com"
            },
            "created_at": "2026-03-08 12:50:49",
            "created_at_timestamp": 1772970649
          },
          "webhookUrl": "https://efuturemedia.app.n8n.cloud/webhook/lokalise-ai",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "3f5f98ce-c927-4b49-a3cf-7fb7ae7ddd24",
  "activeVersionId": "4a3abac0-a575-4400-9d01-4c91a63ed6b9",
  "versionCounter": 288,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-25T09:29:04.400Z",
      "createdAt": "2026-02-25T09:29:04.400Z",
      "role": "workflow:owner",
      "workflowId": "ujnlfKvHf51Lk90i",
      "projectId": "dEuUcqimhxflYu8w",
      "project": {
        "updatedAt": "2025-09-16T09:09:05.000Z",
        "createdAt": "2025-09-16T08:57:53.831Z",
        "id": "dEuUcqimhxflYu8w",
        "name": "Internationalization ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-08T12:12:20.000Z",
    "createdAt": "2026-03-08T12:10:49.431Z",
    "versionId": "4a3abac0-a575-4400-9d01-4c91a63ed6b9",
    "workflowId": "ujnlfKvHf51Lk90i",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": true,
          "httpMethod": [
            "POST"
          ],
          "path": "lokalise-ai",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          384,
          640
        ],
        "id": "bf51093a-0f43-4f56-af9c-6680c05a0878",
        "name": "Webhook",
        "webhookId": "7b717b52-dbea-4719-94c2-fe7a91bbc466"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f9399b7b-c302-4175-b817-ecfd91701e07",
                "name": "=projectId",
                "value": "={{$json.body.project.id}}",
                "type": "string"
              },
              {
                "id": "97ba13a2-603a-4aaa-a799-852125f32231",
                "name": "=keyId",
                "value": "={{$json.body.key.id}}",
                "type": "string"
              },
              {
                "id": "b30c639b-453d-4416-b209-22e3bd32b911",
                "name": "=sourceText",
                "value": "={{$json.body.key.base_value}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          512,
          640
        ],
        "id": "12173113-92d2-49cd-ba6e-c850a1a5bf64",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "GPT-4.1"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You are a professional localization translator.\nReturn ONLY the translated text. No quotes, no explanations, no extra lines or characters. Make sure any placeholder is kept as is.\n\nIf language code is es or de, make sure to translate with informal tone."
              },
              {
                "content": "=Translate the following text into {{$node[\"If\"].json[\"lang_iso\"]}}:\n\n{{$node[\"Edit Fields\"].json[\"sourceText\"]}}"
              }
            ]
          },
          "simplify": false,
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          928,
          640
        ],
        "id": "fa96fb20-7ae6-4e92-ab3e-258fdca21972",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "yra2iG8pnmCKhZIc",
            "name": "Futuremedia - n8n project"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "https://api.lokalise.com/api2/projects/{{$json.projectId}}/keys/{{$json.keyId}}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"translations\": [\n    {\n      \"language_iso\": \"{{$json.targetLangIso}}\",\n      \"translation\": \"{{$json.translatedText}}\"\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1440,
          640
        ],
        "id": "8f5a35e3-94ab-4ff0-9256-8a20a95347ba",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4cb6G6nZVVtP4HIO",
            "name": "Lokalise access token read-write"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.lokalise.com/api2/projects/{{$json.projectId}}/languages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          528,
          864
        ],
        "id": "80490956-45a4-4b64-b85b-70dc188c714d",
        "name": "HTTP Request1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "4cb6G6nZVVtP4HIO",
            "name": "Lokalise access token read-write"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "languages",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          672,
          864
        ],
        "id": "168fe287-832a-4ba8-af29-f9e245923be5",
        "name": "Split Out"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c768e8c1-7f68-4449-b1f6-e7d66dfaeacd",
                "leftValue": "={{$json.lang_iso}}",
                "rightValue": "en",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          816,
          864
        ],
        "id": "dea18936-1f2d-4f2d-acb4-5ad0882848c4",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "51052ae3-f455-467e-b31c-16d6046f87d7",
                "name": "=projectId",
                "value": "={{$item(0).$node[\"Edit Fields\"].json[\"projectId\"]}}",
                "type": "string"
              },
              {
                "id": "e4caab68-8ef7-48aa-be38-92e0d5961d4c",
                "name": "keyId",
                "value": "={{$item(0).$node[\"Edit Fields\"].json[\"keyId\"]}}",
                "type": "string"
              },
              {
                "id": "caa2dbb8-8a8d-4fda-8147-64a0d2990cdb",
                "name": "targetLangIso",
                "value": "={{$item(0).$node[\"If\"].json[\"lang_iso\"]}}",
                "type": "string"
              },
              {
                "id": "e88b0c0c-f0f4-4541-92cf-1177171f2e98",
                "name": "translatedText",
                "value": "={{$json.output[0].content[0].text}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1232,
          640
        ],
        "id": "76ba7975-b03a-486e-87e3-af630b3ad03f",
        "name": "Edit Fields1"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Maria Sica",
    "name": "Version 4a3abac0",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-08T12:12:19.970Z",
        "id": 289,
        "workflowId": "ujnlfKvHf51Lk90i",
        "versionId": "4a3abac0-a575-4400-9d01-4c91a63ed6b9",
        "event": "activated",
        "userId": "bf7fb03f-fc43-4541-bda8-2dd165965c25"
      }
    ]
  }
}