workflows/MyImage_prod_-_Cancellation_request__Iuqwpbg2hyZWrrEp.json
{
  "updatedAt": "2026-07-21T20:19:53.413Z",
  "createdAt": "2026-07-21T14:26:24.330Z",
  "id": "Iuqwpbg2hyZWrrEp",
  "name": "MyImage prod - Cancellation request",
  "description": "Template version of CS - Cancellation request. Calls payments microservice to cancel subscription, handles success and 'already cancelled' edge case. All project-specific values templated from cs_project_config.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "b99f8d10-0d67-483e-aaa4-551fb238098d",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "myimage_prod",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1b5c9caa-8869-4fd8-9f3a-932a1ad8024b",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "3cb26bc2-5315-4a19-9204-361419c7076d",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "cancellation",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "subscriptionId",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "4a784303-6f90-4bcc-b000-f089cb649d20",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "7df9eeea-8dff-4e69-a686-b760d4199f6a",
              "name": "ticketID",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketID }}",
              "type": "string"
            },
            {
              "id": "5b462efb-eaf1-48fc-9e35-48f6e4e185c3",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "646682ee-a941-451f-86c2-7bf8ba2c994e",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KmB0MYwl9wAhsN79",
          "mode": "list",
          "cachedResultUrl": "/workflow/9dHFAZqAbAj42xR3",
          "cachedResultName": "MyImage prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "842a9a3d-d98b-43b5-b5b3-9647dbf28819",
      "name": "Call 'CS - HMAC'2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/subscriptions/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d0393ecd-d467-4692-8da6-c1e1d308a92e",
      "name": "DEV bot/subscription/cancel2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        192
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "# Template configuration\n\n**Set project_key** holds the hardcoded deployment key.\n**Get Project Config** provides project values (zendesk_domain, payments_api_base_url, status IDs, macros, slack channel).\n\nSubworkflow refs (HMAC, Update Zendesk) remain inline; rewire to template versions per project.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Re-bind Zendesk/Slack credentials and subworkflow IDs.",
        "height": 220,
        "width": 700,
        "color": 5
      },
      "id": "d9b7c1ca-ead0-45e6-b3bc-9e16462fadd1",
      "name": "Sticky Note 4f77e08b",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        640
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Edit Fields3\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"Edit Fields3\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('Edit Fields3').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8417bad2-32a7-42b2-8d75-475d9db9e544",
      "name": "Reply internally and set status to open2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1856,
        752
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel2').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('Edit Fields3').item.json.subscriptionID }}\n- Ticket ID: {{ $('Edit Fields3').item.json.ticketID }}\n- URL: https://{{ $('Edit Fields3').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('Edit Fields3').item.json.ticketID }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        },
        "path": "328a6861-6cf3-4bfd-957d-609b9aa5836e"
      },
      "id": "fd67d83c-9c7c-41d8-8adc-082ddd4976a7",
      "name": "Send a message5",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2080,
        752
      ],
      "webhookId": "328a6861-6cf3-4bfd-957d-609b9aa5836e",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc71d7f6-505c-45f6-a96f-38b22dcca48d",
              "name": "cancellationStatus",
              "value": "subscriptionAlreadyCancelled",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        368
      ],
      "id": "47ef13b7-30da-45f5-9239-91e93e177e11",
      "name": "Already cancelled"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc71d7f6-505c-45f6-a96f-38b22dcca48d",
              "name": "cancellationStatus",
              "value": "successful",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        176
      ],
      "id": "305e78be-00e8-46e6-accd-3cecf7f90fd8",
      "name": "Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc71d7f6-505c-45f6-a96f-38b22dcca48d",
              "name": "cancellationStatus",
              "value": "subscriptionNotCancellable",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        560
      ],
      "id": "85ae703d-4af6-4033-8dd8-17c34968f197",
      "name": "Not cancellable"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc71d7f6-505c-45f6-a96f-38b22dcca48d",
              "name": "cancellationStatus",
              "value": "error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        752
      ],
      "id": "cf1b2211-a2c5-428c-a4db-6fefaa72aa5a",
      "name": "Error"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.message }}",
                    "rightValue": "subscriptionAlreadyCancelled",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4433cbaa-0bb2-43c4-b97a-8f7d63a4b93a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0228ec0-a4b2-49a5-af2c-06e2d3550686",
                    "leftValue": "={{ $json.error.message }}",
                    "rightValue": "subscriptionNotCancellable",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not cancellable"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1440,
        384
      ],
      "id": "4416bdac-4cef-494a-a5a0-f94ee3018cc7",
      "name": "Switch1"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'2": {
      "main": [
        [
          {
            "node": "DEV bot/subscription/cancel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/subscription/cancel2": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open2": {
      "main": [
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Already cancelled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not cancellable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message5": {
      "main": [
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "subscriptionId": "c415b1b8-c341-4a39-a7a0-102f4e31a620",
          "ticketID": 336,
          "isTranslated": false,
          "originalLanguage": "en"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "10c680f0-d25c-46a0-932d-604f511cb642",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-21T14:26:24.332Z",
      "createdAt": "2026-07-21T14:26:24.332Z",
      "role": "workflow:owner",
      "workflowId": "Iuqwpbg2hyZWrrEp",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}