workflows/MyImage_prod_-_Cancellation_flow__xqdwdwgSugEDLpo8.json
{
  "updatedAt": "2026-07-21T20:18:42.828Z",
  "createdAt": "2026-07-21T14:25:47.501Z",
  "id": "xqdwdwgSugEDLpo8",
  "name": "MyImage prod - Cancellation flow",
  "description": "Template version of CS - Cancellation request. Calls payments microservice to cancel subscription, handles success and 'already cancelled' edge case. All project-specific values templated from cs_project_config.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "3985edef-67b1-4c9b-a32a-092d76d0ee8c",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        80
      ]
    },
    {
      "parameters": {
        "content": "# Template configuration\n\n**Set project_key** holds the hardcoded deployment key.\n**Get Project Config** provides project values (zendesk_domain, payments_api_base_url, status IDs, macros, slack channel).\n\nSubworkflow refs (HMAC, Update Zendesk) remain inline; rewire to template versions per project.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Re-bind Zendesk/Slack credentials and subworkflow IDs.",
        "height": 220,
        "width": 700,
        "color": 5
      },
      "id": "e2cce363-e49c-4a37-a7c9-11eae2d89d2c",
      "name": "Sticky Note 4f77e08b",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        896
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Iuqwpbg2hyZWrrEp",
          "mode": "list",
          "cachedResultUrl": "/workflow/l1DNc4uapOnkS4Dt",
          "cachedResultName": "MyImage prod - Cancellation request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        144,
        96
      ],
      "id": "10980157-c1fe-4c35-b2c8-d237b9ef2a02",
      "name": "Call 'CS - Cancellation request [Template]'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "myimage_prod",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b8950510-5396-487c-8a13-3e2514796f33",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        192
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "36b7252f-e56c-43c0-978b-91e357f4519d",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -304,
        192
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -80,
        96
      ],
      "id": "76e4f10d-d051-4d61-ae36-cebc9d3c8a8a",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_cancel_subs_id }}",
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fbc7daec-912f-4f55-98d7-c8d7132ff745",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QF0oprwk7fxKD23d",
          "mode": "list",
          "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
          "cachedResultName": "MyImage prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "0ba98269-f810-40ec-90b5-37addbefeca3",
      "name": "Update zendesk ticket4",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1392,
        -192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_customer_claims_id }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dfa75bc0-ed70-4579-aec9-f16b384f54a4",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        32
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QF0oprwk7fxKD23d",
          "mode": "list",
          "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
          "cachedResultName": "MyImage prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": null,
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "768e90b8-697a-45f0-ba12-813383c0c70a",
      "name": "Update zendesk ticket",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1392,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
        "height": 224,
        "width": 352,
        "color": 7
      },
      "id": "c20d09dc-a704-4b4c-8b72-5c66d0fa648c",
      "name": "Sticky Note 6095b2a0",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        -16
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "6b3653d2-ec6c-467d-8d2a-af8546e95613",
      "name": "Sticky Note 9445970a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        -272
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f7626471-1432-4194-87cc-b979731e460e",
                    "leftValue": "={{ $json.cancellationStatus }}",
                    "rightValue": "successful",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.cancellationStatus }}",
                    "rightValue": "subscriptionAlreadyCancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4433cbaa-0bb2-43c4-b97a-8f7d63a4b93a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0228ec0-a4b2-49a5-af2c-06e2d3550686",
                    "leftValue": "={{ $json.cancellationStatus }}",
                    "rightValue": "subscriptionNotCancellable",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not cancellable"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        64
      ],
      "id": "8e70f177-ff44-4d04-b433-9449702934bf",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketID }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('When Executed by Another Workflow').item.json.isTranslated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('When Executed by Another Workflow').item.json.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_failed_payment_id }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "764eeaa9-f551-4a0c-8279-1cfbafdb310f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        256
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QF0oprwk7fxKD23d",
          "mode": "list",
          "cachedResultUrl": "/workflow/6VBYrrSTrlJxBkA1",
          "cachedResultName": "MyImage prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "9fe81dd5-1a47-4afa-8a85-1ddb61ad8d7d",
      "name": "Update zendesk ticket1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1392,
        256
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: failed payment",
        "height": 224,
        "width": 352,
        "color": 7
      },
      "id": "6a81d4dc-d147-4d7c-8b7d-3c8b8ce22e07",
      "name": "Sticky Note 6095b2a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        464
      ],
      "id": "7aff0c19-fdcd-49b9-bdf7-8b90a9f99df0",
      "name": "Merge1",
      "disabled": true
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - Cancellation request [Template]'": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'CS - Cancellation request [Template]'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Update zendesk ticket4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update zendesk ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ueE9FpTQ3OBvvHQ7",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "subscriptionId": "c415b1b8-c341-4a39-a7a0-102f4e31a620",
          "ticketID": 336,
          "isTranslated": false,
          "originalLanguage": "en"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Edit Fields5": [
      {
        "json": {
          "zendeskDomain": "personalitytest",
          "ticketID": 646213,
          "isTranslated": false,
          "originalLanguage": "en",
          "macroID": 36393259331485,
          "publicComment": true,
          "ticketCustomStatusID": 19265589367453,
          "ticketCustomFieldID": 21549590739229,
          "ticketCustomFieldValue": "cancellation___subscription"
        }
      }
    ]
  },
  "versionId": "ae1fc2ba-b806-4f94-a49e-e58f2c72c2ad",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-21T14:25:47.503Z",
      "createdAt": "2026-07-21T14:25:47.503Z",
      "role": "workflow:owner",
      "workflowId": "xqdwdwgSugEDLpo8",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}