workflows/MyImage_prod_-_Main_automation_flow__EnfZEB3IUB0qqedg.json
{
  "updatedAt": "2026-07-22T14:11:55.484Z",
  "createdAt": "2026-07-21T14:27:17.720Z",
  "id": "EnfZEB3IUB0qqedg",
  "name": "MyImage prod - Main automation flow",
  "description": "Template version of the main CS automation flow. Reads project-specific config from the cs_project_config data table via project_key; all hardcoded values replaced with table references. Duplicate this workflow for new projects.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "myimage_prod",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "563d5164-d4b3-4a79-b4fe-44b5fa440a5d",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        688
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "5c9e6d17-f4d4-48f1-9e52-64d676669084",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        240,
        688
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $(\"Webhook\").item.json.body[\"ticket.description\"] }}",
        "categories": {
          "categories": [
            {
              "category": "Text is not in English"
            },
            {
              "category": "Text is in English"
            }
          ]
        },
        "options": {}
      },
      "id": "5ba83c91-19f7-4b7d-b25f-ffc2539b17d4",
      "name": "Check ticket language1",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        928,
        704
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "8b331d44-db1c-44aa-8ddf-89ff5c18375a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        928
      ],
      "credentials": {
        "openAiApi": {
          "id": "bQD6zQs1hpwjq71p",
          "name": "myimage-prod-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=Title: {{ $('Webhook').item.json.body['ticket.title'] }}\nDescription: {{ $('Webhook').item.json.body['ticket.description'] }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\nYour task is to translate user-provided text into English and identify the language of the original text.\n\nRules (must be followed strictly):\nTranslate exactly and literally\nDo not add, remove, infer, or reinterpret any information\nDo not explain, summarize, rephrase, or improve wording\nPreserve tone, intent, ambiguity, and emotional content exactly\nPreserve formatting, punctuation, emojis, and line breaks\nDo not normalize slang, profanity, or errors\nIf a term cannot be translated precisely, transliterate it\nIf the input is already in English, return it unchanged\nIf the input is partially English, translate only the non-English parts\n\nFor originalTicketLanguage, output exactly one value from this list and nothing else:\nenglish, spanish, portuguese, french, deutsch, nederlands, polski, turkish, italian, norsk, svenska, other_lang\n\nRules for originalTicketLanguage:\nUse the code for the primary (dominant) language of the original text, ignoring incidental English words, names, or product terms\nIf the original text is already in English, output english\nIf the language is not one of the listed codes, output other_lang\nIf the language cannot be determined, output other_lang\nOutput the value exactly as written in the list, with no extra characters\n\nOutput a JSON object containing:\ntitle: string // translated title\ndescription: string // translated description\noriginalTicketLanguage: string // one value from the allowed list\n\nFormatting:\nMust be valid JSON\nNo commentary, labels, or notes\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "verbosity": "high",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" },\n    \"originalTicketLanguage\": {\n      \"type\": \"string\",\n      \"enum\": [\"english\", \"spanish\", \"portuguese\", \"french\", \"deutsch\", \"nederlands\", \"polski\", \"turkish\", \"italian\", \"norsk\", \"svenska\", \"other_lang\"]\n    }\n  },\n  \"required\": [\"title\", \"description\", \"originalTicketLanguage\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "id": "4985858f-b3b8-4f88-8651-562e1929b450",
      "name": "Translate ticket to english1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1280,
        608
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "bQD6zQs1hpwjq71p",
          "name": "myimage-prod-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": {{ JSON.stringify($(\"Webhook\").item.json.body[\"ticket.description\"]) }},\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.originalTicketLanguage || \"en\" }}\",\n    \"is_translated\": {{ (() => { let originalLanguage = $(\"Translate ticket to english1\").item.json.output.first().content.first().text.originalTicketLanguage; return originalLanguage ? true : false; })() }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.title || \"\" }}\",\n      \"description\": {{ JSON.stringify($(\"Translate ticket to english1\").item.json.output.first().content.first().text.description || \"\" )}}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "08684f2b-7777-47d3-8849-dc3b529ce950",
      "name": "Set translated request data test1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        608
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "dd4b4fef-585a-4a6b-8aee-dd2bc8dc3b97",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1904,
        704
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n\"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": {{ JSON.stringify($(\"Webhook\").item.json.body[\"ticket.description\"]) }},\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\": false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "b6408337-8653-41da-bb65-43e99dde0446",
      "name": "Set request data test2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        800
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You analyze customer support messages and classify them into exactly one of the following categories based only on the user’s written message\n\nCATEGORIES:\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, payment withdrawal, or mentions being charged and wanting the charge undone, or asking to remove this payment.  \nThis includes refund requests even if the customer also requests cancelling or closing their account in addition to the refund.\n\nCancellations  (c)\nUse this category if the customer is asking to unsubscribe, cancel, stop, pause, or end a subscription or account AND does NOT request money back. This category does NOT include account deletion requests\n\nOther  (o)\nUse this category for all other messages, including:\naccount deletion requests\nproduct questions\nfeature requests\naccount access issues\ncomplaints without a refund or cancellation request\nunclear or ambiguous messages\nharassment or threatening, in this case the “other” category is considered as refusing to classify the ticket\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \nIf the message contains forwarded content (often labelled with \"Forwarded message\") disregard everything that comes after that and only consider the content before it in the classification\n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\nc = Cancellations\no = Other\n\nDo not explain your reasoning. Output only the letter.\n"
            },
            {
              "content": "=ticket title:  {{ $json.data[0].original_ticket_content.title }}\nticket message: {{ $json.data[0].original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "include": [
            "message.output_text.logprobs"
          ],
          "parallelToolCalls": true,
          "topLogprobs": 20
        }
      },
      "id": "8d80b3db-8cf6-4178-bb20-40e4b1509f98",
      "name": "Ticket classification1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2128,
        704
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "bQD6zQs1hpwjq71p",
          "name": "myimage-prod-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function softmax(logits) {\n  const max = Math.max(...logits);\n  const exps = logits.map(v => Math.exp(v - max));\n  const sum = exps.reduce((a, b) => a + b, 0);\n  return exps.map(v => v / sum);\n}\n\nfunction computeProbabilitiesFromMessages(messagesArray, labels = [\"r\", \"c\", \"o\"]) {\n  if (!Array.isArray(messagesArray) || messagesArray.length === 0) {\n    throw new Error(\"Input must be an array of message objects.\");\n  }\n\n  const msg0 = messagesArray[0];\n  const chunk = msg0?.content?.find(c => c.type === \"output_text\");\n  if (!chunk) throw new Error(\"No output_text chunk found.\");\n\n  const lpEntry = chunk?.logprobs?.[0];\n  if (!lpEntry) throw new Error(\"No logprobs found.\");\n\n  const predicted = String(chunk.text).trim();\n  const logprobPred = lpEntry.logprob;\n\n  const p_token = Math.exp(logprobPred);\n\n  const top = lpEntry.top_logprobs || [];\n  const labelToLogprob = new Map();\n\n  for (const t of top) {\n    const tok = String(t.token).trim();\n    if (labels.includes(tok)) labelToLogprob.set(tok, t.logprob);\n  }\n\n  if (labels.includes(predicted) && !labelToLogprob.has(predicted)) {\n    labelToLogprob.set(predicted, logprobPred);\n  }\n\n  const available = labels.filter(l => labelToLogprob.has(l));\n\n  let p_class_normalized = null;\n  let class_probs = Object.fromEntries(labels.map(l => [l, null]));\n\n  if (available.length === labels.length) {\n    const logits = labels.map(l => labelToLogprob.get(l));\n    const probs = softmax(logits);\n    labels.forEach((l, i) => (class_probs[l] = probs[i]));\n    p_class_normalized = class_probs[predicted];\n  }\n\n  return {\n    predicted,\n    logprob: logprobPred,\n    p_token,\n    p_class_normalized,\n    class_probs\n  };\n}\n\nconst messagesArray = $json.output;\n\nconst result = computeProbabilitiesFromMessages(messagesArray);\n\nreturn {\n  json: result\n};\n"
      },
      "id": "6c5eebe6-9087-4a18-908c-b19516644280",
      "name": "Code in JavaScript1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
              "leftValue": "={{ $json.p_token }}",
              "rightValue": "={{ $(\"Get Project Config\").first().json.classification_confidence_threshold }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "59991166-dcfd-4895-9cd2-6082faae2d3b",
      "name": "Confidence level above defined level1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2576,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "function returnAutomationLabel() {\n  const input = $input.first().json.predicted\n  if (input == \"r\") {\n    return \"refund_auto\"\n  } else if (input == \"c\"){\n    return \"cancellation_auto\"\n  } else if (input == \"o\") {\n    return \"other_auto\"\n  } else {\n    return Error\n  }\n}\n\nreturn {\n  json:{automationLabel:returnAutomationLabel()}\n}"
      },
      "id": "255b4d9d-7d83-4045-81fe-df7337a9a727",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        560
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_automation_label_id }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "={{ $json.automationLabel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1ef13c0-22dd-4371-9f99-a068a124dfa5",
      "name": "Set automation classification1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3024,
        560
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": "2"
      },
      "id": "f87aff43-c31e-42e0-9278-132b2a01c803",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3248,
        672
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the confidence level was below the defined threshold in order to proceed. Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "948d8847-2795-451b-b91d-70a55d662dfb",
      "name": "Reply to internally and set status to open",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2912,
        976
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "search",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "email",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.user_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e2a225ad-afd6-4ac8-aa35-139eafe537a8",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5536,
        656
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KmB0MYwl9wAhsN79",
          "mode": "list",
          "cachedResultUrl": "/workflow/KmB0MYwl9wAhsN79",
          "cachedResultName": "Operations Department — MyImage prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "839fda61-971c-40ad-bacf-a4c6bb591840",
      "name": "Call 'CS - HMAC'1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5760,
        656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "0f78f7d7-898c-4231-b1cd-f24bb31ff806",
      "name": "DEV bot/search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5984,
        656
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "178cdfe5-8d8d-432a-b369-ebf5e0948a9d",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 404,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "d278fca3-f6ab-4b72-b249-442fc776835e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doesn't exist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "45037a2b-cfc3-47b2-b04a-e531fda3d967",
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 400,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Provider not supported "
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2ab5426f-edbc-4569-b573-c7837e2c15f3",
      "name": "Response code switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        6240,
        624
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0e7950e0-065c-4639-9536-ade0c311d4f8",
                    "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "r",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Refunds"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "327f161d-a756-4264-b443-bde173322d43"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancellations"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "090783e8-ab36-48f0-a749-5afac223abbb",
      "name": "Split requests by type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        7456,
        -192
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description.replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\",\n    \"ticket_url\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.user_email }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\": {{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.description.replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "6457b3e9-0403-4d12-a305-7d724a82d551",
      "name": "Set request data test",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7984,
        -384
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
              "name": "ticketID",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
              "name": "isTranslated",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
              "name": "originalLanguage",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "482d7769-37ac-4cde-ac7a-7edb53f343e4",
      "name": "Set request data test1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7984,
        -192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "6e949a4d-bb12-4bcd-bbf6-b8df4080ac8d",
      "name": "Is deletion request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4272,
        1328
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_account_deletion_id }}",
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_account_removal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "05a9d0d7-4332-4bc6-89cf-ed8a99074526",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4592,
        992
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the request category has been defined as \"other\". Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1c02f16-60c0-47d1-8d9d-0e89e0fc9eae",
      "name": "Reply to internally and set status to open1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4640,
        1600
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_password_account_info_multiple }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_pending_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_password_account_info }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f90973bd-02ee-4069-b6d0-8ff485f24f8a",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8896,
        896
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QF0oprwk7fxKD23d",
          "mode": "list",
          "cachedResultUrl": "/workflow/QF0oprwk7fxKD23d",
          "cachedResultName": "Operations Department — MyImage prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "94656e97-2711-4a0d-92ef-30206359218c",
      "name": "Update zendesk ticket1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        9120,
        896
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the customer in question uses a payment provider that is not automated at this point. Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bae24ec5-cadf-4756-8930-1448d9d6483a",
      "name": "Reply to internally and set status to open2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6816,
        1808
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7eb84d2-884e-44b3-b385-8f09df55e195",
      "name": "Reply internally and set status to open1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8864,
        2592
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Search user request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $(\"DEV bot/search\").first().json.error.message }}\n\nTicket information\n- Ticket ID: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}\n- URL: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "68c3569b-0fd8-4e18-b525-a06f6c8d7376",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        9088,
        2592
      ],
      "webhookId": "bfa17739-5302-41fd-859e-675e9364409f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded key for this deployment.\n2. **Get Project Config** fetches the row from the `cs_project_config` data table.\n3. All downstream nodes reference values via `$('Get Project Config').first().json.column_name`.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Add a new row in `cs_project_config` for that key.\n- Update the Zendesk Trigger credentials and webhook ID.\n- Note: the `ticket.ticket_field_*` in the Zendesk Trigger fields list is hardcoded (trigger params don't allow expressions). Update it to the correct field ID for the new project.",
        "height": 384,
        "width": 800,
        "color": 5
      },
      "id": "5954e511-5e3c-43d1-8356-4d8acba6811e",
      "name": "Sticky Note 8cb1f435",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        -48
      ]
    },
    {
      "parameters": {
        "content": "# Confidence level too low\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "id": "fb9f9127-d5ab-4976-a849-65cc40de51d8",
      "name": "Sticky Note 857254e5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2848,
        864
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "3972e023-6141-407c-9737-449052f2845e",
      "name": "Sticky Note e172d81f",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4992,
        1824
      ]
    },
    {
      "parameters": {
        "content": "# User doesn't exist - multiple\n\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "id": "ce08bf32-9f53-4796-8156-f8f17f8e1999",
      "name": "Sticky Note b4e65ed9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8832,
        768
      ]
    },
    {
      "parameters": {
        "content": "## Status: pending\n## Category: pass and acc info\n## Macro: acc details",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "6fad41b9-e9b2-47c0-9dc9-4612cce57333",
      "name": "Sticky Note 0ef2a223",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9344,
        1088
      ]
    },
    {
      "parameters": {
        "content": "# Payment provider not supported \n\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "id": "4ddb01ae-87b8-4fe5-a269-b4bd0c286290",
      "name": "Sticky Note 0304fa75",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6752,
        1664
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "966fdb47-3ee7-4f5f-949e-091afb7f0885",
      "name": "Sticky Note b0126780",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7248,
        1984
      ]
    },
    {
      "parameters": {
        "content": "# Fallback error catcher\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "id": "e4a641dc-5102-4918-9e9d-4442dd732207",
      "name": "Sticky Note 7dfecb88",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8816,
        2464
      ]
    },
    {
      "parameters": {
        "content": "# Other requests\n",
        "height": 544,
        "width": 752,
        "color": 7
      },
      "id": "edcb9e61-b112-432d-bf5b-16e531b4a114",
      "name": "Sticky Note 092d6f24",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4544,
        1520
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "164aff4f-d7f7-4b9b-931f-116ed0a47c41",
      "name": "Sticky Note 5917ba53",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3168,
        1168
      ]
    },
    {
      "parameters": {
        "content": "# Deletion request\n\n",
        "height": 544,
        "width": 752,
        "color": 7
      },
      "id": "e2a3fdff-59ea-4d06-bbe3-aa78f108eea4",
      "name": "Sticky Note 9083a99a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4544,
        896
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > account removal\n## Macro: account deletion",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "f18cb421-924c-4826-84dc-ba61fc31afae",
      "name": "Sticky Note 6d510d4f",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4928,
        1184
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You classify customer support messages to determine whether the message contains an explicit account deletion request.\n\nPOSITIVE CASE — output true:\nThe customer must use clear, direct language requesting account deletion. Examples of qualifying phrases (similar phrases still apply):\n\"delete my account\"\n\"I want my account deleted\"\n\"please delete my account\"\n\"delete my data and account\"\n\"I'd like you to delete my account\"\n\nNEGATIVE CASE — output false — for ALL of the following:\nCancellation requests (\"cancel my account\", \"cancel my subscription\")\nGeneral frustration or complaints without explicit deletion language\nRefund requests\n\nSTRICT RULES:\n\nThe word \"delete\" must appear explicitly in reference to the account\nCancellation alone does NOT qualify\nDo NOT infer deletion intent from context, tone, or frustration\nIf the message is ambiguous or deletion is only implied, output false\n\nOUTPUT FORMAT:\nRespond only with valid JSON. No explanation.\n{\"is_delete_request\": true}\nor\n{\"is_delete_request\": false}"
            },
            {
              "content": "=Customer support ticket title:  {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\nmessage: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "482cd0d4-be4e-494f-9db4-707535846f5b",
      "name": "Detect deletion requests",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3904,
        1328
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "bQD6zQs1hpwjq71p",
          "name": "myimage-prod-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "93c52723-97ad-4faf-8894-ccbad28cf18d",
              "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
              "rightValue": "o",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3616,
        672
      ],
      "id": "974882ff-2b3a-480a-93ae-64f8a18802a2",
      "name": "Is not other request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an information extraction system for customer support messages.\n\nAnalyze the customer support message and extract the customer's email address if one is explicitly provided.\n\nReturn only a JSON object that matches the provided schema.\n\nRules:\n- The output must contain exactly one key: customer_email.\n- If the customer message contains a valid email address, set customer_email to that email address as a string.\n- If the customer message does not contain a valid email address, set customer_email to \"none\".\n- Do not include markdown, explanations, comments, or extra text.\n- Do not guess, infer, reconstruct, or fabricate an email address.\n- If multiple valid email addresses are present return \"none\"\n- If the message contains forwarded content (often labelled with \"Forwarded message\") disregard everything that comes after that and only consider the content before it in the classification\n"
            },
            {
              "content": "=Customer message: {{ $('Aggregate').item.json.data[0].original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_email\": {\n      \"anyOf\": [\n        {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        {\n          \"type\": \"string\",\n          \"const\": \"none\"\n        }\n      ]\n    }\n  },\n  \"required\": [\"customer_email\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "id": "3c1a5dd0-0396-4f1a-a29d-bf92de198ceb",
      "name": "Email extraction",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        6768,
        1120
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "bQD6zQs1hpwjq71p",
          "name": "myimage-prod-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad764505-ca67-496d-a35c-6e072f88f530",
              "leftValue": "={{ $json.output[0].content[0].text.customer_email }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4238bcf2-5d10-4697-abdf-aa91d1ff39b2",
      "name": "is email provided",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7136,
        1120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "search",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "email",
              "value": "={{ $json.output[0].content[0].text.customer_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "41273c5f-d576-4d54-b2bc-ce574312bd56",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7632,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e1079e4c-10c1-40fc-b0c1-1e3d5886bffd",
      "name": "DEV bot/search1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8080,
        880
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "178cdfe5-8d8d-432a-b369-ebf5e0948a9d",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 404,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "d278fca3-f6ab-4b72-b249-442fc776835e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doesn't exist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3cb52045-f2d8-4770-96b9-206eb9f56a85",
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 404,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fallback"
            }
          ]
        },
        "options": {}
      },
      "id": "4c135fac-3b2e-46ac-bda2-218173a702e5",
      "name": "Response code switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8304,
        880
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0e7950e0-065c-4639-9536-ade0c311d4f8",
                    "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "r",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Refunds"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "327f161d-a756-4264-b443-bde173322d43"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancellations"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "9c9957eb-7f52-4815-bc44-37f75a3e5362",
      "name": "Split requests by type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8832,
        480
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description.replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\",\n    \"ticket_url\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $item(\"0\").$node[\"Email extraction\"].json[\"output\"][\"0\"][\"content\"][\"0\"][\"text\"][\"customer_email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\": {{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.description.replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "b9024f66-551b-4bc9-aed6-f73579d07da7",
      "name": "Set request data test4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9280,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
              "name": "ticketID",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
              "name": "isTranslated",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
              "name": "originalLanguage",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "653ba9be-d70c-4ebe-83db-74615e5379f4",
      "name": "Set request data test5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9280,
        480
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fZGH0F77KLSf9QjP",
          "mode": "list",
          "cachedResultUrl": "/workflow/fZGH0F77KLSf9QjP",
          "cachedResultName": "Operations Department — MyImage prod - Refund requests flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "cc769966-9491-444b-ab6b-823a99043a53",
      "name": "Call 'CS - Refund requests flow [Template]'1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        9504,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xqdwdwgSugEDLpo8",
          "mode": "list",
          "cachedResultUrl": "/workflow/xqdwdwgSugEDLpo8",
          "cachedResultName": "Operations Department — MyImage prod - Cancellation flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "c149423b-e173-4c15-8152-9b66b608d0bf",
      "name": "Call 'CS - Cancellation request [Template]'2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        9504,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "964820c2-c42b-4684-a248-e353121dc9f7",
              "leftValue": "={{ $json.proceedWithAutomation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        704
      ],
      "id": "f9d1e50f-3b21-4bfe-b795-d0eb3d36b306",
      "name": "Passed eligibility?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_password_account_info_id }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_pending_id }}",
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "={{ $(\"Get Project Config\").first().json.category_value_password_account_info }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f2785ea4-55e7-4080-8c3a-f7359a0c1b66",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8896,
        1488
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QF0oprwk7fxKD23d",
          "mode": "list",
          "cachedResultUrl": "/workflow/QF0oprwk7fxKD23d",
          "cachedResultName": "Operations Department — MyImage prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "8291e035-9749-4eb7-9dd8-3effd3d3f00e",
      "name": "Update zendesk ticket",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        9120,
        1488
      ]
    },
    {
      "parameters": {
        "content": "# User doesn't exist - single\n\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "id": "0cb51e69-8039-438c-8ab4-2fcab46856cb",
      "name": "Sticky Note b4e65ed",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8832,
        1360
      ]
    },
    {
      "parameters": {
        "content": "## Status: pending\n## Category: pass and acc info\n## Macro: acc details",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "817fc6c5-bc67-4537-8856-b3e00fe96c54",
      "name": "Sticky Note 0ef2a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9344,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "709b4c6d-4801-4725-906e-573ed614d7c9",
              "leftValue": "={{ $json.body.subscriptionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6896,
        144
      ],
      "id": "e4435a05-1ab9-4657-9c48-d955ea46a192",
      "name": "subscriptionId exists"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: \nCustomer's subscription status is INITIAL or INCOMPLETE, which means the user didn't complete the first payment. There's no subscription to cancel there, the subscription has not been created yet. The customer either abandoned payment process or failed to pay.\n\nPlease take over this request manually. \n"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "66bf3946-6233-4c7b-9df8-9b32933c512b",
      "name": "Reply to internally and set status to open3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7152,
        544
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# User exists but doesn't have a subscrption\n",
        "height": 368,
        "width": 352,
        "color": 7
      },
      "id": "2f67a87b-1474-48b5-b586-97aba053a7ff",
      "name": "Sticky Note 0304fa",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7104,
        368
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" +  $node[\"Webhook\"].json[\"body\"][\"ticket.id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_field_allow_automation }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "=_yes_"
            }
          ]
        },
        "options": {}
      },
      "id": "82371cf1-2b44-457e-9cf2-b39e93f13395",
      "name": "set Allow automation to yes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        480,
        832
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        704
      ],
      "id": "a2359b90-6a2a-4a64-abf6-b555a01b495c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" +  $node[\"Webhook\"].json[\"body\"][\"ticket.id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_field_allow_automation }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "=_no_"
            }
          ]
        },
        "options": {}
      },
      "id": "2fea1479-59c2-4334-8380-3c0a9c540e5d",
      "name": "set Allow automation to no",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3136,
        976
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" +  $node[\"Webhook\"].json[\"body\"][\"ticket.id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_field_allow_automation }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "=_no_"
            }
          ]
        },
        "options": {}
      },
      "id": "c4f681e6-4181-4bc4-9aeb-346149d39f6b",
      "name": "set Allow automation to no1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4864,
        1600
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" +  $node[\"Webhook\"].json[\"body\"][\"ticket.id\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.custom_fields.id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_field_allow_automation }}"
            },
            {
              "name": "ticket.custom_fields.value",
              "value": "=_no_"
            }
          ]
        },
        "options": {}
      },
      "id": "e3bb0db9-f1be-43ab-b272-4e35fe8ec03f",
      "name": "set Allow automation to no2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7008,
        1808
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "ATjr6T9YGTW2r3go",
          "name": "MyImage prod Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fZGH0F77KLSf9QjP",
          "mode": "list",
          "cachedResultUrl": "/workflow/fZGH0F77KLSf9QjP",
          "cachedResultName": "Operations Department — MyImage prod - Refund requests flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "6fc9dc2b-d95a-4356-9597-8491b79e63c4",
      "name": "Call 'MyImage prod - Refund requests flow'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8208,
        -384
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xqdwdwgSugEDLpo8",
          "mode": "list",
          "cachedResultUrl": "/workflow/xqdwdwgSugEDLpo8",
          "cachedResultName": "Operations Department — MyImage prod - Cancellation flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "0ce4d925-a4c0-4065-9ce3-b4be37bee870",
      "name": "Call 'MyImage prod - Cancellation flow'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8208,
        -192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QF0oprwk7fxKD23d",
          "mode": "list",
          "cachedResultUrl": "/workflow/QF0oprwk7fxKD23d",
          "cachedResultName": "Operations Department — MyImage prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "cbea3a3c-e377-49c7-9379-a50a89ec4d87",
      "name": "Call 'MyImage prod - Zendesk ticket update request'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4816,
        992
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KmB0MYwl9wAhsN79",
          "mode": "list",
          "cachedResultUrl": "/workflow/KmB0MYwl9wAhsN79",
          "cachedResultName": "Operations Department — MyImage prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "b99bb5f6-fc41-4f2b-acfa-d6b15065ece2",
      "name": "Call 'MyImage prod - HMAC'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7856,
        880
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k53xyMTi80JyJrSM",
          "mode": "list",
          "cachedResultUrl": "/workflow/k53xyMTi80JyJrSM",
          "cachedResultName": "Operations Department — MyImage prod - User eligibility check"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -448,
        704
      ],
      "id": "bd4c6f1a-d76b-4e69-bb6d-709fb8b1789c",
      "name": "Call 'MyImage prod - User eligibility check'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7dae7938-dc25-4985-9213-1373f1ff2bec",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        704
      ],
      "id": "465d1892-df25-43f6-8d22-14beed5cac15",
      "name": "Webhook",
      "webhookId": "7dae7938-dc25-4985-9213-1373f1ff2bec"
    }
  ],
  "connections": {
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "set Allow automation to yes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ticket language1": {
      "main": [
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check ticket language1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Ticket classification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket classification1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Confidence level above defined level1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence level above defined level1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Set automation classification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set automation classification1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Is not other request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'1": {
      "main": [
        [
          {
            "node": "DEV bot/search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search": {
      "main": [
        [
          {
            "node": "Response code switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response code switch": {
      "main": [
        [
          {
            "node": "subscriptionId exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split requests by type1": {
      "main": [
        [
          {
            "node": "Set request data test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test": {
      "main": [
        [
          {
            "node": "Call 'MyImage prod - Refund requests flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test1": {
      "main": [
        [
          {
            "node": "Call 'MyImage prod - Cancellation flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is deletion request": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Call 'MyImage prod - Zendesk ticket update request'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update zendesk ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect deletion requests": {
      "main": [
        [
          {
            "node": "Is deletion request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is not other request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect deletion requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email extraction": {
      "main": [
        [
          {
            "node": "is email provided",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is email provided": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Call 'MyImage prod - HMAC'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search1": {
      "main": [
        [
          {
            "node": "Response code switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response code switch1": {
      "main": [
        [
          {
            "node": "Split requests by type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split requests by type": {
      "main": [
        [
          {
            "node": "Set request data test4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test4": {
      "main": [
        [
          {
            "node": "Call 'CS - Refund requests flow [Template]'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test5": {
      "main": [
        [
          {
            "node": "Call 'CS - Cancellation request [Template]'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passed eligibility?": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subscriptionId exists": {
      "main": [
        [
          {
            "node": "Split requests by type1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set Allow automation to yes": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Check ticket language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to internally and set status to open": {
      "main": [
        [
          {
            "node": "set Allow automation to no",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to internally and set status to open1": {
      "main": [
        [
          {
            "node": "set Allow automation to no1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to internally and set status to open2": {
      "main": [
        [
          {
            "node": "set Allow automation to no2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'MyImage prod - HMAC'": {
      "main": [
        [
          {
            "node": "DEV bot/search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'MyImage prod - User eligibility check'": {
      "main": [
        [
          {
            "node": "Passed eligibility?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Call 'MyImage prod - User eligibility check'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Zendesk Trigger": {}
  },
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "efuturemedia.app.n8n.cloud",
            "user-agent": "Zendesk Webhook",
            "content-length": "1199",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "216.198.17.124",
            "cf-ew-via": "15",
            "cf-ipcountry": "IE",
            "cf-ray": "a1f280331aeb1387-DUB",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json; charset=utf-8",
            "traceparent": "00-6a60b9b1000000004c341ca1b2f260f6-4c341ca1b2f260f6-00",
            "tracestate": "dd=s:-1;p:4c341ca1b2f260f6",
            "x-forwarded-for": "216.198.17.124, 162.158.49.145",
            "x-forwarded-host": "efuturemedia.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-34-68577659cb-xknnf",
            "x-is-trusted": "yes",
            "x-real-ip": "216.198.17.124",
            "x-request-id": "68d3a49e-84f5-48ec-80c3-aa78110df967",
            "x-zendesk-account-id": "25517701",
            "x-zendesk-webhook-id": "01KY4CECRZS8TT1NMEBZMN50SG",
            "x-zendesk-webhook-invocation-id": "01KY4XAPV1Y84D77S9SZ42679N",
            "x-zendesk-webhook-signature": "doCUndjDStJZMrbzOcXWKUUIyIrzPu8qB0qgS7gcEFQ=",
            "x-zendesk-webhook-signature-timestamp": "2026-07-22T12:38:09Z"
          },
          "params": {},
          "query": {},
          "body": {
            "ticket.title": "Refund for subscription",
            "ticket.description": "----------------------------------------------\n\nala łyskawa, Jul 22, 2026, 15:38\n\nHello, I am writing to request a full refund for a charge of 229 PLN made to my account via **Apple Pay** on July 22, 2026.\n\nI was not aware that I was signing up for a paid/recurring subscription. This charge was completely unexpected, and I have not used the paid features of the platform.\n\nAs a university student on a very tight budget, this amount is critical for my daily living expenses. I kindly ask for your understanding and request a full refund back to my original payment method - Apple Pay.\n\nCould you also please ensure that any active subscription on my account is immediately canceled so no further charges occur? But I think I actually canceled it just a few minutes ago after the payment, but just to make sure.\n\nThank you very much for your time and assistance.\n\nBest regards, Alicja Łyskawa.\n\n ![](https://myimage.zendesk.com/attachments/token/7e2v1M0VmO73o6GflpFxHzZup/?name=IMG_2788.png)",
            "ticket.url": "myimage.zendesk.com/agent/tickets/8111",
            "ticket.id": "8111",
            "ticket.requester.email": "lyskawaala14@gmail.com"
          },
          "webhookUrl": "https://efuturemedia.app.n8n.cloud/webhook/7dae7938-dc25-4985-9213-1373f1ff2bec",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "0618b680-da37-49ef-9608-9eadea641cf6",
  "activeVersionId": "0618b680-da37-49ef-9608-9eadea641cf6",
  "versionCounter": 47,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-21T14:27:17.723Z",
      "createdAt": "2026-07-21T14:27:17.723Z",
      "role": "workflow:owner",
      "workflowId": "EnfZEB3IUB0qqedg",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-22T14:12:48.000Z",
    "createdAt": "2026-07-22T14:11:55.485Z",
    "versionId": "0618b680-da37-49ef-9608-9eadea641cf6",
    "workflowId": "EnfZEB3IUB0qqedg",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "myimage_prod",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "563d5164-d4b3-4a79-b4fe-44b5fa440a5d",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          32,
          688
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "5c9e6d17-f4d4-48f1-9e52-64d676669084",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          240,
          688
        ]
      },
      {
        "parameters": {
          "inputText": "={{ $(\"Webhook\").item.json.body[\"ticket.description\"] }}",
          "categories": {
            "categories": [
              {
                "category": "Text is not in English"
              },
              {
                "category": "Text is in English"
              }
            ]
          },
          "options": {}
        },
        "id": "5ba83c91-19f7-4b7d-b25f-ffc2539b17d4",
        "name": "Check ticket language1",
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          928,
          704
        ],
        "retryOnFail": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "id": "8b331d44-db1c-44aa-8ddf-89ff5c18375a",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1008,
          928
        ],
        "credentials": {
          "openAiApi": {
            "id": "bQD6zQs1hpwjq71p",
            "name": "myimage-prod-n8n-automation"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "content": "=Title: {{ $('Webhook').item.json.body['ticket.title'] }}\nDescription: {{ $('Webhook').item.json.body['ticket.description'] }}"
              },
              {
                "role": "system",
                "content": "You are a translation engine.\nYour task is to translate user-provided text into English and identify the language of the original text.\n\nRules (must be followed strictly):\nTranslate exactly and literally\nDo not add, remove, infer, or reinterpret any information\nDo not explain, summarize, rephrase, or improve wording\nPreserve tone, intent, ambiguity, and emotional content exactly\nPreserve formatting, punctuation, emojis, and line breaks\nDo not normalize slang, profanity, or errors\nIf a term cannot be translated precisely, transliterate it\nIf the input is already in English, return it unchanged\nIf the input is partially English, translate only the non-English parts\n\nFor originalTicketLanguage, output exactly one value from this list and nothing else:\nenglish, spanish, portuguese, french, deutsch, nederlands, polski, turkish, italian, norsk, svenska, other_lang\n\nRules for originalTicketLanguage:\nUse the code for the primary (dominant) language of the original text, ignoring incidental English words, names, or product terms\nIf the original text is already in English, output english\nIf the language is not one of the listed codes, output other_lang\nIf the language cannot be determined, output other_lang\nOutput the value exactly as written in the list, with no extra characters\n\nOutput a JSON object containing:\ntitle: string // translated title\ndescription: string // translated description\noriginalTicketLanguage: string // one value from the allowed list\n\nFormatting:\nMust be valid JSON\nNo commentary, labels, or notes\nNo markdown unless it exists in the input"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_schema",
                "verbosity": "high",
                "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" },\n    \"originalTicketLanguage\": {\n      \"type\": \"string\",\n      \"enum\": [\"english\", \"spanish\", \"portuguese\", \"french\", \"deutsch\", \"nederlands\", \"polski\", \"turkish\", \"italian\", \"norsk\", \"svenska\", \"other_lang\"]\n    }\n  },\n  \"required\": [\"title\", \"description\", \"originalTicketLanguage\"],\n  \"additionalProperties\": false\n}"
              }
            }
          }
        },
        "id": "4985858f-b3b8-4f88-8651-562e1929b450",
        "name": "Translate ticket to english1",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          1280,
          608
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "bQD6zQs1hpwjq71p",
            "name": "myimage-prod-n8n-automation"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": {{ JSON.stringify($(\"Webhook\").item.json.body[\"ticket.description\"]) }},\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.originalTicketLanguage || \"en\" }}\",\n    \"is_translated\": {{ (() => { let originalLanguage = $(\"Translate ticket to english1\").item.json.output.first().content.first().text.originalTicketLanguage; return originalLanguage ? true : false; })() }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Translate ticket to english1\").item.json.output.first().content.first().text.title || \"\" }}\",\n      \"description\": {{ JSON.stringify($(\"Translate ticket to english1\").item.json.output.first().content.first().text.description || \"\" )}}\"\n    }\n  }\n}",
          "options": {}
        },
        "id": "08684f2b-7777-47d3-8849-dc3b529ce950",
        "name": "Set translated request data test1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1680,
          608
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "dd4b4fef-585a-4a6b-8aee-dd2bc8dc3b97",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1904,
          704
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n\"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\": \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"description\": {{ JSON.stringify($(\"Webhook\").item.json.body[\"ticket.description\"]) }},\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\": false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n}",
          "options": {}
        },
        "id": "b6408337-8653-41da-bb65-43e99dde0446",
        "name": "Set request data test2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1680,
          800
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You analyze customer support messages and classify them into exactly one of the following categories based only on the user’s written message\n\nCATEGORIES:\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, payment withdrawal, or mentions being charged and wanting the charge undone, or asking to remove this payment.  \nThis includes refund requests even if the customer also requests cancelling or closing their account in addition to the refund.\n\nCancellations  (c)\nUse this category if the customer is asking to unsubscribe, cancel, stop, pause, or end a subscription or account AND does NOT request money back. This category does NOT include account deletion requests\n\nOther  (o)\nUse this category for all other messages, including:\naccount deletion requests\nproduct questions\nfeature requests\naccount access issues\ncomplaints without a refund or cancellation request\nunclear or ambiguous messages\nharassment or threatening, in this case the “other” category is considered as refusing to classify the ticket\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \nIf the message contains forwarded content (often labelled with \"Forwarded message\") disregard everything that comes after that and only consider the content before it in the classification\n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\nc = Cancellations\no = Other\n\nDo not explain your reasoning. Output only the letter.\n"
              },
              {
                "content": "=ticket title:  {{ $json.data[0].original_ticket_content.title }}\nticket message: {{ $json.data[0].original_ticket_content.description }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "include": [
              "message.output_text.logprobs"
            ],
            "parallelToolCalls": true,
            "topLogprobs": 20
          }
        },
        "id": "8d80b3db-8cf6-4178-bb20-40e4b1509f98",
        "name": "Ticket classification1",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          2128,
          704
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "bQD6zQs1hpwjq71p",
            "name": "myimage-prod-n8n-automation"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "function softmax(logits) {\n  const max = Math.max(...logits);\n  const exps = logits.map(v => Math.exp(v - max));\n  const sum = exps.reduce((a, b) => a + b, 0);\n  return exps.map(v => v / sum);\n}\n\nfunction computeProbabilitiesFromMessages(messagesArray, labels = [\"r\", \"c\", \"o\"]) {\n  if (!Array.isArray(messagesArray) || messagesArray.length === 0) {\n    throw new Error(\"Input must be an array of message objects.\");\n  }\n\n  const msg0 = messagesArray[0];\n  const chunk = msg0?.content?.find(c => c.type === \"output_text\");\n  if (!chunk) throw new Error(\"No output_text chunk found.\");\n\n  const lpEntry = chunk?.logprobs?.[0];\n  if (!lpEntry) throw new Error(\"No logprobs found.\");\n\n  const predicted = String(chunk.text).trim();\n  const logprobPred = lpEntry.logprob;\n\n  const p_token = Math.exp(logprobPred);\n\n  const top = lpEntry.top_logprobs || [];\n  const labelToLogprob = new Map();\n\n  for (const t of top) {\n    const tok = String(t.token).trim();\n    if (labels.includes(tok)) labelToLogprob.set(tok, t.logprob);\n  }\n\n  if (labels.includes(predicted) && !labelToLogprob.has(predicted)) {\n    labelToLogprob.set(predicted, logprobPred);\n  }\n\n  const available = labels.filter(l => labelToLogprob.has(l));\n\n  let p_class_normalized = null;\n  let class_probs = Object.fromEntries(labels.map(l => [l, null]));\n\n  if (available.length === labels.length) {\n    const logits = labels.map(l => labelToLogprob.get(l));\n    const probs = softmax(logits);\n    labels.forEach((l, i) => (class_probs[l] = probs[i]));\n    p_class_normalized = class_probs[predicted];\n  }\n\n  return {\n    predicted,\n    logprob: logprobPred,\n    p_token,\n    p_class_normalized,\n    class_probs\n  };\n}\n\nconst messagesArray = $json.output;\n\nconst result = computeProbabilitiesFromMessages(messagesArray);\n\nreturn {\n  json: result\n};\n"
        },
        "id": "6c5eebe6-9087-4a18-908c-b19516644280",
        "name": "Code in JavaScript1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2416,
          704
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
                "leftValue": "={{ $json.p_token }}",
                "rightValue": "={{ $(\"Get Project Config\").first().json.classification_confidence_threshold }}",
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "59991166-dcfd-4895-9cd2-6082faae2d3b",
        "name": "Confidence level above defined level1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2576,
          704
        ]
      },
      {
        "parameters": {
          "jsCode": "function returnAutomationLabel() {\n  const input = $input.first().json.predicted\n  if (input == \"r\") {\n    return \"refund_auto\"\n  } else if (input == \"c\"){\n    return \"cancellation_auto\"\n  } else if (input == \"o\") {\n    return \"other_auto\"\n  } else {\n    return Error\n  }\n}\n\nreturn {\n  json:{automationLabel:returnAutomationLabel()}\n}"
        },
        "id": "255b4d9d-7d83-4045-81fe-df7337a9a727",
        "name": "Code in JavaScript",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2800,
          560
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_automation_label_id }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "={{ $json.automationLabel }}"
              }
            ]
          },
          "options": {}
        },
        "id": "d1ef13c0-22dd-4371-9f99-a068a124dfa5",
        "name": "Set automation classification1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3024,
          560
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": "2"
        },
        "id": "f87aff43-c31e-42e0-9278-132b2a01c803",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          3248,
          672
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and the confidence level was below the defined threshold in order to proceed. Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "948d8847-2795-451b-b91d-70a55d662dfb",
        "name": "Reply to internally and set status to open",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2912,
          976
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "search",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "email",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.user_email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "e2a225ad-afd6-4ac8-aa35-139eafe537a8",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5536,
          656
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "KmB0MYwl9wAhsN79",
            "mode": "list",
            "cachedResultUrl": "/workflow/KmB0MYwl9wAhsN79",
            "cachedResultName": "Operations Department — MyImage prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "839fda61-971c-40ad-bacf-a4c6bb591840",
        "name": "Call 'CS - HMAC'1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          5760,
          656
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "0f78f7d7-898c-4231-b1cd-f24bb31ff806",
        "name": "DEV bot/search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5984,
          656
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "178cdfe5-8d8d-432a-b369-ebf5e0948a9d",
                      "leftValue": "={{ $json.statusCode }}",
                      "rightValue": 200,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "User exists"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.error.status }}",
                      "rightValue": 404,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      },
                      "id": "d278fca3-f6ab-4b72-b249-442fc776835e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Doesn't exist"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "45037a2b-cfc3-47b2-b04a-e531fda3d967",
                      "leftValue": "={{ $json.error.status }}",
                      "rightValue": 400,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Provider not supported "
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "2ab5426f-edbc-4569-b573-c7837e2c15f3",
        "name": "Response code switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          6240,
          624
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0e7950e0-065c-4639-9536-ade0c311d4f8",
                      "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "r",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Refunds"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "c",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "327f161d-a756-4264-b443-bde173322d43"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cancellations"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "090783e8-ab36-48f0-a749-5afac223abbb",
        "name": "Split requests by type1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          7456,
          -192
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description.replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\",\n    \"ticket_url\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.user_email }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\": {{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.description.replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\"\n    }\n  }\n}",
          "options": {}
        },
        "id": "6457b3e9-0403-4d12-a305-7d724a82d551",
        "name": "Set request data test",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          7984,
          -384
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
                "name": "subscriptionId",
                "value": "={{ $json.body.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
                "name": "ticketID",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
                "name": "isTranslated",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
                "name": "originalLanguage",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "482d7769-37ac-4cde-ac7a-7edb53f343e4",
        "name": "Set request data test1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          7984,
          -192
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
                "leftValue": "={{ $json.output[0].content[0].text }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "6e949a4d-bb12-4bcd-bbf6-b8df4080ac8d",
        "name": "Is deletion request",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          4272,
          1328
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_account_deletion_id }}",
                "type": "number"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_cancellation_account_removal }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "05a9d0d7-4332-4bc6-89cf-ed8a99074526",
        "name": "Edit Fields8",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4592,
          992
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and the request category has been defined as \"other\". Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "f1c02f16-60c0-47d1-8d9d-0e89e0fc9eae",
        "name": "Reply to internally and set status to open1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4640,
          1600
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_password_account_info_multiple }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_pending_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_password_account_info }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "f90973bd-02ee-4069-b6d0-8ff485f24f8a",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          8896,
          896
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "QF0oprwk7fxKD23d",
            "mode": "list",
            "cachedResultUrl": "/workflow/QF0oprwk7fxKD23d",
            "cachedResultName": "Operations Department — MyImage prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "94656e97-2711-4a0d-92ef-30206359218c",
        "name": "Update zendesk ticket1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          9120,
          896
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and the customer in question uses a payment provider that is not automated at this point. Please handle this request manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "bae24ec5-cadf-4756-8930-1448d9d6483a",
        "name": "Reply to internally and set status to open2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6816,
          1808
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "d7eb84d2-884e-44b3-b385-8f09df55e195",
        "name": "Reply internally and set status to open1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          8864,
          2592
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Search user request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $(\"DEV bot/search\").first().json.error.message }}\n\nTicket information\n- Ticket ID: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}\n- URL: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "68c3569b-0fd8-4e18-b525-a06f6c8d7376",
        "name": "Send a message",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          9088,
          2592
        ],
        "webhookId": "bfa17739-5302-41fd-859e-675e9364409f",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded key for this deployment.\n2. **Get Project Config** fetches the row from the `cs_project_config` data table.\n3. All downstream nodes reference values via `$('Get Project Config').first().json.column_name`.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Add a new row in `cs_project_config` for that key.\n- Update the Zendesk Trigger credentials and webhook ID.\n- Note: the `ticket.ticket_field_*` in the Zendesk Trigger fields list is hardcoded (trigger params don't allow expressions). Update it to the correct field ID for the new project.",
          "height": 384,
          "width": 800,
          "color": 5
        },
        "id": "5954e511-5e3c-43d1-8356-4d8acba6811e",
        "name": "Sticky Note 8cb1f435",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1168,
          -48
        ]
      },
      {
        "parameters": {
          "content": "# Confidence level too low\n",
          "height": 544,
          "width": 640,
          "color": 7
        },
        "id": "fb9f9127-d5ab-4976-a849-65cc40de51d8",
        "name": "Sticky Note 857254e5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2848,
          864
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "3972e023-6141-407c-9737-449052f2845e",
        "name": "Sticky Note e172d81f",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4992,
          1824
        ]
      },
      {
        "parameters": {
          "content": "# User doesn't exist - multiple\n\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "id": "ce08bf32-9f53-4796-8156-f8f17f8e1999",
        "name": "Sticky Note b4e65ed9",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          8832,
          768
        ]
      },
      {
        "parameters": {
          "content": "## Status: pending\n## Category: pass and acc info\n## Macro: acc details",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "6fad41b9-e9b2-47c0-9dc9-4612cce57333",
        "name": "Sticky Note 0ef2a223",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          9344,
          1088
        ]
      },
      {
        "parameters": {
          "content": "# Payment provider not supported \n\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "id": "4ddb01ae-87b8-4fe5-a269-b4bd0c286290",
        "name": "Sticky Note 0304fa75",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          6752,
          1664
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "966fdb47-3ee7-4f5f-949e-091afb7f0885",
        "name": "Sticky Note b0126780",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          7248,
          1984
        ]
      },
      {
        "parameters": {
          "content": "# Fallback error catcher\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "id": "e4a641dc-5102-4918-9e9d-4442dd732207",
        "name": "Sticky Note 7dfecb88",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          8816,
          2464
        ]
      },
      {
        "parameters": {
          "content": "# Other requests\n",
          "height": 544,
          "width": 752,
          "color": 7
        },
        "id": "edcb9e61-b112-432d-bf5b-16e531b4a114",
        "name": "Sticky Note 092d6f24",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4544,
          1520
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "164aff4f-d7f7-4b9b-931f-116ed0a47c41",
        "name": "Sticky Note 5917ba53",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3168,
          1168
        ]
      },
      {
        "parameters": {
          "content": "# Deletion request\n\n",
          "height": 544,
          "width": 752,
          "color": 7
        },
        "id": "e2a3fdff-59ea-4d06-bbe3-aa78f108eea4",
        "name": "Sticky Note 9083a99a",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4544,
          896
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Category: Cancellation > account removal\n## Macro: account deletion",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "id": "f18cb421-924c-4826-84dc-ba61fc31afae",
        "name": "Sticky Note 6d510d4f",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          4928,
          1184
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You classify customer support messages to determine whether the message contains an explicit account deletion request.\n\nPOSITIVE CASE — output true:\nThe customer must use clear, direct language requesting account deletion. Examples of qualifying phrases (similar phrases still apply):\n\"delete my account\"\n\"I want my account deleted\"\n\"please delete my account\"\n\"delete my data and account\"\n\"I'd like you to delete my account\"\n\nNEGATIVE CASE — output false — for ALL of the following:\nCancellation requests (\"cancel my account\", \"cancel my subscription\")\nGeneral frustration or complaints without explicit deletion language\nRefund requests\n\nSTRICT RULES:\n\nThe word \"delete\" must appear explicitly in reference to the account\nCancellation alone does NOT qualify\nDo NOT infer deletion intent from context, tone, or frustration\nIf the message is ambiguous or deletion is only implied, output false\n\nOUTPUT FORMAT:\nRespond only with valid JSON. No explanation.\n{\"is_delete_request\": true}\nor\n{\"is_delete_request\": false}"
              },
              {
                "content": "=Customer support ticket title:  {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\nmessage: {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "482cd0d4-be4e-494f-9db4-707535846f5b",
        "name": "Detect deletion requests",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          3904,
          1328
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "bQD6zQs1hpwjq71p",
            "name": "myimage-prod-n8n-automation"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "93c52723-97ad-4faf-8894-ccbad28cf18d",
                "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                "rightValue": "o",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3616,
          672
        ],
        "id": "974882ff-2b3a-480a-93ae-64f8a18802a2",
        "name": "Is not other request"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You are an information extraction system for customer support messages.\n\nAnalyze the customer support message and extract the customer's email address if one is explicitly provided.\n\nReturn only a JSON object that matches the provided schema.\n\nRules:\n- The output must contain exactly one key: customer_email.\n- If the customer message contains a valid email address, set customer_email to that email address as a string.\n- If the customer message does not contain a valid email address, set customer_email to \"none\".\n- Do not include markdown, explanations, comments, or extra text.\n- Do not guess, infer, reconstruct, or fabricate an email address.\n- If multiple valid email addresses are present return \"none\"\n- If the message contains forwarded content (often labelled with \"Forwarded message\") disregard everything that comes after that and only consider the content before it in the classification\n"
              },
              {
                "content": "=Customer message: {{ $('Aggregate').item.json.data[0].original_ticket_content.description }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_schema",
                "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_email\": {\n      \"anyOf\": [\n        {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        {\n          \"type\": \"string\",\n          \"const\": \"none\"\n        }\n      ]\n    }\n  },\n  \"required\": [\"customer_email\"],\n  \"additionalProperties\": false\n}"
              }
            }
          }
        },
        "id": "3c1a5dd0-0396-4f1a-a29d-bf92de198ceb",
        "name": "Email extraction",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          6768,
          1120
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "bQD6zQs1hpwjq71p",
            "name": "myimage-prod-n8n-automation"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ad764505-ca67-496d-a35c-6e072f88f530",
                "leftValue": "={{ $json.output[0].content[0].text.customer_email }}",
                "rightValue": "none",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "4238bcf2-5d10-4697-abdf-aa91d1ff39b2",
        "name": "is email provided",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          7136,
          1120
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "search",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "email",
                "value": "={{ $json.output[0].content[0].text.customer_email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "41273c5f-d576-4d54-b2bc-ce574312bd56",
        "name": "Edit Fields2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          7632,
          880
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "e1079e4c-10c1-40fc-b0c1-1e3d5886bffd",
        "name": "DEV bot/search1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          8080,
          880
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "178cdfe5-8d8d-432a-b369-ebf5e0948a9d",
                      "leftValue": "={{ $json.statusCode }}",
                      "rightValue": 200,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "User exists"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.error.status }}",
                      "rightValue": 404,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      },
                      "id": "d278fca3-f6ab-4b72-b249-442fc776835e"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Doesn't exist"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "3cb52045-f2d8-4770-96b9-206eb9f56a85",
                      "leftValue": "={{ $json.error.status }}",
                      "rightValue": 404,
                      "operator": {
                        "type": "number",
                        "operation": "notEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Fallback"
              }
            ]
          },
          "options": {}
        },
        "id": "4c135fac-3b2e-46ac-bda2-218173a702e5",
        "name": "Response code switch1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          8304,
          880
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0e7950e0-065c-4639-9536-ade0c311d4f8",
                      "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "r",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Refunds"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $(\"Ticket classification1\").item.json.output[0].content[0].logprobs[0].token }}",
                      "rightValue": "c",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "327f161d-a756-4264-b443-bde173322d43"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cancellations"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "9c9957eb-7f52-4815-bc44-37f75a3e5362",
        "name": "Split requests by type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          8832,
          480
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.description.replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\",\n    \"ticket_url\": \"{{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $item(\"0\").$node[\"Email extraction\"].json[\"output\"][\"0\"][\"content\"][\"0\"][\"text\"][\"customer_email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\": {{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $(\"Aggregate\").item.json.data[0].translated_data.translations.description.replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\"\n    }\n  }\n}",
          "options": {}
        },
        "id": "b9024f66-551b-4bc9-aed6-f73579d07da7",
        "name": "Set request data test4",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          9280,
          272
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
                "name": "subscriptionId",
                "value": "={{ $json.body.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
                "name": "ticketID",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
                "name": "isTranslated",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
                "name": "originalLanguage",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "653ba9be-d70c-4ebe-83db-74615e5379f4",
        "name": "Set request data test5",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          9280,
          480
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "fZGH0F77KLSf9QjP",
            "mode": "list",
            "cachedResultUrl": "/workflow/fZGH0F77KLSf9QjP",
            "cachedResultName": "Operations Department — MyImage prod - Refund requests flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "cc769966-9491-444b-ab6b-823a99043a53",
        "name": "Call 'CS - Refund requests flow [Template]'1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          9504,
          272
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xqdwdwgSugEDLpo8",
            "mode": "list",
            "cachedResultUrl": "/workflow/xqdwdwgSugEDLpo8",
            "cachedResultName": "Operations Department — MyImage prod - Cancellation flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "c149423b-e173-4c15-8152-9b66b608d0bf",
        "name": "Call 'CS - Cancellation request [Template]'2",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          9504,
          480
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "964820c2-c42b-4684-a248-e353121dc9f7",
                "leftValue": "={{ $json.proceedWithAutomation }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -208,
          704
        ],
        "id": "f9d1e50f-3b21-4bfe-b795-d0eb3d36b306",
        "name": "Passed eligibility?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $(\"Aggregate\").item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_password_account_info_id }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_pending_id }}",
                "type": "number"
              },
              {
                "id": "8da77562-74be-4f42-bce8-57687feb07dc",
                "name": "ticketCustomFieldID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_field_category }}",
                "type": "number"
              },
              {
                "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
                "name": "ticketCustomFieldValue",
                "value": "={{ $(\"Get Project Config\").first().json.category_value_password_account_info }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "f2785ea4-55e7-4080-8c3a-f7359a0c1b66",
        "name": "Edit Fields3",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          8896,
          1488
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "QF0oprwk7fxKD23d",
            "mode": "list",
            "cachedResultUrl": "/workflow/QF0oprwk7fxKD23d",
            "cachedResultName": "Operations Department — MyImage prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "8291e035-9749-4eb7-9dd8-3effd3d3f00e",
        "name": "Update zendesk ticket",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          9120,
          1488
        ]
      },
      {
        "parameters": {
          "content": "# User doesn't exist - single\n\n",
          "height": 544,
          "width": 816,
          "color": 7
        },
        "id": "0cb51e69-8039-438c-8ab4-2fcab46856cb",
        "name": "Sticky Note b4e65ed",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          8832,
          1360
        ]
      },
      {
        "parameters": {
          "content": "## Status: pending\n## Category: pass and acc info\n## Macro: acc details",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "817fc6c5-bc67-4537-8856-b3e00fe96c54",
        "name": "Sticky Note 0ef2a",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          9344,
          1680
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "709b4c6d-4801-4725-906e-573ed614d7c9",
                "leftValue": "={{ $json.body.subscriptionId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          6896,
          144
        ],
        "id": "e4435a05-1ab9-4657-9c48-d955ea46a192",
        "name": "subscriptionId exists"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: \nCustomer's subscription status is INITIAL or INCOMPLETE, which means the user didn't complete the first payment. There's no subscription to cancel there, the subscription has not been created yet. The customer either abandoned payment process or failed to pay.\n\nPlease take over this request manually. \n"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "66bf3946-6233-4c7b-9df8-9b32933c512b",
        "name": "Reply to internally and set status to open3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          7152,
          544
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "content": "# User exists but doesn't have a subscrption\n",
          "height": 368,
          "width": 352,
          "color": 7
        },
        "id": "2f67a87b-1474-48b5-b586-97aba053a7ff",
        "name": "Sticky Note 0304fa",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          7104,
          368
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" +  $node[\"Webhook\"].json[\"body\"][\"ticket.id\"] }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_field_allow_automation }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "=_yes_"
              }
            ]
          },
          "options": {}
        },
        "id": "82371cf1-2b44-457e-9cf2-b39e93f13395",
        "name": "set Allow automation to yes",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          480,
          832
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          720,
          704
        ],
        "id": "a2359b90-6a2a-4a64-abf6-b555a01b495c",
        "name": "Merge1"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" +  $node[\"Webhook\"].json[\"body\"][\"ticket.id\"] }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_field_allow_automation }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "=_no_"
              }
            ]
          },
          "options": {}
        },
        "id": "2fea1479-59c2-4334-8380-3c0a9c540e5d",
        "name": "set Allow automation to no",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3136,
          976
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" +  $node[\"Webhook\"].json[\"body\"][\"ticket.id\"] }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_field_allow_automation }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "=_no_"
              }
            ]
          },
          "options": {}
        },
        "id": "c4f681e6-4181-4bc4-9aeb-346149d39f6b",
        "name": "set Allow automation to no1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4864,
          1600
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" +  $node[\"Webhook\"].json[\"body\"][\"ticket.id\"] }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.custom_fields.id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_field_allow_automation }}"
              },
              {
                "name": "ticket.custom_fields.value",
                "value": "=_no_"
              }
            ]
          },
          "options": {}
        },
        "id": "e3bb0db9-f1be-43ab-b272-4e35fe8ec03f",
        "name": "set Allow automation to no2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          7008,
          1808
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "ATjr6T9YGTW2r3go",
            "name": "MyImage prod Zendesk account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "fZGH0F77KLSf9QjP",
            "mode": "list",
            "cachedResultUrl": "/workflow/fZGH0F77KLSf9QjP",
            "cachedResultName": "Operations Department — MyImage prod - Refund requests flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "6fc9dc2b-d95a-4356-9597-8491b79e63c4",
        "name": "Call 'MyImage prod - Refund requests flow'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          8208,
          -384
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xqdwdwgSugEDLpo8",
            "mode": "list",
            "cachedResultUrl": "/workflow/xqdwdwgSugEDLpo8",
            "cachedResultName": "Operations Department — MyImage prod - Cancellation flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "0ce4d925-a4c0-4065-9ce3-b4be37bee870",
        "name": "Call 'MyImage prod - Cancellation flow'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          8208,
          -192
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "QF0oprwk7fxKD23d",
            "mode": "list",
            "cachedResultUrl": "/workflow/QF0oprwk7fxKD23d",
            "cachedResultName": "Operations Department — MyImage prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "cbea3a3c-e377-49c7-9379-a50a89ec4d87",
        "name": "Call 'MyImage prod - Zendesk ticket update request'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4816,
          992
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "KmB0MYwl9wAhsN79",
            "mode": "list",
            "cachedResultUrl": "/workflow/KmB0MYwl9wAhsN79",
            "cachedResultName": "Operations Department — MyImage prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "b99bb5f6-fc41-4f2b-acfa-d6b15065ece2",
        "name": "Call 'MyImage prod - HMAC'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          7856,
          880
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "k53xyMTi80JyJrSM",
            "mode": "list",
            "cachedResultUrl": "/workflow/k53xyMTi80JyJrSM",
            "cachedResultName": "Operations Department — MyImage prod - User eligibility check"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -448,
          704
        ],
        "id": "bd4c6f1a-d76b-4e69-bb6d-709fb8b1789c",
        "name": "Call 'MyImage prod - User eligibility check'"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "7dae7938-dc25-4985-9213-1373f1ff2bec",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -704,
          704
        ],
        "id": "465d1892-df25-43f6-8d22-14beed5cac15",
        "name": "Webhook",
        "webhookId": "7dae7938-dc25-4985-9213-1373f1ff2bec"
      }
    ],
    "connections": {
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "set Allow automation to yes",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check ticket language1": {
        "main": [
          [
            {
              "node": "Translate ticket to english1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set request data test2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Check ticket language1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Translate ticket to english1": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set translated request data test1": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Ticket classification1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test2": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ticket classification1": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Confidence level above defined level1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confidence level above defined level1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Set automation classification1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set automation classification1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Is not other request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'1": {
        "main": [
          [
            {
              "node": "DEV bot/search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/search": {
        "main": [
          [
            {
              "node": "Response code switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Response code switch": {
        "main": [
          [
            {
              "node": "subscriptionId exists",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Email extraction",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split requests by type1": {
        "main": [
          [
            {
              "node": "Set request data test",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set request data test1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test": {
        "main": [
          [
            {
              "node": "Call 'MyImage prod - Refund requests flow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test1": {
        "main": [
          [
            {
              "node": "Call 'MyImage prod - Cancellation flow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is deletion request": {
        "main": [
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields8": {
        "main": [
          [
            {
              "node": "Call 'MyImage prod - Zendesk ticket update request'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Update zendesk ticket1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect deletion requests": {
        "main": [
          [
            {
              "node": "Is deletion request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is not other request": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Detect deletion requests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email extraction": {
        "main": [
          [
            {
              "node": "is email provided",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "is email provided": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Call 'MyImage prod - HMAC'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/search1": {
        "main": [
          [
            {
              "node": "Response code switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Response code switch1": {
        "main": [
          [
            {
              "node": "Split requests by type",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split requests by type": {
        "main": [
          [
            {
              "node": "Set request data test4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set request data test5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test4": {
        "main": [
          [
            {
              "node": "Call 'CS - Refund requests flow [Template]'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test5": {
        "main": [
          [
            {
              "node": "Call 'CS - Cancellation request [Template]'2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Passed eligibility?": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Update zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "subscriptionId exists": {
        "main": [
          [
            {
              "node": "Split requests by type1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set Allow automation to yes": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Check ticket language1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to internally and set status to open": {
        "main": [
          [
            {
              "node": "set Allow automation to no",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to internally and set status to open1": {
        "main": [
          [
            {
              "node": "set Allow automation to no1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to internally and set status to open2": {
        "main": [
          [
            {
              "node": "set Allow automation to no2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'MyImage prod - HMAC'": {
        "main": [
          [
            {
              "node": "DEV bot/search1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'MyImage prod - User eligibility check'": {
        "main": [
          [
            {
              "node": "Passed eligibility?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Call 'MyImage prod - User eligibility check'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 0618b680",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-22T14:12:48.586Z",
        "id": 1235,
        "workflowId": "EnfZEB3IUB0qqedg",
        "versionId": "0618b680-da37-49ef-9608-9eadea641cf6",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}