workflows/OD_-_Time_approval_reminder_subworkflow__qcbTuRdnIU2dcN6M.json
{
  "updatedAt": "2026-01-13T14:02:58.464Z",
  "createdAt": "2026-01-13T12:43:06.533Z",
  "id": "qcbTuRdnIU2dcN6M",
  "name": "OD - Time approval reminder subworkflow",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.tempo.io/4/timesheet-approvals/team/{{ $json.departmentId }}?from={{ $json.date }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -752,
        -8
      ],
      "id": "7f51baee-953f-4641-bf91-2d7ee06295c6",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -528,
        -104
      ],
      "id": "8a92a0c0-597f-45f5-ac4d-50d786b5c5a2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.user.self }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        -176
      ],
      "id": "bc3803c0-3131-4abc-b392-eb81aeae3024",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "C9vZX5ia4sY9xHfI",
          "name": "Jira API Antonio token"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "accountId",
              "field2": "user.accountId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        -104
      ],
      "id": "af757474-162a-4f1b-98b4-69036f187ef8",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "displayName",
              "separateBy": "other",
              "customSeparator": "={{\"\\n\"}} - "
            }
          ]
        },
        "fieldsToSplitBy": "status.key",
        "options": {
          "outputFormat": "singleItem"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        368,
        -104
      ],
      "id": "bd565047-90d7-41a5-8c33-72fa01baaec0",
      "name": "Summarize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c812df90-ca8e-49f2-a179-55b6805152eb",
              "leftValue": "={{ $json.status.key }}",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -304,
        -104
      ],
      "id": "06e6d725-2207-49ff-a4b5-f6a70bf21c0c",
      "name": "Filter"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -976,
        -8
      ],
      "id": "be3ba7ea-d86b-49a9-ad75-fdf9bc80277e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        -8
      ],
      "id": "c6dffdb3-6b3e-4446-843c-c58a6f16303e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "results[0].period.from"
            },
            {
              "fieldToAggregate": "results[0].period.to"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        368,
        112
      ],
      "id": "f4561ce1-4f1e-4261-8e94-ab0f2776cfc7",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "date": "2026-01-06",
          "departmentId": "4"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "e9f73097-3d95-4c81-9a9c-371cab4babd4",
  "activeVersionId": "e9f73097-3d95-4c81-9a9c-371cab4babd4",
  "versionCounter": 42,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-13T12:43:06.535Z",
      "createdAt": "2026-01-13T12:43:06.535Z",
      "role": "workflow:owner",
      "workflowId": "qcbTuRdnIU2dcN6M",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-13T14:03:00.000Z",
    "createdAt": "2026-01-13T14:02:58.466Z",
    "versionId": "e9f73097-3d95-4c81-9a9c-371cab4babd4",
    "workflowId": "qcbTuRdnIU2dcN6M",
    "nodes": [
      {
        "parameters": {
          "url": "=https://api.tempo.io/4/timesheet-approvals/team/{{ $json.departmentId }}?from={{ $json.date }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -752,
          -8
        ],
        "id": "7f51baee-953f-4641-bf91-2d7ee06295c6",
        "name": "HTTP Request",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "results",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -528,
          -104
        ],
        "id": "8a92a0c0-597f-45f5-ac4d-50d786b5c5a2",
        "name": "Split Out"
      },
      {
        "parameters": {
          "url": "={{ $json.user.self }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -80,
          -176
        ],
        "id": "bc3803c0-3131-4abc-b392-eb81aeae3024",
        "name": "HTTP Request1",
        "credentials": {
          "httpBearerAuth": {
            "id": "KXgNEXs8ctWViAMV",
            "name": "Tempo API Antonio token"
          },
          "httpBasicAuth": {
            "id": "C9vZX5ia4sY9xHfI",
            "name": "Jira API Antonio token"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "accountId",
                "field2": "user.accountId"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          144,
          -104
        ],
        "id": "af757474-162a-4f1b-98b4-69036f187ef8",
        "name": "Merge"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "displayName",
                "separateBy": "other",
                "customSeparator": "={{\"\\n\"}} - "
              }
            ]
          },
          "fieldsToSplitBy": "status.key",
          "options": {
            "outputFormat": "singleItem"
          }
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          368,
          -104
        ],
        "id": "bd565047-90d7-41a5-8c33-72fa01baaec0",
        "name": "Summarize"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c812df90-ca8e-49f2-a179-55b6805152eb",
                "leftValue": "={{ $json.status.key }}",
                "rightValue": "APPROVED",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -304,
          -104
        ],
        "id": "06e6d725-2207-49ff-a4b5-f6a70bf21c0c",
        "name": "Filter"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -976,
          -8
        ],
        "id": "be3ba7ea-d86b-49a9-ad75-fdf9bc80277e",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          592,
          -8
        ],
        "id": "c6dffdb3-6b3e-4446-843c-c58a6f16303e",
        "name": "Merge1"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "results[0].period.from"
              },
              {
                "fieldToAggregate": "results[0].period.to"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          368,
          112
        ],
        "id": "f4561ce1-4f1e-4261-8e94-ab0f2776cfc7",
        "name": "Aggregate"
      }
    ],
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            },
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version e9f73097",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-13T14:03:00.306Z",
        "id": 52,
        "workflowId": "qcbTuRdnIU2dcN6M",
        "versionId": "e9f73097-3d95-4c81-9a9c-371cab4babd4",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}