workflows/OneDrive_invoice_processing_-_Maria__6CzMrY47nghgc9Up.json
{
  "updatedAt": "2025-12-18T12:47:56.000Z",
  "createdAt": "2025-10-21T12:22:34.501Z",
  "id": "6CzMrY47nghgc9Up",
  "name": "OneDrive invoice processing -  Maria",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Here is the invoice:  {{ $json.text }}"
            },
            {
              "content": "You are an Al assistant that extracts structured data from invoices for entry into a Google Sheets database. The invoices can come from any vendor or business type (e.g., cleaners, IT suppliers,consultants, utility bills, etc.)\n\n## TASK\nExtract the following fields from the invoice text input. Return the output as a valid JSON object inside a markdown code block.\n\n## NOTE ON PROJECTS\nInvoices might contain multiple items and/or charges for multiple projects. \nProjects can be identified by\nProjects full name (project shorthand in brackets): \n1) AI Checker or UniCopy (AI)\n2) IQ Test (IQ)\n3) LoveLanguage (LL) \n4) Mobitrace (MT) \n5) MyImage or Background Remover (MY)\n5) MyQRCode (QR) \n6) PDF Editor or PDF Help (PDF)\n7) Personality or Enneagram (PT) \n8) ResumeWise (RW) \n9) WAPP (WP) \n10) VIN Checker (VC)\n\nProject shorthand: MY, PT, QR, PDF, WP, UC, AI, MT, RW \nProject shorthand is usually followed by a date (not necessarily in ISO format). For example\n- PT170425\n- PT 170425\n- PT_170425\nThis is not to be confused with the abbreviation for e.g. Portuguese (PT) which would not be followed by a date. \n\nWhen you extract the project unify the names in the output as follows:\n1) AI Checker or UniCopy (AI) = UniCopy\n2) IQ Test (IQ)= IQ Test\n3) LoveLanguage (LL)= LoveLanguage\n4) Mobitrace (MT) = Mobitrace\n5) MyImage or Background Remover (MY) = MyImage\n5) MyQRCode (QR) = My QR Code\n6) PDF Editor or PDF Help (PDF) = PDF Helo\n7) Personality or Enneagram (PT) or PERSO= Personality\n8) ResumeWise (RW) = ResumeWise\n9) WAPP (WP) = WAPP\n10) VIN Checker (VC) = VIN Checker\n\n\n## OUTPUT \nIf the invoice contains line items for multiple projects then the output should a JSON object for each project. If the invoice contains items for 3 projects then the output is 3 JSON objects. If the invoice regards only one project then the output is a single JSON object. \nEach output should contain the information below\n\n{\n\"invoice_number\": string,\n\"vendor\": string,\n\"date_sent\": YYYY-MM-DD,\n\"due_date\": YYYY-MM-DD ,\n\"description\": string, // Group line items into for each project into one string (e-g. '2x keyboards, 1x monitor')\n\"project\": string, // Full project name.  If no project nam is specified the value should be \"Not classified\" \n\"subtotal\": number, // Sum per project \n\"tax\": number,\n\"total\": number,\n\"currency\": string, // USD, EUR, etc. \n\"card\": number, // Last 4 digits of the credit card if available on the invoice, otherwise null\n\"company\": string, // Company name if mentioned, otherwise null\n\"status\": \"Paid\" | \"Unpaid\" | \"Overdue\" | null\n}\n\n## RULES\nIf any value is not available or clearly shown, return null for that field.\nAlways format the JSON inside a single code block.\nDates must be ISO format (YYYY-MM-DD) \nDo not include any explanations or additional text outside the code block.",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -272,
        -1072
      ],
      "id": "cf6275db-edb5-4a98-bf8d-5fbac361e8b8",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "yra2iG8pnmCKhZIc",
          "name": "Futuremedia - n8n project"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01O3V7XRRAJX7CMWTLUFFLMM2WZWDQOLHB",
          "mode": "list",
          "cachedResultName": "i18n_invoice_tracker",
          "cachedResultUrl": "https://efuturemedia-my.sharepoint.com/personal/maria_efuturemedia_com/_layouts/15/Doc.aspx?sourcedoc=%7B26FE4D20-6B5A-4AA1-B633-56CD87072CE1%7D&file=i18n_invoice_tracker.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://efuturemedia-my.sharepoint.com/personal/antonio_marusic_efuturemedia_com/_layouts/15/Doc.aspx?sourcedoc=%7B8074C89D-C788-4BBE-8D80-40D8EC16B32B%7D&file=n8n%20invoices%20test.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!A1"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "Invoice Number",
              "fieldValue": "={{ $json.choices[0].message.content.invoice_number || \"Not classified\" }}"
            },
            {
              "column": "Vendor",
              "fieldValue": "={{ $json.choices[0].message.content.vendor || \"Not classified\" }}"
            },
            {
              "column": "Date Sent",
              "fieldValue": "={{ $json.choices[0].message.content.date_sent || \"Not classified\" }}"
            },
            {
              "column": "Due Date",
              "fieldValue": "={{ $json.choices[0].message.content.due_date || \"Not classified\" }}"
            },
            {
              "column": "Description",
              "fieldValue": "={{ $json.choices[0].message.content.description || \"Not classified\" }}"
            },
            {
              "column": "Subtotal",
              "fieldValue": "={{ $json.choices[0].message.content.subtotal || \"Not classified\" }}"
            },
            {
              "column": "Tax",
              "fieldValue": "={{ $json.choices[0].message.content.tax || \"Not classified\" }}"
            },
            {
              "column": "Total",
              "fieldValue": "={{ $json.choices[0].message.content.total || \"Not classified\" }}"
            },
            {
              "column": "Status",
              "fieldValue": "={{ $json.choices[0].message.content.status || \"Not classified\" }}"
            },
            {
              "column": "CC info",
              "fieldValue": "={{ $json.choices[0].message.content.card || \"Not classified\" }}"
            },
            {
              "column": "Project",
              "fieldValue": "={{ $json.choices[0].message.content.project || \"Not classified\" }}"
            },
            {
              "column": "Company",
              "fieldValue": "={{ $json.choices[0].message.content.company || \"Not classified\" }}"
            },
            {
              "column": "WebLink",
              "fieldValue": "={{ $('Microsoft OneDrive Trigger1').item.json.webUrl || \"Not classified\" }}"
            },
            {
              "column": "Currency",
              "fieldValue": "={{ $json.choices[0].message.content.currency || \"Not classified\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        304,
        -976
      ],
      "id": "90cd3725-0861-4824-a21d-f7ae72adea16",
      "name": "Append data to sheet",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "pXo8pVMRoIZNaopU",
          "name": "Microsoft Excel account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -496,
        -1072
      ],
      "id": "ffd42209-334f-44d8-bf02-bbf18aa46f3a",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -720,
        -1072
      ],
      "id": "95d95616-1954-472b-ab0f-ce54a6c80c9c",
      "name": "Download a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "QCA5rX8Iyd1rbChu",
          "name": "Microsoft Drive - Maria Sica account"
        }
      }
    },
    {
      "parameters": {
        "content": "Note: there's no 'receipt' filter, this workflow relies on the user knowing what they're doing",
        "height": 224,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        -608
      ],
      "typeVersion": 1,
      "id": "5786e021-a371-4b81-be19-e8be5f00ae1f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst documentIds = items.map((item) => item?.json?.id);\nreturn { documentIds };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -880
      ],
      "id": "1ec326f2-175e-4034-8682-91fc19986696",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93194ddb-92b5-425a-ae45-c5dda465bb5b",
              "leftValue": "={{ $json.choices[0].message.content.invoices }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -1072
      ],
      "id": "329351cf-1c37-4fcb-afc1-25c7be5095de",
      "name": "If"
    },
    {
      "parameters": {
        "fieldToSplitOut": "choices[0].message.content.invoices",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        -1168
      ],
      "id": "d3e43fa4-3677-4a2c-b6af-e7c99e8ae941",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "append",
        "workbook": {
          "__rl": true,
          "value": "01O3V7XRRAJX7CMWTLUFFLMM2WZWDQOLHB",
          "mode": "list",
          "cachedResultName": "i18n_invoice_tracker",
          "cachedResultUrl": "https://efuturemedia-my.sharepoint.com/personal/maria_efuturemedia_com/_layouts/15/Doc.aspx?sourcedoc=%7B26FE4D20-6B5A-4AA1-B633-56CD87072CE1%7D&file=i18n_invoice_tracker.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://efuturemedia-my.sharepoint.com/personal/antonio_marusic_efuturemedia_com/_layouts/15/Doc.aspx?sourcedoc=%7B8074C89D-C788-4BBE-8D80-40D8EC16B32B%7D&file=n8n%20invoices%20test.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!A1"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "Invoice Number",
              "fieldValue": "={{ $json.invoice_number }}"
            },
            {
              "column": "Vendor",
              "fieldValue": "={{ $json.vendor }}"
            },
            {
              "column": "Date Sent",
              "fieldValue": "={{ $json.date_sent }}"
            },
            {
              "column": "Due Date",
              "fieldValue": "={{ $json.due_date }}"
            },
            {
              "column": "Description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "column": "Subtotal",
              "fieldValue": "={{ $json.subtotal }}"
            },
            {
              "column": "Tax",
              "fieldValue": "={{ $json.tax }}"
            },
            {
              "column": "Total",
              "fieldValue": "={{ $json.total }}"
            },
            {
              "column": "Status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "column": "CC info",
              "fieldValue": "={{ $json.card }}"
            },
            {
              "column": "Project",
              "fieldValue": "={{ $json.project }}"
            },
            {
              "column": "Company",
              "fieldValue": "={{ $json.company }}"
            },
            {
              "column": "WebLink",
              "fieldValue": "={{ $('Microsoft OneDrive Trigger1').item.json.webUrl }}"
            },
            {
              "column": "Currency",
              "fieldValue": "={{ $json.currency }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        528,
        -1168
      ],
      "id": "fc5a0e6c-9794-4486-b764-c4fc75c0a33a",
      "name": "Append data to sheet1",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "pXo8pVMRoIZNaopU",
          "name": "Microsoft Excel account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "watchFolder": true,
        "folderId": {
          "__rl": true,
          "value": "01O3V7XRX52OUVYZZ7TRDKAY3YMVQOAZRF",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOneDriveTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -976
      ],
      "id": "f20a8804-c54f-44db-b097-66b7f3bf660d",
      "name": "Microsoft OneDrive Trigger1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "QCA5rX8Iyd1rbChu",
          "name": "Microsoft Drive - Maria Sica account"
        }
      }
    }
  ],
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append data to sheet": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append data to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append data to sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive Trigger1": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "QzwinCVQAJOMqjh2",
    "timeSavedPerExecution": 2
  },
  "staticData": {
    "node:Microsoft OneDrive Trigger": {
      "LastLink": "https://graph.microsoft.com/v1.0/me/drive/root/delta?token=NDslMjM0OyUyMzE7MzsyYTFmM2YxZi1jMDU2LTRlNmQtYTEwOC1hNTRiYWNkNmE2ZDk7NjM4OTYwNjYwNjU3NDAwMDAwOzExODY2MjQ3Mjk7JTIzOyUyMzslMjMwOyUyMw",
      "lastTimeChecked": "2025-10-14T19:14:25.755Z"
    },
    "node:Microsoft OneDrive Trigger1": {
      "LastLink": "https://graph.microsoft.com/v1.0/me/drive/root/delta?token=NDslMjM0OyUyMzE7MztlYWRkY2E4Zi04ODQ4LTQ4NDctODAzZC0xMWE1NDg2ZWYzYTk7NjM5MDIzNDAyNDQxMTcwMDAwOzEyMjQ1NTYzMTc7JTIzOyUyMzslMjMwOyUyMw",
      "lastTimeChecked": "2025-12-26T10:04:04.015Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "26b556d0-674f-4903-a27a-05922a0bb3cb",
  "activeVersionId": null,
  "versionCounter": 40,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-21T12:23:07.281Z",
      "createdAt": "2025-10-21T12:23:07.281Z",
      "role": "workflow:owner",
      "workflowId": "6CzMrY47nghgc9Up",
      "projectId": "dEuUcqimhxflYu8w",
      "project": {
        "updatedAt": "2025-09-16T09:09:05.000Z",
        "createdAt": "2025-09-16T08:57:53.831Z",
        "id": "dEuUcqimhxflYu8w",
        "name": "Internationalization ",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}