workflows/PE_prod_-_Zendesk_tickets_main_automation_flow__gPgJOWibADarag73.json
{
  "updatedAt": "2026-04-30T11:20:08.283Z",
  "createdAt": "2026-04-29T08:18:29.638Z",
  "id": "gPgJOWibADarag73",
  "name": "PE prod - Zendesk tickets main automation flow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1792,
        640
      ],
      "id": "50f9b8cf-7c46-4983-a598-7e22948607f0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ev7hSxE5tHBMsP3P",
          "name": "Perso prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0e7950e0-065c-4639-9536-ade0c311d4f8",
                    "leftValue": "={{ $('Ticket classification1').item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "r",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Refunds"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Ticket classification1').item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "327f161d-a756-4264-b443-bde173322d43"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancellations"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3bf783b-e6cf-49ec-8f20-1e45d278421d",
                    "leftValue": "={{ $('Ticket classification1').item.json.output[0].content[0].logprobs[0].token }}",
                    "rightValue": "o",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1568,
        288
      ],
      "id": "00eac927-34e5-4d06-ab15-28d71095bd68",
      "name": "Split requests by type1"
    },
    {
      "parameters": {
        "inputText": "={{ $('Zendesk Trigger').item.json[\"ticket.description\"] }}",
        "categories": {
          "categories": [
            {
              "category": "Text is not in English"
            },
            {
              "category": "Text is in English"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1888,
        464
      ],
      "id": "60b5d97e-a29d-4131-8a4c-285f37a42e59",
      "name": "Check ticket language1",
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=ft:gpt-4.1-2025-04-14:futuremedia:fine-tuning-dataset-5:D8ZgqXxP",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You analyze customer support messages and classify them into exactly one of the following categories based only on the user’s written message\n\nCATEGORIES:\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, or mentions being charged and wanting the charge undone.  \nThis includes refund requests even if the customer also requests cancelling or closing their account in addition to the refund.\n\nCancellations  (c)\nUse this category if the customer is asking to cancel, stop, pause, or end a subscription or account AND does NOT request money back.\n\nOther  (o)\nUse this category for all other messages, including:\nproduct questions\nfeature requests\naccount access issues\ncomplaints without a refund or cancellation request\nunclear or ambiguous messages\nharassment or threatening, in this case the “other” category is considered as refusing to classify the ticket\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\nc = Cancellations\no = Other\n\nDo not explain your reasoning. Output only the letter.\n"
            },
            {
              "content": "=Customer support ticket title:  {{ $json.data[0].original_ticket_content.title }}\nmessage: {{ $json.data[0].original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "include": [
            "message.output_text.logprobs"
          ],
          "parallelToolCalls": true,
          "topLogprobs": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -816,
        480
      ],
      "id": "bd70658c-9da8-4ef7-818b-74f7acbeedf4",
      "name": "Ticket classification1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Ev7hSxE5tHBMsP3P",
          "name": "Perso prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=Title: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.title\"] }}\nDescription: {{ $item(\"0\").$node[\"Zendesk Trigger\"].json[\"ticket.description\"] }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\n\nYour sole task is to translate user-provided text into English.\n\nRules (must be followed strictly):\n\nTranslate exactly and literally\n\nDo not add, remove, infer, or reinterpret any information\n\nDo not explain, summarize, rephrase, or improve wording\n\nPreserve tone, intent, ambiguity, and emotional content exactly\n\nPreserve formatting, punctuation, emojis, and line breaks\n\nDo not normalize slang, profanity, or errors\n\nIf a term cannot be translated precisely, transliterate it\n\nIf the input is already in English, return it unchanged\n\nIf the input is partially English, translate only the non-English parts\n\nOutput needs to contain:\ntitle: string // translated title, \ndescription: string // translated description,\noriginalTicketLanguage: string // two letter code for the language of the original ticket, must be one of the following: en,es,de,it,fr,pt,nl,sv,pl,da,no,ro,et,id,lv,lt,ms,th,ko. If the detected language doesn't fit any use other_language as the value\n\nNeeds to be formatted as JSON\n\nNo commentary, labels, or notes\n\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object",
              "verbosity": "high"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1552,
        304
      ],
      "id": "f66323aa-ae37-4777-9a2d-f45412619a2d",
      "name": "Translate ticket to english1",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "CYpFhyyLIOdE4dHO",
          "name": "LS prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Zendesk Trigger').item.json[\"ticket.id\"] }},\n    \"title\": \"{{ $('Zendesk Trigger').item.json[\"ticket.title\"] }}\",\n    \"description\": \"{{ $('Zendesk Trigger').item.json[\"ticket.description\"] }}\",\n    \"ticket_url\": \"{{ $('Zendesk Trigger').item.json[\"ticket.url\"] }}\",\n    \"user_email\": \"{{ $('Zendesk Trigger').item.json[\"ticket.requester.email\"] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage || \"en\"}}\",\n    \"is_translated\":{{(()=>{\n  let originalLanguage = $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage;\n  return originalLanguage?true:false;\n})()}},\n    \"translations\": {\n      \"title\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.title || \"\"}}\",\n      \"description\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.description || \"\"}}\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        304
      ],
      "id": "3407d8ae-8fe8-467c-99af-69785ae87446",
      "name": "Set translated request data test1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $json['ticket.id'] }},\n    \"title\": \"{{ $json['ticket.title'] }}\",\n    \"description\": \"{{ $json['ticket.description'].replace(/\\n/g, '\\\\n').replace(/\\r/g, '').replace(/\"/g, '\\\\\"') }}\",\n    \"ticket_url\": \"{{ $json['ticket.url'] }}\",\n    \"user_email\": \"{{ $json['ticket.requester.email'] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\":false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        480
      ],
      "id": "c2019917-ae19-452d-b11e-58a5c407aad3",
      "name": "Set request data test2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -992,
        480
      ],
      "id": "8b066681-66cc-4f6c-b9e7-bed8a6f922e6",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "486e4561-91c4-41df-a2f5-be1d756fe9aa",
              "leftValue": "={{ $json.p_token }}",
              "rightValue": 0.995,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        480
      ],
      "id": "4cc718a4-48dd-436c-a186-0a54fcd7db68",
      "name": "Confidence level above defined level1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://personalitytest.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the confidence level was below the defined threshold in order to proceed. Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "19265567019421"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        864
      ],
      "id": "542d72fd-0e57-400d-a105-a224fc44fb56",
      "name": "Reply to internally and set status to open",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# User doesn't exist\n\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        768
      ],
      "id": "bd698eee-e2c1-4cc4-a44b-d5ff13706fa1",
      "name": "Sticky Note34",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Confidence level too low\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        768
      ],
      "id": "9e239476-c7f2-4b0b-9f36-27420497542f",
      "name": "Sticky Note41",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: pending\n## Category: pass and acc info\n## Macro: acc details",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        1072
      ],
      "id": "2bdc7c36-d16d-458b-bb63-9d960043f928",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        1072
      ],
      "id": "b689aec1-d681-4296-9754-36374e2da9af",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function softmax(logits) {\n  const max = Math.max(...logits);\n  const exps = logits.map(v => Math.exp(v - max));\n  const sum = exps.reduce((a, b) => a + b, 0);\n  return exps.map(v => v / sum);\n}\n\nfunction computeProbabilitiesFromMessages(messagesArray, labels = [\"r\", \"c\", \"o\"]) {\n  if (!Array.isArray(messagesArray) || messagesArray.length === 0) {\n    throw new Error(\"Input must be an array of message objects.\");\n  }\n\n  const msg0 = messagesArray[0];\n  const chunk = msg0?.content?.find(c => c.type === \"output_text\");\n  if (!chunk) throw new Error(\"No output_text chunk found.\");\n\n  const lpEntry = chunk?.logprobs?.[0];\n  if (!lpEntry) throw new Error(\"No logprobs found.\");\n\n  const predicted = String(chunk.text).trim();\n  const logprobPred = lpEntry.logprob;\n\n  // Absolute probability\n  const p_token = Math.exp(logprobPred);\n\n  // Try to compute normalized class probability\n  const top = lpEntry.top_logprobs || [];\n  const labelToLogprob = new Map();\n\n  for (const t of top) {\n    const tok = String(t.token).trim();\n    if (labels.includes(tok)) labelToLogprob.set(tok, t.logprob);\n  }\n\n  if (labels.includes(predicted) && !labelToLogprob.has(predicted)) {\n    labelToLogprob.set(predicted, logprobPred);\n  }\n\n  const available = labels.filter(l => labelToLogprob.has(l));\n\n  let p_class_normalized = null;\n  let class_probs = Object.fromEntries(labels.map(l => [l, null]));\n\n  if (available.length === labels.length) {\n    const logits = labels.map(l => labelToLogprob.get(l));\n    const probs = softmax(logits);\n    labels.forEach((l, i) => (class_probs[l] = probs[i]));\n    p_class_normalized = class_probs[predicted];\n  }\n\n  return {\n    predicted,\n    logprob: logprobPred,\n    p_token,\n    p_class_normalized,\n    class_probs\n  };\n}\n\n// ✅ In \"Run Once for Each Item\" mode:\nconst messagesArray = $json.output;\n\nconst result = computeProbabilitiesFromMessages(messagesArray);\n\n// Return one item\nreturn {\n  json: result\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        480
      ],
      "id": "1016e135-5927-4e6b-acc4-d0773c514390",
      "name": "Code in JavaScript1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://personalitytest.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the request category has been defined as \"other\". Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "19265567019421"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1984,
        864
      ],
      "id": "2cc3c03c-60d8-4b1b-a5cd-93266c489ab2",
      "name": "Reply to internally and set status to open1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Other requests\n",
        "height": 544,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        768
      ],
      "id": "972d7cef-a2a0-45ac-b85b-e27e9c32f1c5",
      "name": "Sticky Note45",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2352,
        1072
      ],
      "id": "cd4f7784-c145-47e6-ae0a-e9345a3eef34",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "content": "# Payment provider not supported \n\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        1344
      ],
      "id": "e87ccb75-91bb-4be5-a84f-ed330fbc9454",
      "name": "Sticky Note35",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://personalitytest.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and the customer in question uses a payment provider that is not automated at this point. Please handle this request manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "19265567019421"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        1440
      ],
      "id": "8ee311ef-a82d-47cf-b52b-49043f078a62",
      "name": "Reply to internally and set status to open2",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "178cdfe5-8d8d-432a-b369-ebf5e0948a9d",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 200,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "User exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 404,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "d278fca3-f6ab-4b72-b249-442fc776835e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doesn't exist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "45037a2b-cfc3-47b2-b04a-e531fda3d967",
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 400,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Provider not supported "
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        304
      ],
      "id": "73088f36-9695-48ae-9cec-86f7d21424b3",
      "name": "Response code switch"
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        1648
      ],
      "id": "378398da-731a-47ce-8644-0bdba34e7bbb",
      "name": "Sticky Note47"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "personalitytest",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 22610158349981,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 19265589362461,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 21549590739229,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "password_and_account_info",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        880
      ],
      "id": "2999c856-5b8a-4bdd-9bfb-e36a8e1c744a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "phidC7rzZ0mpbdLX",
          "mode": "list",
          "cachedResultUrl": "/workflow/phidC7rzZ0mpbdLX",
          "cachedResultName": "Operations Department — PE prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1136,
        880
      ],
      "id": "6194b344-1f50-4880-bd0a-5dd158388586",
      "name": "Update zendesk ticket1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}\",\n    \"payment_provider_account_ID\":\"{{ $json.body.provider.id }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\":{{ $('Aggregate').item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        272
      ],
      "id": "8f27d8d7-d9e2-4c7a-8c3c-86ac0d18f88c",
      "name": "Set request data test"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Search user request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('bot/search2').item.json.error.message }}\n\nTicket information\n- Ticket ID: {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}\n- URL: {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1152,
        2048
      ],
      "id": "7ebb9222-cf7a-4bbe-9791-840cad2d102b",
      "name": "Send a message",
      "webhookId": "19daee20-b72b-420d-9959-a0d7fd78ef2e",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://personalitytest.zendesk.com/api/v2/tickets/{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "=19265567019421"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        2048
      ],
      "id": "bbd111c8-4d6f-40c3-bd3f-0b7961b86825",
      "name": "Reply internally and set status to open1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Fallback error catcher\n",
        "height": 544,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        1920
      ],
      "id": "b237fa96-efd8-4931-a460-79ec26ee910c",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n// Set your values here before running\nconst url = 'https://dev.lovestyle.co/api/payments/v1/bot/search';\nconst bearerToken = 'mnst37vtkNbKoMGlew9dIM3EP7GT2x2vwIN4OdNGNtU=';\nconst totalRequests = 100; \n\nconst requestBody = {\n  email: 'antonioefuturemedia+test18@gmail.com',\n};\n\nconst results = [];\n\nfor (let i = 1; i <= totalRequests; i++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: {\n        Authorization: `Bearer ${bearerToken}`,\n        'Content-Type': 'application/json',\n      },\n      body: requestBody,\n      json: true,\n    });\n\n    results.push({\n      json: {\n        attempt: i,\n        success: true,\n        response,\n      },\n    });\n  } catch (error) {\n    results.push({\n      json: {\n        attempt: i,\n        success: false,\n        error: error.message,\n        details: error.response?.body || null,\n      },\n    });\n\n    // stop execution on first error\n    break;\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        176
      ],
      "id": "0b06055a-a245-496e-a937-bd85edfec2fe",
      "name": "Rate limit tester"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://personality.co/api/payments/v1/bot/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"email\":\"{{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}\"\n\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -128,
        336
      ],
      "id": "db9e6d51-0f46-47ef-ab4e-30df1e9b4438",
      "name": "bot/search2",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "MPEHPHMIO2HJvjdH",
          "name": "Lovestyle MS prod key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        2208
      ],
      "id": "fd11ae6d-4458-4cf0-b3b9-6accff7ec596",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "## IMPORTANT\n\nAfter publishing update Zendesk trigger with \n* Ticket, ticket, is created\n\nWorkflows need to be re-published after updating n8n",
        "height": 224,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2496,
        -16
      ],
      "id": "1521c66b-efb0-4f59-a0d1-c6aa274a7c2b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "subscriptionAlreadyCancelled",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3536,
        1200
      ],
      "id": "7a39572e-ae89-4936-ad64-571c7bcb80b0",
      "name": "Is already cancelled"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "phidC7rzZ0mpbdLX",
          "mode": "list",
          "cachedResultUrl": "/workflow/phidC7rzZ0mpbdLX",
          "cachedResultName": "Operations Department — PE prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4000,
        864
      ],
      "id": "85b278cf-d19c-4b93-b786-e98796a378f1",
      "name": "Update zendesk ticket4"
    },
    {
      "parameters": {
        "content": "# Cancellations\n\n",
        "height": 848,
        "width": 1984,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2864,
        768
      ],
      "id": "5ecdb6e0-3c0f-44f3-a21d-bb5f544f125c",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: customer claims",
        "height": 224,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4224,
        1040
      ],
      "id": "fbcc2f01-2967-4bae-bbf0-f1f5f456add3",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Category: Cancellation > subscription\n## Macro: cancel subs",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4224,
        800
      ],
      "id": "68ec2cbd-6f3a-4b4d-969d-ceb9c8c03a19",
      "name": "Sticky Note51"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "544827e8-eb8c-419e-b2e7-3fb0e6dc0f32",
              "name": "subscriptionID",
              "value": "={{ $('bot/search2').item.json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "abcae689-500d-4ab6-ba56-285a3f848fd1",
              "name": "zendeskDomain",
              "value": "lovestylehelp",
              "type": "string"
            },
            {
              "id": "98de2d14-7c5c-4ea5-819e-05c559d4191b",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "32ca5044-28dd-49a5-9b6e-2c4e809c096b",
              "name": "ticketCustomStatusID",
              "value": 19265567019421,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        880
      ],
      "id": "8d8dda4c-20e9-4049-a1fc-6faaf08d2619",
      "name": "Set refund and cancellation vars"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://personality.co/api/payments/v1/bot/subscriptions/cancel",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriptionId",
              "value": "={{ $json.subscriptionID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3168,
        880
      ],
      "id": "2ca25994-c2d9-49ae-b6e7-0ee0ebc22744",
      "name": "bot/subscription/cancel",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "MPEHPHMIO2HJvjdH",
          "name": "Lovestyle MS prod key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "personalitytest",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 21548773074589,
              "type": "number"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 19265589367453,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 21549590739229,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "cancellation___subscription",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3776,
        864
      ],
      "id": "3a4f50b2-ec1d-40ad-8b06-5d55c4bf0e22",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "personalitytest",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": 33761112242717,
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": 19265589367453,
              "type": "number"
            },
            {
              "id": "8da77562-74be-4f42-bce8-57687feb07dc",
              "name": "ticketCustomFieldID",
              "value": 21549590739229,
              "type": "number"
            },
            {
              "id": "01995528-60a5-45c1-96a7-bfa68ab0a999",
              "name": "ticketCustomFieldValue",
              "value": "cancellation___subscription",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3776,
        1088
      ],
      "id": "f406fe3b-870a-4121-a438-6b2a3f8a5bdc",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('Set refund and cancellation vars').item.json.subscriptionID }}\n- Ticket ID: {{ $('Set refund and cancellation vars').item.json.ticketID }}\n- URL: https://{{ $('Set refund and cancellation vars').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('Set refund and cancellation vars').item.json.ticketID }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        4000,
        1328
      ],
      "id": "db63856d-3cb8-4388-9362-9d0dde314ad2",
      "name": "Send a message1",
      "webhookId": "a1f073c3-b907-45ab-8d3c-aded7e9f71e6",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Set refund and cancellation vars').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('Set refund and cancellation vars').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('Set refund and cancellation vars').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3776,
        1328
      ],
      "id": "0e873d91-7a2f-4764-a375-215a2f2fa89b",
      "name": "Reply internally and set status to open",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        },
        "httpBasicAuth": {
          "id": "EXFRuE0EpqETjkrz",
          "name": "Personality zendesk antonio"
        },
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "phidC7rzZ0mpbdLX",
          "mode": "list",
          "cachedResultUrl": "/workflow/phidC7rzZ0mpbdLX",
          "cachedResultName": "Operations Department — PE prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4016,
        1088
      ],
      "id": "9e3a84f9-3496-407b-8587-e2926b600f01",
      "name": "Update zendesk ticket"
    },
    {
      "parameters": {
        "options": {
          "fields": [
            "ticket.title",
            "ticket.description",
            "ticket.url",
            "ticket.id",
            "ticket.requester.email"
          ]
        },
        "conditions": {
          "all": [
            {
              "value": "new"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        -2192,
        464
      ],
      "id": "eb37d057-d22a-4497-a5c3-a02ea41ad41e",
      "name": "Zendesk Trigger",
      "webhookId": "dedf27e1-04a6-4ffd-afda-2a34a75faf63",
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cTGnzAFC977R3Bn2",
          "mode": "list",
          "cachedResultUrl": "/workflow/cTGnzAFC977R3Bn2",
          "cachedResultName": "Operations Department — PE prod - Refund requests flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2352,
        272
      ],
      "id": "c30a8a88-b84f-4f97-bc7a-7b6492568925",
      "name": "Call 'PE prod - Refund requests flow'"
    },
    {
      "parameters": {
        "content": "## Macros\nAcc details  22610158349981\n\nCancel subs 21548773074589\n\nCustomer claims they cancelled already 33761112242717\n\nUpsell 35702562364189\n\nRefund trial 35702507174941\n\nRefund one charge 35702528266653\n\nRefund two charges 35702549088285\n\nRefund monthly 35702446060445\n\nRefund: Rejection ",
        "height": 352,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2544,
        896
      ],
      "id": "32cad398-ae51-4bd2-8ef5-83268097065e",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check ticket language1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split requests by type1": {
      "main": [
        [
          {
            "node": "Set request data test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set refund and cancellation vars",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ticket language1": {
      "main": [
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket classification1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Ticket classification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence level above defined level1": {
      "main": [
        [
          {
            "node": "bot/search2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Confidence level above defined level1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response code switch": {
      "main": [
        [
          {
            "node": "Split requests by type1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update zendesk ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test": {
      "main": [
        [
          {
            "node": "Call 'PE prod - Refund requests flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot/search2": {
      "main": [
        [
          {
            "node": "Response code switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is already cancelled": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set refund and cancellation vars": {
      "main": [
        [
          {
            "node": "bot/subscription/cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot/subscription/cancel": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is already cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update zendesk ticket4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zendesk Trigger": {
      "main": [
        [
          {
            "node": "Check ticket language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Zendesk Trigger": {
      "webhookSecret": "l3xWUNXQxctmUSHhiq_zO5LXSjKm4MTLKmLSlxiWKew=",
      "webhookId": 27008107615004,
      "targetId": "01KPZ6SWMHYRRS48CQS2AAKVR1"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c47384d7-6fff-4e80-8251-d12171326ed5",
  "activeVersionId": null,
  "versionCounter": 64,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-29T08:18:29.642Z",
      "createdAt": "2026-04-29T08:18:29.642Z",
      "role": "workflow:owner",
      "workflowId": "gPgJOWibADarag73",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    },
    {
      "updatedAt": "2026-04-29T08:17:28.475Z",
      "createdAt": "2026-04-29T08:17:28.475Z",
      "id": "LPw8bOnALJSRx7sJ",
      "name": "PE prod"
    }
  ],
  "activeVersion": null
}