workflows/PE_prod_-_Refund_and_cancellation_request__NItIOKL8nGadK24R.json
{
  "updatedAt": "2026-04-29T12:06:25.461Z",
  "createdAt": "2026-04-29T08:19:41.290Z",
  "id": "NItIOKL8nGadK24R",
  "name": "PE prod - Refund and cancellation request",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        -272
      ],
      "id": "75f04417-93ae-4c6c-a641-726dd7c45e64",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        736,
        144
      ],
      "id": "c8e10ccb-bea0-40e5-845b-807acabc4941",
      "name": "Send a message",
      "webhookId": "f77e031f-0cfa-4fee-a4d8-fb5203c4ed79",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        144
      ],
      "id": "21da427f-50d7-4833-8a63-22d2225e33d6",
      "name": "Reply internally and set status to open1",
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "transactionToRefund",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        48,
        -528
      ],
      "id": "71392021-2405-4d7b-ae2f-15b5ef1aa09c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $('bot/transactions/refund').item.json.id }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        736,
        -320
      ],
      "id": "4a8ce6a3-7418-4541-bfe2-3f9e6c13a96f",
      "name": "Send a message1",
      "webhookId": "284a7f30-bdd0-4da5-8c69-3e4750542b43",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        -320
      ],
      "id": "9e6ad8de-3a1e-43f4-ae53-ead8c605befa",
      "name": "Reply internally and set status to open",
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        736,
        -544
      ],
      "id": "249fb9b7-5829-4126-b39b-f19d0104bc5b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "67c5f655-3c48-4797-979b-4a404492c6c0",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "subscriptionAlreadyCancelled",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        64
      ],
      "id": "c8878659-ecf7-4183-b525-47ac3d0c49b3",
      "name": "Subscription already cancelled"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1632,
        -224
      ],
      "id": "af7ec9c8-8e33-42ed-b4d6-c4dcfdc12eb1",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://personality.co/api/payments/v1/bot/transactions/refund",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transactionId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        -528
      ],
      "id": "a2596dd6-17f6-44d0-81ae-9d86affa7dde",
      "name": "bot/transactions/refund",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://personality.co/api/payments/v1/bot/subscriptions/cancel",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"subscriptionId\":\"{{ $json.subscriptionID }}\",\n\"cancelImmediately\":true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        -32
      ],
      "id": "aee858a2-abd3-479b-ac84-59773030cf25",
      "name": "bot/subscription/cancel",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "bot/subscription/cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "bot/transactions/refund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Subscription already cancelled": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot/transactions/refund": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot/subscription/cancel": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Subscription already cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "677d5476-4141-40c0-9154-f0a1024426dd",
  "activeVersionId": null,
  "versionCounter": 14,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-29T08:19:41.294Z",
      "createdAt": "2026-04-29T08:19:41.294Z",
      "role": "workflow:owner",
      "workflowId": "NItIOKL8nGadK24R",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    },
    {
      "updatedAt": "2026-04-29T08:17:28.475Z",
      "createdAt": "2026-04-29T08:17:28.475Z",
      "id": "LPw8bOnALJSRx7sJ",
      "name": "PE prod"
    }
  ],
  "activeVersion": null
}