workflows/PE_prod_-_Cancellation_request__PcDoEmiieSlmcnag.json
{
  "updatedAt": "2026-04-29T12:04:35.111Z",
  "createdAt": "2026-04-29T08:20:38.449Z",
  "id": "PcDoEmiieSlmcnag",
  "name": "PE prod - Cancellation request",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        0
      ],
      "id": "8eb242e3-7496-462f-93dd-f88c404c19a3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        944,
        288
      ],
      "id": "aca4f1a9-4c75-476c-bcf2-2e9b12bf19c5",
      "name": "Send a message",
      "webhookId": "c2ca33d8-a3f3-4638-8da8-6fdfcc815bf7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/api/v2/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        288
      ],
      "id": "27f40509-f944-48d0-8958-0562fe9d7909",
      "name": "Reply internally and set status to open1",
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://personality.co/api/payments/v1/bot/subscriptions/cancel",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriptionId",
              "value": "={{ $json.subscriptionID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        0
      ],
      "id": "de1510d3-17c7-4b07-afd6-85ce7858f8dc",
      "name": "bot/subscription/cancel",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "KXgNEXs8ctWViAMV",
          "name": "Tempo API Antonio token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        -16
      ],
      "id": "c86de343-6234-430a-9f7d-b1bc29be6ab8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "subscriptionAlreadyCancelled",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        144
      ],
      "id": "b8d080ce-3ca0-404b-9ad0-2105d925272d",
      "name": "Is already cancelled"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "bot/subscription/cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot/subscription/cancel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is already cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is already cancelled": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "binaryMode": "separate",
    "timeSavedPerExecution": 1
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b5921bb2-bd5b-4f55-a4b4-5d32e7e0d6cf",
  "activeVersionId": null,
  "versionCounter": 8,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-29T08:20:38.452Z",
      "createdAt": "2026-04-29T08:20:38.452Z",
      "role": "workflow:owner",
      "workflowId": "PcDoEmiieSlmcnag",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    },
    {
      "updatedAt": "2026-04-29T08:17:28.475Z",
      "createdAt": "2026-04-29T08:17:28.475Z",
      "id": "LPw8bOnALJSRx7sJ",
      "name": "PE prod"
    }
  ],
  "activeVersion": null
}