workflows/PS_prod_-_Refund_and_cancellation_request__ME2YuRVMFuYef5GV.json
{
  "updatedAt": "2026-06-03T10:59:57.920Z",
  "createdAt": "2026-05-27T06:55:18.984Z",
  "id": "ME2YuRVMFuYef5GV",
  "name": "PS prod - Refund and cancellation request",
  "description": "Template version of CS - Refund and cancellation request. Issues both refund and cancellation in parallel from a single ticket. URLs and Slack channel templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "539a5d6f-02c5-4cf3-9b31-d80d6b1ce836",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1536,
        1280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Edit Fields1, Split Out, etc.) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.foo\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
      },
      "id": "8600a152-0bfa-470d-bf4f-6c87ef3b9805",
      "name": "Restore trigger data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        1280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "personality_prod",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9ded7712-02cf-4fd1-94aa-5d638613e6ae",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "01ec83c0-aa70-4af6-b96b-c6474796fc97",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1136,
        1280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "transactionToRefund",
        "options": {}
      },
      "id": "7ad76aae-4f90-4dec-bf28-c16a983d6d0c",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -624,
        1584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "refund",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "transactionId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "794a0bc7-87ab-484f-a44a-648c66d269a1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        1584
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/transactions/refund",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "42db7faa-7926-4f81-9a8b-e34d3a05af49",
      "name": "DEV bot/transactions/refund",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        1584
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "5a6892c1-8172-41d0-9643-6c7bb4578a6a",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1152,
        816
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62dc8d61-f1e9-4b71-afd1-96dbdceeb081",
      "name": "Reply internally and set status to open",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        1680
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $('DEV bot/transactions/refund').item.json.id }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "63700235-c840-435c-a6c6-9cf7b4c283ff",
      "name": "Send a message1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        800,
        1680
      ],
      "webhookId": "34aad42c-8d07-43b2-ae11-a47da88407cf",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "immediateCancellation",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "subscriptionId",
              "value": "={{ $json.subscriptionID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d469da3e-2f84-4edd-b35a-9a070b534cfc",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        816
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pIjrE6QWBnzj1LQP",
          "mode": "list",
          "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
          "cachedResultName": "Operations Department — PS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "aa527edb-1d6e-4c2f-af0d-f5df436f5f39",
      "name": "Call 'CS - HMAC'1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -400,
        816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/subscriptions/cancel",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a9b8c0c0-8934-4e73-adda-ec25a210f8a0",
      "name": "DEV bot/subscription/cancel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        816
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "subscriptionAlreadyCancelled",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "50498712-fbb7-4aa4-825c-e77fffdcc97b",
      "name": "Is already cancelled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        944
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8dc1544-a4d6-4599-961c-2528fb939ab1",
      "name": "Reply internally and set status to open1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        1008
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "6d826424-c289-4b3b-b2de-9ccb9dd7af51",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        576,
        1008
      ],
      "webhookId": "e6fe1508-6174-46e3-ae66-2ba348630842",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Template configuration\n\n**Set project_key** holds the hardcoded deployment key.\n**Get Project Config** provides `payments_api_base_url` and `slack_automation_errors_channel_id`.\n\nOther values (zendeskDomain, ticketID, ticketCustomStatusID, subscriptionID) come from the caller.\n\n## To duplicate\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Re-bind credentials and subworkflow IDs.",
        "height": 220,
        "width": 700,
        "color": 5
      },
      "id": "7120d67d-bdb0-46be-b85b-53a016da7038",
      "name": "Sticky Note af6f63d0",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        2160
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pIjrE6QWBnzj1LQP",
          "mode": "list",
          "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
          "cachedResultName": "Operations Department — PS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "d772f497-66b3-4677-bc5e-8290cba00333",
      "name": "Call 'PS prod - HMAC'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        1584
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Restore trigger data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore trigger data": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'PS prod - HMAC'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/transactions/refund": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'1": {
      "main": [
        [
          {
            "node": "DEV bot/subscription/cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/subscription/cancel": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is already cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is already cancelled": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'PS prod - HMAC'": {
      "main": [
        [
          {
            "node": "DEV bot/transactions/refund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "transactionToRefund": [
            {
              "id": "7d4e824b-902a-46a4-b904-dd07da23002a",
              "type": "recurrent",
              "transactionDate": "2026-05-28T07:54:02.000Z",
              "provider": {
                "type": "stripe",
                "id": "acct_1PMTtiHZuqeWKzht"
              }
            },
            {
              "id": "2dd8b00b-e2b1-4c39-bcc1-040b179b921a",
              "type": "no_split_trial",
              "transactionDate": "2026-05-21T07:52:48.000Z",
              "provider": {
                "type": "stripe",
                "id": "acct_1PMTtiHZuqeWKzht"
              }
            }
          ],
          "subscriptionID": "855b072b-82ab-4710-97fa-127198f3b0cd",
          "zendeskDomain": "personalitytest",
          "ticketID": 622775,
          "ticketCustomStatusID": 19265567019421
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "ad3bbcae-daa7-423b-bd16-ef4ad7596ec5",
  "activeVersionId": "16ead99b-c98a-4796-b7ea-1dba3eb4e93c",
  "versionCounter": 22,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-27T06:55:18.988Z",
      "createdAt": "2026-05-27T06:55:18.988Z",
      "role": "workflow:owner",
      "workflowId": "ME2YuRVMFuYef5GV",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    },
    {
      "updatedAt": "2026-04-29T08:17:28.475Z",
      "createdAt": "2026-04-29T08:17:28.475Z",
      "id": "LPw8bOnALJSRx7sJ",
      "name": "PE prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-27T09:03:54.000Z",
    "createdAt": "2026-05-27T08:20:16.077Z",
    "versionId": "16ead99b-c98a-4796-b7ea-1dba3eb4e93c",
    "workflowId": "ME2YuRVMFuYef5GV",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "539a5d6f-02c5-4cf3-9b31-d80d6b1ce836",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1536,
          1280
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Edit Fields1, Split Out, etc.) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.foo\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
        },
        "id": "8600a152-0bfa-470d-bf4f-6c87ef3b9805",
        "name": "Restore trigger data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -960,
          1280
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "personality_prod",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "9ded7712-02cf-4fd1-94aa-5d638613e6ae",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1328,
          1280
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "01ec83c0-aa70-4af6-b96b-c6474796fc97",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -1136,
          1280
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "transactionToRefund",
          "options": {}
        },
        "id": "7ad76aae-4f90-4dec-bf28-c16a983d6d0c",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -624,
          1584
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "refund",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "transactionId",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "794a0bc7-87ab-484f-a44a-648c66d269a1",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -400,
          1584
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/transactions/refund",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "42db7faa-7926-4f81-9a8b-e34d3a05af49",
        "name": "DEV bot/transactions/refund",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          48,
          1584
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "message"
              }
            ]
          },
          "options": {}
        },
        "id": "5113fd4e-96b8-4228-b9cd-4de2bb4b2d55",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          576,
          1488
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "5a6892c1-8172-41d0-9643-6c7bb4578a6a",
        "name": "Aggregate1",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1040,
          800
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "62dc8d61-f1e9-4b71-afd1-96dbdceeb081",
        "name": "Reply internally and set status to open",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          576,
          1680
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $('DEV bot/transactions/refund').item.json.id }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "63700235-c840-435c-a6c6-9cf7b4c283ff",
        "name": "Send a message1",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          800,
          1680
        ],
        "webhookId": "34aad42c-8d07-43b2-ae11-a47da88407cf",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "immediateCancellation",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "subscriptionId",
                "value": "={{ $json.subscriptionID }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d469da3e-2f84-4edd-b35a-9a070b534cfc",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -624,
          816
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "pIjrE6QWBnzj1LQP",
            "mode": "list",
            "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
            "cachedResultName": "Operations Department — PS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "aa527edb-1d6e-4c2f-af0d-f5df436f5f39",
        "name": "Call 'CS - HMAC'1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -400,
          816
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/subscriptions/cancel",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "a9b8c0c0-8934-4e73-adda-ec25a210f8a0",
        "name": "DEV bot/subscription/cancel",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -176,
          816
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ef7a538c-eeab-49fb-8ac4-141f95b4eae7",
                "leftValue": "={{ $json.error.message }}",
                "rightValue": "subscriptionAlreadyCancelled",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "50498712-fbb7-4aa4-825c-e77fffdcc97b",
        "name": "Is already cancelled",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          112,
          944
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c8dc1544-a4d6-4599-961c-2528fb939ab1",
        "name": "Reply internally and set status to open1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          352,
          1008
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $('DEV bot/subscription/cancel').item.json.error.message }}\n\nTicket information\n- subscriptionID: {{ $('When Executed by Another Workflow').item.json.subscriptionID }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "6d826424-c289-4b3b-b2de-9ccb9dd7af51",
        "name": "Send a message",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          576,
          1008
        ],
        "webhookId": "e6fe1508-6174-46e3-ae66-2ba348630842",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Template configuration\n\n**Set project_key** holds the hardcoded deployment key.\n**Get Project Config** provides `payments_api_base_url` and `slack_automation_errors_channel_id`.\n\nOther values (zendeskDomain, ticketID, ticketCustomStatusID, subscriptionID) come from the caller.\n\n## To duplicate\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Re-bind credentials and subworkflow IDs.",
          "height": 220,
          "width": 700,
          "color": 5
        },
        "id": "7120d67d-bdb0-46be-b85b-53a016da7038",
        "name": "Sticky Note af6f63d0",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -400,
          2160
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "pIjrE6QWBnzj1LQP",
            "mode": "list",
            "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
            "cachedResultName": "Operations Department — PS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "d772f497-66b3-4677-bc5e-8290cba00333",
        "name": "Call 'PS prod - HMAC'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -176,
          1584
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Restore trigger data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore trigger data": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Call 'PS prod - HMAC'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/transactions/refund": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'1": {
        "main": [
          [
            {
              "node": "DEV bot/subscription/cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/subscription/cancel": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is already cancelled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is already cancelled": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'PS prod - HMAC'": {
        "main": [
          [
            {
              "node": "DEV bot/transactions/refund",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 16ead99b",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-27T09:03:53.963Z",
        "id": 821,
        "workflowId": "ME2YuRVMFuYef5GV",
        "versionId": "16ead99b-c98a-4796-b7ea-1dba3eb4e93c",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-27T09:04:00.496Z",
        "id": 823,
        "workflowId": "ME2YuRVMFuYef5GV",
        "versionId": "16ead99b-c98a-4796-b7ea-1dba3eb4e93c",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-27T09:04:00.384Z",
        "id": 822,
        "workflowId": "ME2YuRVMFuYef5GV",
        "versionId": "16ead99b-c98a-4796-b7ea-1dba3eb4e93c",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}