workflows/PS_prod_-_HMAC__pIjrE6QWBnzj1LQP.json
{
  "updatedAt": "2026-06-04T12:15:32.076Z",
  "createdAt": "2026-05-27T06:54:49.716Z",
  "id": "pIjrE6QWBnzj1LQP",
  "name": "PS prod - HMAC",
  "description": "Template version of CS - HMAC. Signs payments microservice requests with HMAC-SHA256. keyID and payments URL templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "deb460fc-11ee-4233-b176-ad132b8dc504",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        1584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "personality_prod",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "29bf292a-ee11-4cb8-89af-87bd26de9a36",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        1584
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "e5587070-aefe-4fff-9ce2-7d4a020c2e8b",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        192,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Switch, the four Set *_data nodes) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.hmac_key_id\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
      },
      "id": "c04f3c44-5d40-4fa5-859a-eccce552ef4f",
      "name": "Restore trigger data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1584
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "cancellation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76981cbd-bebf-4390-b14b-c7f186d323dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e36ea972-46b6-49e1-b023-696a6117b06a",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "immediateCancellation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "immediate cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ace41aaa-388e-460e-8c51-c4a1d5d59414",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "refund",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refund"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d868d79-876b-4427-879a-a2769eee4d3d",
                    "leftValue": "={{ $json.requestType }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            }
          ]
        },
        "options": {}
      },
      "id": "1818ea04-bb4c-4999-b61e-4539a266dcc2",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        592,
        1552
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n    \"subscriptionId\":\"{{ $json.subscriptionId }}\"\n  }\n}\n",
        "options": {}
      },
      "id": "ed2e7b9e-3217-45c5-8bbd-16d2de06b85d",
      "name": "Set cancellation data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1040
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n  \"subscriptionId\":\"{{ $json.subscriptionId }}\",\n  \"cancelImmediately\":true\n  }\n} ",
        "options": {}
      },
      "id": "46a3d2e1-fc46-4e15-bf92-79e5a71dab49",
      "name": "Set immediate cancellation data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1328
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/transactions/refund\",\n\"body\": \n  {\"transactionId\": \"{{ $json.transactionId }}\"\n  }\n} ",
        "options": {}
      },
      "id": "01224d1f-2d6e-4adb-9a25-a3373a5237a1",
      "name": "Set refund data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1744
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/search\",\n\"body\": \n  { \n  \"email\":\"{{ $json.email }}\",\n  \"includeTransactionsLast30Days\": true\n  }\n    }\n",
        "options": {}
      },
      "id": "ffc60094-8324-4b20-8026-34936bcc3bcc",
      "name": "Set search data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        2048
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function sortKeys(obj) {\n  const sorted = {};\n  for (const key of Object.keys(obj).sort()) {\n    const val = obj[key];\n    if (val && typeof val === 'object' && !Array.isArray(val)) {\n      sorted[key] = sortKeys(val);\n    } else {\n      sorted[key] = val;\n    }\n  }\n  return sorted;\n}\n\nconst sortedBody = JSON.stringify(sortKeys($input.item.json.body));\n\nreturn {sortedBody};\n"
      },
      "id": "c9605f8a-8585-4ba0-9448-12f2a3f3b040",
      "name": "Sort keys2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        1392
      ]
    },
    {
      "parameters": {
        "value": "={{ $json.sortedBody }}",
        "dataPropertyName": "hashedBody"
      },
      "id": "79d3ab22-ce17-476a-a717-1a340958b52f",
      "name": "Hash request body",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1600,
        1392
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a513b34-df55-4638-b3df-edffb17dd440",
              "name": "timestamp",
              "value": "={{Math.floor($now.toSeconds())}}",
              "type": "string"
            },
            {
              "id": "3b80b288-502d-4914-818d-f337597e9322",
              "name": "keyID",
              "value": "={{ $(\"Get Project Config\").first().json.hmac_key_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7f32f5c3-cd91-4149-8286-32c4396b5a3a",
      "name": "Set timestamp and keyID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        1584
      ]
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "nonce",
        "encodingType": "hex",
        "stringLength": 16
      },
      "id": "5f9fcc48-ef24-4802-adc5-9c80ad06496a",
      "name": "Generate nonce",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1376,
        1776
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "8a390fe2-85a8-4eaa-bdb6-91bf9028a275",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1824,
        1568
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.method }}\n{{ $json.endpoint }}\n{{ $json.timestamp }}\n{{ $json.nonce }}\n{{ $json.hashedBody }}",
        "dataPropertyName": "signedString"
      },
      "id": "72a0e81e-5c3f-4900-b3ac-ab94add1bab7",
      "name": "Sign payload",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        2048,
        1584
      ],
      "credentials": {
        "crypto": {
          "id": "ueLB3uq2rJkLWy62",
          "name": "PS prod n8n key"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Restore trigger data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore trigger data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set cancellation data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set immediate cancellation data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set refund data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set search data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set cancellation data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set immediate cancellation data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set refund data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set search data": {
      "main": [
        [
          {
            "node": "Sort keys2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set timestamp and keyID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort keys2": {
      "main": [
        [
          {
            "node": "Hash request body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash request body": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set timestamp and keyID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate nonce": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sign payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "requestType": "refund",
          "transactionId": "4e717001-6fbb-4bb1-99f6-cbf10af12b03"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "requestType": "refund",
          "transactionId": "1ea0ced0-e8f9-4b82-b726-bc2733fc5fad"
        },
        "pairedItem": {
          "item": 1
        }
      }
    ]
  },
  "versionId": "334019c2-76d1-40ae-b1e3-4fb5520ce3e0",
  "activeVersionId": "334019c2-76d1-40ae-b1e3-4fb5520ce3e0",
  "versionCounter": 16,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-27T06:54:49.719Z",
      "createdAt": "2026-05-27T06:54:49.719Z",
      "role": "workflow:owner",
      "workflowId": "pIjrE6QWBnzj1LQP",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    },
    {
      "updatedAt": "2026-04-29T08:17:28.475Z",
      "createdAt": "2026-04-29T08:17:28.475Z",
      "id": "LPw8bOnALJSRx7sJ",
      "name": "PE prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-04T12:15:42.000Z",
    "createdAt": "2026-06-04T12:15:32.077Z",
    "versionId": "334019c2-76d1-40ae-b1e3-4fb5520ce3e0",
    "workflowId": "pIjrE6QWBnzj1LQP",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "deb460fc-11ee-4233-b176-ad132b8dc504",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -224,
          1584
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "personality_prod",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "29bf292a-ee11-4cb8-89af-87bd26de9a36",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -16,
          1584
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "e5587070-aefe-4fff-9ce2-7d4a020c2e8b",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          192,
          1584
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get Project Config returns the config row, replacing the trigger\n// payload as $json. Re-emit the trigger's items so downstream nodes\n// (Switch, the four Set *_data nodes) see the original input as $json,\n// while explicit refs like $('Get Project Config').first().json.hmac_key_id\n// continue to work because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
        },
        "id": "c04f3c44-5d40-4fa5-859a-eccce552ef4f",
        "name": "Restore trigger data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          1584
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "cancellation",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "76981cbd-bebf-4390-b14b-c7f186d323dc"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancellation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "e36ea972-46b6-49e1-b023-696a6117b06a",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "immediateCancellation",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "immediate cancellation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ace41aaa-388e-460e-8c51-c4a1d5d59414",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "refund",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "refund"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4d868d79-876b-4427-879a-a2769eee4d3d",
                      "leftValue": "={{ $json.requestType }}",
                      "rightValue": "search",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "search"
              }
            ]
          },
          "options": {}
        },
        "id": "1818ea04-bb4c-4999-b61e-4539a266dcc2",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          592,
          1552
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n    \"subscriptionId\":\"{{ $json.subscriptionId }}\"\n  }\n}\n",
          "options": {}
        },
        "id": "ed2e7b9e-3217-45c5-8bbd-16d2de06b85d",
        "name": "Set cancellation data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          1040
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/subscriptions/cancel\",\n\"body\": \n  {\n  \"subscriptionId\":\"{{ $json.subscriptionId }}\",\n  \"cancelImmediately\":true\n  }\n} ",
          "options": {}
        },
        "id": "46a3d2e1-fc46-4e15-bf92-79e5a71dab49",
        "name": "Set immediate cancellation data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          1328
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/transactions/refund\",\n\"body\": \n  {\"transactionId\": \"{{ $json.transactionId }}\"\n  }\n} ",
          "options": {}
        },
        "id": "01224d1f-2d6e-4adb-9a25-a3373a5237a1",
        "name": "Set refund data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          1744
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"method\": \"POST\", \n\"endpoint\": \"/api/payments/v1/bot/search\",\n\"body\": \n  { \n  \"email\":\"{{ $json.email }}\",\n  \"includeTransactionsLast30Days\": true\n  }\n    }\n",
          "options": {}
        },
        "id": "ffc60094-8324-4b20-8026-34936bcc3bcc",
        "name": "Set search data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          2048
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "function sortKeys(obj) {\n  const sorted = {};\n  for (const key of Object.keys(obj).sort()) {\n    const val = obj[key];\n    if (val && typeof val === 'object' && !Array.isArray(val)) {\n      sorted[key] = sortKeys(val);\n    } else {\n      sorted[key] = val;\n    }\n  }\n  return sorted;\n}\n\nconst sortedBody = JSON.stringify(sortKeys($input.item.json.body));\n\nreturn {sortedBody};\n"
        },
        "id": "c9605f8a-8585-4ba0-9448-12f2a3f3b040",
        "name": "Sort keys2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1376,
          1392
        ]
      },
      {
        "parameters": {
          "value": "={{ $json.sortedBody }}",
          "dataPropertyName": "hashedBody"
        },
        "id": "79d3ab22-ce17-476a-a717-1a340958b52f",
        "name": "Hash request body",
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          1600,
          1392
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0a513b34-df55-4638-b3df-edffb17dd440",
                "name": "timestamp",
                "value": "={{Math.floor($now.toSeconds())}}",
                "type": "string"
              },
              {
                "id": "3b80b288-502d-4914-818d-f337597e9322",
                "name": "keyID",
                "value": "={{ $(\"Get Project Config\").first().json.hmac_key_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "7f32f5c3-cd91-4149-8286-32c4396b5a3a",
        "name": "Set timestamp and keyID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1376,
          1584
        ]
      },
      {
        "parameters": {
          "action": "generate",
          "dataPropertyName": "nonce",
          "encodingType": "hex",
          "stringLength": 16
        },
        "id": "5f9fcc48-ef24-4802-adc5-9c80ad06496a",
        "name": "Generate nonce",
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          1376,
          1776
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 3,
          "options": {}
        },
        "id": "8a390fe2-85a8-4eaa-bdb6-91bf9028a275",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1824,
          1568
        ]
      },
      {
        "parameters": {
          "action": "hmac",
          "value": "={{ $json.method }}\n{{ $json.endpoint }}\n{{ $json.timestamp }}\n{{ $json.nonce }}\n{{ $json.hashedBody }}",
          "dataPropertyName": "signedString"
        },
        "id": "72a0e81e-5c3f-4900-b3ac-ab94add1bab7",
        "name": "Sign payload",
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 2,
        "position": [
          2048,
          1584
        ],
        "credentials": {
          "crypto": {
            "id": "ueLB3uq2rJkLWy62",
            "name": "PS prod n8n key"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Restore trigger data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore trigger data": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Set cancellation data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set immediate cancellation data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set refund data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set search data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set cancellation data": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set immediate cancellation data": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set refund data": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set search data": {
        "main": [
          [
            {
              "node": "Sort keys2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set timestamp and keyID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Generate nonce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort keys2": {
        "main": [
          [
            {
              "node": "Hash request body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hash request body": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set timestamp and keyID": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Generate nonce": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Sign payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 334019c2",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-04T12:15:42.507Z",
        "id": 888,
        "workflowId": "pIjrE6QWBnzj1LQP",
        "versionId": "334019c2-76d1-40ae-b1e3-4fb5520ce3e0",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}