workflows/PS_prod_-_2nd_message_trigger__C87KQIUQ3383eeCd.json
{
  "updatedAt": "2026-06-19T12:49:40.659Z",
  "createdAt": "2026-06-18T16:37:27.350Z",
  "id": "C87KQIUQ3383eeCd",
  "name": "PS prod - 2nd message trigger",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "fields": [
            "ticket.title",
            "ticket.description",
            "ticket.url",
            "ticket.id",
            "ticket.requester.email",
            "ticket.ticket_field_36384727469341",
            "ticket.ticket_field_21549590739229"
          ]
        },
        "conditions": {
          "any": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.zendeskTrigger",
      "typeVersion": 1,
      "position": [
        -12368,
        -3424
      ],
      "id": "6d50a426-d157-4372-afb8-2ef984bcdee8",
      "name": "Zendesk Trigger",
      "webhookId": "66a508d7-797d-4e50-a290-4d13fac217f5",
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12176,
        -3424
      ],
      "id": "a3c8d288-88a4-423d-93f3-e5543e252853",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c3adf3bb-b545-415f-af62-0a4da35ea276",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -12384,
        -3168
      ],
      "id": "b1c519c5-4f14-4ed2-9cae-47148db73e57",
      "name": "Webhook",
      "webhookId": "c3adf3bb-b545-415f-af62-0a4da35ea276"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "personality_prod",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f9f36c74-150f-4a54-ba55-9b706f545611",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12176,
        -3168
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "f2238573-af70-4019-b317-68216f65059d",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -11952,
        -3168
      ]
    },
    {
      "parameters": {
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Webhook\").item.json.body[\"ticket.id\"] + \"/comments\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "3eae43b4-b8bd-4d29-8f45-07466f90c790",
      "name": "Get ticket comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -11728,
        -3168
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4fdd72c3-b416-4c57-9f61-2f9cc85da331",
              "leftValue": "={{ $json.comments.length }}",
              "rightValue": "={{ $(\"Get Project Config\").first().json.message_limit_threshold }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "690b7461-899b-4f57-99a2-338bcecdb158",
      "name": "Is under message limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11504,
        -3072
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "04bdfe0d-6723-4124-9fc4-2cfd9f80b0e0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -11280,
        -3168
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst comments = data.comments;\n\nif (!comments || comments.length === 0) {\n  return [{ json: { error: \"No comments found\" } }];\n}\n\n// Sort by created_at descending and take the first (most recent)\nconst lastComment = [...comments].sort(\n  (a, b) => new Date(b.created_at) - new Date(a.created_at)\n)[0];\n\nreturn [\n  {\n    json: {\n      id: lastComment.id,\n      author_id: lastComment.author_id,\n      body: lastComment.plain_body,\n      public: lastComment.public,\n      created_at: lastComment.created_at,\n      channel: lastComment.via?.channel ?? null\n    },\n  },\n];"
      },
      "id": "0390be4d-a001-4870-91e7-a4f87ddab7e1",
      "name": "Return last comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11504,
        -3264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "afc92008-33cc-46b5-bd1c-83aeae43863f",
              "leftValue": "={{ $(\"Return last comment\").item.json.channel }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dbec3739-fd41-49c7-802b-bbd13a7b5ec9",
      "name": "Discard CS updates",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -11056,
        -3168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "926279a0-598a-48c6-9073-efde28b9d573",
              "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_custom_field_automation_label_id] }}",
              "rightValue": "other_auto",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e349c14-4535-47d1-80f6-99759da91299",
      "name": "Discard \"other\" requests",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -10832,
        -3168
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $json.body }}",
        "categories": {
          "categories": [
            {
              "category": "Text is not in English"
            },
            {
              "category": "Text is in English"
            }
          ]
        },
        "options": {}
      },
      "id": "967e44ac-0ac2-46ba-9d3c-0fe66424d9f3",
      "name": "Check ticket language1",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -10608,
        -3168
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "e66941fa-81eb-42c5-a29b-d4e88f1e2e0a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -10528,
        -2944
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ev7hSxE5tHBMsP3P",
          "name": "Perso prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\" : \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"user_email\" : \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\",\n    \"description\": {{ JSON.stringify($(\"Check ticket language1\").item.json[\"body\"]) }},\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"ticket_category\":\"{{ $(\"Webhook\").item.json.body['ticket.ticket_field_' + $('Get Project Config').first().json.ticket_custom_field_category] }}\",\n    \"automation_classification\":\"{{ $(\"Webhook\").item.json.body['ticket.ticket_field_' + $('Get Project Config').first().json.ticket_custom_field_automation_label_id] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\":false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n} ",
        "options": {}
      },
      "id": "44e46003-fa50-448e-be45-3dde6c9f24cf",
      "name": "Set request data test2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9920,
        -3072
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "fdd74f0d-f213-447d-a88e-af02c1c05f98",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -9696,
        -3168
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=Description: {{ $(\"Check ticket language1\").item.json[\"body\"] }}"
            },
            {
              "role": "system",
              "content": "You are a translation engine.\nYour task is to translate user-provided text into English and identify the language of the original text.\n\nRules (must be followed strictly):\nTranslate exactly and literally\nDo not add, remove, infer, or reinterpret any information\nDo not explain, summarize, rephrase, or improve wording\nPreserve tone, intent, ambiguity, and emotional content exactly\nPreserve formatting, punctuation, emojis, and line breaks\nDo not normalize slang, profanity, or errors\nIf a term cannot be translated precisely, transliterate it\nIf the input is already in English, return it unchanged\nIf the input is partially English, translate only the non-English parts\n\nFor originalTicketLanguage, output exactly one value from this list and nothing else:\nen, es, de, it, fr, pt, pl, da, no, ro, et, id, lt, ms, th, ko, language_other\n\nRules for originalTicketLanguage:\nUse the code for the primary (dominant) language of the original text, ignoring incidental English words, names, or product terms\nIf the original text is already in English, output en\nIf the language is not one of the listed codes, output language_other\nIf the language cannot be determined, output language_other\nOutput the value exactly as written in the list, with no extra characters\n\nOutput a JSON object containing:\ndescription: string // translated description\noriginalTicketLanguage: string // one value from the allowed list\n\nFormatting:\nMust be valid JSON\nNo commentary, labels, or notes\nNo markdown unless it exists in the input"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "verbosity": "high",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" },\n    \"originalTicketLanguage\": {\n      \"type\": \"string\",\n      \"enum\": [\"en\",\"es\",\"de\",\"it\",\"fr\",\"pt\",\"pl\",\"da\",\"no\",\"ro\",\"et\",\"id\",\"lt\",\"ms\",\"th\",\"ko\",\"language_other\"]\n    }\n  },\n  \"required\": [\"title\", \"description\", \"originalTicketLanguage\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "id": "6bfa2190-a4ce-4213-a3e1-72b8c1f792f4",
      "name": "Translate ticket to english1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -10304,
        -3264
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Ev7hSxE5tHBMsP3P",
          "name": "Perso prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\" : \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"user_email\" : \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\",\n    \"description\": {{ JSON.stringify($(\"Check ticket language1\").item.json[\"body\"]) }},\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"ticket_category\":\"{{ $(\"Webhook\").item.json.body['ticket.ticket_field_' + $('Get Project Config').first().json.ticket_custom_field_category] }}\",\n    \"automation_classification\":\"{{ $(\"Webhook\").item.json.body['ticket.ticket_field_' + $('Get Project Config').first().json.ticket_custom_field_automation_label_id] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage || \"en\"}}\",\n    \"is_translated\":{{(()=>{\n  let originalLanguage = $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage;\n  return originalLanguage?true:false;\n})()}},\n    \"translations\": {\n\"title\" : \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.title || \"\"}}\",\n      \"description\": {{JSON.stringify($('Translate ticket to english1').item.json.output.first().content.first().text.description || \"\")}}\n    }\n  }\n} ",
        "options": {}
      },
      "id": "863649e1-c953-4f81-9471-d4cabe10b2df",
      "name": "Set translated request data test1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9920,
        -3264
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a customer support ticket classifier.\n\nClassify the customer message into exactly one category:\n\n1. \"thanks\"\nUse this only when the customer is simply expressing gratitude and is not asking for anything else.\nExamples:\n- “Thanks for your help.”\n- “Many thanks for your prompt response.”\n- “Thank you for processing the refund. I appreciate it.”\n\n2. \"confirmation\"\nUse this when the customer is asking support to verify, confirm, or check the status of something already expected or completed, such as a cancellation, refund, transaction reversal, account closure, subscription status, or payment status.\nExamples:\n- “I’m reaching out to confirm my subscription has been canceled.”\n- “Can you confirm my refund was processed?”\n- “Just checking that my transaction has been refunded.”\n- “Please confirm my account is closed.”\n\n3. \"complaint\"\nUse this when the customer expresses dissatisfaction, frustration, anger, disappointment, distrust, or negative sentiment about the service, support, billing, refund, cancellation, charges, delays, product, company, or experience.\nExamples:\n- “This is unacceptable.”\n- “I was charged again after canceling.”\n- “Your support has been terrible.”\n- “I’m frustrated that my refund still hasn’t arrived.”\n\n4. \"other\"\nUse this as the fallback when the ticket does not clearly fit thanks, confirmation, or complaint.\nExamples:\n- New cancellation request\n- New refund request\n- Account update request\n- Product question\n- Feature question\n- Technical question\n- General inquiry\n- Unclear or incomplete message\n\nDecision rules:\n- Use only the customer’s title and description.\n- Choose \"thanks\" only if the message contains gratitude and no request, complaint, question, escalation, or unresolved issue.\n- If the message contains both gratitude and a confirmation/check request, choose \"confirmation\".\n- If the message contains any meaningful negative sentiment or complaint, choose \"complaint\", even if it also includes thanks or asks for confirmation.\n- If the customer asks support to verify whether something happened, choose \"confirmation\".\n- If the customer is making a new request rather than confirming an existing action, choose \"other\".\n- If the message is unclear, incomplete, or does not fit the first three categories, choose \"other\".\n\nOutput requirements:\nReturn only a valid JSON object with exactly one key:\n{\n  \"category\": \"thanks\" | \"confirmation\" | \"complaint\" | \"other\"\n}\n\nDo not include explanations, evidence, markdown, or extra keys."
            },
            {
              "content": "=Customer message: {{ $json.data.first().translated_data.is_translated?$('Aggregate').item.json.data.first().translated_data.translations.description:$('Aggregate').item.json.data.first().original_ticket_content.description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"thanks\", \"confirmation\", \"complaint\", \"other\"]\n    }\n  },\n  \"required\": [\"category\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "id": "a6f909af-8f8f-4aea-9785-0236165b088c",
      "name": "Ticket classification2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -9520,
        -3168
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Ev7hSxE5tHBMsP3P",
          "name": "Perso prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e285dcc2-00bc-4fe3-9a10-844d74b4192e",
              "leftValue": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_category }}",
              "rightValue": "={{ $(\"Get Project Config\").first().json.category_value_password_account_info }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5dc727f-b75d-41af-93cb-c32751a88081",
      "name": "Is account and password",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -9248,
        -3168
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an information extraction system for customer support messages.\n\nAnalyze the customer support message and extract the customer's email address if one is explicitly provided.\n\nReturn only a JSON object that matches the provided schema.\n\nRules:\n- The output must contain exactly one key: customer_email.\n- If the customer message contains a valid email address, set customer_email to that email address as a string.\n- If the customer message does not contain a valid email address, set customer_email to false.\n- Do not include markdown, explanations, comments, or extra text.\n- Do not guess, infer, reconstruct, or fabricate an email address.\n- If multiple valid email addresses are present return false\n"
            },
            {
              "content": "=Customer message: {{ $('Return last comment').item.json.body }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_email\": {\n      \"anyOf\": [\n        {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        {\n          \"type\": \"string\",\n          \"const\": \"none\"\n        }\n      ]\n    }\n  },\n  \"required\": [\"customer_email\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "id": "3381f972-77de-446c-9b1b-a20fd36cb40d",
      "name": "Email extraction",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -8192,
        -4080
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Ev7hSxE5tHBMsP3P",
          "name": "Perso prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad764505-ca67-496d-a35c-6e072f88f530",
              "leftValue": "={{ $json.output[0].content[0].text.customer_email }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3bbe83c3-f4a1-4ce1-a0b0-883ffc07681f",
      "name": "is email provided",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7824,
        -4080
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pIjrE6QWBnzj1LQP",
          "mode": "list",
          "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
          "cachedResultName": "Operations Department — PS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "671cf62b-60f4-4c2c-9617-f8e674a60119",
      "name": "Call 'CS - HMAC'1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -7184,
        -4368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "47997a8b-7388-4e4e-a659-173a82c553ae",
      "name": "DEV bot/search2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6928,
        -4368
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad764505-ca67-496d-a35c-6e072f88f530",
              "leftValue": "={{ $json.body.subscriptionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b12aa33c-e52d-496e-9c5e-f5be9193cad1",
      "name": "is email provided1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6704,
        -4368
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Aggregate').item.json.data[0].original_ticket_content.automation_classification }}",
                    "rightValue": "=cancellation_auto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cea6b447-61a9-4810-94a4-e9dcbce653b8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancellation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d2d8328-1eef-47d1-85bb-11d66f080b1a",
                    "leftValue": "={{ $('Aggregate').item.json.data[0].original_ticket_content.automation_classification }}",
                    "rightValue": "refund_auto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Refund"
            }
          ]
        },
        "options": {}
      },
      "id": "148e7bbe-b129-4443-a65e-68636b880eef",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -6208,
        -4848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e3d739ba-655d-4054-83a1-21f2afe1e99f",
      "name": "Set request data test1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5792,
        -4960
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}\",\n     \"payment_provider_account_ID\": \"123456789\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\":{{ $('Aggregate').item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n} ",
        "options": {}
      },
      "id": "081d0dd9-d837-4ca1-b757-2ac2e4c701d1",
      "name": "Set request data test",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5792,
        -4704
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: The email customer provided does not exist as a user in the app. Please handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5c87f851-f430-47ca-b472-cc59cd173622",
      "name": "Reply to internally and set status to open3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5792,
        -4352
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: The customer did not provide a new email address in their follow up. Please handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9165058f-9659-41f1-aac2-82a08eaf756d",
      "name": "Reply to internally and set status to open4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7424,
        -3984
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output[0].content[0].text.category }}",
                    "rightValue": "thanks",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "129877a8-c787-445c-ba26-d1fd81664588"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thanks"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "064435ec-baa6-4a68-a8af-abca8d3f25f2",
                    "leftValue": "={{ $json.output[0].content[0].text.category }}",
                    "rightValue": "confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "913cdf83-e0f6-4211-9719-a2a9faf22a98",
                    "leftValue": "={{ $json.output[0].content[0].text.category }}",
                    "rightValue": "complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complaint"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d679f1fd-c440-42e6-8651-56bcfd071132",
                    "leftValue": "={{ $json.output[0].content[0].text.category }}",
                    "rightValue": "other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "id": "4c76631a-ac29-4159-97d1-06e01231acdc",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -8432,
        -2176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_thanks_reply_id }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "4512207c-c231-4a2e-ac18-b2758c536e49",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5808,
        -3456
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t3mYaHf1eNXaxcts",
          "mode": "list",
          "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
          "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "bcd7b5e5-30e0-4194-9c2f-f3092900f40b",
      "name": "Update zendesk ticket1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5584,
        -3456
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "search",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "email",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e04257a1-f468-4adc-ba7e-d243af3174d3",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5824,
        -2944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d92884ca-be8c-4d45-b19b-d53f97842b48",
      "name": "DEV bot/search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5376,
        -2944
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5eb4945-ffd8-4b87-b4ce-847bc205f892",
              "leftValue": "={{ $json.body.refundedTransactions }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1cb9bca5-ce29-4822-88b3-88109c429316",
      "name": "Has refunded transations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5152,
        -2944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_refund_confirmation }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "e9547d94-a862-4e39-95cc-e699ba6e54ae",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3840,
        -3376
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t3mYaHf1eNXaxcts",
          "mode": "list",
          "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
          "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "a91bfdec-6fbc-475e-9962-7c6c6de8258b",
      "name": "Update zendesk ticket3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3616,
        -3376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7fadc4eb-12fd-40fa-9659-732b4b169e80",
              "leftValue": "={{ $('DEV bot/search').item.body.subscriptionStatus }}",
              "rightValue": "cancelling",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c0c93dc2-824d-4771-a1ce-8ea3a664848d",
              "leftValue": "={{ $('DEV bot/search').item.body.subscriptionStatus }}",
              "rightValue": "cancelled",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "33151b6c-80fe-4b95-a0d3-cfe20d736b53",
      "name": "Subscription is cancelled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4368,
        -2352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_confirmation }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "93dba690-284e-4c0c-9049-f3421adbe361",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3824,
        -2784
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t3mYaHf1eNXaxcts",
          "mode": "list",
          "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
          "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "d3a01208-17b7-46c4-a75c-da8d2c0cea2d",
      "name": "Update zendesk ticket4",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3600,
        -2784
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This customer has reached our to confirm a refund or cancellation but the automation wasn't able to detect either of those. Please handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4729c5b-c766-4331-a801-8ffc938e825b",
      "name": "Reply to internally and set status to open",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3712,
        -2000
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5eb4945-ffd8-4b87-b4ce-847bc205f892",
              "leftValue": "={{ $json.body.refundedTransactions }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4c0bfda7-f9f3-4c89-bee8-55fef280cf2b",
      "name": "Has refunded transactions",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6352,
        -1264
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5eb4945-ffd8-4b87-b4ce-847bc205f892",
              "leftValue": "={{ $json.body.refundedTransactions }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fcaf639a-bb45-46e8-9337-3a9e7a694ecc",
      "name": "Has 1 refunded transaction",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5872,
        -1760
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_single_refund_complaint }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "bcfa3779-8dc9-4847-8140-4d7c0ac0cbe3",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5408,
        -2064
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t3mYaHf1eNXaxcts",
          "mode": "list",
          "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
          "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "a848263e-b755-4bd7-99b1-b6f2ac3250c5",
      "name": "Update zendesk ticket",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5184,
        -2064
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
              "name": "zendeskDomain",
              "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
              "type": "string"
            },
            {
              "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            },
            {
              "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
              "name": "publicComment",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "21835068-3534-41a7-a05c-382dbab406f4",
              "name": "macroID",
              "value": "={{ $(\"Get Project Config\").first().json.macro_double_refund_complaint }}",
              "type": "number"
            },
            {
              "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
              "name": "ticketCustomStatusID",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "e2f65b0b-8e76-4a2a-a18c-09d7490184be",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5408,
        -1488
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "t3mYaHf1eNXaxcts",
          "mode": "list",
          "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
          "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "e8c03bac-ea94-4342-902f-a55e897f97b9",
      "name": "Update zendesk ticket5",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5184,
        -1488
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and did not fit into any of the predefined categories \n- Thanks\n- Cancel/refund confirmation\n- Complaint\n- Acc/pass info\n\nIf the ticket DOES fit into any of the category above please reach out to the Operations Dept. \n\nPlease handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "650219fe-7c1b-4f4e-b5ac-1f40dce6c2b4",
      "name": "Reply to internally and set status to open5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5776,
        -528
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a customer support ticket classifier. You analyze customer support messages and identify if they are refund requests or not based only on the user’s written message\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, or mentions being charged and wanting the charge undone.  \n\nOther  (o)\nUse this category for all other messages like:\naccount deletion requests\nproduct questions\nfeature requests\naccount access issues\ncomplaints \nunclear or ambiguous messages\nharassment or threatening\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \nIf the message contains forwarded content (often labelled with \"Forwarded message\") disregard everything that comes after that and only consider the content before it in the classification\n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\no = Other\n\nReturn only a valid JSON object with exactly one key:\n{\n  \"request_category\": \"o\" | \"r\" \n}\n\nDo not include explanations, evidence, markdown, or extra keys. Output only the letter."
            },
            {
              "content": "=Customer message: {{$('Aggregate').item.json.data[0].translated_data.is_translated?$('Aggregate').item.json.data.first().translated_data.translations.description:$('Aggregate').item.json.data.first().original_ticket_content.description  }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"request_category\": {\n      \"type\": \"string\",\n      \"enum\": [\"o\", \"r\"]\n    }\n  },\n  \"required\": [\"request_category\"],\n  \"additionalProperties\": false\n}"
            }
          }
        }
      },
      "id": "51f227a0-b6c9-4933-8c79-238682c131e5",
      "name": "Identify refund requests",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -6336,
        608
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "Ev7hSxE5tHBMsP3P",
          "name": "Perso prod n8n automation"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e285dcc2-00bc-4fe3-9a10-844d74b4192e",
              "leftValue": "={{ $json.output[0].content[0].text.request_category }}",
              "rightValue": "r",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d0c6459-8e5c-43f4-892e-e909b74eb07d",
      "name": "Is refund request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5936,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscriptionId }}",
              "type": "string"
            },
            {
              "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
              "name": "ticketID",
              "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
              "type": "number"
            },
            {
              "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
              "name": "isTranslated",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
              "type": "boolean"
            },
            {
              "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
              "name": "originalLanguage",
              "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0c5fc9b-d705-4700-a92f-a662adb214f4",
      "name": "Set request data test3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4784,
        192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LSK2uSi3QypQa9ls",
          "mode": "list",
          "cachedResultUrl": "/workflow/LSK2uSi3QypQa9ls",
          "cachedResultName": "Operations Department — CS - Cancellation flow [Template]"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "8bef0ad0-270b-4f6d-9ec8-766394becc57",
      "name": "Call 'CS - Cancellation request'1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -4560,
        192
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: This ticket has been analysed by the CS automation and did not fit into any of the predefined categories \n- Thanks\n- Cancel/refund confirmation\n- Complaint\n- Acc/pass info\n\nIf the ticket DOES fit into any of the category above please reach out to the Operations Dept. \n\nPlease handle this ticket manually. "
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1bd5534a-bbb4-4732-b2f3-8f16cd96c473",
      "name": "Reply to internally and set status to open2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5456,
        880
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Simple thanks",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "id": "827a0117-4b9f-4e16-b5a0-0a5b3caa3453",
      "name": "Sticky Note 9a8b354b",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5856,
        -3600
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: Thanks reply",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "3a8e7a04-7bb5-4fe8-ab06-4f1adb10ce0b",
      "name": "Sticky Note cccde6ff",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5344,
        -3296
      ]
    },
    {
      "parameters": {
        "content": "# Refund confirmation",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "id": "1da75171-747c-4dc9-b3bc-2b4ec9b77569",
      "name": "Sticky Note b960b824",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3888,
        -3520
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: single refund complaint",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "2938a990-b7d9-419d-933e-2f91fb3f3c88",
      "name": "Sticky Note d8e9eef2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4976,
        -1904
      ]
    },
    {
      "parameters": {
        "content": "# Cancellation confirmation",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "id": "52f67471-e606-4078-91ec-6dc7978ba2ad",
      "name": "Sticky Note 38ebad85",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3872,
        -2944
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: Refund confirmation",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "2956ba7c-7afb-4ced-bdef-71cd717c1ae4",
      "name": "Sticky Note 194fb0d6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3376,
        -3216
      ]
    },
    {
      "parameters": {
        "content": "# Requested confirmation but subs is active\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "id": "41bfd111-7b43-45a9-a42c-ed4aaca07991",
      "name": "Sticky Note b043fbde",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3776,
        -2160
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "0f4dfc2e-177d-4abf-88fc-c16a4d5deb62",
      "name": "Sticky Note 0f3b6e45",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5488,
        -352
      ]
    },
    {
      "parameters": {
        "content": "# Other, do nothing\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "id": "97a2966e-b9be-40ac-98a7-e2169b1df7e0",
      "name": "Sticky Note 8a9db06e",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5520,
        800
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 144,
        "width": 256,
        "color": 7
      },
      "id": "0e3c9389-2646-48a7-8666-379b6e9559f9",
      "name": "Sticky Note b9e07463",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3424,
        -1776
      ]
    },
    {
      "parameters": {
        "content": "# Wrong email\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "id": "226fd0d8-c3fe-4faf-b8f5-faf316771fd9",
      "name": "Sticky Note 9a6d20da",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5856,
        -4464
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "2819071c-34bd-4252-8a7d-709437b59976",
      "name": "Sticky Note 2b4aa75c",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5184,
        1120
      ]
    },
    {
      "parameters": {
        "content": "# Email not provided \n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "id": "c5e82776-fd8a-4b1f-9d02-e20aef5819a0",
      "name": "Sticky Note ef15cecc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7472,
        -4128
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "3ebc3fde-6717-4b6b-9f01-8e9bab29300a",
      "name": "Sticky Note f5a6768b",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5536,
        -4144
      ]
    },
    {
      "parameters": {
        "content": "# No refunded transactions\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "id": "36db5057-04d4-47d4-abfd-1a85264412b5",
      "name": "Sticky Note f76dffd9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5824,
        -672
      ]
    },
    {
      "parameters": {
        "content": "## Status: open\n## Category: none\n## Assign to CS\n",
        "height": 208,
        "width": 288,
        "color": 7
      },
      "id": "08bc4667-0fee-4f09-b033-d01fc2fde095",
      "name": "Sticky Note 810327c8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7136,
        -3840
      ]
    },
    {
      "parameters": {
        "content": "# Single refund complaint",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "id": "efced7ca-cd39-4d5f-a9cf-4d464a11d0ac",
      "name": "Sticky Note 50df3df9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5472,
        -2192
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: Cancellation confirmation",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "fc1ff139-6999-4e9f-a463-5b05646b5df3",
      "name": "Sticky Note d731ffc6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3360,
        -2640
      ]
    },
    {
      "parameters": {
        "content": "# Double refund complaint",
        "height": 544,
        "width": 864,
        "color": 7
      },
      "id": "5355a252-a8a5-49dd-83fe-36f87129ce73",
      "name": "Sticky Note 29a9536f",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5472,
        -1600
      ]
    },
    {
      "parameters": {
        "content": "## Status: solved\n## Macro: double refund complaint",
        "height": 224,
        "width": 336,
        "color": 7
      },
      "id": "28b447ca-4fea-421f-981e-dbbabc41d3d2",
      "name": "Sticky Note 17e7cff6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4976,
        -1312
      ]
    },
    {
      "parameters": {
        "content": "# Process a refund\n",
        "height": 544,
        "width": 640,
        "color": 7
      },
      "id": "21a88389-91b4-4db6-894a-2b43a83022b3",
      "name": "Sticky Note 8a9db06e1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5504,
        80
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}\",\n     \"payment_provider_account_ID\": \"123456789\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\":{{ $('Aggregate').item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n} ",
        "options": {}
      },
      "id": "1e0296c2-5dc3-4cb4-b44f-23374ea43189",
      "name": "Set request data test4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5424,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NAD7tCx3z57gB8UU",
          "mode": "list",
          "cachedResultUrl": "/workflow/NAD7tCx3z57gB8UU",
          "cachedResultName": "Operations Department — PS prod - Refund requests flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "397ea056-1736-4aa6-8132-ee64d6950141",
      "name": "Call 'CS - Refund requests flow [Template]'1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5200,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "search",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "email",
              "value": "={{ $json.output[0].content[0].text.customer_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "78de057f-fa2e-4fa1-8486-c23f8894e395",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7408,
        -4368
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Dg1Kl7RThTYwToRb",
          "mode": "list",
          "cachedResultUrl": "/workflow/Dg1Kl7RThTYwToRb",
          "cachedResultName": "Operations Department — PS prod - Cancellation flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "07379de1-35f3-4dd1-bed4-03dc32eeab32",
      "name": "Call 'PS prod - Cancellation flow'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5568,
        -4960
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NAD7tCx3z57gB8UU",
          "mode": "list",
          "cachedResultUrl": "/workflow/NAD7tCx3z57gB8UU",
          "cachedResultName": "Operations Department — PS prod - Refund requests flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "801a3e32-e0d6-4b0a-b727-75ee781de076",
      "name": "Call 'PS prod - Refund requests flow'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5568,
        -4704
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pIjrE6QWBnzj1LQP",
          "mode": "list",
          "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
          "cachedResultName": "Operations Department — PS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "654a8bcf-39b5-496a-b146-357123c2d690",
      "name": "Call 'PS prod - HMAC'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5600,
        -2944
      ]
    }
  ],
  "connections": {
    "Zendesk Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Get ticket comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ticket comments": {
      "main": [
        [
          {
            "node": "Return last comment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is under message limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is under message limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discard CS updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return last comment": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discard CS updates": {
      "main": [
        [
          {
            "node": "Discard \"other\" requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discard \"other\" requests": {
      "main": [
        [
          {
            "node": "Check ticket language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ticket language1": {
      "main": [
        [
          {
            "node": "Translate ticket to english1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Check ticket language1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Ticket classification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate ticket to english1": {
      "main": [
        [
          {
            "node": "Set translated request data test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set translated request data test1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket classification2": {
      "main": [
        [
          {
            "node": "Is account and password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is account and password": {
      "main": [
        [
          {
            "node": "Email extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email extraction": {
      "main": [
        [
          {
            "node": "is email provided",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is email provided": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CS - HMAC'1": {
      "main": [
        [
          {
            "node": "DEV bot/search2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search2": {
      "main": [
        [
          {
            "node": "is email provided1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is email provided1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set request data test1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set request data test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test1": {
      "main": [
        [
          {
            "node": "Call 'PS prod - Cancellation flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test": {
      "main": [
        [
          {
            "node": "Call 'PS prod - Refund requests flow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has refunded transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identify refund requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update zendesk ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Call 'PS prod - HMAC'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search": {
      "main": [
        [
          {
            "node": "Has refunded transations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has refunded transations": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Subscription is cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Update zendesk ticket3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subscription is cancelled": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Update zendesk ticket4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has refunded transactions": {
      "main": [
        [
          {
            "node": "Has 1 refunded transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has 1 refunded transaction": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Update zendesk ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Update zendesk ticket5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify refund requests": {
      "main": [
        [
          {
            "node": "Is refund request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is refund request": {
      "main": [
        [
          {
            "node": "Set request data test4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to internally and set status to open2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test3": {
      "main": [
        [
          {
            "node": "Call 'CS - Cancellation request'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set request data test4": {
      "main": [
        [
          {
            "node": "Call 'CS - Refund requests flow [Template]'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Call 'CS - HMAC'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'PS prod - HMAC'": {
      "main": [
        [
          {
            "node": "DEV bot/search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 2
  },
  "staticData": {
    "node:Zendesk Trigger": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "Zendesk Trigger": [
      {
        "json": {
          "ticket.title": "Inquiry from Lennert Knippenberg",
          "ticket.description": "----------------------------------------------\n\n!*** Lennert Knippenberg was not signed in when this comment was submitted. Learn more ***!\n\nLennert Knippenberg, Jun 18, 2026, 19:46\n\nCancel subscription please, i am not sure which email i have used.",
          "ticket.url": "personalitytest.zendesk.com/agent/tickets/641087",
          "ticket.id": "641087",
          "ticket.requester.email": "lennert.knippenberg@hotmail.com",
          "ticket.ticket_field_36384727469341": "cancellation_auto",
          "ticket.ticket_field_21549590739229": "cancellation___subscription",
          "ticket.ticket_field_33838126178205": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "76946a5a-62a4-4c25-801d-07d3a53de23d",
  "activeVersionId": "76946a5a-62a4-4c25-801d-07d3a53de23d",
  "versionCounter": 73,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-18T16:37:27.361Z",
      "createdAt": "2026-06-18T16:37:27.361Z",
      "role": "workflow:owner",
      "workflowId": "C87KQIUQ3383eeCd",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "customTelemetryTags": [],
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-19T12:49:43.000Z",
    "createdAt": "2026-06-19T12:49:40.661Z",
    "versionId": "76946a5a-62a4-4c25-801d-07d3a53de23d",
    "workflowId": "C87KQIUQ3383eeCd",
    "nodes": [
      {
        "parameters": {
          "options": {
            "fields": [
              "ticket.title",
              "ticket.description",
              "ticket.url",
              "ticket.id",
              "ticket.requester.email",
              "ticket.ticket_field_36384727469341",
              "ticket.ticket_field_21549590739229"
            ]
          },
          "conditions": {
            "any": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.zendeskTrigger",
        "typeVersion": 1,
        "position": [
          -12368,
          -3424
        ],
        "id": "6d50a426-d157-4372-afb8-2ef984bcdee8",
        "name": "Zendesk Trigger",
        "webhookId": "66a508d7-797d-4e50-a290-4d13fac217f5",
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -12176,
          -3424
        ],
        "id": "a3c8d288-88a4-423d-93f3-e5543e252853",
        "name": "Edit Fields",
        "disabled": true
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "c3adf3bb-b545-415f-af62-0a4da35ea276",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -12384,
          -3168
        ],
        "id": "b1c519c5-4f14-4ed2-9cae-47148db73e57",
        "name": "Webhook",
        "webhookId": "c3adf3bb-b545-415f-af62-0a4da35ea276"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "personality_prod",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "f9f36c74-150f-4a54-ba55-9b706f545611",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -12176,
          -3168
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "f2238573-af70-4019-b317-68216f65059d",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -11952,
          -3168
        ]
      },
      {
        "parameters": {
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Webhook\").item.json.body[\"ticket.id\"] + \"/comments\" }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "id": "3eae43b4-b8bd-4d29-8f45-07466f90c790",
        "name": "Get ticket comments",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -11728,
          -3168
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4fdd72c3-b416-4c57-9f61-2f9cc85da331",
                "leftValue": "={{ $json.comments.length }}",
                "rightValue": "={{ $(\"Get Project Config\").first().json.message_limit_threshold }}",
                "operator": {
                  "type": "number",
                  "operation": "lte"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "690b7461-899b-4f57-99a2-338bcecdb158",
        "name": "Is under message limit",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -11504,
          -3072
        ]
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "id": "04bdfe0d-6723-4124-9fc4-2cfd9f80b0e0",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -11280,
          -3168
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst comments = data.comments;\n\nif (!comments || comments.length === 0) {\n  return [{ json: { error: \"No comments found\" } }];\n}\n\n// Sort by created_at descending and take the first (most recent)\nconst lastComment = [...comments].sort(\n  (a, b) => new Date(b.created_at) - new Date(a.created_at)\n)[0];\n\nreturn [\n  {\n    json: {\n      id: lastComment.id,\n      author_id: lastComment.author_id,\n      body: lastComment.plain_body,\n      public: lastComment.public,\n      created_at: lastComment.created_at,\n      channel: lastComment.via?.channel ?? null\n    },\n  },\n];"
        },
        "id": "0390be4d-a001-4870-91e7-a4f87ddab7e1",
        "name": "Return last comment",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -11504,
          -3264
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "afc92008-33cc-46b5-bd1c-83aeae43863f",
                "leftValue": "={{ $(\"Return last comment\").item.json.channel }}",
                "rightValue": "email",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "dbec3739-fd41-49c7-802b-bbd13a7b5ec9",
        "name": "Discard CS updates",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -11056,
          -3168
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "926279a0-598a-48c6-9073-efde28b9d573",
                "leftValue": "={{ $(\"Webhook\").item.json.body[\"ticket.ticket_field_\" + $(\"Get Project Config\").first().json.ticket_custom_field_automation_label_id] }}",
                "rightValue": "other_auto",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "9e349c14-4535-47d1-80f6-99759da91299",
        "name": "Discard \"other\" requests",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -10832,
          -3168
        ]
      },
      {
        "parameters": {
          "inputText": "={{ $json.body }}",
          "categories": {
            "categories": [
              {
                "category": "Text is not in English"
              },
              {
                "category": "Text is in English"
              }
            ]
          },
          "options": {}
        },
        "id": "967e44ac-0ac2-46ba-9d3c-0fe66424d9f3",
        "name": "Check ticket language1",
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          -10608,
          -3168
        ],
        "retryOnFail": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "gpt-5.4"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "id": "e66941fa-81eb-42c5-a29b-d4e88f1e2e0a",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -10528,
          -2944
        ],
        "credentials": {
          "openAiApi": {
            "id": "Ev7hSxE5tHBMsP3P",
            "name": "Perso prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\" : \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"user_email\" : \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\",\n    \"description\": {{ JSON.stringify($(\"Check ticket language1\").item.json[\"body\"]) }},\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"ticket_category\":\"{{ $(\"Webhook\").item.json.body['ticket.ticket_field_' + $('Get Project Config').first().json.ticket_custom_field_category] }}\",\n    \"automation_classification\":\"{{ $(\"Webhook\").item.json.body['ticket.ticket_field_' + $('Get Project Config').first().json.ticket_custom_field_automation_label_id] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"en\",\n    \"is_translated\":false,\n    \"translations\": {\n      \"title\": \"\",\n      \"description\": \"\"\n    }\n  }\n} ",
          "options": {}
        },
        "id": "44e46003-fa50-448e-be45-3dde6c9f24cf",
        "name": "Set request data test2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -9920,
          -3072
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "fdd74f0d-f213-447d-a88e-af02c1c05f98",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -9696,
          -3168
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "content": "=Description: {{ $(\"Check ticket language1\").item.json[\"body\"] }}"
              },
              {
                "role": "system",
                "content": "You are a translation engine.\nYour task is to translate user-provided text into English and identify the language of the original text.\n\nRules (must be followed strictly):\nTranslate exactly and literally\nDo not add, remove, infer, or reinterpret any information\nDo not explain, summarize, rephrase, or improve wording\nPreserve tone, intent, ambiguity, and emotional content exactly\nPreserve formatting, punctuation, emojis, and line breaks\nDo not normalize slang, profanity, or errors\nIf a term cannot be translated precisely, transliterate it\nIf the input is already in English, return it unchanged\nIf the input is partially English, translate only the non-English parts\n\nFor originalTicketLanguage, output exactly one value from this list and nothing else:\nen, es, de, it, fr, pt, pl, da, no, ro, et, id, lt, ms, th, ko, language_other\n\nRules for originalTicketLanguage:\nUse the code for the primary (dominant) language of the original text, ignoring incidental English words, names, or product terms\nIf the original text is already in English, output en\nIf the language is not one of the listed codes, output language_other\nIf the language cannot be determined, output language_other\nOutput the value exactly as written in the list, with no extra characters\n\nOutput a JSON object containing:\ndescription: string // translated description\noriginalTicketLanguage: string // one value from the allowed list\n\nFormatting:\nMust be valid JSON\nNo commentary, labels, or notes\nNo markdown unless it exists in the input"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_schema",
                "verbosity": "high",
                "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" },\n    \"originalTicketLanguage\": {\n      \"type\": \"string\",\n      \"enum\": [\"en\",\"es\",\"de\",\"it\",\"fr\",\"pt\",\"pl\",\"da\",\"no\",\"ro\",\"et\",\"id\",\"lt\",\"ms\",\"th\",\"ko\",\"language_other\"]\n    }\n  },\n  \"required\": [\"title\", \"description\", \"originalTicketLanguage\"],\n  \"additionalProperties\": false\n}"
              }
            }
          }
        },
        "id": "6bfa2190-a4ce-4213-a3e1-72b8c1f792f4",
        "name": "Translate ticket to english1",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -10304,
          -3264
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "Ev7hSxE5tHBMsP3P",
            "name": "Perso prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $(\"Webhook\").item.json.body[\"ticket.id\"] }},\n    \"title\" : \"{{ $(\"Webhook\").item.json.body[\"ticket.title\"] }}\",\n    \"user_email\" : \"{{ $(\"Webhook\").item.json.body[\"ticket.requester.email\"] }}\",\n    \"description\": {{ JSON.stringify($(\"Check ticket language1\").item.json[\"body\"]) }},\n    \"ticket_url\": \"{{ $(\"Webhook\").item.json.body[\"ticket.url\"] }}\",\n    \"ticket_category\":\"{{ $(\"Webhook\").item.json.body['ticket.ticket_field_' + $('Get Project Config').first().json.ticket_custom_field_category] }}\",\n    \"automation_classification\":\"{{ $(\"Webhook\").item.json.body['ticket.ticket_field_' + $('Get Project Config').first().json.ticket_custom_field_automation_label_id] }}\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage || \"en\"}}\",\n    \"is_translated\":{{(()=>{\n  let originalLanguage = $('Translate ticket to english1').item.json.output.first().content.first().text.originalTicketLanguage;\n  return originalLanguage?true:false;\n})()}},\n    \"translations\": {\n\"title\" : \"{{$('Translate ticket to english1').item.json.output.first().content.first().text.title || \"\"}}\",\n      \"description\": {{JSON.stringify($('Translate ticket to english1').item.json.output.first().content.first().text.description || \"\")}}\n    }\n  }\n} ",
          "options": {}
        },
        "id": "863649e1-c953-4f81-9471-d4cabe10b2df",
        "name": "Set translated request data test1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -9920,
          -3264
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You are a customer support ticket classifier.\n\nClassify the customer message into exactly one category:\n\n1. \"thanks\"\nUse this only when the customer is simply expressing gratitude and is not asking for anything else.\nExamples:\n- “Thanks for your help.”\n- “Many thanks for your prompt response.”\n- “Thank you for processing the refund. I appreciate it.”\n\n2. \"confirmation\"\nUse this when the customer is asking support to verify, confirm, or check the status of something already expected or completed, such as a cancellation, refund, transaction reversal, account closure, subscription status, or payment status.\nExamples:\n- “I’m reaching out to confirm my subscription has been canceled.”\n- “Can you confirm my refund was processed?”\n- “Just checking that my transaction has been refunded.”\n- “Please confirm my account is closed.”\n\n3. \"complaint\"\nUse this when the customer expresses dissatisfaction, frustration, anger, disappointment, distrust, or negative sentiment about the service, support, billing, refund, cancellation, charges, delays, product, company, or experience.\nExamples:\n- “This is unacceptable.”\n- “I was charged again after canceling.”\n- “Your support has been terrible.”\n- “I’m frustrated that my refund still hasn’t arrived.”\n\n4. \"other\"\nUse this as the fallback when the ticket does not clearly fit thanks, confirmation, or complaint.\nExamples:\n- New cancellation request\n- New refund request\n- Account update request\n- Product question\n- Feature question\n- Technical question\n- General inquiry\n- Unclear or incomplete message\n\nDecision rules:\n- Use only the customer’s title and description.\n- Choose \"thanks\" only if the message contains gratitude and no request, complaint, question, escalation, or unresolved issue.\n- If the message contains both gratitude and a confirmation/check request, choose \"confirmation\".\n- If the message contains any meaningful negative sentiment or complaint, choose \"complaint\", even if it also includes thanks or asks for confirmation.\n- If the customer asks support to verify whether something happened, choose \"confirmation\".\n- If the customer is making a new request rather than confirming an existing action, choose \"other\".\n- If the message is unclear, incomplete, or does not fit the first three categories, choose \"other\".\n\nOutput requirements:\nReturn only a valid JSON object with exactly one key:\n{\n  \"category\": \"thanks\" | \"confirmation\" | \"complaint\" | \"other\"\n}\n\nDo not include explanations, evidence, markdown, or extra keys."
              },
              {
                "content": "=Customer message: {{ $json.data.first().translated_data.is_translated?$('Aggregate').item.json.data.first().translated_data.translations.description:$('Aggregate').item.json.data.first().original_ticket_content.description }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_schema",
                "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"thanks\", \"confirmation\", \"complaint\", \"other\"]\n    }\n  },\n  \"required\": [\"category\"],\n  \"additionalProperties\": false\n}"
              }
            }
          }
        },
        "id": "a6f909af-8f8f-4aea-9785-0236165b088c",
        "name": "Ticket classification2",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -9520,
          -3168
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "Ev7hSxE5tHBMsP3P",
            "name": "Perso prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e285dcc2-00bc-4fe3-9a10-844d74b4192e",
                "leftValue": "={{ $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_category }}",
                "rightValue": "={{ $(\"Get Project Config\").first().json.category_value_password_account_info }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "e5dc727f-b75d-41af-93cb-c32751a88081",
        "name": "Is account and password",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -9248,
          -3168
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You are an information extraction system for customer support messages.\n\nAnalyze the customer support message and extract the customer's email address if one is explicitly provided.\n\nReturn only a JSON object that matches the provided schema.\n\nRules:\n- The output must contain exactly one key: customer_email.\n- If the customer message contains a valid email address, set customer_email to that email address as a string.\n- If the customer message does not contain a valid email address, set customer_email to false.\n- Do not include markdown, explanations, comments, or extra text.\n- Do not guess, infer, reconstruct, or fabricate an email address.\n- If multiple valid email addresses are present return false\n"
              },
              {
                "content": "=Customer message: {{ $('Return last comment').item.json.body }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_schema",
                "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"customer_email\": {\n      \"anyOf\": [\n        {\n          \"type\": \"string\",\n          \"format\": \"email\"\n        },\n        {\n          \"type\": \"string\",\n          \"const\": \"none\"\n        }\n      ]\n    }\n  },\n  \"required\": [\"customer_email\"],\n  \"additionalProperties\": false\n}"
              }
            }
          }
        },
        "id": "3381f972-77de-446c-9b1b-a20fd36cb40d",
        "name": "Email extraction",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -8192,
          -4080
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "Ev7hSxE5tHBMsP3P",
            "name": "Perso prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ad764505-ca67-496d-a35c-6e072f88f530",
                "leftValue": "={{ $json.output[0].content[0].text.customer_email }}",
                "rightValue": "none",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3bbe83c3-f4a1-4ce1-a0b0-883ffc07681f",
        "name": "is email provided",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -7824,
          -4080
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "pIjrE6QWBnzj1LQP",
            "mode": "list",
            "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
            "cachedResultName": "Operations Department — PS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "671cf62b-60f4-4c2c-9617-f8e674a60119",
        "name": "Call 'CS - HMAC'1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -7184,
          -4368
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "47997a8b-7388-4e4e-a659-173a82c553ae",
        "name": "DEV bot/search2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -6928,
          -4368
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ad764505-ca67-496d-a35c-6e072f88f530",
                "leftValue": "={{ $json.body.subscriptionId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "b12aa33c-e52d-496e-9c5e-f5be9193cad1",
        "name": "is email provided1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -6704,
          -4368
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Aggregate').item.json.data[0].original_ticket_content.automation_classification }}",
                      "rightValue": "=cancellation_auto",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "cea6b447-61a9-4810-94a4-e9dcbce653b8"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Cancellation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0d2d8328-1eef-47d1-85bb-11d66f080b1a",
                      "leftValue": "={{ $('Aggregate').item.json.data[0].original_ticket_content.automation_classification }}",
                      "rightValue": "refund_auto",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Refund"
              }
            ]
          },
          "options": {}
        },
        "id": "148e7bbe-b129-4443-a65e-68636b880eef",
        "name": "Switch1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -6208,
          -4848
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
                "name": "subscriptionId",
                "value": "={{ $json.body.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "e3d739ba-655d-4054-83a1-21f2afe1e99f",
        "name": "Set request data test1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5792,
          -4960
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}\",\n     \"payment_provider_account_ID\": \"123456789\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\":{{ $('Aggregate').item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n} ",
          "options": {}
        },
        "id": "081d0dd9-d837-4ca1-b757-2ac2e4c701d1",
        "name": "Set request data test",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5792,
          -4704
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: The email customer provided does not exist as a user in the app. Please handle this ticket manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5c87f851-f430-47ca-b472-cc59cd173622",
        "name": "Reply to internally and set status to open3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -5792,
          -4352
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: The customer did not provide a new email address in their follow up. Please handle this ticket manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "9165058f-9659-41f1-aac2-82a08eaf756d",
        "name": "Reply to internally and set status to open4",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -7424,
          -3984
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output[0].content[0].text.category }}",
                      "rightValue": "thanks",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "129877a8-c787-445c-ba26-d1fd81664588"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Thanks"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "064435ec-baa6-4a68-a8af-abca8d3f25f2",
                      "leftValue": "={{ $json.output[0].content[0].text.category }}",
                      "rightValue": "confirmation",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Confirmation"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "913cdf83-e0f6-4211-9719-a2a9faf22a98",
                      "leftValue": "={{ $json.output[0].content[0].text.category }}",
                      "rightValue": "complaint",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Complaint"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d679f1fd-c440-42e6-8651-56bcfd071132",
                      "leftValue": "={{ $json.output[0].content[0].text.category }}",
                      "rightValue": "other",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Other"
              }
            ]
          },
          "options": {}
        },
        "id": "4c76631a-ac29-4159-97d1-06e01231acdc",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -8432,
          -2176
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_thanks_reply_id }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "4512207c-c231-4a2e-ac18-b2758c536e49",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5808,
          -3456
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "t3mYaHf1eNXaxcts",
            "mode": "list",
            "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
            "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "bcd7b5e5-30e0-4194-9c2f-f3092900f40b",
        "name": "Update zendesk ticket1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -5584,
          -3456
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "search",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "email",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "e04257a1-f468-4adc-ba7e-d243af3174d3",
        "name": "Edit Fields4",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5824,
          -2944
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "d92884ca-be8c-4d45-b19b-d53f97842b48",
        "name": "DEV bot/search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -5376,
          -2944
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c5eb4945-ffd8-4b87-b4ce-847bc205f892",
                "leftValue": "={{ $json.body.refundedTransactions }}",
                "rightValue": 0,
                "operator": {
                  "type": "array",
                  "operation": "lengthGt",
                  "rightType": "number"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "1cb9bca5-ce29-4822-88b3-88109c429316",
        "name": "Has refunded transations",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -5152,
          -2944
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_refund_confirmation }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "e9547d94-a862-4e39-95cc-e699ba6e54ae",
        "name": "Edit Fields5",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3840,
          -3376
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "t3mYaHf1eNXaxcts",
            "mode": "list",
            "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
            "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "a91bfdec-6fbc-475e-9962-7c6c6de8258b",
        "name": "Update zendesk ticket3",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -3616,
          -3376
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7fadc4eb-12fd-40fa-9659-732b4b169e80",
                "leftValue": "={{ $('DEV bot/search').item.body.subscriptionStatus }}",
                "rightValue": "cancelling",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "c0c93dc2-824d-4771-a1ce-8ea3a664848d",
                "leftValue": "={{ $('DEV bot/search').item.body.subscriptionStatus }}",
                "rightValue": "cancelled",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "id": "33151b6c-80fe-4b95-a0d3-cfe20d736b53",
        "name": "Subscription is cancelled",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -4368,
          -2352
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_cancellation_confirmation }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "93dba690-284e-4c0c-9049-f3421adbe361",
        "name": "Edit Fields6",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3824,
          -2784
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "t3mYaHf1eNXaxcts",
            "mode": "list",
            "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
            "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "d3a01208-17b7-46c4-a75c-da8d2c0cea2d",
        "name": "Update zendesk ticket4",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -3600,
          -2784
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This customer has reached our to confirm a refund or cancellation but the automation wasn't able to detect either of those. Please handle this ticket manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e4729c5b-c766-4331-a801-8ffc938e825b",
        "name": "Reply to internally and set status to open",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -3712,
          -2000
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c5eb4945-ffd8-4b87-b4ce-847bc205f892",
                "leftValue": "={{ $json.body.refundedTransactions }}",
                "rightValue": 0,
                "operator": {
                  "type": "array",
                  "operation": "lengthGt",
                  "rightType": "number"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "4c0bfda7-f9f3-4c89-bee8-55fef280cf2b",
        "name": "Has refunded transactions",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -6352,
          -1264
        ],
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c5eb4945-ffd8-4b87-b4ce-847bc205f892",
                "leftValue": "={{ $json.body.refundedTransactions }}",
                "rightValue": 1,
                "operator": {
                  "type": "array",
                  "operation": "lengthEquals",
                  "rightType": "number"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "fcaf639a-bb45-46e8-9337-3a9e7a694ecc",
        "name": "Has 1 refunded transaction",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -5872,
          -1760
        ],
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_single_refund_complaint }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "bcfa3779-8dc9-4847-8140-4d7c0ac0cbe3",
        "name": "Edit Fields7",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5408,
          -2064
        ],
        "disabled": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "t3mYaHf1eNXaxcts",
            "mode": "list",
            "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
            "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "a848263e-b755-4bd7-99b1-b6f2ac3250c5",
        "name": "Update zendesk ticket",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -5184,
          -2064
        ],
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1cd28a5a-ebdc-48ec-b7aa-843d62120e9c",
                "name": "zendeskDomain",
                "value": "={{ $(\"Get Project Config\").first().json.zendesk_domain }}",
                "type": "string"
              },
              {
                "id": "38365ab6-cfd8-4f1e-831e-8201bba149a6",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "02f10455-5b28-4e0e-9abd-2a99977ead23",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "8ac448b2-4d85-40e7-bfe4-2481c1289874",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              },
              {
                "id": "585a3f6b-dbe1-4b0b-bc48-b7ed661a3a76",
                "name": "publicComment",
                "value": true,
                "type": "boolean"
              },
              {
                "id": "21835068-3534-41a7-a05c-382dbab406f4",
                "name": "macroID",
                "value": "={{ $(\"Get Project Config\").first().json.macro_double_refund_complaint }}",
                "type": "number"
              },
              {
                "id": "52881d1d-cc0a-42a2-9c07-d74fcdcae912",
                "name": "ticketCustomStatusID",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_solved_id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "e2f65b0b-8e76-4a2a-a18c-09d7490184be",
        "name": "Edit Fields8",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5408,
          -1488
        ],
        "disabled": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "t3mYaHf1eNXaxcts",
            "mode": "list",
            "cachedResultUrl": "/workflow/t3mYaHf1eNXaxcts",
            "cachedResultName": "Operations Department — PS prod - Zendesk ticket update request"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "e8c03bac-ea94-4342-902f-a55e897f97b9",
        "name": "Update zendesk ticket5",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -5184,
          -1488
        ],
        "disabled": true
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and did not fit into any of the predefined categories \n- Thanks\n- Cancel/refund confirmation\n- Complaint\n- Acc/pass info\n\nIf the ticket DOES fit into any of the category above please reach out to the Operations Dept. \n\nPlease handle this ticket manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "650219fe-7c1b-4f4e-b5ac-1f40dce6c2b4",
        "name": "Reply to internally and set status to open5",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -5776,
          -528
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4",
            "mode": "list",
            "cachedResultName": "GPT-5.4"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "You are a customer support ticket classifier. You analyze customer support messages and identify if they are refund requests or not based only on the user’s written message\n\nRefunds (r)\nUse this category if the customer is asking for money back, a refund, a charge reversal, or mentions being charged and wanting the charge undone.  \n\nOther  (o)\nUse this category for all other messages like:\naccount deletion requests\nproduct questions\nfeature requests\naccount access issues\ncomplaints \nunclear or ambiguous messages\nharassment or threatening\n\nIMPORTANT RULES:\nIf a refund is requested or clearly implied, choose Refunds category\nDo NOT assume a refund request from frustration or complaints alone.\nDo NOT assume a refund from a cancellation request unless money back is explicitly requested.\nIf the intent is unclear or ambiguous, choose Other \nIf the message contains forwarded content (often labelled with \"Forwarded message\") disregard everything that comes after that and only consider the content before it in the classification\n\nOUTPUT FORMAT:\nOutput only one letter based on the category of the ticket, the output must be a single token\nr = Refunds\no = Other\n\nReturn only a valid JSON object with exactly one key:\n{\n  \"request_category\": \"o\" | \"r\" \n}\n\nDo not include explanations, evidence, markdown, or extra keys. Output only the letter."
              },
              {
                "content": "=Customer message: {{$('Aggregate').item.json.data[0].translated_data.is_translated?$('Aggregate').item.json.data.first().translated_data.translations.description:$('Aggregate').item.json.data.first().original_ticket_content.description  }}"
              }
            ]
          },
          "builtInTools": {},
          "options": {
            "textFormat": {
              "textOptions": {
                "type": "json_schema",
                "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"request_category\": {\n      \"type\": \"string\",\n      \"enum\": [\"o\", \"r\"]\n    }\n  },\n  \"required\": [\"request_category\"],\n  \"additionalProperties\": false\n}"
              }
            }
          }
        },
        "id": "51f227a0-b6c9-4933-8c79-238682c131e5",
        "name": "Identify refund requests",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -6336,
          608
        ],
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "Ev7hSxE5tHBMsP3P",
            "name": "Perso prod n8n automation"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e285dcc2-00bc-4fe3-9a10-844d74b4192e",
                "leftValue": "={{ $json.output[0].content[0].text.request_category }}",
                "rightValue": "r",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "5d0c6459-8e5c-43f4-892e-e909b74eb07d",
        "name": "Is refund request",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -5936,
          608
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fb3e4c46-8ee7-4b99-83d5-808f0e480a40",
                "name": "subscriptionId",
                "value": "={{ $json.body.subscriptionId }}",
                "type": "string"
              },
              {
                "id": "591cabd9-da9e-4d85-a243-37eb7c5378cd",
                "name": "ticketID",
                "value": "={{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }}",
                "type": "number"
              },
              {
                "id": "836a4afe-23b6-4364-bd29-183d04f7d648",
                "name": "isTranslated",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.is_translated }}",
                "type": "boolean"
              },
              {
                "id": "e363fbe3-9172-4a42-b7a1-f5e21e0e5014",
                "name": "originalLanguage",
                "value": "={{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d0c5fc9b-d705-4700-a92f-a662adb214f4",
        "name": "Set request data test3",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4784,
          192
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "LSK2uSi3QypQa9ls",
            "mode": "list",
            "cachedResultUrl": "/workflow/LSK2uSi3QypQa9ls",
            "cachedResultName": "Operations Department — CS - Cancellation flow [Template]"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "8bef0ad0-270b-4f6d-9ec8-766394becc57",
        "name": "Call 'CS - Cancellation request'1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -4560,
          192
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"Get Project Config\").first().json.zendesk_domain + \".zendesk.com/api/v2/tickets/\" + $(\"Aggregate\").item.json.data[0].original_ticket_content.ticket_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: This ticket has been analysed by the CS automation and did not fit into any of the predefined categories \n- Thanks\n- Cancel/refund confirmation\n- Complaint\n- Acc/pass info\n\nIf the ticket DOES fit into any of the category above please reach out to the Operations Dept. \n\nPlease handle this ticket manually. "
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"Get Project Config\").first().json.ticket_custom_status_open_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "1bd5534a-bbb4-4732-b2f3-8f16cd96c473",
        "name": "Reply to internally and set status to open2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -5456,
          880
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Simple thanks",
          "height": 544,
          "width": 864,
          "color": 7
        },
        "id": "827a0117-4b9f-4e16-b5a0-0a5b3caa3453",
        "name": "Sticky Note 9a8b354b",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5856,
          -3600
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Macro: Thanks reply",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "id": "3a8e7a04-7bb5-4fe8-ab06-4f1adb10ce0b",
        "name": "Sticky Note cccde6ff",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5344,
          -3296
        ]
      },
      {
        "parameters": {
          "content": "# Refund confirmation",
          "height": 544,
          "width": 864,
          "color": 7
        },
        "id": "1da75171-747c-4dc9-b3bc-2b4ec9b77569",
        "name": "Sticky Note b960b824",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3888,
          -3520
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Macro: single refund complaint",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "id": "2938a990-b7d9-419d-933e-2f91fb3f3c88",
        "name": "Sticky Note d8e9eef2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -4976,
          -1904
        ]
      },
      {
        "parameters": {
          "content": "# Cancellation confirmation",
          "height": 544,
          "width": 864,
          "color": 7
        },
        "id": "52f67471-e606-4078-91ec-6dc7978ba2ad",
        "name": "Sticky Note 38ebad85",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3872,
          -2944
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Macro: Refund confirmation",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "id": "2956ba7c-7afb-4ced-bdef-71cd717c1ae4",
        "name": "Sticky Note 194fb0d6",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3376,
          -3216
        ]
      },
      {
        "parameters": {
          "content": "# Requested confirmation but subs is active\n",
          "height": 544,
          "width": 640,
          "color": 7
        },
        "id": "41bfd111-7b43-45a9-a42c-ed4aaca07991",
        "name": "Sticky Note b043fbde",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3776,
          -2160
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "0f4dfc2e-177d-4abf-88fc-c16a4d5deb62",
        "name": "Sticky Note 0f3b6e45",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5488,
          -352
        ]
      },
      {
        "parameters": {
          "content": "# Other, do nothing\n",
          "height": 544,
          "width": 640,
          "color": 7
        },
        "id": "97a2966e-b9be-40ac-98a7-e2169b1df7e0",
        "name": "Sticky Note 8a9db06e",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5520,
          800
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 144,
          "width": 256,
          "color": 7
        },
        "id": "0e3c9389-2646-48a7-8666-379b6e9559f9",
        "name": "Sticky Note b9e07463",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3424,
          -1776
        ]
      },
      {
        "parameters": {
          "content": "# Wrong email\n",
          "height": 544,
          "width": 640,
          "color": 7
        },
        "id": "226fd0d8-c3fe-4faf-b8f5-faf316771fd9",
        "name": "Sticky Note 9a6d20da",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5856,
          -4464
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "2819071c-34bd-4252-8a7d-709437b59976",
        "name": "Sticky Note 2b4aa75c",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5184,
          1120
        ]
      },
      {
        "parameters": {
          "content": "# Email not provided \n",
          "height": 544,
          "width": 640,
          "color": 7
        },
        "id": "c5e82776-fd8a-4b1f-9d02-e20aef5819a0",
        "name": "Sticky Note ef15cecc",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -7472,
          -4128
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "3ebc3fde-6717-4b6b-9f01-8e9bab29300a",
        "name": "Sticky Note f5a6768b",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5536,
          -4144
        ]
      },
      {
        "parameters": {
          "content": "# No refunded transactions\n",
          "height": 544,
          "width": 640,
          "color": 7
        },
        "id": "36db5057-04d4-47d4-abfd-1a85264412b5",
        "name": "Sticky Note f76dffd9",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5824,
          -672
        ]
      },
      {
        "parameters": {
          "content": "## Status: open\n## Category: none\n## Assign to CS\n",
          "height": 208,
          "width": 288,
          "color": 7
        },
        "id": "08bc4667-0fee-4f09-b033-d01fc2fde095",
        "name": "Sticky Note 810327c8",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -7136,
          -3840
        ]
      },
      {
        "parameters": {
          "content": "# Single refund complaint",
          "height": 544,
          "width": 864,
          "color": 7
        },
        "id": "efced7ca-cd39-4d5f-a9cf-4d464a11d0ac",
        "name": "Sticky Note 50df3df9",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5472,
          -2192
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Macro: Cancellation confirmation",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "id": "fc1ff139-6999-4e9f-a463-5b05646b5df3",
        "name": "Sticky Note d731ffc6",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3360,
          -2640
        ]
      },
      {
        "parameters": {
          "content": "# Double refund complaint",
          "height": 544,
          "width": 864,
          "color": 7
        },
        "id": "5355a252-a8a5-49dd-83fe-36f87129ce73",
        "name": "Sticky Note 29a9536f",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5472,
          -1600
        ]
      },
      {
        "parameters": {
          "content": "## Status: solved\n## Macro: double refund complaint",
          "height": 224,
          "width": 336,
          "color": 7
        },
        "id": "28b447ca-4fea-421f-981e-dbbabc41d3d2",
        "name": "Sticky Note 17e7cff6",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -4976,
          -1312
        ]
      },
      {
        "parameters": {
          "content": "# Process a refund\n",
          "height": 544,
          "width": 640,
          "color": 7
        },
        "id": "21a88389-91b4-4db6-894a-2b43a83022b3",
        "name": "Sticky Note 8a9db06e1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -5504,
          80
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"original_ticket_content\": {\n    \"ticket_id\": {{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_id }},\n    \"title\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.title }}\",\n    \"description\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.description }}\",\n    \"ticket_url\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.ticket_url }}\",\n    \"user_email\": \"{{ $('Aggregate').item.json.data[0].original_ticket_content.user_email }}\",\n     \"payment_provider_account_ID\": \"123456789\"\n  },\n  \"translated_data\": {\n    \"originalLanguage\": \"{{ $('Aggregate').item.json.data[0].translated_data.originalLanguage }}\",\n    \"is_translated\":{{ $('Aggregate').item.json.data[0].translated_data.is_translated }},\n    \"translations\": {\n      \"title\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.title }}\",\n      \"description\": \"{{ $('Aggregate').item.json.data[0].translated_data.translations.description }}\"\n    }\n  }\n} ",
          "options": {}
        },
        "id": "1e0296c2-5dc3-4cb4-b44f-23374ea43189",
        "name": "Set request data test4",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -5424,
          208
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "NAD7tCx3z57gB8UU",
            "mode": "list",
            "cachedResultUrl": "/workflow/NAD7tCx3z57gB8UU",
            "cachedResultName": "Operations Department — PS prod - Refund requests flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "397ea056-1736-4aa6-8132-ee64d6950141",
        "name": "Call 'CS - Refund requests flow [Template]'1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -5200,
          208
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "search",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "email",
                "value": "={{ $json.output[0].content[0].text.customer_email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "78de057f-fa2e-4fa1-8486-c23f8894e395",
        "name": "Edit Fields2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -7408,
          -4368
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Dg1Kl7RThTYwToRb",
            "mode": "list",
            "cachedResultUrl": "/workflow/Dg1Kl7RThTYwToRb",
            "cachedResultName": "Operations Department — PS prod - Cancellation flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "07379de1-35f3-4dd1-bed4-03dc32eeab32",
        "name": "Call 'PS prod - Cancellation flow'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -5568,
          -4960
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "NAD7tCx3z57gB8UU",
            "mode": "list",
            "cachedResultUrl": "/workflow/NAD7tCx3z57gB8UU",
            "cachedResultName": "Operations Department — PS prod - Refund requests flow"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "801a3e32-e0d6-4b0a-b727-75ee781de076",
        "name": "Call 'PS prod - Refund requests flow'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -5568,
          -4704
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "pIjrE6QWBnzj1LQP",
            "mode": "list",
            "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
            "cachedResultName": "Operations Department — PS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "654a8bcf-39b5-496a-b146-357123c2d690",
        "name": "Call 'PS prod - HMAC'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -5600,
          -2944
        ]
      }
    ],
    "connections": {
      "Zendesk Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Get ticket comments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get ticket comments": {
        "main": [
          [
            {
              "node": "Return last comment",
              "type": "main",
              "index": 0
            },
            {
              "node": "Is under message limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is under message limit": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Discard CS updates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return last comment": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discard CS updates": {
        "main": [
          [
            {
              "node": "Discard \"other\" requests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discard \"other\" requests": {
        "main": [
          [
            {
              "node": "Check ticket language1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check ticket language1": {
        "main": [
          [
            {
              "node": "Translate ticket to english1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set request data test2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Check ticket language1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test2": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Ticket classification2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Translate ticket to english1": {
        "main": [
          [
            {
              "node": "Set translated request data test1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set translated request data test1": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ticket classification2": {
        "main": [
          [
            {
              "node": "Is account and password",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is account and password": {
        "main": [
          [
            {
              "node": "Email extraction",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Email extraction": {
        "main": [
          [
            {
              "node": "is email provided",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "is email provided": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'CS - HMAC'1": {
        "main": [
          [
            {
              "node": "DEV bot/search2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/search2": {
        "main": [
          [
            {
              "node": "is email provided1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "is email provided1": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Set request data test1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set request data test",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test1": {
        "main": [
          [
            {
              "node": "Call 'PS prod - Cancellation flow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test": {
        "main": [
          [
            {
              "node": "Call 'PS prod - Refund requests flow'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Has refunded transactions",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Identify refund requests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Update zendesk ticket1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Call 'PS prod - HMAC'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/search": {
        "main": [
          [
            {
              "node": "Has refunded transations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has refunded transations": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Subscription is cancelled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Update zendesk ticket3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Subscription is cancelled": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "Update zendesk ticket4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has refunded transactions": {
        "main": [
          [
            {
              "node": "Has 1 refunded transaction",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has 1 refunded transaction": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "Update zendesk ticket",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields8": {
        "main": [
          [
            {
              "node": "Update zendesk ticket5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Identify refund requests": {
        "main": [
          [
            {
              "node": "Is refund request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is refund request": {
        "main": [
          [
            {
              "node": "Set request data test4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply to internally and set status to open2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test3": {
        "main": [
          [
            {
              "node": "Call 'CS - Cancellation request'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set request data test4": {
        "main": [
          [
            {
              "node": "Call 'CS - Refund requests flow [Template]'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Call 'CS - HMAC'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'PS prod - HMAC'": {
        "main": [
          [
            {
              "node": "DEV bot/search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 76946a5a",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-19T12:49:43.633Z",
        "id": 1064,
        "workflowId": "C87KQIUQ3383eeCd",
        "versionId": "76946a5a-62a4-4c25-801d-07d3a53de23d",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}