workflows/PS_prod_-_Refund_request__VMcpAsYnf0Ct5lm5.json
{
  "updatedAt": "2026-05-27T09:03:44.662Z",
  "createdAt": "2026-05-27T06:55:35.390Z",
  "id": "VMcpAsYnf0Ct5lm5",
  "name": "PS prod - Refund request",
  "description": "Template version of CS - Refund request subworkflow. Calls payments microservice to refund a transaction. URL and Slack channel templated from cs_project_config.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c6a7f4e4-cd4c-4864-8456-18688c274ba8",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1184,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
              "name": "project_key",
              "value": "personality_prod",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e97302c4-be58-42b7-87b9-c2aef6dde000",
      "name": "Set project_key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        96
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "IRxwFN8iBhHLFQxQ",
          "cachedResultName": "cs_project_config"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "project_key",
              "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "54a8313f-f18a-4f22-836a-eb5098b5087f",
      "name": "Get Project Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -736,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Project Config replaces $json with the config row.\n// Re-emit the trigger payload so downstream Split Out sees\n// $json.transactionToRefund as the trigger sent it.\n// Explicit $('Get Project Config').first().json.* refs still work\n// because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
      },
      "id": "dec9513b-3c4e-41e2-a4d0-9428bf3c23a6",
      "name": "Restore trigger data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        96
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "transactionToRefund",
        "options": {}
      },
      "id": "53b24f11-6152-493a-841c-c101ca7f261a",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -288,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
              "name": "requestType",
              "value": "refund",
              "type": "string"
            },
            {
              "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
              "name": "transactionId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ef5be50a-b273-46d7-8f11-3811de140816",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/transactions/refund",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "X-Nonce",
              "value": "={{ $json.nonce }}"
            },
            {
              "name": "X-Key-Id",
              "value": "={{ $json.keyID }}"
            },
            {
              "name": "X-Signature",
              "value": "={{ $json.signedString }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.sortedBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "3a96c94b-4502-4c19-8660-fb6961cae777",
      "name": "DEV bot/transactions/refund",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        96
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "id": "f259840d-3e65-47b7-a1d3-89c3df37c05c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticket.comment.public",
              "value": "false"
            },
            {
              "name": "ticket.comment.body",
              "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
            },
            {
              "name": "ticket.custom_status_id",
              "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5ca8874e-5a77-43f4-a415-baa93fc34ab5",
      "name": "Reply internally and set status to open",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        192
      ],
      "retryOnFail": true,
      "credentials": {
        "zendeskApi": {
          "id": "z41y1j8bbsyi2W61",
          "name": "Personality Zendesk prod account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $('DEV bot/transactions/refund').item.json.id }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "368dc92a-e785-440b-9056-15d6933a68d1",
      "name": "Send a message1",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        832,
        192
      ],
      "webhookId": "6384a8a6-5ab8-4f3e-8d1a-eef7ee584fb0",
      "credentials": {
        "slackOAuth2Api": {
          "id": "tSpUlRaNhgWKbKN4",
          "name": "Automations Slack account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pIjrE6QWBnzj1LQP",
          "mode": "list",
          "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
          "cachedResultName": "Operations Department — PS prod - HMAC"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "f0a98e4b-44ec-4e73-a9e4-109efac9bcbd",
      "name": "Call 'PS prod - HMAC'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        160,
        96
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set project_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project_key": {
      "main": [
        [
          {
            "node": "Get Project Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Config": {
      "main": [
        [
          {
            "node": "Restore trigger data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore trigger data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'PS prod - HMAC'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/transactions/refund": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply internally and set status to open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply internally and set status to open": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'PS prod - HMAC'": {
      "main": [
        [
          {
            "node": "DEV bot/transactions/refund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "BY3PNiyJJJ9EMdEi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "3aad61cb-1b54-4d29-91e1-c8a2b0243d56",
  "activeVersionId": "61c7000f-6310-417d-bafb-ebc97c2d300e",
  "versionCounter": 15,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-27T06:55:35.394Z",
      "createdAt": "2026-05-27T06:55:35.394Z",
      "role": "workflow:owner",
      "workflowId": "VMcpAsYnf0Ct5lm5",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-20T07:31:14.395Z",
      "createdAt": "2026-03-20T07:31:14.395Z",
      "id": "CcGEek9zkAIkYDuM",
      "name": "CS automation"
    },
    {
      "updatedAt": "2026-04-29T08:17:28.475Z",
      "createdAt": "2026-04-29T08:17:28.475Z",
      "id": "LPw8bOnALJSRx7sJ",
      "name": "PE prod"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-27T09:03:38.000Z",
    "createdAt": "2026-05-27T08:20:42.600Z",
    "versionId": "61c7000f-6310-417d-bafb-ebc97c2d300e",
    "workflowId": "VMcpAsYnf0Ct5lm5",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "c6a7f4e4-cd4c-4864-8456-18688c274ba8",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1184,
          96
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d3b1e8a-1111-4a01-9a01-000000000001",
                "name": "project_key",
                "value": "personality_prod",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "e97302c4-be58-42b7-87b9-c2aef6dde000",
        "name": "Set project_key",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -960,
          96
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "mode": "list",
            "value": "IRxwFN8iBhHLFQxQ",
            "cachedResultName": "cs_project_config"
          },
          "matchType": "allConditions",
          "filters": {
            "conditions": [
              {
                "keyName": "project_key",
                "keyValue": "={{ $(\"Set project_key\").first().json.project_key }}"
              }
            ]
          },
          "limit": 1
        },
        "id": "54a8313f-f18a-4f22-836a-eb5098b5087f",
        "name": "Get Project Config",
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -736,
          96
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get Project Config replaces $json with the config row.\n// Re-emit the trigger payload so downstream Split Out sees\n// $json.transactionToRefund as the trigger sent it.\n// Explicit $('Get Project Config').first().json.* refs still work\n// because that node has now executed.\nreturn $('When Executed by Another Workflow').all();"
        },
        "id": "dec9513b-3c4e-41e2-a4d0-9428bf3c23a6",
        "name": "Restore trigger data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -512,
          96
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "transactionToRefund",
          "options": {}
        },
        "id": "53b24f11-6152-493a-841c-c101ca7f261a",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -288,
          96
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54f8417-e017-4270-9953-85fcb3b1568a",
                "name": "requestType",
                "value": "refund",
                "type": "string"
              },
              {
                "id": "a259490f-b011-4a72-a1b0-7615c01e1e29",
                "name": "transactionId",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ef5be50a-b273-46d7-8f11-3811de140816",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -64,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"Get Project Config\").first().json.payments_api_base_url }}/api/payments/v1/bot/transactions/refund",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "X-Nonce",
                "value": "={{ $json.nonce }}"
              },
              {
                "name": "X-Key-Id",
                "value": "={{ $json.keyID }}"
              },
              {
                "name": "X-Signature",
                "value": "={{ $json.signedString }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.sortedBody }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "3a96c94b-4502-4c19-8660-fb6961cae777",
        "name": "DEV bot/transactions/refund",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          384,
          96
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "message"
              }
            ]
          },
          "options": {}
        },
        "id": "f259840d-3e65-47b7-a1d3-89c3df37c05c",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          608,
          0
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ \"https://\" + $(\"When Executed by Another Workflow\").item.json.zendeskDomain + \".zendesk.com/api/v2/tickets/\" + $(\"When Executed by Another Workflow\").item.json.ticketID }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "zendeskApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ticket.comment.public",
                "value": "false"
              },
              {
                "name": "ticket.comment.body",
                "value": "=Note: CS automation was unable to handle this request. Please take over this request manually. \n\nError info: \n{{ $json.error.message }}"
              },
              {
                "name": "ticket.custom_status_id",
                "value": "={{ $(\"When Executed by Another Workflow\").item.json.ticketCustomStatusID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5ca8874e-5a77-43f4-a415-baa93fc34ab5",
        "name": "Reply internally and set status to open",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          608,
          192
        ],
        "retryOnFail": true,
        "credentials": {
          "zendeskApi": {
            "id": "z41y1j8bbsyi2W61",
            "name": "Personality Zendesk prod account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0ABPEER1MF",
            "mode": "list",
            "cachedResultName": "cs-n8n-automation-errors"
          },
          "text": "=Refund request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\nError message: {{ $('DEV bot/transactions/refund').item.json.error.message }}\n\nTicket information\n- transactionID: {{ $('DEV bot/transactions/refund').item.json.id }}\n- Ticket ID: {{ $('When Executed by Another Workflow').item.json.ticketID }}\n- URL: https://{{ $('When Executed by Another Workflow').item.json.zendeskDomain }}.zendesk.com/agent/tickets/{{ $('When Executed by Another Workflow').item.json.ticketID }}\n",
          "otherOptions": {
            "includeLinkToWorkflow": true
          }
        },
        "id": "368dc92a-e785-440b-9056-15d6933a68d1",
        "name": "Send a message1",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          832,
          192
        ],
        "webhookId": "6384a8a6-5ab8-4f3e-8d1a-eef7ee584fb0",
        "credentials": {
          "slackOAuth2Api": {
            "id": "tSpUlRaNhgWKbKN4",
            "name": "Automations Slack account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Template configuration\n\n## How this template works\n1. **Set project_key** holds the hardcoded deployment key.\n2. **Get Project Config** fetches the row from `cs_project_config`.\n3. **Restore trigger data** re-emits the trigger payload so Split Out sees `$json.transactionToRefund`.\n4. Downstream HTTP and Slack nodes read `$('Get Project Config').first().json.payments_api_base_url` and `slack_automation_errors_channel_id`.\n\nOther values (zendeskDomain, ticketID, ticketCustomStatusID) are passed from the caller.\n\n## To duplicate for a new project\n- Duplicate this workflow.\n- Change the value in **Set project_key**.\n- Re-bind Zendesk and Slack credentials.",
          "height": 240,
          "width": 700,
          "color": 5
        },
        "id": "abb0c72c-5b2c-4201-8af5-1aca91d4080e",
        "name": "Sticky Note 051a64c2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -288,
          480
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "pIjrE6QWBnzj1LQP",
            "mode": "list",
            "cachedResultUrl": "/workflow/pIjrE6QWBnzj1LQP",
            "cachedResultName": "Operations Department — PS prod - HMAC"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "f0a98e4b-44ec-4e73-a9e4-109efac9bcbd",
        "name": "Call 'PS prod - HMAC'",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          160,
          96
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Set project_key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set project_key": {
        "main": [
          [
            {
              "node": "Get Project Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project Config": {
        "main": [
          [
            {
              "node": "Restore trigger data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restore trigger data": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Call 'PS prod - HMAC'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DEV bot/transactions/refund": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reply internally and set status to open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply internally and set status to open": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'PS prod - HMAC'": {
        "main": [
          [
            {
              "node": "DEV bot/transactions/refund",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Antonio antonio.marusic@efuturemedia.com",
    "name": "Version 61c7000f",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-27T09:03:38.407Z",
        "id": 818,
        "workflowId": "VMcpAsYnf0Ct5lm5",
        "versionId": "61c7000f-6310-417d-bafb-ebc97c2d300e",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-27T09:03:44.902Z",
        "id": 820,
        "workflowId": "VMcpAsYnf0Ct5lm5",
        "versionId": "61c7000f-6310-417d-bafb-ebc97c2d300e",
        "event": "activated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      },
      {
        "createdAt": "2026-05-27T09:03:44.796Z",
        "id": 819,
        "workflowId": "VMcpAsYnf0Ct5lm5",
        "versionId": "61c7000f-6310-417d-bafb-ebc97c2d300e",
        "event": "deactivated",
        "userId": "6c3517ce-9655-4c91-8b84-23fe9d042f7e"
      }
    ]
  }
}