workflows/Rate_limit_test__6vUYFFjrEJY0F1Iz.json
{
  "updatedAt": "2026-04-03T08:31:55.958Z",
  "createdAt": "2026-03-12T12:30:34.845Z",
  "id": "6vUYFFjrEJY0F1Iz",
  "name": "Rate limit test",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -112
      ],
      "id": "7b533b29-1139-40fc-94a5-60eb1e9a250f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.lovestyle.co/api/payments/v1/bot/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"email\":\"antonioefuturemedia+test18@gmaill.com\"\n\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        -112
      ],
      "id": "a125b0b0-2858-4bdc-b237-12f916d3c2db",
      "name": "DEV bot/search2",
      "retryOnFail": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "HaES6bposurOYHPn",
          "name": "Lovestyle bot dev token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n// Set your values here before running\nconst url = 'https://dev.lovestyle.co/api/payments/v1/bot/search';\nconst bearerToken = 'mnst37vtkNbKoMGlew9dIM3EP7GT2x2vwIN4OdNGNtU=';\nconst totalRequests = 100; // change this to the number of times you want to ping\n\nconst requestBody = {\n  email: 'antonioefuturemedia+test18@gmail.com',\n};\n\nconst results = [];\n\nfor (let i = 1; i <= totalRequests; i++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: {\n        Authorization: `Bearer ${bearerToken}`,\n        'Content-Type': 'application/json',\n      },\n      body: requestBody,\n      json: true,\n    });\n\n    results.push({\n      json: {\n        attempt: i,\n        success: true,\n        response,\n      },\n    });\n  } catch (error) {\n    results.push({\n      json: {\n        attempt: i,\n        success: false,\n        error: error.message,\n        details: error.response?.body || null,\n      },\n    });\n\n    // stop execution on first error\n    break;\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -288
      ],
      "id": "52908c5d-01c6-4d88-a1f8-45cce6308094",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABPEER1MF",
          "mode": "list",
          "cachedResultName": "cs-n8n-automation-errors"
        },
        "text": "=Cancellation request unsuccessful - {{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }} \nError message: {{ $json.error.message }}\n\n",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        320,
        -112
      ],
      "id": "e28fef4e-2bff-47b9-8462-3abab2e5fcbf",
      "name": "Send a message",
      "webhookId": "a577490b-7658-4f5f-ab6c-8b146b5d864d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "fLzlZoosiZzuozE1",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node\n// Set your values here before running\nconst url = 'https://dev.lovestyle.co/api/payments/v1/bot/search';\nconst bearerToken = 'mnst37vtkNbKoMGlew9dIM3EP7GT2x2vwIN4OdNGNtU=';\nconst totalRequests = 100; \n\nconst requestBody = {\n  email: 'antonioefuturemedia+test18@gmail.com',\n};\n\nconst results = [];\n\nfor (let i = 1; i <= totalRequests; i++) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      headers: {\n        Authorization: `Bearer ${bearerToken}`,\n        'Content-Type': 'application/json',\n      },\n      body: requestBody,\n      json: true,\n    });\n\n    results.push({\n      json: {\n        attempt: i,\n        success: true,\n        response,\n      },\n    });\n  } catch (error) {\n    results.push({\n      json: {\n        attempt: i,\n        success: false,\n        error: error.message,\n        details: error.response?.body || null,\n      },\n    });\n\n    // stop execution on first error\n    break;\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -528
      ],
      "id": "09fd1169-b8ae-4781-9c0f-de19b1c111ab",
      "name": "Rate limit tester"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "DEV bot/search2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEV bot/search2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9b3e1e66-fd24-4d56-be4b-27a13b2af14f",
  "activeVersionId": null,
  "versionCounter": 25,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-12T12:30:34.847Z",
      "createdAt": "2026-03-12T12:30:34.847Z",
      "role": "workflow:owner",
      "workflowId": "6vUYFFjrEJY0F1Iz",
      "projectId": "CH8lyrRTH2IOvQOj",
      "project": {
        "updatedAt": "2025-09-16T08:57:49.000Z",
        "createdAt": "2025-09-12T13:10:08.326Z",
        "id": "CH8lyrRTH2IOvQOj",
        "name": "Operations Department",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "",
        "creatorId": null
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}